<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}

    <!-- SECTION : Course Overview -->
    <a id="overview" class="in-page-link"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="uppercase color-primary mb40 mb-xs-24">Overview</h3>
                    <p class="lead">
                        Our Data structures and algorithms in C++ online course is a first of its kind online course
                        designed to provide you with a platform
                        for starting your journey in the amazing world of computer programming. The course structure
                        will be similar to our renowned classroom programs, with the added advantage of learning while
                        in the comfort of your homes. The course will be held on Coding Blocks' own online platform, and
                        you'll have access to over thirty video lectures. The course will be a combo of recorded videos
                        as well as live sessions, and the recordings of the live sessions too, will be available. All
                        doubt classes will be held live to help you better with your doubts, in a one-to-one
                        conversation format.
                        <br/>
                        This will be a beginners’ course including basic programming fundamentals, object oriented
                        programming and in-depth coverage of data structures and algorithms. The user can opt for the
                        complete bundle, or just the advanced part of the course.
                    </p>
                </div>
            </div>

        </div>

    </section>

    <!-- SECTION : Course Highlights -->
    <a id="highlights" class="in-page-link" data-scroll-id="course-features"></a>
    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 fa fa-code"></i>
                        <h4>Fundamentals</h4>
                        <p>
                            We have designed our course keeping in mind the requirements of beginners.Course starts with
                            fundamentals of logic building and problem solving.Many tricky Puzzles are also given to
                            build logical thinking of our students.
                        </p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 et-line-puzzle"></i>
                        <h4>Problem Solving</h4>
                        <p>
                            The course is designed to sharpen the problem solving skills of the students.We follow
                            step-by-step approach to make students fall in love with programming and ignite their
                            passion of coding with the help of problems ranging to easy to intermediate to expert level.
                        </p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 et-line-layers"></i>
                        <h4>OOP Concepts</h4>
                        <p>Emphasis is given on building strong Object Oriented Programming Concepts and coding
                            practices followed in the Software Industry, so to make our students industry-ready
                        </p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 et-line-linegraph"></i>
                        <h4>DS, Algo & Competitive</h4>
                        <p>
                            This course entails more than 100 hours of teaching and hands on coding. Students will be
                            solving more than 200 complex problems and will be evaluated for their problem solving
                            skills and understanding of data structures throughout the course
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- SECTION: Course Contents-->
    <a id="contents" class="in-page-link"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="uppercase mb80 text-center color-primary">Course Contents</h4>
                    <div class="course-tabs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active wide-tab" id="tab-complete"><a href="#complete"
                                                                                                 aria-controls="home"
                                                                                                 role="tab"
                                                                                                 data-toggle="tab">Complete
                                Bundle</a>
                            </li>
                            <li role="presentation" class="wide-tab" id="tab-advanced"><a href="#advanced"
                                                                                          aria-controls="profile"
                                                                                          role="tab"
                                                                                          data-toggle="tab">Advanced
                                Only</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="complete">
                                <div class="tabbed-content button-tabs vertical">
									<div class="pt-4"></div>
									<h5><strong>More than 100 recorded videos and 6 live webinars, along with 24x7 doubt clearing support. Course starting June 4.</strong></h5>
                                    <ul class="tabs">
                                        <li class="active">
                                            <div class="tab-title">
                                                <span>C++ Fundamentals</span>
                                            </div>

                                            <div class="tab-content">
                                                <h5 class="uppercase">Programming Fundamentals &amp; Logic Building</h5>
                                                <hr>
                                                <p>
                                                    Course will start with basic understanding of logic. We will be
                                                    discussing about Flowcharts, PsudoCode and students will solve also
                                                    some of the Puzzles in initial classes.
                                                </p>
                                                <ol class="syllabus">
                                                    <li>Flowcharts, pseudo-code and brain teasers</li>
                                                    <li>Getting Started with C++</li>
                                                    <li>Variables, data-types, Control statements</li>
                                                    <li>Other C++ constructs</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Functions</span>
                                            </div>

                                            <div class="tab-content">
                                                <h5 class="uppercase">Programming Fundamentals &amp; Logic Building</h5>
                                                <hr>
                                                <p>
                                                    In this section we will learn how to break our code into various
                                                    smaller modules called 'functions'. Functions help make code
                                                    structure more organized, and easy to debug.
                                                </p>
                                                <ol class="syllabus">
                                                    <li>Breaking Your Code Into Smaller Parts</li>
                                                    <li>Passing Data by Value and Reference</li>
                                                    <li>Reference Variables in C++</li>
                                                    <li>Solving Problems</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Pointers, Arrays, &amp; Strings</span>
                                            </div>

                                            <div class="tab-content">
                                                <h5 class="uppercase">Pointers, Arrays, &amp; Strings</h5>
                                                <hr>
                                                <p>In this section we will learn about Pointers, which is one of the
                                                    most confusing aspects of C++. We will also see similarities and
                                                    differences between pointers and arrays, and how to pass arrays and
                                                    pointers to functions.</p>
                                                <ol class="syllabus">
                                                    <li>Address-Of Operator</li>
                                                    <li>Pointers &amp; Arrays</li>
                                                    <li>Dereferencing Pointers</li>
                                                    <li>Sorting &amp; Searching</li>
                                                    <li>Dynamic Memory Allocation</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Recursion</span>
                                            </div>
                                            <div class="tab-content">
                                                <h5 class="uppercase">Recursion</h5>
                                                <hr>
                                                <p>
                                                    Recursion is one of the most confusing problem solving techniques.
                                                    In this section we will give you a solid foundation in this area by
                                                    solving a lot of problems.
                                                </p>
                                                <ol class="syllabus">
                                                    <li>Understanding Recursion</li>
                                                    <li>Classical Problems</li>
                                                    <li>Analysis of Space-Time Complexity of Such Problems</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Advanced Recursion</span>
                                            </div>
                                            <div class="tab-content">
                                                <h5 class="uppercase">Advanced Recursion</h5>
                                                <hr>
                                                <ol class="syllabus">
                                                    <li>Advanced Recursion Problems</li>
                                                    <li>Divide and Conquer</li>
                                                    <li>Backtracking</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>OOP &amp; Complexity Analysis</span>
                                            </div>
                                            <div class="tab-content">
                                                <h5 class="uppercase">OOP &amp; Complexity Analysis</h5>
                                                <hr>
                                                <p></p>
                                                <ol class="syllabus">
                                                    <li>Space &amp; Time Complexity Analysis</li>
                                                    <li>Object Oriented Programming Concepts</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Data Structures &amp; Algorithms</span>
                                            </div>
                                            <div class="tab-content">
                                                <h5 class="uppercase">Basic Data Structures &amp; Algorithms</h5>
                                                <hr>
                                                <p></p>
                                                <ol class="syllabus">
                                                    <li>Stacks and Queues</li>
                                                    <li>Vectors</li>
                                                    <li>Linked Lists</li>
                                                    <li>Binary Trees</li>
                                                    <li>Binary Search Trees</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Advanced DS &amp; Algorithms</span>
                                            </div>
                                            <div class="tab-content">
                                                <h5 class="uppercase">Advanced DS &amp; Algorithms</h5>
                                                <hr>
                                                <p></p>
                                                <ol class="syllabus">
                                                    <li>Heaps</li>
                                                    <li>Hash Tables</li>
                                                    <li>Graphs-I</li>
                                                    <li>Graphs-II</li>
                                                    <li>Tries</li>
                                                    <li>Greedy Algorithms</li>
                                                    <li>Dynamic Programming</li>
                                                    <li>Standard Template Library</li>
                                                </ol>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                {{> courseenroll courseEnroll=courseEnrollComplete}}
                                <a id="registerComplete" class="in-page-link"></a>
								<section>
									<div class="text-center"><h3>REGISTER NOW</h3></div>
									<div class="container widget-container" data-widget-id='125'>
										<iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=125"></iframe>
									</div>
								</section>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="advanced">
                                <div class="tabbed-content button-tabs vertical">
                                    <div class="pt-4"></div>
									<h5><strong>More than 50 recorded videos and 4 live webinars, along with 24x7 doubt clearing support. Course starting June 20.</strong></h5>
                                    <ul class="tabs">
                                        <li class="active">
                                            <div class="tab-title">
                                                <span>Advanced Recursion</span>
                                            </div>
                                            <div class="tab-content">
                                                <h5 class="uppercase">Advanced Recursion</h5>
                                                <hr>
                                                <ol class="syllabus">
                                                    <li>Advanced Recursion Problems</li>
                                                    <li>Divide and Conquer</li>
                                                    <li>Backtracking</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>OOP &amp; Complexity Analysis</span>
                                            </div>
                                            <div class="tab-content">
                                                <h5 class="uppercase">OOP &amp; Complexity Analysis</h5>
                                                <hr>
                                                <p></p>
                                                <ol class="syllabus">
                                                    <li>Space &amp; Time Complexity Analysis</li>
                                                    <li>Object Oriented Programming Concepts</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Data Structures &amp; Algorithms</span>
                                            </div>
                                            <div class="tab-content">
                                                <h5 class="uppercase">Basic Data Structures &amp; Algorithms</h5>
                                                <hr>
                                                <p></p>
                                                <ol class="syllabus">
                                                    <li>Stacks and Queues</li>
                                                    <li>Vectors</li>
                                                    <li>Linked Lists</li>
                                                    <li>Binary Trees</li>
                                                    <li>Binary Search Trees</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Advanced DS &amp; Algorithms</span>
                                            </div>
                                            <div class="tab-content">
                                                <h5 class="uppercase">Advanced DS &amp; Algorithms</h5>
                                                <hr>
                                                <p></p>
                                                <ol class="syllabus">
                                                    <li>Heaps</li>
                                                    <li>Hash Tables</li>
                                                    <li>Graphs-I</li>
                                                    <li>Graphs-II</li>
                                                    <li>Tries</li>
                                                    <li>Greedy Algorithms</li>
                                                    <li>Dynamic Programming</li>
                                                    <li>Standard Template Library</li>
                                                </ol>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {{> courseenroll courseEnroll=courseEnrollAdvanced}}
                                <a id="registerAdvanced" class="in-page-link"></a>
								<section>
									<div class="text-center"><h3>REGISTER NOW</h3></div>
									<div class="container widget-container" data-widget-id='124'>
										<iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=124"></iframe>
									</div>
								</section>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    {{> team team=mentors}}
    <section class='bg-dark'>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="mb40">Sample Class</h4>
                    <iframe width="720" height="405" src="https://www.youtube.com/embed/X7SrnbgqHHs" frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    {{> coursefaq}}
    <a id="testimonials" class="in-page-link"></a>
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}

<script>
    $(function () {
        const registerLinkAdvanced = $('#payment-advanced-link'),
                registerLinkCombo = $('#payment-combo-link'),
                registerBoxAdvanced = $('#advanced-bundle-registration'),
                registerBoxCombo = $('#complete-bundle-registration')
        ;

        registerBoxAdvanced.hide()

        registerLinkAdvanced.click(function () {
            registerBoxCombo.hide()
            registerBoxAdvanced.show()
        })

        registerLinkCombo.click(function () {
            registerBoxAdvanced.hide()
            registerBoxCombo.show()
        })

    })
</script>
<script>
    $(document).ready(function () {
        var hash = window.location.hash;
        if (hash === '#advance' || hash === '#advanced') {
            $('#tab-advanced').toggleClass('active');
            $('#tab-complete').toggleClass('active');
            $('#advanced').toggleClass('active');
            $('#complete').toggleClass('active');
        }
    })
</script>
</body>
</html>
