<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <section class="banner" >
        <div class="container-fluid">
            <div class="row p32">
                <div class="col-md-6">
                    <h3 class="mb8">Already purchased our courses?</h3>
                    <p class="lead">Visit online.codingblocks.com</p>
                </div>
                <div class="col-md-6 visit-link">
                    <a class="btn btn-white btn-filled btn-lg" href="https://online.codingblocks.com">Visit Now</a>
                </div> 
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb16">Online Courses</h2>
                    <p class="lead mb64">The interactive learning for aspiring and experienced developers</p>
                </div>
            </div>
            {{> coursesRow courses=onlineCoursesRow1}}
            {{> coursesRow courses=onlineCoursesRow2}}
            {{> coursesRow courses=onlineCoursesRow3}}
            {{> coursesRow courses=onlineCoursesRow4}}
        </div>
    </section>
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
