<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> overview}}
    {{> coursehighlights}}
    {{> coursecontents}}
    {{> courseenroll}}
    {{> registration}}
    {{> team team=mentors}}
	<section class='bg-dark'>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h4 class="mb40">Sample Class</h4>
					<iframe width="720" height="405" src="https://www.youtube.com/embed/DZ72GKbUX14" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
    {{> coursefaq}}
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
<script>
    $(document).ready(function () {
        $('#ifOnlineCourse').attr('href','https://online.codingblocks.com/courses/25#runs')
        $('#ifOnlineCourse').attr('target','_blank')
    })
</script>
</body>
</html>
