<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist" style="margin-top: -70px;">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> overview}}
    {{> coursehighlights}}
    {{> coursecontents}}
    {{> courseenroll}}
    {{> registration}}
    {{> coursefaq}}
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
