/****** PLACE YOUR CUSTOM STYLES HERE ******/
.map-container{
  padding:40px;
  margin: 30px;
}
<<<<<<< HEAD
=======

.leaf {
  display: none !important;
}
>>>>>>> 2496439cca044dac33e3d54216981099b9bdabc9
