/****** PLACE YOUR CUSTOM STYLES HERE ******/

.leaf {
  display: none !important;
}

.location-cards {
  font-size-adjust: 0.625;
}

/* MAP [[ */
.contact-map{height:250px;overflow:hidden;padding:0;}
.map-box{height: 250px;}
/* ]] MAP */

/* MENU [[ */
.menu > li > ul {
	margin-top: 4px;
	padding-top: 15px;
}

.menu > li ul li ul {
	margin-top: -8px;
}
/* ]] */

.numbers-value {
	font-size: 72px;
	line-height: 80px;
	font-weight: 100;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
