body{
  background: #f2f3f3;
}
#cb-head{
  margin-top:10vh;
  background: lightgray;
  height:5vh;
  border-radius: 10px 10px 0px 0px;
  color:white;
  font-size:3vh;
  text-align:center;
}
#cb-terminal{
  font-weight:bold;
  font-family: 'Open Sans', sans-serif;
  color:white;
  background:#fc4f4f;
  border-radius:0px 0px 10px 10px;
  height:60vh;
  font-size: 2.5vh;
  text-align: left;
}
.cb-mod{
  color:#1be251;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
