<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        #competitiveheader {
            background-image: url("../assets/images/cb/cover/cc cover.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .flex-container {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            -webkit-justify-content: center;

        }

        .flex-item {
            max-width: 600px;

        }

    </style>

    <!-- Google Code for Online course Lead Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 858471704;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "QBMcCNHlqG8QmPqsmQM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/858471704/?label=QBMcCNHlqG8QmPqsmQM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    <script src="/js/fbpixel.js"></script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1669664786661021&ev=PageView&noscript=1"/>
    </noscript>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <a id="course-header" class="in-page-link"></a>

    <section class="page-title page-title-2 bg-secondary bg-dark" id="competitiveheader">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="uppercase mb8">Competitive Programming Study Material</h2>
                    <p class="lead mb0">
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">

                        <li>
                            <a href="#course-highlights" class="inner-link" target="_self">Highlights</a>
                        </li>
                        <li>
                            <a href="#course-faq" class="inner-link" target="_self">FAQ</a>
                        </li>

                    </ol>
                </div>
            </div>

        </div>

    </section>
    <a id="course-overview" class="in-page-link"></a>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="uppercase color-primary mb40 mb-xs-24">Overview</h3>
					<p class="lead">
						Coding Blocks is pleased to bring you the ultimate competitive programming study material package for all those who are willing to get their hands on our book, the ultimate guide to all things related to Competitive Coding. Along with the book, you'll also get three exclusive videos on the most important topics of CP: Dynamic Programming, Dynamic Programming with Bitmasks and Backtracking. Our material has been hand crafted to ensure your success in challenges such as Google CodeJam, Google Kickstart, ACM-ICPC, and more. 
					</p>
					<p class="lead">
						Though we suggest you join our Competitive Programming online or offline courses, we understand that it is not always possible to devote that amount of time at one stretch. This package will help you foray into the exciting world of competitive coding. You will master commonly used problem solving techniques, hone your mathematical analysis skills, and push the boundaries of your reasoning abilities. This package is for all the coders who are looking forward to optimizing their problem-solving process, and to learning new algorithmic skills which will help them solve problems quickly.
					</p>
                </div>
            </div>

        </div>


    </section>
    <a id="course-highlights" class="in-page-link" data-scroll-id="course-features"></a>

    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 et-line-edit"></i>
                        <h4>Maths &amp; Number Theory</h4>
                        <p>
                            We will cover various Number Theory Topics like Prime Sieve, Segmented Sieve, Euler's
                            Totient Fn, Chinese Remainder
                            Theorem etc along with Maths Topics like Birthday Paradox Problem, Pigeonhole Principle,
                            Inclusion-Exclusion Principle and much more. </p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 pe-7s-download"></i>
                        <h4>DP and Graphs</h4>
                        <p>
                            In the course, you will learn to solve problems using Dynamic Progamming. You will also
                            learn to solve Graph problems using DP and Graph Algorithms. Dynamic Programming is the most
                            important topic from the view of most exams.</p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 et-line-speedometer"></i>
                        <h4>Greedy Problems</h4>
                        <p>
                            The course will cover a variety of questions based on Greedy Strategy. You will learn when
                            to apply greedy technique and then DP.</p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 pe-7s-network"></i>
                        <h4>Game theory &amp; Segment Trees</h4>
                        <p>You will learn the basic concepts of Game Theory(like Nim Game) and apply those concepts to
                            solve problems. Segment Trees an important data structure for solving problems will also be
                            covered. You will learn to optimise your ST using Lazy Propagation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<section></section>

	<section class="bg-secondary">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16"> YOUR MENTORS FOR course</h4>
			</div>
		</div>
		<div class="flex-container">
			<div class="flex-item">
				<div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
					<img alt="Prateek Mugshot" src="../assets/images/cb/team/wprateek.jpg" opacity="0.7" class="img-circle" style="margin-bottom: 1rem;">
				</div>
				<div class="col-md-8 col-xs-12">
					<p class="mb0" align="justify-content">
						<b>Prateek Narang</b><br />is passionate about teaching, Prateek is a CS graduate from DTU.
						He has previously worked with SanDisk, HackerEarth.
						He has also won various hackathons including Google’s Code For India,
						Smart City Hackathon, qualified ACM-ICPC regionals
						and published papers in International Journals.
						His interactive CV (www.prateeknarang.com) is also popular in 120+ countries.
					</p>
				</div>
			</div>
			<div class="flex-item">
				<div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
					<img alt="Deepak Mugshot" src="../assets/images/cb/team/deepak_mug.jpg" opacity="0.7" class="img-circle" style="margin-bottom: 1rem;">
				</div>
				<div class="col-md-8 col-xs-12">
					<p class="mb0" align="justify-content">
						<b>Deepak Aggarwal</b><br />Popular for his creative thinking style, Deepak tries to offer creative solutions to problems. He is a strong competitive programmer, had qualified for ACM-ICPC Regionals, won the International Problem Solving Competition by Dyalog APL. He likes to spend his free time reading.
					</p>
				</div>
			</div>
		</div>
	</section>   

	<!-- SECTION: Course FAQ -->
	<a id="course-faq" class="in-page-link" data-scroll-id="course-faq"></a>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h4 class="mb16">FAQ</h4>
					<p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<ul class="accordion accordion-2 one-open">
						<li>
							<div class="title">
								<h4 class="inline-block mb0">Who should buy this study material package?</h4>
							</div>
							<div class="content">
								<p>
									Recommended for students who are good data structures and algorithms and want to
									learn more new concepts and tricks used in Competitive Coding should go for this study material.
								</p>
							</div>
						</li>
						<li>
							<div class="title">
								<h4 class="inline-block mb0"> Which programming language will be used in this study material?</h4>
							</div>
							<div class="content">
								<p> Although, the idea of the study material is to teach you new concepts, we will be using
									C++ for the codes shared.
									More focus will be on logic and algorithms. Students who know Java/Python can also
									use this study material and implement the same logic in the language they prefer.
								</p>
							</div>
						</li>
						<li>
							<div class="title">
								<h4 class="inline-block mb0">What are the pre-requisites for this study material?</h4>
							</div>
							<div class="content">
								<p>You should have good knowledge of basics(like sorting,searching, recursion ) and
									data-structures ( stacks, queues, linked lists, hashing, heaps, trees, graphs) along
									with space-time complexity analysis on problems.
								</p>
							</div>
						</li>
						<li>
							<div class="title">
								<h4 class="inline-block mb0">Will this improve my ranking in Online Competitions?</h4>
							</div>
							<div class="content">
								<p>
									Yes, definitely. The study material will teach you new concepts and tricks and will help
									you become smarter with solutions.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
    {{> courseenroll}}
    {{> review-course-section}}
	{{> registration}}
	{{> map}}
	{{> footer}}
</div>
{{> scripts}}
</body>
</html>
