<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        function Redirect() {
            window.location = "https://codingblocks.com/courses/algo++.html";
        }

        Redirect();
    </script>
</head>
<body>
</body>
</html>
