<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}

        <section>
            <div class="text-center">
                <h3>Java Web Development Combined for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Pandora Combined for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Elixir Combined for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Crux Combined for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Launchpad Combined for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Java Web Development Advanced for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Pandora Advanced for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Elixir Advanced for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Crux Advanced for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Launchpad Advanced for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Java Web Development Basics for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Pandora Basics for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Elixir Basics for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Crux Basics for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Launchpad Basics for Greater Noida</h3>
            </div>
            <div class="container">
            </div>
        </section>
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
