<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}

        <section>
            <div class="text-center">
                <h3>Java Web Development Combined for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=72"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Pandora Combined for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=73"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Elixir Combined for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=74"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Crux Combined for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=75"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Launchpad Combined for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=76"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Java Web Development Advanced for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=77"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Pandora Advanced for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=78"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Elixir Advanced for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=79"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Crux Advanced for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=80"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Launchpad Advanced for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=81"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Java Web Development Basics for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=82"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Pandora Basics for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=83"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Elixir Basics for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=84"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Crux Basics for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=85"></iframe>
            </div>
        </section>

        <section>
            <div class="text-center">
                <h3>Launchpad Basics for Greater Noida</h3>
            </div>
            <div class="container">
                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=86"></iframe>
            </div>
        </section>
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
