<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> overview}}
    {{> coursehighlights}}
    {{> coursecontents}}
    {{> coursefaq}}
    {{> courseenroll}}
    {{> team team=mentors}}

	<section>
		<h3 class="text-center">REGISTER (FOR BASIC)</h3>
		<iframe class="payment-widget" id="payment-89" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=89"></iframe>
	</section>

	<section>
		<h3 class="text-center">REGISTER (FOR ADVANCED)</h3>
		<iframe class="payment-widget" id="payment-91" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=91"></iframe>
	</section>

    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
