<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> head}}
    <style>
        #lpheader {
            background-image: url("../assets/images/cb/cover/cover_laptop_books.jpg");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;

        }
    </style>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <!-- SECTION : Course Header -->
    <a id="course-header" class="in-page-link"></a>
    <section id="lpheader" class="page-title page-title-2 bg-secondary bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h1 class="uppercase mb8">
                        Perceptron <span>Live</span>
                        <br>
                        <p class="lead mb0">Advanced Machine Learning &amp; AI</p>
                    </h1>
                    <p class="lead mb0">Now attend from the comfort of your home</p>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">

                        <li>
                            <a href="#course-highlights">Highlights</a>
                        </li>
                        <li>
                            <a href="#course-contents">Contents</a>
                        </li>
                        <li>
                            <a href="#course-faq">FAQ</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION : Course Overview -->
    <a id="course-overview" class="in-page-link"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="uppercase color-primary mb40 mb-xs-24">Overview</h3>
                    <p class="lead">
                        Perceptron Live is a first of its kind, COMPLETELY LIVE course designed to provide you the
                        perfect platform to start your journey in the most important technology of the future, Machine
                        Learning. Machine learning is that field of study that helps machines to learn without being
                        explicitly programmed. Giants such as Google, Microsoft, Apple, Amazon, Uber and even NASA, are
                        heavily investing man and money on Machine Learning based research to make better products and
                        services. From multipurpose cross-platform apps to high end software, from social media to stock
                        trading, Machine Learning is very rapidly becoming the most important aspect of product
                        development. We take pride in the fact that this will be the COUNTRY'S FIRST completely live
                        course on Machine Learning, with classes and doubt sessions all being live. You will also be
                        able to schedule live doubt classes as per your convenience. <br>
                        Students willing to enrol are required to have a clear understanding of programing fundamentals
                        in any one language, preferably Python, but not necessarily. The students will follow
                        industry-standard programming practices to build intelligent systems, working on AI algorithms
                        and data crunching
                    </p>
                </div>
            </div>

        </div>

    </section>

    <!-- SECTION : Course Highlights -->
    <a id="course-highlights" class="in-page-link" data-scroll-id="course-features"></a>
    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 et-line-edit"></i>
                        <h4>Implement Algorithms</h4>
                        <p>
                            Perceptron is an hands-on coding course. You will learn various supervised and unsupervised
                            learning algorithms and will implement them in your code from scratch.</p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 pe-7s-download"></i>
                        <h4> Work on LIVE Projects</h4>
                        <p>
                            This course covers a lot of basic &amp; advanced projects like face-recognition, sentiment
                            analysis, recommendation system, coversational engine, AI music generator and much more.</p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 et-line-speedometer"></i>
                        <h4>Deep Learning</h4>
                        <p>
                            We will cover the latest advanced in deep learning - a growing field in Machine
                            Learning.Deep learning applications are being used in computer vision, automatic speech
                            recognition, natural language processing, audio recognition and bioinformatics</p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 pe-7s-network"></i>
                        <h4>Advanced Topics</h4>
                        <p>
                            Many of the topics are advanced, up-to-date and require great patience and coding skills.
                            Make sure you have good programming fundamentals and practice of Python before joining this
                            course. </p>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- SECTION: Course Contents-->
    <a id="course-contents" class="in-page-link"></a>
    <section class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="uppercase mb80 text-center color-primary">Course Contents</h3>
                    <div>
                        <div role="tabpanel" class="tab-pane active" id="syllabus-basic">
                            <div class="tabbed-content button-tabs vertical">
                                <div class="pt-4"></div>
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <span>Introduction</span>
                                        </div>
                                        <div class="tab-content">
                                            <h5 class="uppercase">Introduction to ML and Mathematical Concepts</h5>
                                            <hr>
                                            <p></p>
                                            <ol>
                                                <li>Introduction to Machine Learning</li>
                                                <li>Python 2.7 overview</li>
                                                <li>Linear algebra</li>
                                                <li>Statistics and Probability</li>
                                                <li>Numpy, Scipy and Scientific computation with Python</li>
                                            </ol>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="tab-title">
                                            <span>Algorithms</span>
                                        </div>
                                        <div class="tab-content">
                                            <h5 class="uppercase">Simple Machine Learning Algorithms &amp; Data
                                                Handling</h5>
                                            <hr>
                                            <p></p>
                                            <ol>
                                                <li>Nearest Neighbour search and K-means clustering</li>
                                                <li>Decision trees and Naive Bayes</li>
                                                <li>Data Scraping, Handling, Cleaning</li>
                                                <li>Random Forest Classifiers</li>
                                            </ol>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="tab-title">
                                            <span>Features</span>
                                        </div>
                                        <div class="tab-content">
                                            <h5 class="uppercase">Features and Dimensions</h5>
                                            <hr>
                                            <p></p>
                                            <ol>
                                                <li>Features and Importance</li>
                                                <li>Feature scaling</li>
                                                <li>The Curse of Dimensionality</li>
                                                <li>SVD and Principal Component Analysis</li>
                                            </ol>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="tab-title">
                                            <span>Diving Deep</span>
                                        </div>
                                        <div class="tab-content">
                                            <h5 class="uppercase">A Deep Dive into Machine Learning</h5>
                                            <hr>
                                            <p></p>
                                            <ol>
                                                <li>Regression Techniques</li>
                                                <li>Numerical Optimization</li>
                                                <li>Introduction to Neural Networks</li>
                                            </ol>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="tab-title">
                                            <span>Deep Learning</span>
                                        </div>
                                        <div class="tab-content">
                                            <h5 class="uppercase">Deep Learning</h5>
                                            <hr>
                                            <p></p>
                                            <ol>
                                                <li>Neural Architectures and Training</li>
                                                <li>Deep learning methods</li>
                                                <li>Convolutions and the GoogLe Net</li>
                                                <li>Dimensions revisited: The Auto-encoder</li>
                                                <li>Recurrent and Combined Architectures</li>
                                            </ol>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="tab-title">
                                            <span>Advanced</span>
                                        </div>
                                        <div class="tab-content">
                                            <h5 class="uppercase">Additional Material</h5>
                                            <hr>
                                            <p></p>

                                            <ol>
                                                <li>Support Vector Machines</li>
                                                <li>Introduction to Unsupervised and Reinforcement Learning</li>
                                                <li>Transfer Learning</li>
                                            </ol>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="tab-title">
                                            <span>Projects</span>
                                        </div>
                                        <div class="tab-content">
                                            <h5 class="uppercase">Following Projects will be Assigned</h5>
                                            <hr>
                                            <p></p>

                                            <ol>
                                                <li>Handwritten digit classification</li>
                                                <li>Face Recognition</li>
                                                <li>Image classification and Object detection</li>
                                                <li>Automated music generation</li>
                                                <li>Text/Poem generating bot</li>
                                                <li>Recommender systems</li>
                                                <li>Emotion/Sentiment Analysis</li>
                                            </ol>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-sm-5">
                    <h3>Come, fall in LOVE<br>with CODING
                    </h3>
                    <p class="lead mb40">
                        <strong>
                    <p>Batches Starting This August!</p></strong>
                    </p>
                    <div class="overflow-hidden mb32 mb-xs-24">
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="icon pull-left et-line-search icon-sm"></i>
                            </div>
                            <div class="col-sm-11">
                                <h6 class="uppercase mb0 inline-block p32">Online code Submission &amp; Evaluation</h6>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-hidden mb32 mb-xs-24">
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="icon pull-left pe-7s-cup icon-sm"></i>
                            </div>
                            <div class="col-sm-11">
                                <h6 class="uppercase mb0 inline-block p32">2 Hacakthons and Special Sessions on
                                    Competitive Coding</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-1 text-center emphasis">
                        <p style="font-size: 3.2rem; text-decoration: line-through;">₹15,000</p>
                        <span class="price">₹12,000</span>
                        <p class="lead">(20 Lectures)</p>
                        <a class="btn btn-white btn-lg" href="#course-register" disabled>Enrollment Starting Soon</a>
                        <p>
                            <a href="/contactus">Contact Us</a>
                            <br>Call(Toll-free): 1800-2744-504
                        </p>
                    </div>

                </div>
            </div>

        </div>

    </section>
    <!-- SECTION: Course FAQ -->
    <a id="course-faq" class="in-page-link" data-scroll-id="course-faq"></a>
    <section class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="mb16">FAQ</h4>
                    <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <ul class="accordion accordion-2 one-open">
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">Why do this course?</h4>
                            </div>
                            <div class="content">
                                <p>Machine learning evolves from artificial intelligence and study of pattern
                                    recognition. Today, when excessively huge amounts of data are being dealt with
                                    everyday, rather every moment, pattern recognition is something that helps large
                                    corporations and websites work magnificently with the users. Artificial intelligence
                                    has become a favourite with the customers, esp. intelligent personal assistants like
                                    Apple's Siri, Microsoft Cortana, etc. We hope to extend our knowledge to the
                                    students so they are ready to tackle such problems in real-world.</p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">I know competitive programming. should I do this
                                    course?</h4>
                            </div>
                            <div class="content">
                                <p>Machine Learning requires extensive knowledge of mathematics, which you also gain
                                    while handling problems in competitive programming. This course shall equip with the
                                    right tools to handle huge amounts of data and derive meaningful conclusions from
                                    data crunching. Handling real-world problems is exactly what machine learning is all
                                    about, a skill very useful in development tasks. competitive programming equips you
                                    with critical thinking, but machine learning teaches you how to apply that skill and
                                    solve complex problems.</p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">Will this help me in interviews?</h4>
                            </div>
                            <div class="content">
                                <p>Machine Learning and Data science has been called as the ‘Hottest job of the 21st
                                    century’. If you learn this course well, you’ll be able to impress quite a lot of
                                    interviewers across various interviews.</p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">I don’t pass all the prerequisite criteria. Should I
                                    enroll?</h4>
                            </div>
                            <div class="content">
                                <p>Even if you don’t possess understanding of all the prerequisites, we shall help you
                                    cover every topic in detail and provide overview before diving deep into machine
                                    learning and data science. Python is a relatively easy language to learn, and you
                                    can pick up the basics very quickly. Therefore, you’ll have ample amount of time
                                    before the course to brush-up/learn the fundamentals.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb16">KNOW YOUR MENTOR</h4>

                <br><br>
                <div class="container">
                    <div class="flex-item">
                        <div class="col-md-6 col-sm-12">
                            <img alt="Pic" height="300" width="300" src="../assets/images/cb/team/c_shubham.JPG"><br>
                        </div>

                        <div class="col-sm-12 col-md-6 text-justify">
                            <h5 class="mb0 text-center" style="font-weight: bold !important">Shubham Dokania</h5>
                            <p class="mb0" align="justify-content">
                                A graduate from DTU in Mathematics and Computing, Shubham is an avid Machine learning
                                researcher, data scientist and web developer. Having already presented a paper at IEEE
                                CISS 2017 at the John Hopkins University, he is now doing his research at IIIT Delhi,
                                supervised by Dr. Ganesh Bagler. He has worked with various startups and won multiple
                                hackathons including HackIndia and Code For India. Owing to his expertise and extensive
                                research, he has been invited by various workshops and meets to deliver talks on Machine
                                Learning and AI techniques, including PyData New Delhi. <br> He believes that the best
                                way to learn is by doing and building. Working with the sciences of the future, Shubham
                                aims to push forward the boundaries of what machines can achieve.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {{> readmoretestimonials}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
