<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> overview}}
    {{> coursehighlights}}

	<a id="launchpad-bundle-content" class="in-page-link"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="uppercase mb64 text-center color-primary">Course Contents</h2>
                    <div class="course-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active wide-tab" id="tab-basic"><a href="#content-basic"
                                                                                              aria-controls="home"
                                                                                              role="tab"
                                                                                              data-toggle="tab">Basic</a>
                            </li>
                            <li role="presentation" class="wide-tab" id="tab-advance"><a href="#launchpad-bundle"
                                                                                         aria-controls="profile"
                                                                                         role="tab"
                                                                                         data-toggle="tab">Launchpad - Complete Bundle</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="content-basic">
								<div>
									<div class="course-card-container">
										<div class="content-row">
											<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
													class="topic">
													Getting Started</h3>
												<hr>
												<ul class="points-list">
													<li>Pseudo code</li>
													<li>Getting started with C++, IDE Installation</li>
												</ul>
											</div>
											<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
													class="topic">
													Getting a Hold of C++</h3>
												<hr>
												<ul class="points-list">
													<li>Variables,Loops, Conditional Statements</li>
													<li>Functions, Reference Variables</li>
													<li>Arrays and Pointers</li>
													<li>Strings and 2-D Arrays</li>
												</ul>
											</div>
											<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
													class="topic">
													Introduction to Advanced Topics</h3>
												<hr>
												<ul class="points-list">
													<li>Recursion-I</li>
													<li>Space Time Complexity Basics</li>
													<li>Stacks and Queue Basics</li>
													<li>Problem Solving</li>
												</ul>
											</div>
										</div>
									</div>
									<section>
										<div class="col-md-10 col-md-offset-1 complete-course-box bg-secondary">
											<h2 class="heading">Enroll in Complete C++ Course</h2>
											<p class="description">Embark upon this journey from being an amateur coder to a DS-Algo expert with our complete C++ course.</p>
											<a href="#launchpad-bundle-content"
												id="tab-advance-toggle"
												class="btn btn-filled">Launchpad (Complete Bundle)</a>
										</div>
									</section>
								</div>
                                <a id="basic-enroll" class="in-page-link"></a>
                                <section class="tabbed-enroll-section">
                                    <div class="container">
                                        <div class="row v-align-children">
                                            <div class="col-md-4 col-sm-6">
                                                <div class="pricing-table pt-1 text-center emphasis"><h5
                                                        class="uppercase">Regular Batch</h5><span
                                                        class="price">₹8,000</span>
                                                    <p class="lead">(10 lectures)</p><a class="btn btn-white btn-lg"
                                                                                        href="#register-beginner">Enroll
                                                        Now</a>
                                                    <p><a href="/contactus">Contact Us</a><br>Call(Toll-free):
                                                        1800-2744-504</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
								{{> courseschedule schedule=scheduleCpp}}
                                <a id="register-beginner" class="in-page-link"></a>
                                <section>
                                    <div class="text-center"><h3>REGISTER NOW</h3></div>
                                    <div class="container widget-container" data-widget-id='111'>
                                        <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=111"></iframe>
                                    </div>
                                </section>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="launchpad-bundle">
								<div class="course-card-container">
									<div class="content-row">
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
												class="topic">
												Getting Started</h3>
											<hr>
											<ul class="points-list">
												<li>Pseudo code</li>
												<li>Getting started with C++, IDE Installation</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
												class="topic">
												Getting a Hold of C++</h3>
											<hr>
											<ul class="points-list">
												<li>Variables,Loops, Conditional Statements</li>
												<li>Functions, Reference Variables</li>
												<li>Arrays and Pointers</li>
												<li>Strings and 2-D Arrays</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
												class="topic">
												Introduction to Advanced Topics</h3>
											<hr>
											<ul class="points-list">
												<li>Recursion-I</li>
												<li>Space Time Complexity Basics</li>
												<li>Stacks and Queue Basics</li>
												<li>Problem Solving</li>
											</ul>
										</div>
									</div>
									<div class="content-row">
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Recursion &amp; Backtracking</h3>
											<hr />
											<ul class="points-list">
												<li>Recursion</li>
												<li>Back-Tracking</li>
												<li>Space Time Complexity Analysis</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Foundational DS</h3>
											<hr />
											<ul class="points-list">
												<li>Arrays &amp; Bitmasking Vectors</li>
												<li>Stacks Queues Problems</li>
												<li>Linked Lists</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Sorting Searching And Hashing</h3>
											<hr />
											<ul class="points-list">
												<li>Divide &amp; Conquer</li>
												<li>Sorting Algorithms</li>
												<li>Binary Search Variants</li>
												<li>Bitmasking and Hashing</li>
											</ul>
										</div>
									</div>
									<div class="content-row">
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Advanced Data Structures</h3>
											<hr />
											<ul class="points-list">
												<li>Stacks Queues Linked Lists</li>
												<li>trees &amp; Tries</li>
												<li>Graphs</li>
												<li>Heaps and Priority Queues</li>
												<li>Binary Search Trees</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">DP vs Greedy Techniques</h3>
											<hr />
											<ul class="points-list">
												<li>Greedy Techniques</li>
												<li>Dynamic Programming</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">STL | Interview Problems</h3>
											<hr />
											<ul class="points-list">
												<li>Complete C++ STL</li>
												<li>Interview problems</li>
											</ul>
										</div>
									</div>
								</div>
                                <a id="advance-enroll" class="in-page-link"></a>
                                <section class="tabbed-enroll-section">
                                    <div class="container">
                                        <div class="row v-align-children">
                                            <div class="col-md-4 col-sm-6">
                                                <div class="pricing-table pt-1 text-center emphasis"><h5
                                                        class="uppercase">regular batch</h5><span
                                                        class="price">₹17,000</span>
                                                    <p class="lead">(24-26 lectures)</p><a class="btn btn-white btn-lg"
                                                                                           href="#register-advance">Enroll
                                                        Now</a>
                                                    <p><a href="/contactus">Contact Us</a><br>Call(Toll-free):
                                                        1800-2744-504</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
								{{> courseschedule schedule=scheduleLaunchpad}}
                                <a id="register-advance" class="in-page-link"></a>
                                <section>
                                    <div class="text-center">
                                      <h3>REGISTER NOW</h3></div>
                                    <div class="container">
                                      <div class="course-tabs">
                                        <ul class="nav nav-tabs" role="tablist">
                                          <li role="presentation" class="wide-tab active" id="tab-delhi"><a href="#delhi" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Delhi</a></li>
                                          <li role="presentation" class="wide-tab" id="tab-noida"><a href="#noida" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Noida (50% inaugural discount)</a></li>
                                        </ul>
                                        <div class="tab-content">
                                          <div role="tabpanel" class="tab-pane active" id="delhi">
                                            <div class="container widget-container" data-widget-id='118'>
                                                <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=118"></iframe>
                                            </div>
                                          </div>
                                          <div role="tabpanel" class="tab-pane" id="noida">
                                            <div class="col-xs-12 text-center bg-secondary" style="height: 100%;">
                                                <p class="uppercase" style="margin-top: 100px;margin-bottom: 100px;">Seats full. Admissions closed.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {{> team team=mentors}}
    {{> coursefaq}}
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
<script>
    $(document).ready(function () {
        var hash = window.location.hash;
        if (hash === '#launchpad-bundle-content' || hash === '#advance') {
            $('#tab-basic').toggleClass('active');
            $('#tab-advance').toggleClass('active');
            $('#content-basic').toggleClass('active');
            $('#launchpad-bundle').toggleClass('active');
        }

		$('#tab-advance-toggle').click (function (e) {
            $('#tab-basic').toggleClass('active');
            $('#tab-advance').toggleClass('active');
            $('#content-basic').toggleClass('active');
            $('#launchpad-bundle').toggleClass('active');
		})
    })
</script>

<script>
</script>
</body>
</html>
