<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        #c4kheader {
            background-image: url("/assets/images/cb/cover/c4k_cover.jpg");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;

        }
    </style>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <section class="page-title page-title-1 bg-dark" id="c4kheader">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="mb0 bold uppercase">CODE4KIDS spring bootcamp</h2>
                </div>
            </div>
        </div>

        <ol class="breadcrumb breadcrumb-2">
            <li>
                <a href="#web-track" target="_self">Intro</a>
            </li>
            <li>
                <a href="#syllabus">Elements</a>
            </li>
            <li>
                <a href="#faqs">FAQ</a>
            </li>
            <li>
                <a href="#register">Register</a>
            </li>
        </ol>
    </section>
    <a name="web-track"></a>
    <section class="bg-white">
        <div class="container text-center">
            <!-- Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="thin">Learn to Make Games using Scratch from Scratch in 10 days :D</h1>
                </div>
            </div>

            <!-- Description -->
            <div class="row mb-xs-0">
                <div class="col-sm-12">
                    <p class="lead">
                        Our programs are designed to give an early start in programming to school kids. We want to engage school kids to learn programming so that by the time they reach college, they have good hands on and can excel in the same field.

With this goal we have already conducted successful boot camps on APP Inventor (Block based tool to develop Android Phone applications) & Web Front end programming (HTML/CSS/JS).

This March, we are coming with the popular tool, Scratch. Scratch is an easy to learn tool with block based programming, using this students can build games, animations and much more.

Considering Scratch is closed to real world programming and has similar concepts of using variables, assigning values to variables, checking conditions, loops, using this tool will enable students to think creatively, work collaboratively, and reason systematically

                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container text-center">
            <a name="syllabus"></a>
            <!-- Sub items-->
            <div class="row mt40 pt20">
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="icon mb32 ti ti-game"></i>
                    <h6 class="uppercase">Overview of Programming languages</h6>
                    <ul>
                        <li>Varables</li>
                        <li>Loops</li>
                        <li>Control Flow</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="icon mb32 ti ti-file"></i>
                    <h6 class="uppercase">Setting up the environment</h6>
                    <ul>
                        <li>Overview of scratch editor</li>
                        <li>Scratch environment</li>
                        <li>Using multimedia and learning how to draw in Scratch</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="icon mb32 ti ti-write"></i>
                    <h6 class="uppercase">Advanced Scratch</h6>
                    <ul>
                        <li>Understanding the Coordinate and Rotation System</li>
                        <li>Creating animations in Scratch</li>
                        <li>Event Handling in Scratch</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="icon mb32 fa fa-file-code-o"></i>
                    <h6 class="uppercase">Build Games</h6>
                    <ul>
                        <li>Flappy bird</li>
                        <li>Interactive maze game</li>
                        <li>Bouncing ball</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    {{> courseschedule}}
    {{> courseenroll courseEnroll=courseEnroll}}
	<a id="register"></a>
	<section>
		<div class="text-center">
			<h3>REGISTER NOW</h3>
		</div>
		<div class="container">
			<div class="course-tabs">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="wide-tab active" id="tab-dwarka">
						<a href="#dwarka" aria-controls="profile" role="tab" data-toggle="tab">Dwarka</a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="dwarka">
						<div class="container widget-container" data-widget-id='{{frame-id-dwarka}}'>
							<iframe class="payment-widget" {{#if frame-id-dwarka}}id="{{frame-id-dwarka}}"{{/if}} frameborder="0" src="{{{registerLinkDwarka}}}"></iframe>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <a name="faqs"></a>
    <section class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="mb16">FAQ</h4>
                    <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <ul class="accordion accordion-2 one-open">
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Who should do this course?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    Students from classes VI-IX who are looking forward to programming and logic building enhancement.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Will this course help if my child wants a career in technology?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    Yes, programming is the most sought after skill and this course will greatly enhance your fluency in technology.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Will my child be able to learn languages like C++, Java after this course?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    This course will make it easier for the child to apply logic to computer
                                    programming, and that will go a long way in helping him/her learn new languages.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Will this course be helpful if my child wants to pursue computer engineering later?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    Yes, with a stronghold on basics as well as good amount of effort, the child will be
                                    able to do well as a computer engineer.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Is this course only for students who want to get into programming?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    No, this course will also improve your logical aptitude.
                                </p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>

    </section>
    <!-- Footer -->
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
