<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        #c4kheader {
            background-image: url("/assets/images/cb/cover/c4k_cover.jpg");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;

        }
    </style>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <section class="page-title page-title-1 bg-dark" id="c4kheader">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="mb0 bold uppercase">CODE4KIDS</h2>
                </div>
            </div>

        </div>

        <ol class="breadcrumb breadcrumb-2">
            <li>
                <a href="#web-track" target="_self">Intro</a>
            </li>
            <li>
                <a href="#syllabus">Elements</a>
            </li>
            <li>
                <a href="#faqs">FAQ</a>
            </li>
            <li>
                <a href="#register">Register</a>
            </li>
        </ol>
    </section>
    <a name="web-track"></a>
    <section class="bg-white">
        <div class="container text-center">
            <!-- Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="thin">Develop Android app using app inventor</h1>
                </div>
            </div>

            <!-- Description -->
            <div class="row mb-xs-0">
                <div class="col-sm-12">
                    <p class="lead">
                        Computer programming is the most important skill of the twenty first century, and the earlier a kid starts, the better he will get. Coding Blocks brings to you Code4Kids, a one of its kind computer programming course for school kids. Through this course, your child will get an insight into the beautiful world of computer programming, as well as learn the basics of Andrid Application Development. This is the ideal course to enrol your child into, as it will cover all basic concepts that a child need to strengthen. The course will be taught by industry experts.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container text-center">
            <a name="syllabus"></a>
            <!-- Sub items-->
            <div class="row mt40 pt20">
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="icon mb32 ti ti-game"></i>
                    <h6 class="uppercase">Fundamental of App Designing</h6>
                    <ul>
                        <li>Introduction to coding & app inventor</li>
                        <li>Computational thinking</li>
                        <li>Ux Design and Paper Prototyping</li>
                        <li>Flowcharts</li>
                        <li>User interface components on app inventor</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="icon mb32 ti ti-file"></i>
                    <h6 class="uppercase">Connecting to different component</h6>
                    <ul>
                        <li>Media components Like speech recognition, sounds, text to speech</li>
                        <li>Social components like sharing buttons</li>
                        <li>Code for Sensors like accelometer, proximity, location etc</li>
                        <li>Connecting to the web</li>
                        <li>Code challenge with related example apps</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="icon mb32 ti ti-write"></i>
                    <h6 class="uppercase">Creating apps with social impact</h6>
                    <ul>
                        <li>Design UI of app for idea finalised</li>
                        <li>Start planning the code for app</li>
                        <li>Progress Bar</li>
                        <li>Coding</li>
                        <li>Testing</li>
                        <li>Debugging</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <i class="icon mb32 fa fa-file-code-o"></i>
                    <h6 class="uppercase">Project Submission</h6>
                    <ul>
                        <li>Demo Video</li>
                        <li>Pitch Video</li>
                        <li>Final Demo</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {{> freeAccessBanner}}
    <a name="faqs"></a>
    <section class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="mb16">FAQ</h4>
                    <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <ul class="accordion accordion-2 one-open">
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Who should do this course?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    School kids from classes VII-IX looking to start computer programming.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Will this course help if my child wants a career in technology?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    Yes, it certainly will help as computer programming is the most basic skill
                                    required.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Will my child be able to build his own Android application after this course ?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    Yes, each student will be able to build a basic functional application after the course.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Will my child be able to learn languages like C, Java after this course?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    This course will make it easier for the child to apply logic to computer
                                    programming, and that will go a long way in helping him/her learn new languages.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    Will this course be helpful if my child wants to pursue computer engineering later?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    Yes, with a stronghold on basics as well as good amount of effort, the child will be
                                    able to do well as a computer engineer.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">
                                    What is App Inventor?
                                </h4>
                            </div>
                            <div class="content">
                                <p>
                                    MIT App Inventor is an intuitive, visual programming environment that allows everyone, even children to build fully functional apps for smartphones and tablets. App Inventor is a visual, blocks language for building Android Apps.
                                </p>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>

        </div>

    </section>
    <section class="bg-white">
        <div class="container">
            <div class="row v-align-children">
                <div class="col-sm-5">
                    <h3>Join Coding Blocks and
                        <br> get ahead of the curve. Dates and schedule coming soon.</h3>
                    <p class="lead mb40">
                    </p>
                    <div class="overflow-hidden mb32 mb-xs-24">
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="ti-package icon icon-sm pull-left"></i>
                            </div>
                            <div class="col-sm-11">
                                <h6 class="uppercase mb0 inline-block p32">Enroll with Code4Kids and get special offer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-hidden mb32 mb-xs-24">
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="ti-medall-alt icon icon-sm pull-left"></i>
                            </div>
                            <div class="col-sm-11">
                                <h6 class="uppercase mb0 inline-block p32">Exciting Prizes and Goodies for all kids</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- Footer -->
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
