<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        #mgheader {
            background: url("/assets/images/cb/cover/cover_kids.jpg");
            background-size: cover;
            background-position: 0px -200px;

        }
    </style>
</head>
<body class="scroll-assist" style="margin-top: -70px;">
{{> navbar}}
<div class="main-container">
    <section class="page-title page-title-1 bg-dark" id="mgheader">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="mb0 bold uppercase">MATHSGEEKS</h2>
                </div>
            </div>

        </div>

        <ol class="breadcrumb breadcrumb-2">
            <li>
                <a href="/" target="_self">Home</a>
            </li>
            <li>
                <a href="#">Elements</a>
            </li>
            <li>
                <a href="#">Page Titles</a>
            </li>
        </ol>
    </section>

    <!-- SECTION : Course Overview -->
    <a id="course-overview" class="in-page-link"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="uppercase color-primary mb40 mb-xs-24">Overview</h3>
                    <p class="lead">
                        The MathsGeeks course is designed with the goal to improve conceptual
                        understanding, and increase analytical thinking and logical problem
                        solving skills. In addition to covering the requirement at school level,
                        it also covers advanced level questions, puzzles, MCQs and HOTS questions.
                        This course has been specially designed for students of classes VI to VIII
                        so as to create a strong base in Mathematics which will go on to help them
                        at many stages in life.
                        <br><br>
                        <a class="btn btn-lg btn-filled" href="/signup">
                            Register Now</a>
                    </p>
                </div>
            </div>

        </div>

    </section>

    <!-- SECTION : Course Highlights -->
    <a id="course-highlights" class="in-page-link" data-scroll-id="course-features"></a>
    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h3 class="uppercase mb40 mb-xs-24">Course Highlights</h3>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-1-4 inline-block mb16 fa fa-code"></i>
                        <h4>Concept Clarity</h4>
                        <p>
                            Our course is structured in a way that all topics and
                            concepts are taught such that the students understand
                            everything with clarity and no doubts exist. Doubts, if
                            any, are clarified on various levels.
                        </p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-1-4 inline-block mb16 et-line-puzzle"></i>
                        <h4>Comprehensive Material</h4>
                        <p>
                            Our integrated study material properly covers every aspect of each topic,
                            and explains it to the extent of being self sufficient.
                            We believe that our students should rely solely on the study material provided,
                            as no other reference book or guide will be needed.
                        </p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-1-4 inline-block mb16 et-line-layers"></i>
                        <h4>Puzzles, MCQs, HOTS</h4>
                        <p>
                            In addition to sticking to the academic syllabus,
                            the course also enriches the learning of a student
                            through a variety of puzzles, MCQs and HOTS questions.
                            This imbibes an interest of the subject in the student,
                            and enhances his analytical and problem solving skills.
                        </p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-1-4 inline-block mb16 et-line-linegraph"></i>
                        <h4>Competitive Edge</h4>
                        <p>
                            The course prepares a solid base for the student in the subject,
                            and makes it easier for him to do well in entrance exams
                            (Like JEE, SAT, CAT, GRE etc.) later. The course also helps the
                            students do well in Olympiads and other competitive exams held at various levels. </p>
                    </div>
                </div>

            </div>

        </div>

    </section>
    {{> freeAccessBanner}}

    <!-- SECTION: Course Contents Level 1-->
    <a id="course-contents-level1" class="in-page-link"></a>
    <section class="bg-secondary">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="thin">MORE DETAILS COMING SOON ! </h1>
                </div>
            </div>
        </div>

    </section>
   
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
