<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> overview}}
    {{> coursehighlights}}

    <a id="contents" class="in-page-link"></a>
    <section>
        <div class="container">
          <h2 class="uppercase mb16 text-center color-primary">Course Contents</h2>
          <div class="course-card-container">
            <div class="content-row">
              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h3 class="topic">Basics of Python</h3>
                <hr>
                <ul class="points-list">
                  <li>A Brief Overview of Python</li>
                  <li>Setting up Python</li>
                  <li>Interactive Python</li>
                  <li>Built-In Data Types</li>
                  <li>Control Flow</li>
                </ul>
              </div>
              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h3 class="topic">Data Structures &amp; Functions</h3>
                <hr>
                <ul class="points-list">
                  <li>Defining &amp; Using Functions</li>
                  <li>Some Common and Useful Functions</li>
                  <li>Argument Unpacking, Annotations</li>
                  <li>Lists, and Tuples</li>
                </ul>
              </div>

              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h3 class="topic">Desktop Application</h3>
                <hr>
                <ul class="points-list">
                  <li>PyQt for for multi window desktop app</li>
                  <li>Database ORM (peewee)</li>
                  <li>HTTP REST Client</li>
                </ul>
              </div>

            </div>
            <div class="content-row">

              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h3 class="topic">Writing Interactive Programs</h3>
                <hr>
                <ul class="points-list">
                  <li>Handling Input &amp; Output</li>
                  <li>Error &amp; Exception Handling</li>
                  <li>Organizing Code with Modules</li>
                </ul>
              </div>

              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h3 class="topic">Object Oriented Programming</h3>
                <hr>
                <ul class="points-list">
                  <li>Object Oriented Programming Concepts</li>
                  <li>Using Classes &amp; Objects</li>
                  <li>Commonly Used built-in Classes</li>
                  <li>Inheritance</li>
                </ul>
              </div>

              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h3 class="topic">Standard Template Library</h3>
                <hr>
                <ul class="points-list">
                  <li>Number Crunching</li>
                  <li>File Manipulation</li>
                  <li>Data Compression &amp; Archiving</li>
                  <li>Basic Network Programming</li>
                  <li>Data Encryption</li>
                </ul>
              </div>

            </div>
            <div class="content-row">
              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h3 class="topic">PIP Packaging and setuptools</h3>
                <hr>
                <ul class="points-list">
                  <li>Creating builds</li>
                  <li>Creating libs</li>
                  <li>Uploading into pypi</li>
                  <li>Manage dependencies with sepuptools</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>



    {{> team team=mentors}}
	  {{> courseenroll}}
	  {{> courseschedule}}
	  <section id="register">
      <div class="text-center">
        <h3>REGISTER NOW</h3></div>
        <div class="container">
          <div class="course-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="wide-tab active" id="tab-pitampura"><a href="#pitampura" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true">Pitampura</a></li>
              <li role="presentation" class="wide-tab" id="tab-noida"><a href="#noida" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true">Noida (Early bird discount)</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="pitampura">
                <div class="container widget-container" data-widget-id="198"><iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=198"></iframe></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="noida">
                <div class="container widget-container" data-widget-id="197"><iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=197"></iframe></div>
              </div>
            </div>
          </div>
      </div>
    </section>
    {{> coursefaq}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
