<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
</head>

<body class="scroll-assist" style="margin-top: -70px;">
  {{> navbar}}
  <div class="main-container" style="margin-top: 5rem;">
    <div class="container mb-5" style="margin-bottom: 5rem;">
      <h3 id="not-found" class="display-none text-align-center red">Event Not Found</h3>
      <h3 id="registrations-closed" class="display-none text-align-center">Registrations for this event has been closed</h3>
      <div class="event-registration display-none">
        <div class="d-flex justify-content-center">
          <img class="my-4 event-banner" src="" alt="event-banner">
        </div>
        <h3 class="title"></h3>
        <p class="about bold"></p>
        <p class="description"></p>
        <p class="certificate-note bold display-none">Note: Certificate will be provided for this event</p>

        <form id="event-registration-form" action="" method="POST">
          <input class="underline-input font-sm w-100 pb-2 mb-5" type="text" name="firstname" placeholder="First Name *" required>
          <input class="underline-input font-sm w-100 pb-2 mb-5" type="text" name="lastname" placeholder="Last Name">
          <input class="underline-input font-sm w-100 pb-2 mb-5" type="email" name="email" placeholder="Email *" required>
          {{!-- <input class="underline-input font-sm w-100 pb-2 mb-5" type="text" name="college" placeholder="College *" required> --}}
          <select class="mb-5" name="collegeId" id="" required>
            <option selected disabled>College *</option>
            <option value="1">---OTHER / NOT LISTED / NO COLLEGE --- </option>
            <option value="2">Amity School Of Engineering & Technology (Noida) </option>
            <option value="3">Army Institute Of Technology (Pune) </option>
            <option value="4">Asia Pacific Institute of Information Technology (APIIT SD) (Panipat) </option>
            <option value="5">B.I.T. Sindri (Dhanbad) </option>
            <option value="6">BMS College Of Engineering (Bangalore) </option>
            <option value="7">BMS Institute Of Technology & Management (Bangalore) </option>
            <option value="8">BRACT'S Vishwakarma Institute of Information Technology (Pune) </option>
            <option value="9">Bannari Amman Institute Of Technology (Erode) </option>
            <option value="10">Bharati Vidyapeeth University College Of Engineering (Pune) </option>
            <option value="11">Birla Institute Of Technology & Science (Pilani) </option>
            <option value="12">Birla Institute Of Technology (Ranchi) </option>
            <option value="13">CVR College Of Engineering (Hyderabad) </option>
            <option value="14">Chaitanya Bharathi Institute Of Technology (Hyderabad) </option>
            <option value="15">College Of Engineering, Guindy (Chennai) </option>
            <option value="16">College Of Engineering, Pune (Pune) </option>
            <option value="17">Cummins College of Engineering for Women (Pune) </option>
            <option value="18">Delhi Technological University (New-Delhi) </option>
            <option value="19">Dwarkadas J. Sanghvi College Of Engineering (Mumbai) </option>
            <option value="20">Faculty Of Engineering, DIT University (Dehradun) </option>
            <option value="21">Galgotias College Of Engineering And Technology (Noida) </option>
            <option value="22">Ganeshi Lal Bajaj Institute Of Technology & Management (Noida) </option>
            <option value="23">Government College Of Engineering (Amravati) </option>
            <option value="24">Government College Of Engineering (Karad) </option>
            <option value="25">Govt. Model Engineering College (Cochin) </option>
            <option value="26">Guru Nanak Dev Engineering College (Ludhiana) </option>
            <option value="27">IES College Of Technology (Bhopal) </option>
            <option value="28">IIIT, Allahabad (Allahabad) </option>
            <option value="29">IIIT, Hyderabad (Hyderabad) </option>
            <option value="30">IIT, Bombay (Mumbai) </option>
            <option value="31">IIT, Delhi (Delhi) </option>
            <option value="32">IIT, Kanpur (Kanpur) </option>
            <option value="33">IIT, Kharagpur (Kharagpur) </option>
            <option value="34">IMS Engineering College (Ghaziabad) </option>
            <option value="35">Indian Institute Of Technology (Indian School Of Mines), Dhanbad (Dhanbad) </option>
            <option value="36">Indraprastha Institute Of Information Technology Delhi (New Delhi) </option>
            <option value="37">Institute Of Engineering & Technology, J.K.Lakshmipat University (Jaipur) </option>
            <option value="38">Institute Of Technology (Ahmedabad) </option>
            <option value="39">J.B. Institute Of Technology (Dehradun) </option>
            <option value="40">JIS College Of Engineering (Kalyani, West Bengal) </option>
            <option value="41">JSS Academy Of Technical Education (Bangalore) </option>
            <option value="42">Jaipur Engineering College And Research Center (Jaipur) </option>
            <option value="43">Jawaharlal Nehru National College Of Engineering (Shimoga) </option>
            <option value="44">K L University (Guntur) </option>
            <option value="45">K.S.R. College Of Enginnering (Thiruchengode) </option>
            <option value="46">KIET Group Of Institutions (Ghaziabad) </option>
            <option value="47">KLE Dr M.S Sheshgiri College Of Engineering And Technology (Belgaum) </option>
            <option value="48">KLS Gogte Institute Of Technology (Belagavi) </option>
            <option value="49">Kongu Engineering College (Erode) </option>
            <option value="50">Kuppam Engineering College (Kuppam) </option>
            <option value="51">Lakshmi Narain College Of Technology (Bhopal) </option>
            <option value="52">Lovely Professional University (Phagwara) </option>
            <option value="53">M V J College Of Engineering (Bangalore) </option>
            <option value="54">M.S. Engineering College (Bangalore) </option>
            <option value="55">M.S. Ramaiah Institute Of Technology (Bangalore) </option>
            <option value="56">MIT College Of Engineering (Pune) </option>
            <option value="57">Madhav Institute of Technology & Science (Gwalior) </option>
            <option value="58">Maharashtra Institute Of Technology (Aurangabad) </option>
            <option value="59">Malla Reddy College of Engineering & Technology (Secunderabd) </option>
            <option value="60">Manipal Institue Of Technology (Manipal) </option>
            <option value="61">Mepco Schlenk Engineering College (Sivakasi) </option>
            <option value="62">Muffakham Jah College Of Engineering And Technology (Hyderabad) </option>
            <option value="63">NIT, Karnataka (Mangalore) </option>
            <option value="64">National Institute Of Science & Technology (Berhampur) </option>
            <option value="66">P.E.S. College Of Engineering (Mandya) </option>
            <option value="67">PES University (Bangalore) </option>
            <option value="68">PSG College of Technology (Coimbatore) </option>
            <option value="69">Pimpri Chinchwad College Of Engineering (Pune) </option>
            <option value="70">R.M.D. Engineering College (Thiruvallur) </option>
            <option value="71">R.M.K. Engineering College (Kavaripettai) </option>
            <option value="72">Rajagiri School Of Engineering & Technology (Ernakulam) </option>
            <option value="73">Rajarambapu Institute Of Technology (Sangli) </option>
            <option value="74">Rungta College Of Engineering And Technology (Bhilai) </option>
            <option value="75">S.A. Engineering College (Chennai) </option>
            <option value="76">SCMS School Of Engineering & Technology (Ernakulam) </option>
            <option value="77">SDM College Of Engineering & Technology (Dharwad) </option>
            <option value="78">SRM Engineering College (Chennai) </option>
            <option value="79">SVKM's NMIMS-Mukesh Patel School Of Technology Management & Engineering (Mumbai) </option>
            <option value="80">Sanjivani Rural Education Society's College Of Engineering (Ahmednagar) </option>
            <option value="81">Shri Ramdeobaba College Of Engineering And Management (Nagpur) </option>
            <option value="82">Shri Shankaracharya Technical Campus Bhilai (Bhilai) </option>
            <option value="83">Shri Vishnu Engineering College For Women (Bhimavaram) </option>
            <option value="84">Sikkim Manipal Institute Of Technology (Sikkim) </option>
            <option value="85">Sir M Visvesvaraya Institute Of Technology (Bangalore) </option>
            <option value="86">Sri Sairam College of Engineering (Bangalore) </option>
            <option value="87">Sri Sairam Engineering College (Chennai) </option>
            <option value="88">Sri Sivasubramaniya Nadar College of Engineering (Kalavakkam) </option>
            <option value="89">Symbiosis Institute Of Technology (Pune) </option>
            <option value="90">Thapar University (Patiala) </option>
            <option value="91">The National Institute Of Engineering (Mysore) </option>
            <option value="92">The Northcap University (Gurgaon) </option>
            <option value="93">Thiagarajar College Of Engineering (Madurai) </option>
            <option value="94">University College Of Engineering (Hyderabad) </option>
            <option value="95">University Institute Of Engineering & Technology, Panjab University (Chandigarh) </option>
            <option value="96">University Institute Of Engineering, Chandigarh University (Chandigarh) </option>
            <option value="97">VIT University (Vellore) </option>
            <option value="99">Vishwakarma Institute of Technology (Pune) </option>
            <option value="100">Visvesvaraya National Institute Of Technology (Nagpur) </option>
            <option value="101">Zakir Husain College Of Engineering & Technology, Aligarh (Aligarh) </option>
            <option value="65">Netaji Subhas Institute Of Technology (New Delhi) </option>
            <option value="98">Veltech High Tech Dr. Rangarajan Dr. Sakunthala Engineering College (Chennai) </option>
            <option value="102">Guru Nanak Dev University, Amritsar (Punjab) </option>
            <option value="103">Bharati Vidyapeeth College of Engineering, New Delhi (Delhi) </option>
            <option value="104">Bharati Vidyapeeth Institute of Computer Applications and Management (BVICAM), New Delhi (Delhi)
            </option>
            <option value="105">LNM Institute of Information Technology, (LNMIIT), Rajasthan </option>
            <option value="106">ABES Engineering College, New Delhi </option>
            <option value="107">ABES IT, New Delhi </option>
            <option value="108">ABV-IIITM, Gwalior </option>
            <option value="109">Accurate Institute of Management and Technology, Uttar Pradesh </option>
            <option value="110">ACEIT, Jaipur </option>
            <option value="111">Ambedkar Institute of Advanced Communication Technologies and Research, New Delhi </option>
            <option value="112">Ansal University, Gurugram </option>
            <option value="113">Atma Ram Sanatan Dharma College, Delhi </option>
            <option value="114">Banasthali Vidyapeeth, Rajasthan </option>
            <option value="115">Bhagwan Parshuram Institute of Technology, Delhi </option>
            <option value="116">Birla Institute of Technology and Science, Pilani (Goa Campus) </option>
            <option value="117">Birla Institute of Technology and Science, Pilani (Hyderabad Campus) </option>
            <option value="118">Birla Institute of Technology and Science, Pilani (Dubai Campus) </option>
            <option value="119">B. M. Institute Of Engineering & Technology, Delhi </option>
            <option value="120">C-DAC NOIDA (GGSIPU) </option>
            <option value="121">CBS Group of Institution, Delhi </option>
            <option value="122">Chandigarh University </option>
            <option value="123">Cluster Innovation Centre </option>
            <option value="124">Deenbandhu Chhotu Ram University of Science and Technology </option>
            <option value="125">DIT University </option>
            <option value="126">Dr. Akhilesh Das Gupta Institute of Technology & Management </option>
            <option value="127">Delhi University </option>
            <option value="128">Gautam Budh University, Noida </option>
            <option value="129">GB Pant Engineering College, Delhi </option>
            <option value="130">Guru Nanak Dev Institute of Technology, Rohini </option>
            <option value="131">Guru Teg Bahadur Institute of Technology (GTBIT), New Delhi </option>
            <option value="132">HBTU, Lucknow </option>
            <option value="133">HMRIT, New Delhi </option>
            <option value="134">Indira Gandhi Delhi Technical University for Women(IGDTUW), New Delhi </option>
            <option value="135">IGNOU - The Peoples University, New Delhi </option>
            <option value="136">IIIT, Bhubaneshwar </option>
            <option value="137">IIMT, Uttar Pradesh </option>
            <option value="138">IIIT, Kota </option>
            <option value="139">IIT, Roorkee </option>
            <option value="140">IIT, Patna </option>
            <option value="141">Inderprastha Engineering College, Ghaziabad </option>
            <option value="142">Jagan Institute of Management Studies, Rohini </option>
            <option value="143">Jamia Hamdard University </option>
            <option value="144">Jamia Milia Islamia </option>
            <option value="145">Jaypee Institute Of Information Technology, Noida </option>
            <option value="146">JSS Academy of Technical Education (Noida) </option>
            <option value="147">K R Mangalam University, Greater Noida </option>
            <option value="148">Kasturba Institute Of Technology, Pitampura, New Delhi </option>
            <option value="149">KIIT College of Engineering </option>
            <option value="150">Maharaja Agrasen College of Engineering </option>
            <option value="151">Maharaja Agresen Institute Of Technology </option>
            <option value="152">Maharaja Surajmal Institute of Technology </option>
            <option value="153">Manav Rachna College of Engineering </option>
            <option value="154">Mata Sundri College for Women </option>
            <option value="155">MERI, New Delhi </option>
            <option value="156">National Institute of Technology, Kurukshetra </option>
            <option value="157">Vivekananda Institute of Professional Studies </option>
            <option value="158">National Institute of Technology, Uttarakhand </option>
            <option value="159">National Institute of Technology, Delhi </option>
            <option value="160">Shiv Nadar University </option>
            <option value="161">PEC, Chandigarh </option>
            <option value="162">Panipat Institute of Engineering & Technology </option>
            <option value="163">Raj Kumar Goel Institute of Technology(RKGIT), Ghaziabad </option>
            <option value="164">Shaheed Rajguru College of Applied Sciences for Women, Uttar Pradesh </option>
            <option value="165">United College of Engineering and Management, Allahabad </option>
            <option value="166">University of Hyderabad, Hyderabad </option>
            <option value="167">UPES, Dehradun </option>
            <option value="168">University School of Information, Communication and Technology (USICT) </option>
            <option value="169">YMCA University of Science and Technology, Haryana </option>
            <option value="170">Motilal Nehru National Institute of Technology, Allahabad </option>
            <option value="171">National Institute Of Technology Durgapur </option>
            <option value="172">Medicaps Institue of Technology and Management(Medicaps University), Indore</option>
            <option value="173">Avantika University, Ujjain</option>
            <option value="174">IIT, Indore (Indore)</option>
          </select>
          <input type="text" name="phoneNumber" class="underline-input font-sm w-100 pb-2 mb-5" pattern="[0-9]{10}" placeholder="10 digit Contact Number *" required>

          
          <button type="submit">Register</button>
          
        </form>
        <div id="registration-error" class="red display-none">
          An error occured while registering you. Please try again later.
        </div>

        <h3 class="green display-none" id="event-registration-form-success">
          Your Registration has been received successfully
        </h3>
      </div>
    </div>
    {{> footer}}
  </div>
  {{> scripts}}
  {{> eventsScript}}
</body>

</html>