<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}

</head>
<body>
{{> navbar}}
<iframe class="col-sm-8 col-sm-offset-2" src="./2017-july-email.html" style="height: 100vh; margin-top: 64px;"></iframe>
{{> scripts}}
</body>
</html>
