<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <!--Reviews-->
    <script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "Coding Blocks",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue" : "4.8",
    "ratingCount": "550",
    "reviewCount": "550"
  }
}









    </script>
    <style>
        .review-flip-card {
            display: none;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
        }

        .review-highimg {
            display: none;
        }

        .team {
            margin-bottom: 20px;
        }



        .hover-light-more {
            -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
            transition: all 300ms linear
        }

        .hover-light-more:hover {
            -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
            transition: all 300ms linear
        }

        .highlight {
            background: url("//v.fastcdn.co/u/e4110b44/16489001-0-programming-wallpape.jpg") fixed;
            background-repeat: no-repeat;
            background-position: top left;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }

        .highlightOverlay {
            background-color: #2b2c33;
            opacity: 0.80722891566265;
        }

        .scale-anm {
            transform: scale(1);
        }

        .btn-shallow {
            background: #fff;
        }

        .eventlogo {
            height: 170px !important;
        }

        .event-list {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        .event-list > li {
            display: none;
            background-color: #f8f8f8;
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
            padding: 10px !important;
            height: auto !important;
            margin: 0px 0px 20px;
            transition: 300ms;
        }

        .event-list > li:nth-child(even) {
            background-color: #ffffff;
        }

        .event-list > li:hover {
            box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
            transition: 300ms;
        }

        .event-list > li > img {
            width: 100%;
        }

        .event-list > li > .info > ul,
        .event-list > li > .info > ul > li,
        .event-list > li > .info > ul > li > a {
            display: block;
            width: 100%;
            color: rgb(30, 30, 30);
            text-decoration: none;
        }

        .event-list > li > .info > ul > li:hover {
            color: rgb(30, 30, 30);
            background-color: rgb(200, 200, 200);
        }

        .moreimgholder {
            width: 22%;
            display: inline-block;
            background: none !important;
            float: left;
        }

        .moreimgholder img {
            filter: none !important;
            opacity: 1 !important;
            height: auto;
        }



        .event-list > li > .reviewBox > .desc {
            font-size: 13pt;
            font-weight: 400;
            float: left !important;
        }

        .event-list > li > .reviewBox > .title {
            font-size: 14pt;
            font-weight: 600;
            float: left !important;
            margin-bottom: 5px;
        }

        q::before, q::after {
            font-size: 30px;
            font-weight: 600;
        }

        .flip-card .col-sm-8 {
            padding-top: 10px;
        }


    </style>
</head>
<body class="scroll-assist" style="margin-top: -70px;">
{{> navbar}}
<div class="main-container">
    <!-- SECTION: Highlish Review -->
    <section style="margin-bottom: 0px; background: #f8f8f8;">
        <div class="row ">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h3 class="mb64 uppercase">Students&nbsp;&nbsp;<i class="ti-heart"></i>&nbsp;&nbsp;Coding&nbsp; Blocks
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center" id="filter">
                <br><br>
                <button class="btn fil-cat btn-sm btn-shallow" href="" data-rel="launchpad">Launchpad</button>
                <button class="btn fil-cat btn-sm btn-shallow" href="" data-rel="algo">Algo++</button>
                <button class="btn fil-cat btn-sm btn-shallow" href="" data-rel="crux">Crux</button>
                <button class="btn fil-cat btn-sm btn-shallow" href="" data-rel="elixir">Elixir</button>
                <button class="btn fil-cat btn-sm btn-shallow" href="" data-rel="pandora">Pandora</button>
                <button class="btn fil-cat btn-sm btn-shallow" href="" data-rel="perceptron">Perceptron</button>
                <button class="btn fil-cat btn-sm btn-shallow" href="" data-rel="competitive">Competitive Programming
                </button>
                <br><br>
            </div>
        </div>
        <div class="highlight highlightOverlay" style="margin-bottom: 0px;">
            <div class="container">
                <div class="team row text-center" id="row1" style="margin-top:30px;margin-bottom:30px;">
                    {{#each highlightReviews}}
                        {{#each @root.reviews.reviewsList}}
                            {{#ifEquals ../this this.name}}
                                {{> review-card}}
                            {{/ifEquals}}
                        {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-card-inverse" style="padding-top: 20px;">
        <div class="container text-center">
            <h2>Here's our student's reviews about <br>our courses and faculty members.</h2>
            <br><br>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                    <h4>Perceptron: Machine Learning</h4>
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcodingblocksindia%2Fvideos%2F1887512758133725%2F&show_text=0&width=560"
                            width="100%" height="250" style="border:none;overflow:hidden" scrolling="no"
                            frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                    <h4>Game Development Bootcamp</h4>
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcodingblocksindia%2Fvideos%2F1871388816412786%2F&show_text=0&width=560"
                            width="100%" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                    <h4>Programming Bootcamp</h4>
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcodingblocksindia%2Fvideos%2F1811770795707922%2F&show_text=0&width=560"
                            width="100%" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                    <h4>GSOC Bootcamp</h4>
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcodingblocksindia%2Fvideos%2F1810035469214788%2F&show_text=0&width=560"
                            width="100%" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                    <h4>Programming Bootcamp</h4>
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcodingblocksindia%2Fvideos%2F1811771782374490%2F&show_text=0&width=560"
                            width="100%" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                    <h4>GSOC Bootcamp</h4>
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcodingblocksindia%2Fvideos%2F1811366842414984%2F&show_text=0&width=560"
                            width="100%" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
            </div>
    </section>
    <!-- SECTION: More Reviews -->
    <a id="reviews" class="in-page-link"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                    <h4 class="uppercase text-center">More Reviews&nbsp;</h4>
                    <h3 class="uppercase mb80 text-center">Launchpad Fundamental Course in C++</h3>
                    <ul class="event-list" id="launchpad-list">

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic2.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Divyam Shah<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Launchpad Fundamental Course in C++</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Coding Blocks is a very good institute imparting
                                    programming knowledge. I took a course in C++ (Launchpad :).The course curriculum
                                    was very interesting and challenging at the same time . The place is awesome for
                                    anyone who wishes to learn programming . The content was crisp and of high quality.
                                    Starting from the basics, we reached upto semi advanced level. The teaching was
                                    awesome.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic5.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Lakshay Singla<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Launchpad Fundamental Course in C++</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Coding Blocks is best institute for learning
                                    coding. I've learnt coding as well as built confidence. Prateek sir teaches really
                                    very well. There's not even a single doubt left in my mind after being taught by
                                    him. Even after completing the course I can come here anytime to clear my doubts and
                                    still enjoy that friendly environment. Rajesh sir, Priyanshu sir, Arnav sir all are
                                    really very co-operative.I can share my every problem freely.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic4.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Sumit Nagpal<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Launchpad Fundamental Course in C++</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">I joined the Launchpad Fast track batch in
                                    Dec, 2016 with Prateek Sir. All the concepts were taught nicely, with proper
                                    assignments and practice. The experience was great and would definitely suggest to
                                    all the aspiring beginners out there. Both Prateek Sir and Suransh were great and
                                    helped a lot with the doubts. The speed was fast, but then again it's "Fast" track
                                    course :p
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic9.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Arunaditya Deshmukh<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Launchpad Fundamental Course in C++</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Coding blocks is the best place to learn Coding.
                                    Gained a lot of experience in practicals aspects of coding. Prateek sir is the best
                                    teacher, explained every topic very nicely. Even though Class mentors also helped us
                                    immensely with lot of patience.Recorded videos were best for understanding when we
                                    missed any topic. The management make sure that students get interest in coding. Its
                                    a wonder full experience with coding blocks.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic8.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Jasleen Saroa<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Launchpad Fundamental Course in C++</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Earlier ,i used to fear coding. Alot of my friends
                                    told me about Coding blocks and so i joined it. I was so underconfident then , i
                                    felt it difficult to write even algorithms on the first day . But the teaching
                                    faculty in really good. Sumeet sir made sure each student completed the question and
                                    helped me building my confidence. It’s really good.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic10.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Pradhyum Yadav<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Launchpad Fundamental Course in C++</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Coding Blocks have a nice atmosphere and faculty,
                                    Teachers are friendly and skilled, I started their Launchpad Course around a month
                                    and was overwhelmed with the quality of teaching. I recommend going for Coding
                                    Blocks and learn the way to code.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic11.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Varun Sharma<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Launchpad Fundamental Course in C++</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Earlier CODING seem to be a difficult task, but
                                    after I joined CODING BLOCKS I've started getting quiet a hang of it. The approach
                                    here is absolutely practical and illustrative as well. I've done the LAUNCHPAD
                                    course here and my instuctor Prateek Narang (Prateek Bhaiya) has helped me
                                    understand the concepts. THUMBS UP for CODING BLOCKS and PRATEEK bhaiya.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic12.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Manan Manwani<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Launchpad Fundamental Course in C++</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Coding Blocks is an amazing place to learn
                                    coding.Being an absolute beginner, Coding Blocks helped me clear my fundamentals of
                                    C++ and because of the hands of coding concept of CDB, I was able to improve my code
                                    writing skills. Prateek Narang sir is an amazing, fun loving teacher and made the
                                    class very enjoyable.The teaching assistants were very helpful and helped me learn
                                    from my mistakes. It was an amazing journey with Coding Blocks and I was fully
                                    satisfied with my course!!
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic14.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Pranav Mani Tripathi,<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Launchpad Fundamental Course in C++</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Its been an amazing experience. Moreover Prateek
                                    bhaiya was amazing both in his theory as well as practical part. Brain teasers at
                                    the start of course were good .all were very supportive and left no stones unturned
                                    in providing us the best of everything
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>


                        <center>
                            <button class="btn btn-lg btn-filled loadMore">Load More</button>
                            <button class="btn btn-lg btn-filled showLess" style="display: none">Show Less</button>
                        </center>
                    </ul>
                    <br><br>
                    <h4 class="uppercase text-center">More Reviews&nbsp;</h4>
                    <h3 class="uppercase mb80 text-center">Crux Fundamental Course in JAVA</h3>
                    <ul class="event-list" id="crux-list">

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic1.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Ujjwal Jindal<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Crux Fundamental Course in JAVA</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Coding Blocks Crux course was an exciting
                                    experience. It lasted for around 3 months and every class was worth the time and
                                    money spent. It was a great learning experience with vast variety of questions
                                    covered in the course duration. There were a variety of assignments too. Keeping
                                    everything in mind, hands down coding blocks is one the best place to learn.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic6.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Yamini Gaur<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Crux Fundamental Course in JAVA</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Coding Blocks was an amazing experience for me. I
                                    belong to the electronics department and had a little experience in coding but I
                                    think it has helped me think things through in a much more analytical manner.
                                    Coding is important no matter which branch you are in. It gives you a better
                                    understanding about how to approach a problem.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic7.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Aastha Nasa<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Crux Fundamental Course in JAVA</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">It is the best place to learn coding if you’re a
                                    begginer.I joined Crux (Java) in Aug ‘16. Our teacher Sumeet sir paid attention to
                                    each and every student in the class to make sure everyone is clear with all the
                                    concepts. He was available for each and every student’s doubts. The course was
                                    brilliantly designed so as to cover every topic with all relevant questions. A must
                                    join for every student who’s a coding enthusiast for even a begginer and wants to
                                    develop an interest in coding
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic3.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Ishan Ambardar<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Crux Fundamental Course in JAVA</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">In short - Five stars; excellent and interactive
                                    teaching; all problems are discussed and solved in depth, and most of the major
                                    concepts are covered. I’d always been a bit unsure about my coding acumen, but
                                    Coding Blocks brought it out. I’d recommend it to anyone looking to enhance his or
                                    her grasp on coding.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic13.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Nilesh Kumarr<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Crux Fundamental Course in JAVA</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">I am a student of Mechanical department and I had
                                    no interest in coding because I scored very bad in First year. But still, I gave it
                                    a try and fortunately because of very good teaching faculty, I got motivated and now
                                    I am deciding to pursue my career in coding. So, as per my advice, it a perfect
                                    place you can learn coding. Go for it, give it a try. You will learn a lot and you
                                    will become self confident in coding.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/janedoe.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Aniruddha Chauhan<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Crux Fundamental Course in JAVA</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Best place to learn coding. Before joining coding
                                    blocks I did not know a single word of Java or any data structures. Now I am pretty
                                    confident with this stuff and able to solve questions on sites like codechef,
                                    hackerrank etc. Sumeet sir made every concept so easy to understand. He literally
                                    developed my internet in coding. (It's not that I had not tried online courses or
                                    videos. But these things don't prove to be useful for most of us).
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/johndoe.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Vivek Sharma<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Crux Fundamental Course in JAVA</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">I was very poor in programming when I joined
                                    coding blocks, Pitampura. And now, when even my 5 classes are remaining I am able
                                    to code and solve problems on my own. I can solve questions from online contest
                                    also from my own and most of credit for this is going to SUMEET MALIK sir who is one
                                    of the best teacher I have ever met.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>


                        <center>
                            <button class="btn btn-lg btn-filled loadMore">Load More</button>
                            <button class="btn btn-lg btn-filled showLess" style="display: none">Show Less</button>
                        </center>
                    </ul>

                    <br><br>
                    <h4 class="uppercase text-center">More Reviews&nbsp;</h4>
                    <h3 class="uppercase mb80 text-center">Pandora Android Development Course</h3>
                    <ul class="event-list" id="pandora-list">

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic15.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Purujit Bansal<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Pandora Android Development Course</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">I was a part of Pandora 2017 Spring Weekend Batch
                                    by Arnav Sir. The course was great it started from very basics and went to a close
                                    to professional level. (Basic Android Components + FireBase) There was a Guest
                                    lecture from Harshit Dwivedi on RetroFit and Picasso. Other Major Topics covered
                                    were GET, POST Requests, Gson, Volley.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic17.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Abhinav Duggal<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Pandora Android Development Course</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">I did the course on Android Development with Arnav
                                    Gupta and it was a wonderful experience. Initially the teaching felt a little too
                                    fast, but as I tried to keep pace, I started to understand each and every thing.
                                    Arnav sir cleared each and every doubt, and the class environment was also good. I
                                    look forward to make really good apps, by the knowledge I inherited from Arnav sir.
                                    On the whole it has been a really good journey. I look forward to enroll in more
                                    courses at Coding Blocks in the future.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic16.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Nitin Singhal<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Pandora Android Development Course</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">I did the course on Android from Coding Blocks
                                    under the guidance of Arnav sir. The course content was really good. The projects are
                                    given after every class which made my level of confidence high coding for android
                                    application. The doubts are always cleared by arnav sir in the classroom itself. Arnav
                                    also helped me in in getting deep in predefined codebase of android and understand
                                    it .At last the course is good and especially the instructor Arnav sir.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <center>
                            <button class="btn btn-lg btn-filled loadMore">Load More</button>
                            <button class="btn btn-lg btn-filled showLess" style="display: none">Show Less</button>
                        </center>
                    </ul>

                    <br><br>
                    <h4 class="uppercase text-center">More Reviews&nbsp;</h4>
                    <h3 class="uppercase mb80 text-center">Competitive Programming Bootcamp</h3>
                    <ul class="event-list" id="competitive-list">

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic18.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Aditi Saluja<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Competitive Programming Bootcamp</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">It was a great learning experience at coding
                                    blocks! I attended the Competitive Coding Boot camp. Competitive Coding can be very
                                    mind boggling and frustrating. But coding blocks made it fun and interesting!
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic19.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Samarth Sehgal<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Competitive Programming Bootcamp</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">The competitive programming bootcamp helped me
                                    sharpen my skills and know new topics which are frequently asked in contests. This
                                    bootcamp has motivated me to study more and be confident while appearing for
                                    different coding contests!
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <li itemscope itemtype="http://schema.org/Review" class="hover-light-more">
                            <div class="img-holder moreimgholder text-center">
                                <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                                    <img itemprop="image" alt="coding-blocks-reviews"
                                         src="../assets/images/reviews/mpic20.jpg">
                                    <h5 itemprop="name" class="uppercase mb0 bold">Aditya Bansal<br></h5>
                                </span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                                <span class="Review-star Review-star--active">&#9733;</span>
                            </div>
                            <div class="reviewBox">
                                <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                                    <span itemprop="name" class="title">Competitive Programming Bootcamp</span>
                                </span><br>
                                <span class="title">Review:</span>
                                <p itemprop="reviewBody" class="desc">Most of the concepts regarding competitive coding
                                    are discussed. all problems are explained with possible test cases. many codechef
                                    and spoj problems are discussed along with assigments. the best part of the course
                                    is discussion on dp and greedy.
                                </p>
                                <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span itemprop="ratingValue" style="display: none;">5</span>
                                </span>
                            </div>
                        </li>

                        <center>
                            <button class="btn btn-lg btn-filled loadMore">Load More</button>
                            <button class="btn btn-lg btn-filled showLess" style="display: none">Show Less</button>
                        </center>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {{> map}}
    {{> footer}}
</div>
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
{{> scripts}}
<script>
    $(document).ready(function () {
        x = 2;
        $('#launchpad-list li:lt(' + x + ')').css('display', 'inline-block');
        $('#crux-list li:lt(' + x + ')').css('display', 'inline-block');
        $('#pandora-list li:lt(' + x + ')').css('display', 'inline-block');
        $('#competitive-list li:lt(' + x + ')').css('display', 'inline-block');
        $('.loadMore').click(function () {
            let parent = '#' + $(this).closest("ul").prop("id");
            let size_li = $(parent + ' li').size();
            let x = $(parent + ' li:visible').size();
            x = (x + 3 <= size_li) ? x + 3 : size_li;
            $(parent + ' li:lt(' + x + ')').css('display', 'inline-block');
            $(parent + ' .showLess').css('display', 'inline-block');
            if (x === size_li)
                $(this).css('display', 'none');
        });
        $('.showLess').click(function () {
            let parent = '#' + $(this).closest("ul").prop("id");
            let size_li = $(parent + ' li').size();
            let x = $(parent + ' li:visible').size();
            if (x === size_li)
                $(parent + ' .loadMore').css('display', 'inline-block');
            x = (x - 3 < 2) ? 2 : x - 3;
            if (x === 2)
                $(this).css('display', 'none');
            $(parent + ' li').not(':lt(' + x + ')').css('display', 'none');
        });
    });
    $(function () {
        var selectedClass = "";
        $(".launchpad").fadeIn().addClass('scale-anm');
        $(".fil-cat").click(function () {
            $("#filter button").not(".btn-shallow").removeClass('btn-filled');
            $("#filter button").not(".btn-shallow").toggleClass('btn-shallow');
            $(this).toggleClass('btn-filled');
            $(this).removeClass('btn-shallow');
            selectedClass = $(this).attr("data-rel");
            console.log(selectedClass);
            $("#row1").fadeTo(100, 0.1);
            $("#row1 div").not("." + selectedClass).fadeOut().removeClass('scale-anm');
            setTimeout(function () {
                $("." + selectedClass).fadeIn().addClass('scale-anm');
                $("#row1").fadeTo(300, 1);
            }, 300);
        });
    });
</script>
</body>
</html>
