<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist" style="margin-top: -70px;">
		{{> navbar}}
		<div class="main-container">
			{{> header}}
			{{> overview}}
			{{> coursehighlights}}
			{{> coursecontents}}
      {{> courseenroll}}
			{{!-- {{> courseschedule}} --}}
			{{!-- <section>
				<a id="register"></a>
				<div class="text-center">
				<h3>REGISTER NOW</h3>
				</div>
				<div class="container">
				<div class="course-tabs">
				<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="wide-tab active" id="tab-pitampura"><a href="#pitampura"
					aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Pitampura</a></li>
				</ul>
				<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="pitampura">
					<div class="container widget-container" data-widget-id="{{frame-id-pitampura}}">
					<iframe class="payment-widget" {{#if frame-id-pitampura}}id="{{frame-id-pitampura}}"{{/if}} frameborder="0"
					src="{{{registerLinkPitampura}}}"></iframe>
					</div>
				</div>
				</div>
				</div>
				</div>
			</section> --}}
      <section>
    <div id="register" class="col-xs-12 text-center bg-secondary" style="height: 100%;">
                                                       <p class="uppercase" style="margin-top: 100px;margin-bottom: 100px;">Coming Soon!</p>
                                                   </div>

    </section>
                        {{> team team=mentors}}
			{{> review-course-section}}
			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
	</body>
</html>
