<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> overview}}
    {{> coursehighlights}}
    {{> coursefaq}}
    {{> courseenroll}}
    <a id="course-testimonials" class="in-page-link"></a>
    {{> registration}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
