<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    <div class="text-center">
        <mark>Note: This bootcamp will not cover automation. It will focus only on chatbots powered by AI.</mark>
    </div>
    {{> overview}}
    {{> coursehighlights}}

    <section class="tabbed-enroll-section">
		<div class="container">
		    <div class="row v-align-children">
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-1 text-center emphasis">
                        <h5 class="uppercase">Bootcamp</h5>
                        <span class="slashed-price">₹1,500</span><br />
                        <span class="price">₹1,000</span><br />
                        <p class="lead">(2 lectures)</p>
                        <a class="btn btn-white btn-lg" href="#register">Enroll Now</a>
                        <p><a href="/contactus">Contact Us</a><br>Call(Toll-free):1800-2744-504</p>
                    </div>
                </div>
		    </div>
		</div>
	</section>
    
    <!-- SECTION: Testimonials -->
    <a id="course-testimonials" class="in-page-link"></a>
    {{> team team=mentors}}


    {{> courseschedule schedule=scheduleBot}}

    <section>
		<a id="register"></a>
        <div class="text-center">
            <h3>REGISTER NOW</h3>
		</div>
		<div class="container">
					<div class="course-tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="wide-tab active" id="tab-noida"><a href="#noida" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Noida</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="noida">
								<div class="container widget-container" data-widget-id="{{frame-id-noida}}">
									<iframe class="payment-widget" {{#if frame-id-noida}}id="{{frame-id-noida}}"{{/if}} frameborder="0" src="{{{registerLinkNoida}}}"></iframe>
								</div>
							</div>
						</div>
					</div>
		</div>
	</section>


    {{> coursefaq}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
