<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> overview}}
    {{> coursehighlights}}

    <section class="tabbed-enroll-section">
		<div class="container">
		    <div class="row v-align-children">
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-1 text-center emphasis">
                        <h5 class="uppercase">Bootcamp</h5>
                        <span class="price">₹1,000</span><br />
                        <p class="lead">(3 lectures)</p>
                        <a class="btn btn-white btn-lg" href="#register">Enroll Now</a>
                        <p><a href="/contactus">Contact Us</a><br>Call(Toll-free):1800-2744-504</p>
                    </div>
                </div>
		    </div>
		</div>
	</section>

    {{> courseschedule schedule=scheduleGame}}

    <section>
		<a id="register"></a>
        <div class="text-center">
            <h3>REGISTER NOW</h3>
		</div>
		<div class="container">
					<div class="course-tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="wide-tab active" id="tab-noida"><a href="#noida" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Noida</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="noida">
								<div class="container widget-container" data-widget-id="{{frame-id-noida}}">
									<iframe class="payment-widget" {{#if frame-id-noida}}id="{{frame-id-noida}}"{{/if}} frameborder="0" src="{{{registerLinkNoida}}}"></iframe>
								</div>
							</div>
						</div>
					</div>
		</div>
	</section>

    {{> team team=mentors}}
    {{> coursefaq}}
    <!-- SECTION: Testimonials -->
    <a id="course-testimonials" class="in-page-link"></a>


    <section class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3 class="mb64 uppercase">Students &nbsp; &nbsp;<i class="ti-heart"></i>&nbsp; &nbsp;Game
                        Development</h3>
                    <div class="testimonials text-slider slider-arrow-controls">
                        <ul class="slides">
                            <li>
                                <p class="lead">I did the game development bootcamp with Prateek Bhayia. This was a
                                    really cool bootcamp with hands-on practice of JavaScript as we built the 4 games in
                                    the class itself. We got know about the working of Physics Systems in Phaser and
                                    build some great multi-level games. </p>
                                <div class="quote-author">
                                    <img alt="Avatar" src="../assets/images/cb/student/divyam_shah.jpg">
                                    <h6 class="uppercase">Divyam Shah</h6>
                                    <span>Student, DTU</span>
                                </div>
                            </li>
                            <li>
                                <p class="lead">It was really a great experience to be at Game Dev bootcamp at Coding
                                    Blocks. We made 4 awesome games using JavaScript with phaser and HTML canvas. The
                                    things got really easy with the way Prateek bhaiya taught us. He cleared every doubt
                                    we had with ease. I never taught it is this easy to develop games. They also
                                    provided some nice notes for future reference. Overall it was the best Game Dev
                                    Using JavaScript Bootcamp one can attend.
                                </p>
                                <div class="quote-author">
                                    <img alt="Avatar" src="../assets/images/cb/student/avatar3.png">
                                    <h6 class="uppercase">Pawan Bansal</h6>
                                    <a href="http://cb.lk/gameq"><span>Via Quora</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> readmoretestimonials}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
