<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        #gameheader {
            background-image: url("../assets/images/cb/cover/coveri2.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .flex-container {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            -webkit-justify-content: center;

        }

        .flex-item {
            max-width: 600px;

        }
    </style>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <a id="course-header" class="in-page-link"></a>

    <section class="page-title page-title-2 bg-secondary bg-dark" id="gameheader">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="uppercase mb8">Interview Prep Bootcamp</h2>
					<p class="lead mb0">
						Explore the non-coding aspect of tech recruitment procedures
					</p>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2"></ol>
                </div>
            </div>

        </div>


    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="uppercase color-primary mb40 mb-xs-24">Overview</h3>
					<p class="lead">
						Enhance the your programming and interview-giving skills with our fast-paced interview test preparation bootcamp. This course has been tailor made for students who are willing to brush up and master those aspects which do not particularly fall under coding. Topics such as Operating Systems, DBMS and System Design will be covered along with non-tech aspects such as resume building; so you can ace your tech interviews at any and every company. Commonly asked questions and from procedures of companies such as Google, Facebook, Amazon, Microsoft, Directi, Zomato etc will be covered as well.
					</p>
					<p class="lead">
						We are also offering bundle sets for the bootcamp with C++ or Java, meant for students willing to strengthen their DS-Algo concepts in addition to the aforementioned topics. These bundles will be a combo of the non-coding interview preparation topics, as well as one complete course on Advanced DS-Algo. You can either choose <a href="/courses/classroom/algo++.html">Algo++</a> or <a href="/courses/classroom/algo-java.html">Algo.Java</a> as part of the bundle, and avail a direct discount of ₹1000.
					</p>
                </div>
            </div>

        </div>
	</section>

    <a id="course-highlights" class="in-page-link" data-scroll-id="course-features"></a>
    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 et-line-edit"></i>
                        <h4>Operating Systems</h4>
                        <p>
                            In this bootcamp you will learn all important Operating System concepts like Memory
                            Management, Virtual Memory, Deadlocks, Multi-threading, Process Synchronisation and UNIX
                            Commands.</p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 pe-7s-download"></i>
                        <h4>DBMS</h4>
                        <p>
                            A database management system (DBMS) is a computer software application that interacts with
                            the user, other applications, and the database itself to capture and analyze data. In this
                            bootcamp we will look at schema design, SQL Queries, and Normalisation Techniques.</p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 et-line-speedometer"></i>
                        <h4>Networking</h4>
                        <p>
                            Students will also learn about Networking Protocols, Routing algorithms in much more detail
                            .</p>
                    </div>
                </div>
                <div class="text-center col-sm-3">
                    <div class="feature">
                        <i class="icon fade-3-4 inline-block mb16 pe-7s-network"></i>
                        <h4>System Design</h4>
                        <p>
                            A comprehensive analysis of system design problems like URL Shortner, Google Ranking
                            algorithms, Elevator Design, Facebook Ranking system etc will be covered.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="uppercase mb64 text-center color-primary">Course Contents</h2>
					<div class="course-tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active" id="tab-basic">
								<a href="#basic" aria-controls="home" role="tab" data-toggle="tab">Non Coding</a>
							</li>
							<li role="presentation" class="" id="tab-cpp-bundle">
								<a href="#cpp-bundle" aria-controls="profile" role="tab" data-toggle="tab">Complete Interview Prep in C++</a>
							</li>
							<li role="presentation" class="" id="tab-java-bundle">
								<a href="#java-bundle" aria-controls="profile" role="tab" data-toggle="tab">Complete Interview Prep in Java</a>
							</li>
						</ul>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="basic">
								<div>
									<div class="course-card-container">
										<div class="content-row">
											<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
													class="topic">Non Coding</h3>
												<hr>
												<ul class="points-list">
													<li>Operating Systems</li>
													<li>UNIX Commands</li>
													<li>System Design Problems</li>
													<li>DBMS &amp; SQL</li>
													<li>Networking</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<a id="basic-enroll" class="in-page-link"></a>
								{{> courseenroll}}
								{{> courseschedule}}
								{{> registration}}
							</div>
							<div role="tabpanel" class="tab-pane" id="cpp-bundle">
								<div class="course-card-container">
									<div class="content-row">
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
												class="topic">Non Coding</h3>
											<hr>
											<ul class="points-list">
												<li>Operating Systems</li>
												<li>UNIX Commands</li>
												<li>System Design Problems</li>
												<li>DBMS &amp; SQL</li>
												<li>Networking</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
												class="topic">C++</h3>
											<hr>
											<ul class="points-list">
												<li>Recursion &amp; Backtracking</li>
												<li>Sorting, Searching, &amp; Hashing</li>
												<li>Data Structures &amp; Algorithms</li>
												<li>DP &amp; STL</li>
												<li>All other topics covered in the <a href="/courses/classroom/algo++.html">Algo++ Course</a></li>
											</ul>
										</div>
									</div>
								</div>
								<a id="cpp-enroll" class="in-page-link"></a>
								<section class="tabbed-enroll-section">
									<div class="container">
										<div class="row v-align-children">
											<div class="col-sm-5"><h3>Come, Fall in <strong>Love</strong><br /> with <strong>Coding</strong></h3>
												<p class="lead"></p>
												<p>Upcoming Batches:</p>
												<ul class="course-list">
													<li>Regular batch at Pitampura starting June 9</li>
													<li>Regular batch at Pitampura starting July 10</li>
												</ul>
												<p></p>
												<div class="overflow-hidden mb32 mb-xs-24">
													<div class="row">
														<div class="col-sm-1"><i
																class="icon pull-left et-line-search icon-sm"></i></div>
														<div class="col-sm-11"><h6
																class="uppercase mb0 inline-block p32">online code
																submission &amp; evaluation</h6></div>
													</div>
												</div>
												<div class="overflow-hidden mb32 mb-xs-24">
													<div class="row">
														<div class="col-sm-1"><i
																class="icon pull-left pe-7s-cup icon-sm"></i></div>
														<div class="col-sm-11"><h6
																class="uppercase mb0 inline-block p32">special sessions
																on competitive coding</h6></div>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-6">
												<div class="pricing-table pt-1 text-center emphasis"><h5
														class="uppercase">Regular Batch</h5><span
														class="price">₹17,000</span>
													<a class="btn btn-white btn-lg" href="#register-cpp">Enroll Now</a>
													<p><a href="/contactus">Contact Us</a><br>Call(Toll-free):
														1800-2744-504</p></div>
											</div>
										</div>
									</div>
								</section>
								{{> courseschedule}}
								<a id="register-cpp" class="in-page-link"></a>
								<section class="mt-xs-64">
									<div class="text-center"><h3>REGISTER NOW</h3></div>
									<div class="container widget-container" data-widget-id='122'>
										<iframe class="payment-widget" frameborder="0"
											src="https://students.codingblocks.com/payment/iframe?item_id=122"></iframe>
									</div>
								</section>
							</div>
							<div role="tabpanel" class="tab-pane" id="java-bundle">
								<div class="course-card-container">
									<div class="content-row">
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
												class="topic">Non Coding</h3>
											<hr>
											<ul class="points-list">
												<li>Operating Systems</li>
												<li>UNIX Commands</li>
												<li>System Design Problems</li>
												<li>DBMS &amp; SQL</li>
												<li>Networking</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
												class="topic">Java</h3>
											<hr>
											<ul class="points-list">
												<li>Recursion &amp; Optimization</li>
												<li>Data Structures &amp; Algorithms</li>
												<li>Non Linear Data Structures</li>
												<li>All other topics covered in the <a href="/courses/classroom/algo-java.html">Algo.Java Course</a></li>
											</ul>
										</div>
									</div>
								</div>
								<a id="java-enroll" class="in-page-link"></a>
								<section class="tabbed-enroll-section">
									<div class="container">
										<div class="row v-align-children">
											<div class="col-sm-5"><h3>Come, Fall in <strong>Love</strong><br /> with <strong>Coding</strong></h3>
												<p class="lead"></p>
												<p>Upcoming Batches:</p>
												<ul class="course-list">
													<li>Regular batch at Pitampura starting June 9</li>
													<li>Regular batch at Pitampura starting July 10</li>
												</ul>
												<p></p>
												<div class="overflow-hidden mb32 mb-xs-24">
													<div class="row">
														<div class="col-sm-1"><i
																class="icon pull-left et-line-search icon-sm"></i></div>
														<div class="col-sm-11"><h6
																class="uppercase mb0 inline-block p32">online code
																submission &amp; evaluation</h6></div>
													</div>
												</div>
												<div class="overflow-hidden mb32 mb-xs-24">
													<div class="row">
														<div class="col-sm-1"><i
																class="icon pull-left pe-7s-cup icon-sm"></i></div>
														<div class="col-sm-11"><h6
																class="uppercase mb0 inline-block p32">special sessions
																on competitive coding</h6></div>
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-6">
												<div class="pricing-table pt-1 text-center emphasis"><h5
														class="uppercase">Regular Batch</h5><span
														class="price">₹17,000</span>
													<a class="btn btn-white btn-lg" href="#register-java">Enroll Now</a>
													<p><a href="/contactus">Contact Us</a><br>Call(Toll-free):
														1800-2744-504</p></div>
											</div>
										</div>
									</div>
								</section>
								{{> courseschedule}}
								<a id="register-java" class="in-page-link"></a>
								<section class="mt-xs-64">
									<div class="text-center"><h3>REGISTER NOW</h3></div>
									<div class="container widget-container" data-widget-id='122'>
										<iframe class="payment-widget" frameborder="0"
											src="https://students.codingblocks.com/payment/iframe?item_id=122"></iframe>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="bg-secondary">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="uppercase mb16"> YOUR MENTORS FOR BOOTCAMP</h4>
				<br><br>

			</div>
		</div>
		<div class="flex-container">
			<div class="flex-item">
				<div class="col-md-6 col-sm-12  img-holder">
					<img alt="Pic" src="../assets/images/cb/team/warnav.jpg"><br>
				</div>
				<div class="col-sm-12 col-md-6">
					<p class="mb0" align="justify-content">
						<b>Arnav Gupta</b> <br>
						Arnav Gupta, also popular as @ChampionSwimmer, is an acclaimed Android developer and two
						timer GSoC-er.
						He has presented at large conferences like JSFOO, DroidCon, FOSSASIA and OSDConf.
						He has also worked with Sony, Micromax, Cyanogen and the likes.
						Arnav has also active contributed int the development of Android OS, Linux Kernel and will
						also be mentoring students in GSoC’17.
					</p>
				</div>
			</div>
			<br><br>
			<div class="flex-item">
				<div class="col-md-6 col-sm-12 img-holder">
					<img alt="Pic" src="../assets/images/cb/team/wrajesh.jpg"><br>
				</div>
				<div class="col-sm-12 col-md-6">
					<p class="mb0" align="justify-content"><br>
						<b>Rajesh Sachdev</b><br>
						Rajesh has 20+ years of experience in IT/Corporate sector.
						He has previously worked with corporates like Nagarro, Cadence, American Express.
						He left IT industry in 2013 and moved to education with a passion to help students
						accomplishing their career goals.
						He did MS from BITS Pilani.
					</p>
				</div>
			</div>
		</div>
	</section>
    <!-- SECTION: Course FAQ -->
    <a id="course-faq" class="in-page-link" data-scroll-id="course-faq"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="mb16">FAQ</h4>
                    <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <ul class="accordion accordion-2 one-open">
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">Who should do this bootcamp?</h4>
                            </div>
                            <div class="content">
                                <p>
                                    The bootcamp is beneficial for students entering their pre-final / final years, and
                                    who aim to crack placement/internship interviews in leading IT firms.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">What are the prerequisites for this bootcamp ?</h4>
                            </div>
                            <div class="content">
                                <p>
                                    You should have prior experience with Data Structures and Algorithm Design.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">Will non-tech topics also be covered?</h4>
                            </div>
                            <div class="content">
                                <p>
                                    Non technical aspects of tech interviews (such as Group Discussion, HR Round) will
                                    also be covered along with the syllabus.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
<script>
    $(document).ready(function () {
        var hash = window.location.hash;

		console.log ("HASH", hash)
		console.log (hash === '#cpp-bundle')
		console.log (hash === '#java-bundle')

        if (hash === '#cpp-bundle') {
            $('#tab-basic').removeClass ('active');
            $('#basic').removeClass ('active');
			$('#tab-cpp-bundle').addClass ('active');
			$('#cpp-bundle').addClass ('active');
			$('#tab-java-bundle').removeClass ('active');
			$('#java-bundle').removeClass ('active');
        }

        if (hash === '#java-bundle') {
            $('#tab-basic').removeClass ('active');
            $('#basic').removeClass ('active');
			$('#tab-java-bundle').addClass ('active');
			$('#java-bundle').addClass ('active');
			$('#tab-cpp-bundle').removeClass ('active');
			$('#cpp-bundle').removeClass ('active');
        }
    })
</script>
</body>
</html>
