<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> centerlocation}}
    {{> review-course-section}}
    {{> teamCentre}}
    <section>
        <div class="container">
            <div class="row" id="courses">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb16">courses</h2>
                    <p class="lead mb64">Courses for all stages, with equal focus on theory and implementation</p>
                </div>
            </div>
            <div class="row">
                <!--course-->
                <div class="pricing-card courses-card col-md-4 col-sm-6">
                    <div class="pricing-table courses-card pt-2 text-center"><span class="course-badge">Starting June</span> <img alt="C++ course logo" class="course logo" src="../assets/images/cb/logosc/color_cpp.svg">
                        <h4 class="uppercase bold name">Industrial training in C/C++</h4><span class="slashed-price">₹17,000</span><br /><span class="price">₹8,500</span>
                        <p class="description">Industrial training in C/C++</p>
                        <p class="lead">(24 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="/classroom-courses/c-plus-plus-for-beginners.html">Register Now</a></div>
                </div>
                <!--endcourse-->
                <!--course-->
                <div class="pricing-card courses-card col-md-4 col-sm-6">
                    <div class="pricing-table courses-card pt-2 text-center"><span class="course-badge">Starting June</span> <img alt="C++ course logo" class="course logo" src="../assets/images/cb/logosc/color_java.svg">
                        <h4 class="uppercase bold name">Industrial training in Java</h4><span class="slashed-price">₹17,000</span><br /><span class="price">₹8,500</span>
                        <p class="description">Industrial training in Java</p>
                        <p class="lead">(24 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="/classroom-courses/java-for-beginners.html">Register Now</a></div>
                </div>
                <!--endcourse-->
                <!--course-->
                <div class="pricing-card courses-card col-md-4 col-sm-6">
                    <div class="pricing-table courses-card pt-2 text-center"><span class="course-badge">Starting June</span> <img alt="C++ course logo" class="course logo" src="../assets/images/cb/logosc/color_android.svg">
                        <h4 class="uppercase bold name">Industrial training in Android</h4><span class="slashed-price">₹22,000</span><br /><span class="price">₹11,000</span>
                        <p class="description">Industrial training in Android</p>
                        <p class="lead">(22 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="/classroom-courses/android-app-development-using-kotlin-and-java.html">Register Now</a></div>
                </div>
                <!--endcourse-->
                <!--course-->
                <div class="pricing-card courses-card pricing-card-inverse col-md-4 col-sm-6">
                    <div class="pricing-table courses-card pt-2 text-center"><span class="course-badge">Starting June</span> <img alt="Python app development course logo" class="course logo" src="../assets/images/cb/logosc/color_python.svg">
                        <h4 class="uppercase bold name">Industrial training in Python-Django</h4><span class="slashed-price">₹15,000</span><br /><span class="price">₹7,500</span>
                        <p class="description">Get certified by Coding Blocks in Python-Django</p>
                        <p class="lead">(15 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="/classroom-courses/web-development-django.html">Register Now</a></div>
                </div>
                <!--endcourse-->
            </div>
        </div>
    </section>
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
