<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> centerlocation}}
    {{> review-course-section}}
    {{> teamCentre}}
    {{> courses}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>