<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> centerlocation}}
    {{> teamCentre}}
    <section class="bg-secondary">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="uppercase mb16 text-center">Courses and Schedules</h2>
            <br/><br/><br/><br/>
            <div class="col-md-12 text-center">
            <img class="text-center" width="50%" alt="Course Structure" src="../assets/images/cb/grn-flyer.jpg" opacity="1">
            <br/><br/><br/><br/>
            <a class="btn btn-lg btn-filled" align="center" href="/classroom-courses/grn-courses.html">Register Now</a>
          </div>
        </div>
      </div>
    </section>
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
