<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <section>
        <div class="container">
            <h1 class="uppercase text-center">Our Centres&nbsp;</h1>
            <h2 class="uppercase text-center">+1800 274 4504</h2>
			<p class="uppercase text-center">
				<a href="mailto:https://danluu.com/android-updates/">admissions@codingblocks.com</a>
			</p>

            <div class="pt40">
                <!-- Pitampura -->
                <a id="pitampura" class="in-page-link"></a>
                <div class="feature bordered clearfix text-center bg-primary">
                    <div class="col-md-12">
                        <h3 class="uppercase  mb-xs-24 col-md-12">Pitampura (Corporate Office)</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="location-address">
                            <p>
                                1st Floor,<br>47, Nishant Kunj,<br> Main Pitampura Road,<br>New Delhi<br><br>
                                Near Kohat Enclave Metro Station<br>
                                (Exit from Gate # 2)<br>
                                (Opposite Pillar 337)<br>
                            </p>
                        </div>
                        <div class="location-contact">
                            <h4 class="uppercase">Contact</h4>
                            <strong>Mrs. Priyanka Dagar</strong><br/>
                            <p class="location-phone">011 - 47052584</p>
                            <p class="location-phone">011 - 27354126</p>
                            <a href="mailto:priyanka.dagar@codingblocks.com">priyanka.dagar@codingblocks.com</a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <section class="contact-map">
                            <div class="map-container">
                                <div class="col-md-12 map-box">
                                    <div class="map-canvas" data-address="Coding Blocks, Pitampura"
                                         data-marker-title="Coding Blocks"
                                         data-map-zoom="11" data-maps-api-key="AIzaSyCtSz4b43fPFC1kT90-x52A3ECJfBnHvN8"
                                         data-map-style="[{&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#dd0d0d&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;labels&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;lightness&quot;:100},{&quot;visibility&quot;:&quot;simplified&quot;}]}]"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- Greater Noida -->
                <a id="noida" class="in-page-link"></a>
                <div class="feature bordered clearfix text-center bg-secondary">
                    <div class="col-md-12">
                        <h3 class="uppercase  mb-xs-24 col-md-12">Noida Center</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="location-address ">
                            <p>
                                Coding Blocks Noida,<br> First Floor, A-73, Sector-2 <br>(50m from Sector-15 Metro Station),<br>Noida - 201301
                            </p>
                        </div>
                        <div class="location-contact">
                            <h4 class="uppercase">Contact</h4>
                            <strong>Varun Kohli</strong><br/>
                            <p class="location-phone">9999579111</p>
                            <p class="location-phone">9999579222</p>
                            <a href="mailto:varun@codingblocks.com">varun@codingblocks.com</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <section class="contact-map">
                            <div class="map-container">
                                <div class="col-md-12 map-box">
                                    <div class="map-canvas"
                                         data-address="Sector 2, Noida, Uttar Pradesh 201301"
                                         data-marker-title="Coding Blocks"
                                         data-map-zoom="11" data-maps-api-key="AIzaSyCtSz4b43fPFC1kT90-x52A3ECJfBnHvN8"
                                         data-map-style="[{&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#dd0d0d&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;labels&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;lightness&quot;:100},{&quot;visibility&quot;:&quot;simplified&quot;}]}]"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <a id="dwarka" class="in-page-link"></a>
            <div class="feature bordered clearfix text-center bg-secondary">
                <div class="col-md-12">
                    <h3 class="uppercase  mb-xs-24 col-md-12">Dwarka Center</h3>
                </div>
                <div class="col-md-6">
                    <div class="location-address ">
                        <p>
                            2nd Floor,<br>Plot No. 3,<br>Sector 11, Dwarka, New Delhi<br>(Near &nbsp;Dwarka Sec-11
                            Metro)</p>
                    </div>
                    <div class="location-contact">
                        <h4 class="uppercase">Contact</h4>
                        <strong>Mr. Rajesh Sachdev</strong><br/>
                        <p class="location-phone">8588801217</p>
                        <p class="location-phone">9811228053</p>
                        <a href="mailto:rajesh@codingblocks.com">rajesh@codingblocks.com</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <section class="contact-map">
                        <div class="map-container">
                            <div class="col-md-12 map-box">
                                <div class="map-canvas" data-address="Coding Blocks, Dwarka"
                                     data-marker-title="Coding Blocks"
                                     data-map-zoom="11" data-maps-api-key="AIzaSyCtSz4b43fPFC1kT90-x52A3ECJfBnHvN8"
                                     data-map-style="[{&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#dd0d0d&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;labels&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;lightness&quot;:100},{&quot;visibility&quot;:&quot;simplified&quot;}]}]"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
