<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> centerlocation}}
    {{> teamCentre}}

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="uppercase mb16">courses</h2>
            <p class="lead mb64">Courses for all stages, with equal focus on theory and implementation</p>
          </div>
        </div>
        <div class="row">
          <!--course-->
          <div class="pricing-card courses-card col-md-4 col-sm-6">
            <div class="pricing-table courses-card pt-2 text-center"><span class="course-badge">Starting June 12</span> <img alt="C++ course logo" class="course logo" src="../assets/images/cb/logosc/color_cpp.svg">
              <h4 class="uppercase bold name">Launchpad</h4><span class="price">₹17,000</span>
              <p class="description">C++ Complete Course</p>
              <p class="lead">(24 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="../classroom-courses/c-plus-plus-for-beginners.html#launchpad-bundle-content">Register Now</a></div>
          </div>
          <!--endcourse-->
          <!--course-->
          <div class="pricing-card courses-card col-md-4 col-sm-6">
            <div class="pricing-table courses-card pt-2 text-center boxed"><span class="course-badge">Starting June 12</span> <img alt="java course logo" class="course logo" src="../assets/images/cb/logosc/color_java.svg">
              <h4 class="uppercase bold name">Crux</h4><span class="price">₹17,000</span>
              <p class="description">Java Complete Course</p>
              <p class="lead">(24 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="../classroom-courses/java-for-beginners.html#crux-bundle">Register Now</a></div>
          </div>
          <!--endcourse-->
          <!--course-->
          <div class="pricing-card courses-card col-md-4 col-sm-6">
            <div class="pricing-table courses-card pt-2 text-center"><span class="course-badge">Starting June 14</span> <img alt="android course logo" class="course logo" src="../assets/images/cb/logosc/color_android.svg">
              <h4 class="uppercase bold name">Android App Development</h4><span class="price">₹20,000</span>
              <p class="description">Building Android Apps</p>
              <p class="lead">(22 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="../classroom-courses/android-app-development-using-kotlin-and-java.html">Register Now</a></div>
          </div>
          <!--endcourse-->
        </div>

        <br/><br/>

        <div class="row">

          <!--course-->
          <div class="pricing-card courses-card col-md-4 col-sm-6">
            <div class="pricing-table courses-card pt-2 text-center boxed"><span class="course-badge">Starting June 14</span> <img alt="web development course logo" class="course logo" src="../assets/images/cb/logosc/color_nodejs.svg">
              <h4 class="uppercase bold name">NodeJS Web Development</h4><span class="price">₹20,000</span>
              <p class="description">Web Design</p>
              <p class="lead">(22 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="../classroom-courses/web-development-nodejs.html">Register Now</a></div>
          </div>
          <!--endcourse-->


          <!--course-->
          <div class="pricing-card courses-card pricing-card-inverse col-md-4 col-sm-6">
            <div class="pricing-table courses-card pt-2 text-center"><span class="course-badge">Starting June 14</span> <img alt="Python app development course logo" class="course logo" src="../assets/images/cb/logosc/color_python.svg">
              <h4 class="uppercase bold name">Python App Development</h4><span class="price">₹12,000</span>
              <p class="description">Python foundation and app development</p>
              <p class="lead">(15 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="../classroom-courses/python-app-dev.html">Register Now</a></div>
          </div>
          <!--endcourse-->

          <!--course-->
          <div class="pricing-card courses-card col-md-4 col-sm-6">
            <div class="pricing-table courses-card pt-2 text-center boxed"><span class="course-badge">Starting June 12</span> <img alt="machine learning course logo" class="course logo" src="../assets/images/cb/logosc/color_ml.svg">
              <h4 class="uppercase bold name">Machine Learning</h4><span class="price">₹22,000</span>
              <p class="description">Code Machine Learning Algorithms</p>
              <p class="lead">(23 lectures)</p><a class="btn btn-white btn-filled btn-lg" href="../classroom-courses/machine-learning-with-deep-learning.html">Register Now</a></div>
          </div>
          <!--endcourse-->



        </div>
      </div>
    </section>

    {{> footer}}
</div>
{{> scripts}}
<script>
    $(document).ready(function () {
        var hash = window.location.hash;

        if(hash != undefined) {

          if (hash === '#default') {
            $('#launchpad-bundle').addClass('active');
            $('#launchpad-bundle-tab').addClass('active');
          } else {
            $(hash).addClass('active');
            $(hash + '-tab').addClass('active');
          }
        }

    })
</script>
</body>
</html>
