<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> centerlocation}}
    {{> teamCentre}}
    <section class="bg-secondary">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="uppercase mb16 text-center">Courses and Schedules</h2>
            <br/><br/><br/><br/>
            <div class="col-md-12 text-center">
              <section>
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="course-tabs">
                                  <ul class="nav nav-tabs" role="tablist">
                                      <li role="presentation" class="wide-tab" id="launchpad-bundle-tab"><a href="#launchpad-bundle" data-toggle="tab"> C++ with DS and Algo </a> </li>
                                      <li role="presentation" class="wide-tab" id="crux-bundle-tab"><a href="#crux-bundle" data-toggle="tab"> Java with DS and Algo </a> </li>
                                      <li role="presentation" class="wide-tab" id="python-tab"><a href="#python" data-toggle="tab"> Python App Development</a> </li>
                                      <li role="presentation" class="wide-tab" id="core-java-tab"><a href="#core-java" data-toggle="tab"> Core Java App Development</a> </li>
                                      <li role="presentation" class="wide-tab" id="android-tab"><a href="#android" data-toggle="tab"> Android App Development</a> </li>
                                      <li role="presentation" class="wide-tab" id="web-dev-tab"><a href="#web-dev" data-toggle="tab"> Web Development</a> </li>
                                  </ul>

                      <div class="tab-content">

                        <!--  Web Dev Node Begin -->

                        <div role="tabpanel" class="tab-pane" id="web-dev">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">HTML/CSS</h3>
                                <hr>
                                <ul class="points-list"><li>Table Layouts</li><li>Flex Boxes</li><li>Bootstrap Columns</li><li>Media Queries and Mobile Responsive Design</li><li>Grids</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Javascript</h3>
                                <hr>
                                <ul class="points-list"><li>ECMAScript 6 Syntax and Standards</li><li>Function Closures and IIFEs</li><li>Classes, Constructors and Prototypes</li><li>Lexical Scopes, Arrow Functions and Variable spreading</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">UNIX AND Git</h3>
                                <hr>
                                <ul class="points-list"><li>Unix and SysAdmin/Devops</li><li>Schema Designing</li><li>Git</li></ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">NODEJS</h3>
                                <hr>
                                <ul class="points-list"><li>NodeJS Modules</li><li>Filesystem API, Events and Streams</li><li>ExpressJS Framework for creating REST APIs</li><li>Handlebars for server side web rendering</li><li>Socket.IO for realtime communication</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Databases</h3>
                                <hr>
                                <ul class="points-list"><li>Flat files on server</li><li>MySQL</li><li>Using ORMs like Sequelize</li><li>MongoDB</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Advanced Topics & Deployment</h3>
                                <hr>
                                <ul class="points-list"><li>Security</li><li>Scaling</li><li>Using Frontend Templates</li><li>3rd Party Libraries and Frameworks</li><li>Deploying a live web project</li></ul>
                              </div>
                            </div>
                          </div>
                          <a id="advance-enroll" class="in-page-link"></a>
                          <section class="tabbed-enroll-section">
                            <div class="container">
                              <div class="row v-align-children">
                                <div class="col-md-4 col-sm-6">
                                  <div class="pricing-table pt-1 text-center emphasis">
                                    <h5 class="uppercase">
                                      Fast track Batch

                                    </h5>
                                    <span class="slashed-price">₹20,000</span><br />
                                    <span class="price">₹10,000</span>
                                    <p class="lead">(24 lectures)</p>
                                    <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                    <p>
                                      <a href="/contactus">Contact Us</a>
                                      <br>Call(Toll-free): 99995 79111 / 99995 79222
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </section>

                          <a id="advance-register" class="in-page-link"></a>
                          <section>
                            <div class="text-center">
                              <h3>REGISTER NOW</h3>
                            </div>
                            <div class="container widget-container" data-widget-id='153'>
                              <iframe class="payment-widget" frameborder="0"
                                src="https://students.codingblocks.com/payment/iframe?item_id=153"></iframe>
                            </div>
                          </section>
                        </div>

                        <!-- Web Dev Node End -->

                        <!--  Android Begin -->

                        <div role="tabpanel" class="tab-pane" id="android">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Activities and UI</h3>
                                <hr>
                                <ul class="points-list"><li>Object Oriented Programming Concepts in Java</li><li>Getting Started with Android App Development Tools</li><li>Activities and Basic UI Building</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Background and Services</h3>
                                <hr>
                                <ul class="points-list"><li>Adapters and ListViews</li><li>Intents</li><li>Fragments, ViewPagers and Navigation Drawer</li><li>Services</li><li>Permission Management</li><li>Menus and Preferences</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Data Storage</h3>
                                <hr>
                                <ul class="points-list"><li>Shared Preferences</li><li>Files</li><li>SQLite Databases</li></ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Network</h3>
                                <hr>
                                <ul class="points-list"><li>Network and Data Fetching</li><li>BroadcastReceivers</li><li>Hardware Sensors</li><li>Animations and Graphics</li><li>Alarms and AlarmManager</li><li>ContentProviders</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">3rd Party Libs</h3>
                                <hr>
                                <ul class="points-list"><li>Google Maps</li><li>Retrofit for REST APIs</li><li>Picasso and Glide for showing images</li></ul>
                              </div>
                            </div>
                          </div>
                          <a id="advance-enroll" class="in-page-link"></a>
                          <section class="tabbed-enroll-section">
                            <div class="container">
                              <div class="row v-align-children">
                                <div class="col-md-4 col-sm-6">
                                  <div class="pricing-table pt-1 text-center emphasis">
                                    <h5 class="uppercase">
                                      Fast Track Batch

                                    </h5>
                                    <span class="slashed-price">₹20,000</span><br />
                                    <span class="price">₹10,000</span>
                                    <p class="lead">(24 lectures)</p>
                                    <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                    <p>
                                      <a href="/contactus">Contact Us</a>
                                      <br>Call(Toll-free): 99995 79111 / 99995 79222
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </section>

                          <a id="advance-register" class="in-page-link"></a>
                          <section>
                            <div class="text-center">
                              <h3>REGISTER NOW</h3>
                            </div>
                            <div class="container widget-container" data-widget-id='154'>
                              <iframe class="payment-widget" frameborder="0"
                                src="https://students.codingblocks.com/payment/iframe?item_id=154"></iframe>
                            </div>
                          </section>
                        </div>

                        <!-- Andoid End -->

                        <!--  Core Java Begin -->

                        <div role="tabpanel" class="tab-pane" id="core-java">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Programming Fundamentals</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>IDE installation and familiarization</li>
                                  <li>Debugging</li>
                                  <li>Data Types and Variables</li>
                                  <li>Typecasting</li>
                                  <li>Loops and Decision constructs</li>
                                  <li>Functions and operators</li>
                                  <li>Arrays, multi-dimensional arrays and dynamic arrays</li>
                                  <li>String and String Buffer</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">I/O and Files</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Binary vs Content Files</li>
                                  <li>Input output from various sources</li>
                                  <li>Buffers and Streams</li>
                                  <li>Locks and Exceptions</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Object Oriented Principals</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Classes and Objects</li>
                                  <li>Exceptions</li>
                                  <li>Data member modifiers</li>
                                  <li>Encapsulation, Inheritance and Polymorphism</li>
                                  <li>Abstract classes, Interfaces and Packages</li>
                                </ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Collections and Multi-threading</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Collections and Itrators</li>
                                  <li>Collections comparisons</li>
                                  <li>Multi-threading and advantages</li>
                                  <li>Thread pools</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Database and Third Party</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Gradle build tool</li>
                                  <li>Dependency Management</li>
                                  <li>Transitive dependency</li>
                                  <li>Relational database</li>
                                  <li>Integrate vlc in Java App</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Desktop Apps with JavaFX</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Boxes and Layouts</li>
                                  <li>Multi Screen Application</li>
                                  <li>Events and Handlers</li>
                                  <li>JavaFX Scene Builder</li>
                                  <li>2D Game with JavaFX</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <a id="advance-enroll" class="in-page-link"></a>
                          <section class="tabbed-enroll-section">
                            <div class="container">
                              <div class="row v-align-children">
                                <div class="col-md-4 col-sm-6">
                                  <div class="pricing-table pt-1 text-center emphasis">
                                    <h5 class="uppercase">
                                      Regular Batch

                                    </h5>
                                    <span class="slashed-price">₹10,000</span><br />
                                    <span class="price">₹5,000</span>
                                    <p class="lead">(16 lectures)</p>
                                    <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                    <p>
                                      <a href="/contactus">Contact Us</a>
                                      <br>Call(Toll-free): 99995 79111 / 99995 79222
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </section>

                          <a id="advance-register" class="in-page-link"></a>
                          <section>
                            <div class="text-center">
                              <h3>REGISTER NOW</h3>
                            </div>
                            <div class="container widget-container" data-widget-id='156'>
                              <iframe class="payment-widget" frameborder="0"
                                src="https://students.codingblocks.com/payment/iframe?item_id=156"></iframe>
                            </div>
                          </section>
                        </div>

                        <!-- Core Java End -->

                        <!--  Python Begin -->

                        <div role="tabpanel" class="tab-pane" id="python">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Basics of Python</h3>
                                <hr>
                                <ul class="points-list"><li>A Brief Overview of Python</li><li>Setting up Python</li><li>Interactive Python</li><li>Built-In Data Types</li><li>Control Flow</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Data Structures & Functions</h3>
                                <hr>
                                <ul class="points-list"><li>Defining &amp; Using Functions</li><li>Some Common and Useful Functions</li><li>Argument Unpacking, Annotations</li><li>Lists, and Tuples</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Writing Interactive Programs</h3>
                                <hr>
                                <ul class="points-list"><li>Handling Input &amp; Output</li><li>Error &amp; Exception Handling</li><li>Organizing Code with Modules</li></ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Object Oriented Programming</h3>
                                <hr>
                                <ul class="points-list"><li>Object Oriented Programming Concepts</li><li>Using Classes &amp; Objects</li><li>Commonly Used built-in Classes</li><li>Inheritance</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Standard Template Library</h3>
                                <hr>
                                <ul class="points-list"><li>Number Crunching</li><li>File Manipulation</li><li>Data Compression &amp; Archiving</li><li>Basic Network Programming</li><li>Data Encryption</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">PIP Packaging and setuptools</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Creating builds</li>
                                  <li>Creating libs</li>
                                  <li>Uploading into pypi</li>
                                  <li>Manage dependencies with sepuptools</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <a id="advance-enroll" class="in-page-link"></a>
                          <section class="tabbed-enroll-section">
                            <div class="container">
                              <div class="row v-align-children">
                                <div class="col-md-4 col-sm-6">
                                  <div class="pricing-table pt-1 text-center emphasis">
                                    <h5 class="uppercase">
                                      Regular Batch
                                    </h5>
                                    <span class="slashed-price">₹12,000</span><br />
                                    <span class="price">₹6,000</span>
                                    <p class="lead">(16 lectures)</p>
                                    <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                    <p>
                                      <a href="/contactus">Contact Us</a>
                                      <br>Call(Toll-free): 99995 79111 / 99995 79222
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </section>

                          <a id="advance-register" class="in-page-link"></a>
                          <section>
                            <div class="text-center">
                              <h3>REGISTER NOW</h3>
                            </div>
                            <div class="container widget-container" data-widget-id='155'>
                              <iframe class="payment-widget" frameborder="0"
                                src="https://students.codingblocks.com/payment/iframe?item_id=155"></iframe>
                            </div>
                          </section>
                        </div>

                        <!-- Python End -->

                      <!--  Crux Begin -->

                      <div role="tabpanel" class="tab-pane" id="crux-bundle">
                        <div class="course-card-container">
                          <div class="content-row">
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Problem Solving and Programming Fundamentals</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Flowcharts, pseudo-code and brain teasers</li>
                                <li>IDE installation and familiarization</li>
                                <li>Debugging</li>
                                <li>Input-Output</li>
                                <li>Data Types and Variables</li>
                                <li>Typecasting</li>
                                <li>Loops and Decision constructs</li>
                                <li>Functions and operators</li>
                                <li>Arrays, multi-dimensional arrays and dynamic arrays</li>
                                <li>String and String Buffer</li>
                              </ul>
                            </div>
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Recursion</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Introduction to Recursion</li>
                                <li>Classical Recursion Problems</li>
                              </ul>
                            </div>
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Basics of Data Structures</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Time and Space Complexity</li>
                                <li>Stacks and OOPs (Classes and Objects, Exceptions and Data member
                                  modifiers)
                                </li>
                                <li>Queues and OOPs (Encapsulation, Inheritance and Polymorphism)
                                </li>
                                <li>Linked List and OOPs (Abstract classes, Interfaces and
                                  Packages)
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="content-row">
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Recursion and Optimization</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Recursion</li>
                                <li>Backtracking</li>
                              </ul>
                            </div>
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Data Structures and Algorithms</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Stacks and Queues – Adva Questions</li>
                                <li>Linked Lists – Advanced Questions</li>
                                <li>Generic Trees</li>
                                <li>Binary Trees</li>
                                <li>Binary Search Trees</li>
                              </ul>
                            </div>
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Non Linear Data Structures</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Heaps</li>
                                <li>Hash Tables</li>
                                <li>Generics</li>
                                <li>Graphs – Traversals, Minimum Spanning trees, Shortest path
                                  algorithms
                                </li>
                                <li>Text Processing – Text Matching, Compression</li>
                                <li>Dynamic Programming</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <a id="advance-enroll" class="in-page-link"></a>
                        <section class="tabbed-enroll-section">
                          <div class="container">
                            <div class="row v-align-children">
                              <div class="col-md-4 col-sm-6">
                                <div class="pricing-table pt-1 text-center emphasis">
                                  <h5 class="uppercase">
                                    Regular Batch

                                  </h5>
                                  <span class="slashed-price">₹17,000</span><br />
                                  <span class="price">₹8,500</span>
                                  <p class="lead">(24 lectures)</p>
                                  <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                  <p>
                                    <a href="/contactus">Contact Us</a>
                                    <br>Call(Toll-free): 99995 79111 / 99995 79222
                                  </p>
                                </div>
                              </div>
                            </div>

                          </div>

                        </section>

                        <a id="advance-register" class="in-page-link"></a>
                        <section>
                          <div class="text-center">
                            <h3>REGISTER NOW</h3>
                          </div>
                          <div class="container widget-container" data-widget-id='147'>
                            <iframe class="payment-widget" frameborder="0"
                              src="https://students.codingblocks.com/payment/iframe?item_id=147"></iframe>
                          </div>
                        </section>
                      </div>

                      <!-- Crux End -->

                      <!-- Launchpad Begin -->


                        <div role="tabpanel" class="tab-pane" id="launchpad-bundle">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
                                  class="topic">
                                  Getting Started</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Pseudo code</li>
                                  <li>Getting started with C++, IDE Installation</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
                                  class="topic">
                                  Getting a Hold of C++</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Variables,Loops, Conditional Statements</li>
                                  <li>Functions, Reference Variables</li>
                                  <li>Arrays and Pointers</li>
                                  <li>Strings and 2-D Arrays</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
                                  class="topic">
                                  Introduction to Advanced Topics</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Recursion-I</li>
                                  <li>Space Time Complexity Basics</li>
                                  <li>Stacks and Queue Basics</li>
                                  <li>Problem Solving</li>
                                </ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Recursion &amp; Backtracking</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Recursion</li>
                                  <li>Back-Tracking</li>
                                  <li>Space Time Complexity Analysis</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Foundational DS</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Arrays &amp; Bitmasking Vectors</li>
                                  <li>Stacks Queues Problems</li>
                                  <li>Linked Lists</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Sorting Searching And Hashing</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Divide &amp; Conquer</li>
                                  <li>Sorting Algorithms</li>
                                  <li>Binary Search Variants</li>
                                  <li>Bitmasking and Hashing</li>
                                </ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Advanced Data Structures</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Stacks Queues Linked Lists</li>
                                  <li>trees &amp; Tries</li>
                                  <li>Graphs</li>
                                  <li>Heaps and Priority Queues</li>
                                  <li>Binary Search Trees</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">DP vs Greedy Techniques</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Greedy Techniques</li>
                                  <li>Dynamic Programming</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">STL | Interview Problems</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Complete C++ STL</li>
                                  <li>Interview problems</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                                          <a id="advance-enroll" class="in-page-link"></a>
                                          <section class="tabbed-enroll-section">
                                              <div class="container">
                                                  <div class="row v-align-children">
                                                      <div class="col-md-4 col-sm-6">
                                                          <div class="pricing-table pt-1 text-center emphasis">
                                                                  <h5 class="uppercase">fast track batch</h5>
                                                                  <span class="slashed-price">₹17,000</span><br />
                                                                  <span class="price">₹8,500</span>
                                                              <p class="lead">(24-26 lectures)</p><a class="btn btn-white btn-lg"
                                                                                                     href="#register-advance">Enroll
                                                                  Now</a>
                                                              <p><a href="/contactus">Contact Us</a><br>Call(Toll-free):
                                                                  99995 79111 / 99995 79222</p></div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </section>
                                          <a id="register-advance" class="in-page-link"></a>
                                          <section class="mt-xs-64">
                                              <div class="text-center"><h3>REGISTER NOW</h3></div>
                                              <div class="container widget-container" data-widget-id="150">
                                                  <iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=150"></iframe>
                                              </div>
                                          </section>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </section>
              <br/><br/><br/><br/>
          </div>
        </div>
      </div>
    </section>
    {{> footer}}
</div>
{{> scripts}}
<script>
    $(document).ready(function () {
        var hash = window.location.hash;

        if(hash != undefined) {
          $(hash).addClass('active');
          $(hash + '-tab').addClass('active');
        }

    })
</script>
</body>
</html>
