<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> centerlocation}}
    {{> teamCentre}}
    <section class="bg-secondary">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="uppercase mb16 text-center">Courses and Schedules</h2>
            <br/><br/><br/><br/>
            <div class="col-md-12">
              <section>
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="course-tabs">
                                  <ul class="nav nav-tabs" role="tablist">
                                      <li role="presentation" class="wide-tab" id="launchpad-bundle-tab"><a href="#launchpad-bundle" data-toggle="tab"> C++ with DS and Algo </a> </li>
                                      <li role="presentation" class="wide-tab" id="crux-bundle-tab"><a href="#crux-bundle" data-toggle="tab"> Java with DS and Algo </a> </li>
                                      <li role="presentation" class="wide-tab" id="python-tab"><a href="#python" data-toggle="tab"> Python App Development</a> </li>
                                      <li role="presentation" class="wide-tab" id="core-java-tab"><a href="#core-java" data-toggle="tab"> Core Java App Development</a> </li>
                                      <li role="presentation" class="wide-tab" id="android-tab"><a href="#android" data-toggle="tab"> Android App Development</a> </li>
                                      <li role="presentation" class="wide-tab" id="web-dev-tab"><a href="#web-dev" data-toggle="tab"> Web Development</a> </li>
                                  </ul>

                      <div class="tab-content">

                        <!--  Web Dev Node Begin -->

                        <div role="tabpanel" class="tab-pane" id="web-dev">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">HTML/CSS</h3>
                                <hr>
                                <ul class="points-list"><li>Table Layouts</li><li>Flex Boxes</li><li>Bootstrap Columns</li><li>Media Queries and Mobile Responsive Design</li><li>Grids</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Javascript</h3>
                                <hr>
                                <ul class="points-list"><li>ECMAScript 6 Syntax and Standards</li><li>Function Closures and IIFEs</li><li>Classes, Constructors and Prototypes</li><li>Lexical Scopes, Arrow Functions and Variable spreading</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">UNIX AND Git</h3>
                                <hr>
                                <ul class="points-list"><li>Unix and SysAdmin/Devops</li><li>Schema Designing</li><li>Git</li></ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">NODEJS</h3>
                                <hr>
                                <ul class="points-list"><li>NodeJS Modules</li><li>Filesystem API, Events and Streams</li><li>ExpressJS Framework for creating REST APIs</li><li>Handlebars for server side web rendering</li><li>Socket.IO for realtime communication</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Databases</h3>
                                <hr>
                                <ul class="points-list"><li>Flat files on server</li><li>MySQL</li><li>Using ORMs like Sequelize</li><li>MongoDB</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Advanced Topics & Deployment</h3>
                                <hr>
                                <ul class="points-list"><li>Security</li><li>Scaling</li><li>Using Frontend Templates</li><li>3rd Party Libraries and Frameworks</li><li>Deploying a live web project</li></ul>
                              </div>
                            </div>
                          </div>
                          <a id="advance-enroll" class="in-page-link"></a>
                          <section class="tabbed-enroll-section">
                            <div class="container">
                              <div class="row v-align-children">
                                <div class="col-md-4 col-sm-6">
                                  <div class="pricing-table pt-1 text-center emphasis">
                                    <h5 class="uppercase">
                                      Fast track Batch

                                    </h5>
                                    <span class="slashed-price">₹20,000</span><br />
                                    <span class="price">₹10,000</span>
                                    <p class="lead">(24 lectures)</p>
                                    <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                    <p>
                                      <a href="/contactus">Contact Us</a>
                                      <br>Call(Toll-free): 99995 79111 / 99995 79222
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </section>

                          <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="mb16 text-center uppercase">Schedule</h3>
        <table class="table table-hover table-striped calendar">
          <thead>
            <tr>
              <th></th>
              <th>Center</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Day &amp; Time</th>
              <th>Batch Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" style="color: #fc4f4f"><i class="fa fa-circle"></i></td>
              <td>Noida</td>
              <td>June 14</td>
              <td>July 26</td>
              <td>Mon, Tue, Thu, Fri (3:30 PM - 7:30 PM)</td>
              <td>Regular</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<a id="advance-register" class="in-page-link"></a>
                          <section>
                            <div class="text-center">
                              <h3>REGISTER NOW</h3>
                            </div>
                            <div class="container widget-container" data-widget-id='153'>
                              <iframe class="payment-widget" frameborder="0"
                                src="https://students.codingblocks.com/payment/iframe?item_id=153"></iframe>
                            </div>
                          </section>

                          <section>
                              <div class="container">
                                <div class="row">
                                  <div class="col-sm-12 text-center">
                                    <h2 class="mb16">FAQ</h2>
                                    <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-10 col-sm-offset-1">
                                    <ul class="accordion accordion-2 one-open">
                                      <li>
                                        <div class="title">
                                          <h3 class="inline-block mb0"><span class="sad">How much knowledge of Data Structures and Algorithms do I need to take this course?</span></h3></div>
                                        <div class="content">
                                          <p>You need to have good command of data structures like Stacks, Queues and Lists. Also a basic idea of algorithms like sorting, searching, string manupulations. Also it is imperative to have good concepts of Object Oriented Programming</p>
                                        </div>
                                      </li>
                                      <li>
                                        <div class="title">
                                          <h3 class="inline-block mb0"><span class="sad">Do you have a test for admission into this course ?</span></h3></div>
                                        <div class="content">
                                          <p>We have a simple test covering OOP concepts, basic Data structures and array/string manipulation which you will need to take while registering for our fullstack web development course.</p>
                                        </div>
                                      </li>
                                      <li>
                                        <div class="title">
                                          <h3 class="inline-block mb0"><span class="sad">Will there by any projects ?</span></h3></div>
                                        <div class="content">
                                          <p>Definitely. No course in web development is complete without projects, and we focus a lot on working on live projects and practical topics. We start with small projects like TodoList Managers and go up to creating e-Commerce websites.</p>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </section>

                        </div>

                        <!-- Web Dev Node End -->

                        <!--  Android Begin -->

                        <div role="tabpanel" class="tab-pane" id="android">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Activities and UI</h3>
                                <hr>
                                <ul class="points-list"><li>Object Oriented Programming Concepts in Java</li><li>Getting Started with Android App Development Tools</li><li>Activities and Basic UI Building</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Background and Services</h3>
                                <hr>
                                <ul class="points-list"><li>Adapters and ListViews</li><li>Intents</li><li>Fragments, ViewPagers and Navigation Drawer</li><li>Services</li><li>Permission Management</li><li>Menus and Preferences</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Data Storage</h3>
                                <hr>
                                <ul class="points-list"><li>Shared Preferences</li><li>Files</li><li>SQLite Databases</li></ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Network</h3>
                                <hr>
                                <ul class="points-list"><li>Network and Data Fetching</li><li>BroadcastReceivers</li><li>Hardware Sensors</li><li>Animations and Graphics</li><li>Alarms and AlarmManager</li><li>ContentProviders</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">3rd Party Libs</h3>
                                <hr>
                                <ul class="points-list"><li>Google Maps</li><li>Retrofit for REST APIs</li><li>Picasso and Glide for showing images</li></ul>
                              </div>
                            </div>
                          </div>
                          <a id="advance-enroll" class="in-page-link"></a>
                          <section class="tabbed-enroll-section">
                            <div class="container">
                              <div class="row v-align-children">
                                <div class="col-md-4 col-sm-6">
                                  <div class="pricing-table pt-1 text-center emphasis">
                                    <h5 class="uppercase">
                                      Fast Track Batch

                                    </h5>
                                    <span class="slashed-price">₹20,000</span><br />
                                    <span class="price">₹10,000</span>
                                    <p class="lead">(24 lectures)</p>
                                    <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                    <p>
                                      <a href="/contactus">Contact Us</a>
                                      <br>Call(Toll-free): 99995 79111 / 99995 79222
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </section>

                          <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="mb16 text-center uppercase">Schedule</h3>
        <table class="table table-hover table-striped calendar">
          <thead>
            <tr>
              <th></th>
              <th>Center</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Day &amp; Time</th>
              <th>Batch Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" style="color: #fc4f4f"><i class="fa fa-circle"></i></td>
              <td>Noida</td>
              <td>June 14</td>
              <td>July 26</td>
              <td>Mon, Tue, Thu, Fri (10:00 AM - 2:00 PM)</td>
              <td>Regular</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<a id="advance-register" class="in-page-link"></a>
                          <section>
                            <div class="text-center">
                              <h3>REGISTER NOW</h3>
                            </div>
                            <div class="container widget-container" data-widget-id='154'>
                              <iframe class="payment-widget" frameborder="0"
                                src="https://students.codingblocks.com/payment/iframe?item_id=154"></iframe>
                            </div>
                          </section>

                          <section>
                            <div class="container">
                              <div class="row">
                                <div class="col-sm-12 text-center">
                                  <h2 class="mb16">FAQ</h2>
                                  <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                  <ul class="accordion accordion-2 one-open">
                                    <li>
                                      <div class="title">
                                        <h3 class="inline-block mb0"><span class="sad">How much knowledge of Data Structures and Algorithms do I need to take this course?</span></h3></div>
                                      <div class="content">
                                        <p>You need to have a good command on data structures such as Stacks, Queues and Lists as well as a basic idea of algorithms like sorting, searching and string manipulation. It is also imperative to have good conceptual understanding of Object
                                          Oriented Programming</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="title">
                                        <h3 class="inline-block mb0"><span class="sad">I have no idea of Java. Can I join ?</span></h3></div>
                                      <div class="content">
                                        <p>That is not a problem if the aforementioned concepts are clear and you have coded in some other language like C++ before. We will cover the syntax of Java in the first couple of classes.</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="title">
                                        <h3 class="inline-block mb0"><span class="sad">Do you have a test for admission into this course ?</span></h3></div>
                                      <div class="content">
                                        <p>Yes, we have a simple test covering OOP concepts, basic Data structures and array/string manipulation. You need to undertake that test while registering for Android App Development Course.</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="title">
                                        <h3 class="inline-block mb0"><span class="sad">Will there by any app development projects ?</span></h3></div>
                                      <div class="content">
                                        <p>Definitely! No android app development course is complete without projects, and we focus a lot on working on live android app development projects and practical topics.</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </section>

                        </div>

                        <!-- Andoid End -->

                        <!--  Core Java Begin -->

                        <div role="tabpanel" class="tab-pane" id="core-java">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Programming Fundamentals</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>IDE installation and familiarization</li>
                                  <li>Debugging</li>
                                  <li>Data Types and Variables</li>
                                  <li>Typecasting</li>
                                  <li>Loops and Decision constructs</li>
                                  <li>Functions and operators</li>
                                  <li>Arrays, multi-dimensional arrays and dynamic arrays</li>
                                  <li>String and String Buffer</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">I/O and Files</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Binary vs Content Files</li>
                                  <li>Input output from various sources</li>
                                  <li>Buffers and Streams</li>
                                  <li>Locks and Exceptions</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Object Oriented Principals</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Classes and Objects</li>
                                  <li>Exceptions</li>
                                  <li>Data member modifiers</li>
                                  <li>Encapsulation, Inheritance and Polymorphism</li>
                                  <li>Abstract classes, Interfaces and Packages</li>
                                </ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Collections and Multi-threading</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Collections and Itrators</li>
                                  <li>Collections comparisons</li>
                                  <li>Multi-threading and advantages</li>
                                  <li>Thread pools</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Database and Third Party</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Gradle build tool</li>
                                  <li>Dependency Management</li>
                                  <li>Transitive dependency</li>
                                  <li>Relational database</li>
                                  <li>Integrate vlc in Java App</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Desktop Apps with JavaFX</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Boxes and Layouts</li>
                                  <li>Multi Screen Application</li>
                                  <li>Events and Handlers</li>
                                  <li>JavaFX Scene Builder</li>
                                  <li>2D Game with JavaFX</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <a id="advance-enroll" class="in-page-link"></a>
                          <section class="tabbed-enroll-section">
                            <div class="container">
                              <div class="row v-align-children">
                                <div class="col-md-4 col-sm-6">
                                  <div class="pricing-table pt-1 text-center emphasis">
                                    <h5 class="uppercase"> Regular Batch </h5>
                                    <span class="slashed-price">₹10,000</span><br />
                                    <span class="price">₹5,000</span>
                                    <p class="lead">(16 lectures)</p>
                                    <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                    <p>
                                      <a href="/contactus">Contact Us</a>
                                      <br>Call(Toll-free): 99995 79111 / 99995 79222
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </section>

                          <section>
                                <div class="container">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <h3 class="mb16 text-center uppercase">Schedule</h3>
                                      <table class="table table-hover table-striped calendar">
                                        <thead>
                                          <tr>
                                            <th></th>
                                            <th>Center</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Day &amp; Time</th>
                                            <th>Batch Type</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td class="text-center" style="color: #fc4f4f"><i class="fa fa-circle"></i></td>
                                            <td>Noida</td>
                                            <td>June 12</td>
                                            <td>July 24</td>
                                            <td>Tue, Thu, Fri, Sat (3:30 PM - 5:30 PM)</td>
                                            <td>Regular</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </section>

                        <a id="advance-register" class="in-page-link"></a>
                          <section>
                            <div class="text-center">
                              <h3>REGISTER NOW</h3>
                            </div>
                            <div class="container widget-container" data-widget-id='156'>
                              <iframe class="payment-widget" frameborder="0"
                                src="https://students.codingblocks.com/payment/iframe?item_id=156"></iframe>
                            </div>

                          </section>


                          <section>
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-sm-12 text-center">
                                        <h2 class="mb16">FAQ</h2>
                                        <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-10 col-sm-offset-1">
                                        <ul class="accordion accordion-2 one-open">
                                          <li class="active">
                                            <div class="title">
                                              <h3 class="inline-block mb0"><span class="sad">Who should do this course?</span></h3></div>
                                            <div class="content">
                                              <p>Anybody who wants to learn programming in Java from scratch, or those who wish to form a solid understanding of Java to pursue Android, Web Dev, or other courses that require it should take this course. This course has
                                                no prerequisites.</p>
                                            </div>
                                          </li>
                                          <li class="">
                                            <div class="title">
                                              <h3 class="inline-block mb0"><span class="sad">I know C, C++, or Java should I do this course?</span></h3></div>
                                            <div class="content">
                                              <p>This course will cover programming principles from scratch using Java. If you already know one of the aforementioned programming languages, it will only be easier for you to pick up the concepts taught in the course, but knowledge is in
                                                no way a prerequisite.</p>
                                            </div>
                                          </li>
                                          <li class="">
                                            <div class="title">
                                              <h3 class="inline-block mb0"><span class="sad">Will this help me in making websites and apps?</span></h3></div>
                                            <div class="content">
                                              <p>This course is designed to give you a solid foundation upon which you can build further skills in Application Development, Web Development, Data Science, and other fields. It does not discuss these topics explicitly.</p>
                                            </div>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </section>

                        </div>

                        <!-- Core Java End -->

                        <!--  Python Begin -->

                        <div role="tabpanel" class="tab-pane" id="python">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Basics of Python</h3>
                                <hr>
                                <ul class="points-list"><li>A Brief Overview of Python</li><li>Setting up Python</li><li>Interactive Python</li><li>Built-In Data Types</li><li>Control Flow</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Data Structures & Functions</h3>
                                <hr>
                                <ul class="points-list"><li>Defining &amp; Using Functions</li><li>Some Common and Useful Functions</li><li>Argument Unpacking, Annotations</li><li>Lists, and Tuples</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Writing Interactive Programs</h3>
                                <hr>
                                <ul class="points-list"><li>Handling Input &amp; Output</li><li>Error &amp; Exception Handling</li><li>Organizing Code with Modules</li></ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Object Oriented Programming</h3>
                                <hr>
                                <ul class="points-list"><li>Object Oriented Programming Concepts</li><li>Using Classes &amp; Objects</li><li>Commonly Used built-in Classes</li><li>Inheritance</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Standard Template Library</h3>
                                <hr>
                                <ul class="points-list"><li>Number Crunching</li><li>File Manipulation</li><li>Data Compression &amp; Archiving</li><li>Basic Network Programming</li><li>Data Encryption</li></ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">PIP Packaging and setuptools</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Creating builds</li>
                                  <li>Creating libs</li>
                                  <li>Uploading into pypi</li>
                                  <li>Manage dependencies with sepuptools</li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <a id="advance-enroll" class="in-page-link"></a>
                          <section class="tabbed-enroll-section">
                            <div class="container">
                              <div class="row v-align-children">
                                <div class="col-md-4 col-sm-6">
                                  <div class="pricing-table pt-1 text-center emphasis">
                                    <h5 class="uppercase">
                                      Regular Batch
                                    </h5>
                                    <span class="slashed-price">₹12,000</span><br />
                                    <span class="price">₹6,000</span>
                                    <p class="lead">(16 lectures)</p>
                                    <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                    <p>
                                      <a href="/contactus">Contact Us</a>
                                      <br>Call(Toll-free): 99995 79111 / 99995 79222
                                    </p>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </section>

                          <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="mb16 text-center uppercase">Schedule</h3>
        <table class="table table-hover table-striped calendar">
          <thead>
            <tr>
              <th></th>
              <th>Center</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Day &amp; Time</th>
              <th>Batch Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" style="color: #fc4f4f"><i class="fa fa-circle"></i></td>
              <td>Noida</td>
              <td>Jun 13</td>
              <td>Aug 1</td>
              <td>Wed, Sun (10:00 AM - 2:00 PM)</td>
              <td>Regular</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<a id="advance-register" class="in-page-link"></a>
                          <section>
                            <div class="text-center">
                              <h3>REGISTER NOW</h3>
                            </div>
                            <div class="container widget-container" data-widget-id='155'>
                              <iframe class="payment-widget" frameborder="0"
                                src="https://students.codingblocks.com/payment/iframe?item_id=155"></iframe>
                            </div>
                          </section>



                                                      <section>
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-sm-12 text-center">
                                        <h2 class="mb16">FAQ</h2>
                                        <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-10 col-sm-offset-1">
                                        <ul class="accordion accordion-2 one-open">
                                          <li class="active">
                                            <div class="title">
                                              <h3 class="inline-block mb0"><span class="sad">Who should do this course?</span></h3></div>
                                            <div class="content">
                                              <p>Anybody who wants to learn programming in Python from scratch, or those who wish to form a solid understanding of Python to pursue Data Science, Machine Learning, or other courses that require it should take this course. This course has
                                                no prerequisites.</p>
                                            </div>
                                          </li>
                                          <li class="">
                                            <div class="title">
                                              <h3 class="inline-block mb0"><span class="sad">I know C, C++, or Java should I do this course?</span></h3></div>
                                            <div class="content">
                                              <p>This course will cover programming principles from scratch using Python. If you already know one of the aforementioned programming languages, it will only be easier for you to pick up the concepts taught in the course, but knowledge is in
                                                no way a prerequisite.</p>
                                            </div>
                                          </li>
                                          <li class="">
                                            <div class="title">
                                              <h3 class="inline-block mb0"><span class="sad">Will this help me in making websites and apps?</span></h3></div>
                                            <div class="content">
                                              <p>This course is designed to give you a solid foundation upon which you can build further skills in Application Development, Web Development, Data Science, and other fields. It does not discuss these topics explicitly.</p>
                                            </div>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </section>

                        </div>

                        <!-- Python End -->

                      <!--  Crux Begin -->

                      <div role="tabpanel" class="tab-pane" id="crux-bundle">
                        <div class="course-card-container">
                          <div class="content-row">
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Problem Solving and Programming Fundamentals</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Flowcharts, pseudo-code and brain teasers</li>
                                <li>IDE installation and familiarization</li>
                                <li>Debugging</li>
                                <li>Input-Output</li>
                                <li>Data Types and Variables</li>
                                <li>Typecasting</li>
                                <li>Loops and Decision constructs</li>
                                <li>Functions and operators</li>
                                <li>Arrays, multi-dimensional arrays and dynamic arrays</li>
                                <li>String and String Buffer</li>
                              </ul>
                            </div>
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Recursion</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Introduction to Recursion</li>
                                <li>Classical Recursion Problems</li>
                              </ul>
                            </div>
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Basics of Data Structures</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Time and Space Complexity</li>
                                <li>Stacks and OOPs (Classes and Objects, Exceptions and Data member
                                  modifiers)
                                </li>
                                <li>Queues and OOPs (Encapsulation, Inheritance and Polymorphism)
                                </li>
                                <li>Linked List and OOPs (Abstract classes, Interfaces and
                                  Packages)
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="content-row">
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Recursion and Optimization</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Recursion</li>
                                <li>Backtracking</li>
                              </ul>
                            </div>
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Data Structures and Algorithms</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Stacks and Queues – Adva Questions</li>
                                <li>Linked Lists – Advanced Questions</li>
                                <li>Generic Trees</li>
                                <li>Binary Trees</li>
                                <li>Binary Search Trees</li>
                              </ul>
                            </div>
                            <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                              <h3 class="topic">Non Linear Data Structures</h3>
                              <hr>
                              <ul class="points-list">
                                <li>Heaps</li>
                                <li>Hash Tables</li>
                                <li>Generics</li>
                                <li>Graphs – Traversals, Minimum Spanning trees, Shortest path
                                  algorithms
                                </li>
                                <li>Text Processing – Text Matching, Compression</li>
                                <li>Dynamic Programming</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <a id="advance-enroll" class="in-page-link"></a>
                        <section class="tabbed-enroll-section">
                          <div class="container">
                            <div class="row v-align-children">
                              <div class="col-md-4 col-sm-6">
                                <div class="pricing-table pt-1 text-center emphasis">
                                  <h5 class="uppercase">
                                    Regular Batch

                                  </h5>
                                  <span class="slashed-price">₹17,000</span><br />
                                  <span class="price">₹8,500</span>
                                  <p class="lead">(24 lectures)</p>
                                  <a class="btn btn-white btn-lg" href="#advance-register">Enroll Now</a>
                                  <p>
                                    <a href="/contactus">Contact Us</a>
                                    <br>Call(Toll-free): 99995 79111 / 99995 79222
                                  </p>
                                </div>
                              </div>
                            </div>

                          </div>

                        </section>


                        <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="mb16 text-center uppercase">Schedule</h3>
        <table class="table table-hover table-striped calendar">
          <thead>
            <tr>
              <th></th>
              <th>Center</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Day &amp; Time</th>
              <th>Batch Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" style="color: #fc4f4f"><i class="fa fa-circle"></i></td>
              <td>Noida</td>
              <td>June 12</td>
              <td>July 24</td>
              <td>Tue, Thu, Fri, Sat (10:00 AM - 2:00 PM)</td>
              <td>Regular</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<a id="advance-register" class="in-page-link"></a>
                        <section>
                          <div class="text-center">
                            <h3>REGISTER NOW</h3>
                          </div>
                          <div class="container widget-container" data-widget-id='147'>
                            <iframe class="payment-widget" frameborder="0"
                              src="https://students.codingblocks.com/payment/iframe?item_id=147"></iframe>
                          </div>
                        </section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="mb16">FAQ</h4>
        <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ul class="accordion accordion-2 one-open">
          <li>
            <div class="title">
              <h4 class="inline-block mb0">Who should do this bootcamp?</h4></div>
            <div class="content">
              <p>The bootcamp is beneficial for students entering their pre-final / final years, and who aim to crack placement/internship interviews in leading IT firms.</p>
            </div>
          </li>
          <li>
            <div class="title">
              <h4 class="inline-block mb0">What are the prerequisites for this bootcamp ?</h4></div>
            <div class="content">
              <p>You should have prior experience with Data Structures and Algorithm Design.</p>
            </div>
          </li>
          <li>
            <div class="title">
              <h4 class="inline-block mb0">Will non-tech topics also be covered?</h4></div>
            <div class="content">
              <p>Non technical aspects of tech interviews (such as Group Discussion, HR Round) will also be covered along with the syllabus.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

                      </div>

                      <!-- Crux End -->

                      <!-- Launchpad Begin -->


                        <div role="tabpanel" class="tab-pane" id="launchpad-bundle">
                          <div class="course-card-container">
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
                                  class="topic">
                                  Getting Started</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Pseudo code</li>
                                  <li>Getting started with C++, IDE Installation</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
                                  class="topic">
                                  Getting a Hold of C++</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Variables,Loops, Conditional Statements</li>
                                  <li>Functions, Reference Variables</li>
                                  <li>Arrays and Pointers</li>
                                  <li>Strings and 2-D Arrays</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4"><h3
                                  class="topic">
                                  Introduction to Advanced Topics</h3>
                                <hr>
                                <ul class="points-list">
                                  <li>Recursion-I</li>
                                  <li>Space Time Complexity Basics</li>
                                  <li>Stacks and Queue Basics</li>
                                  <li>Problem Solving</li>
                                </ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Recursion &amp; Backtracking</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Recursion</li>
                                  <li>Back-Tracking</li>
                                  <li>Space Time Complexity Analysis</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Foundational DS</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Arrays &amp; Bitmasking Vectors</li>
                                  <li>Stacks Queues Problems</li>
                                  <li>Linked Lists</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Sorting Searching And Hashing</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Divide &amp; Conquer</li>
                                  <li>Sorting Algorithms</li>
                                  <li>Binary Search Variants</li>
                                  <li>Bitmasking and Hashing</li>
                                </ul>
                              </div>
                            </div>
                            <div class="content-row">
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">Advanced Data Structures</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Stacks Queues Linked Lists</li>
                                  <li>trees &amp; Tries</li>
                                  <li>Graphs</li>
                                  <li>Heaps and Priority Queues</li>
                                  <li>Binary Search Trees</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">DP vs Greedy Techniques</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Greedy Techniques</li>
                                  <li>Dynamic Programming</li>
                                </ul>
                              </div>
                              <div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <h3 class="topic">STL | Interview Problems</h3>
                                <hr />
                                <ul class="points-list">
                                  <li>Complete C++ STL</li>
                                  <li>Interview problems</li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <a id="advance-enroll" class="in-page-link"></a>



                                          <section class="tabbed-enroll-section">
                                              <div class="container">
                                                  <div class="row v-align-children">
                                                      <div class="col-md-4 col-sm-6">
                                                          <div class="pricing-table pt-1 text-center emphasis">
                                                                  <h5 class="uppercase">fast track batch</h5>
                                                                  <span class="slashed-price">₹17,000</span><br />
                                                                  <span class="price">₹8,500</span>
                                                              <p class="lead">(24-26 lectures)</p><a class="btn btn-white btn-lg"
                                                                                                     href="#register-advance">Enroll
                                                                  Now</a>
                                                              <p><a href="/contactus">Contact Us</a><br>Call(Toll-free):
                                                                  99995 79111 / 99995 79222</p></div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </section>

                                          <section>
                                                <div class="container">
                                                  <div class="row">
                                                    <div class="col-sm-12">
                                                      <h3 class="mb16 text-center uppercase">Schedule</h3>
                                                      <table class="table table-hover table-striped calendar">
                                                        <thead>
                                                          <tr>
                                                            <th></th>
                                                            <th>Center</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>Day &amp; Time</th>
                                                            <th>Batch Type</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr>
                                                            <td class="text-center" style="color: #fc4f4f"><i class="fa fa-circle"></i></td>
                                                            <td>Noida</td>
                                                            <td>June 12</td>
                                                            <td>July 24</td>
                                                            <td>Tue, Thu, Fri, Sat (10:00 AM - 2:00 PM)</td>
                                                            <td>Regular</td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </div>
                                                  </div>
                                                </div>
                                              </section>

                                          <a id="register-advance" class="in-page-link"></a>
                                          <section class="mt-xs-64">
                                              <div class="text-center"><h3>REGISTER NOW</h3></div>
                                              <div class="col-xs-12 text-center bg-secondary" style="height: 100%;">
                                                  <p class="uppercase" style="margin-top: 100px;margin-bottom: 100px;">Seats full. Admissions closed.</p>
                                              </div>
                                          </section>

                                  <section>
                                          <div class="container">
                                            <div class="row">
                                              <div class="col-sm-12 text-center">
                                                <h2 class="mb16">FAQ</h2>
                                                <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-10 col-sm-offset-1">
                                                <ul class="accordion accordion-2 one-open">
                                                  <li>
                                                    <div class="title">
                                                      <h3 class="inline-block mb0"><span class="sad">Who should do this course?</span></h3></div>
                                                    <div class="content">
                                                      <p>Anybody who is interested in learning C++ programming can do this course. C++ is a powerful language and is pretty easy to learn. Coding in its most essential form is nothing but problem solving. It deals with figuring out logical solutions
                                                        and implementing them optimally. The process of learning to code transforms a person into an analytical thinker with strong mathematical and logical skills.</p>
                                                    </div>
                                                  </li>
                                                  <li>
                                                    <div class="title">
                                                      <h3 class="inline-block mb0"><span class="sad">Will this course help if I had C++ in class 12?</span></h3></div>
                                                    <div class="content">
                                                      <p>Yes, absolutely. There is a lot more to learn in C++ than the school curriculum.</p>
                                                    </div>
                                                  </li>
                                                  <li>
                                                    <div class="title">
                                                      <h3 class="inline-block mb0"><span class="sad">I didn’t have C++ in class 12 ? Can I do this course ?</span></h3></div>
                                                    <div class="content">
                                                      <p>Yes. Our instructors will start the C++ course from beginner's level. You don’t need any prior programming knowledge to attend this course. What we need is dedication and passion to learn programming from your side.</p>
                                                    </div>
                                                  </li>
                                                </ul>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </section>
              <br/><br/><br/><br/>
          </div>
        </div>
      </div>
    </section>
    {{> footer}}
</div>
{{> scripts}}
<script>
    $(document).ready(function () {
        var hash = window.location.hash;

        if(hash != undefined) {

          if (hash === '#default') {
            $('#launchpad-bundle').addClass('active');
            $('#launchpad-bundle-tab').addClass('active');
          } else {
            $(hash).addClass('active');
            $(hash + '-tab').addClass('active');
          }
        }

    })
</script>
</body>
</html>
