<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  <style>
    body {
      padding: 0
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Gilroy", "Nunito Sans", sans-serif;
      font-color: #ffffff;
    }

    justify-content {
      space-between !important
    }
  </style>
</head>

<body>
  {{> navbar}}
  <br>
  <br>
  <br>
  <br>
  <div class="a-cbm px-md-5 px-4 live-courses mb-5">
    {{> courseMeta}}
    <div class="row">
      <div class="col-lg-8 mb-lg-0 mb-5">
        <div class="border-card p-md-5 p-4 mb-5">
          <div class="font-md">
            <strong>Summary</strong>
            <br /><br />
            Aspiring to get into a top Multi-National Company? Want a curriculum to give you a one-stop solution for all
            your programming interviews?
            <br>
            The Live coding Interview Course by Coding Blocks is the place for you. This Live Interview preparation
            course bridges the gap between the theoretical knowledge and the quick coding tricks and tips that the
            industry employers look for in their potential candidates. This Bootcamp covers the topics such as Operating
            Systems, DBMS and System Design along with important coding questions asked in the interview process of
            companies like Google, Facebook, Amazon, Microsoft, Directi, Zomato, etc. Along with the technical know-how,
            non-technical aspects of programming interviews will also be covered as a part of the curriculum. Through
            this course, the students will not only become more efficient with their solutions by optimizing space and
            time but this course will also provide them a firm base to excel in all their programming interviews. This
            is meant for the students willing to strengthen their Data Structures and Algorithm concepts. These will be
            a combination of Interview Preparation and one complete course on Advanced Data Structures and Algorithms
            using C++ The journey to get into your dream company starts here!
            <br /><br />
            <strong>Highlights</strong>
            <br /><br />
            <ul class="list-style-gradient-bullet my-0">
              <li>Extensive Data Structures &amp; Algorithmic Coverage</li>
              <li>Project-Based Learning Approach</li>
              <li>In-depth Discussion on Important Computer Science Topics Like OS, DBMS etc</li>
              <li>500+ Video Lectures and Code Challenges</li>
              <li>Hint Videos for Complex Problems</li>
              <li>Lifetime Assignment Access</li>
              <li>Basics &amp; Advanced Coding Topics for Interviews</li>
              <li>Expert Doubt Support</li>
            </ul>
            <br />
            <strong>Pre-requisites</strong>
            <br /><br />
            Basic knowledge of fundamentals in any programming language C++ is required.
            </pre>
          </div>
        </div>
        {{>liveCourseSchedule}}
        {{>aboutMentor}}
      </div>
      <div class="col-lg-4 mb-lg-0 mb-5">
        {{>testTimelines}}
      </div>
      {{> studentsSay}}
      {{> floatingFooter}}
    </div>
  </div>
  {{> scripts}}
</body>

</html>