<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
</head>
<body>
{{> navbar}}
<br>
<br>	
<br>
<br>
<div class="live-courses">
  {{> courseMeta}}
  <div class="width-limiter">
    <div class="row px-md-5 px-4">
      <div class="col-lg-8 mb-lg-0 mb-5">
        <div class="a-cbm">
          <div class="border-card p-0 mb-30">
              <div class="px-md-30 px-20 py-4 bg-grey-light-3 mb-20">
                <div class="bold heading-3 text-gradient-orange p-10">
                  Why choose CB Accelerate?
                </div>
              </div>
              <div style="padding-left: 40px;">
              <div class="pb-15 mb-15 border-bottom font-5 bold">
                45+ Live lectures
              </div>
              <div class="pb-15 mb-15 border-bottom font-5 bold">
                Weekly Doubt Sessions
              </div>
              <div class="pb-15 mb-15 border-bottom font-5 bold">
                Dedicated classes for question discussion
              </div>
              <div class="pb-15 mb-15 border-bottom font-5 bold">
                Interactive Live Sessions
              </div>
              <div class="pb-15 mb-15 border-bottom font-5 bold">
                300+ Questions during sessions
              </div>
            </div>
          </div>
        </div>
        <div class="border-card p-md-5 p-4 mb-5">
          <div class="font-md">
            <strong>Summary</strong>
            <br /><br />
            First of its kind, our Java Live course for beginners is a uniquely designed Live course in Data Structures and Algorithms to aid your journey right from the beginning to the very end in becoming the most skilled software engineers across the globe. The Live course, designed in absolute coherence with our Online course, is to help students become more efficient with their solutions by optimizing time and space. The course provides a firm base for students to excel in all their programming interviews. The core focus of these Live Java classes would be to maintain an equilibrium between theory and practice, thus providing programmers with ample amount of practice questions based on Sorting, Searching, Greedy Algorithms, Divide and Conquer Algorithms, Dynamic Programming and more.
            <br /><br />
            <strong>Highlights</strong>
            <br /><br />
            <ul class="list-style-gradient-bullet my-0">
              <li>Extensive Data Structures & Algorithmic Coverage</li>
              <li>Comfort of Home</li>
              <li>Guidance by Industry-expert Mentors</li>
              <li>Two-way Interactive Sessions</li>
              <li>Recorded Videos after Live Lectures</li>
              <li>Handwritten Mentor Notes</li>
              <li>Immediate Doubt Resolution during Lectures</li>
            </ul>
            <br />
            <strong>Pre-requisites</strong>
            <br /><br />
            There are no pre-requisites to join this course.
            </pre>
          </div>
        </div>
        <div id="demo-form" style="@media (min-width: 410px) {widht=250px;}">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScjJWHjORHc0Rnw35tavrHaGdWDOpLGzIYJ-f9KaUMmmz_Fuw/viewform?embedded=true" width=100% height="1248" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
        {{>demoForm}}
        {{>aboutMentor}}
      </div>
      <div class="col-lg-4 mb-lg-0 mb-5">
        {{>takeDemo}}
        {{>projectsLive}}
        {{>liveCourseSchedule}}
        {{>testTimelines}}
      </div>
    </div>
  </div>
  {{> studentsSay}}
  <div class="a-cbm">
    <div class="width-limiter">
      <div class="py-50 px-md-5 px-4">
        <div class="t-align-c mb-30">
          <div class="heading-5 bold mb-30">Where our Alumni Work</div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/alumni-companies.png">
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
</body>
</html>
