<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist" style="margin-top: -70px;">
		{{> navbar}}
		<div class="main-container">
			{{> header}}
			{{> overview}}
			{{> coursesample}}
			{{> coursehighlights}}
			{{> liveClassBanner}}
			{{> coursecontents}}
						<a id="register-advance" class="in-page-link"></a>

			<section style="">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-4 col-sm-6">
							<div class="pricing-table pt-1 text-center emphasis">
								<div><span class="price">₹17,000</span></div>
								<p class="lead">(22-24 lectures)</p>
								<a class="btn btn-white btn-lg" href="https://dukaan.codingblocks.com/buy?productId=1515">Enroll Now</a>
								<p>
									<a href="/contactus">Contact Us</a>
									<br>Call(Toll-free): 1800-2744-504
								</p>
							</div>
						</div>
					</div>

				</div>
			</section>
			{{> team team=mentors}}
			{{> coursefaq}}
			{{> review-course-section}}
			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
	</body>
</html>
