<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
</head>
<body>
{{> navbar}}
<br>
<br>  
<br>
<br>
<div class="px-md-5 px-4 live-courses mb-5">
  {{> courseMeta}}
  <div class="row">
    <div class="col-lg-8 mb-lg-0 mb-5">
      <div class="border-card p-md-5 p-4 mb-5">
        <div class="font-md">
          <strong>Summary</strong>
          <br /><br />
          This uniquely designed Live course covering advanced topics of Data Structures & Algorithms by Coding Blocks is a complete package for all the budding programmers who aspire to gain expertise in Data Structures and Algorithms or are appearing for their internship/placement interviews. The course is designed to provide ample amount of practice questions based on Sorting, Searching, Greedy Algorithms, Divide and Conquer Algorithms etc. The course provides a firm base for students to excel in all their programming interviews by building an efficient approach to finding optimized solutions.
          <br /><br />
          <strong>Highlights</strong>
          <br /><br />
          <ul class="list-style-gradient-bullet my-0">
            <li>Extensive Data Structure & Algorithmic Coverage</li>
            <li>Comfort of Home</li>
            <li>Guidance by Industry-expert Mentors</li>
            <li>Two-way Interactive Sessions</li>
            <li>Recorded Videos after Live Lectures</li>
            <li>Handwritten Mentor Notes</li>
            <li>Immediate Doubt Resolution during Lectures</li>
          </ul>
          <br />
          <strong>Pre-requisites</strong>
          <br /><br />
            Anyone and everyone with prior experience in C++ is all set!
          </pre>
        </div>
      </div>
      {{>liveCourseSchedule}}
      {{>aboutMentor}}
    </div>
    <div class="col-lg-4 mb-lg-0 mb-5">
      <div class="br-10 overflow-hidden white mb-5">
        <div class="row no-gutters align-items-center bg-gradient-green px-lg-5 px-4 py-4">
          <div class="round s-60x60 border b-white border-2 all-center" style="background: inherit;">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/master-tropgy.svg">
          </div>
          <div class="flex-1 pl-4">
            <div class="card-md mb-1">
              Get free access to
            </div>
            <div class="bold">
              Master Interview Questions for FAANG & Product Companies
            </div>
          </div>
        </div>
      </div>
      <div class="border-card p-lg-5 p-4 bg-gradient-orange white position-relative mb-5">
        <div class="font-md bold">Selection Tests</div>
        <div class="card-md mt-1">Choose your preffered Test Date</div>
        <div class="mt-5">
          <a href="https://hack.codingblocks.com/app/contests/1720" target="_blank" class="button-dashed button-white">25th July</a>
          <a href="https://hack.codingblocks.com/app/contests/1722" target= "_blank" class="button-solid orange button-white ml-xl-3 ml-lg-2 ml-4">31st July</a>
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/victory.svg" class="victory-vector">
      </div>
      <div class="border-card p-lg-5 p-4 b-orange mb-5">
        <div class="font-mds bold">
          Timeline
        </div>
        <div class="border-left mt-5" style="padding-left: 1.5rem;">
          <div class="position-relative mb-4">
            <div class="card-md">
              Pre Booking Starts on
              <br />
              <strong>25th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative mb-4">
            <div class="card-md">
              Selection Test on
              <br />
              <strong>1st August</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative mb-4">
            <div class="card-md">
              Result Declaration on
              <br />
              <strong>6th August</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative">
            <div class="card-md">
              Commencement of Classes from
              <br />
              <strong>16th August</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
        </div>
      </div>
      <div class="border-card p-md-5 p-4 mb-5">
        {{#each highlights}}
          <div class="row no-gutters align-items-center justify-content-between">
            <h5 class="bold flex-1">{{head}}</h5>
            <img src="{{icon}}">
          </div>
          <div class="mt-2 mb-4 card-md">
           {{description}}
          </div>
        {{/each}}
      </div>
      <div class="border-card bg-gradient-purple white p-md-5 p-4">
        <h2 class="bold" style="color: #ffffff">Land your dream job</h2>
        <div class="mb-4 font-sm">Making you ready for grade A companies</div>
                  <img src="https://online.codingblocks.com/_nuxt/img/c1b47b5.svg" alt loading="lazy" />
      </div>
    </div>
    {{> studentsSay}}
    {{> floatingFooter}}
  </div>
</div>
{{> scripts}}
</body>
</html>
