<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist">
		{{> navbar}}
		<div class="main-container">
			{{> header}}
			{{> overview}}
		    {{> coursesample}}
			{{> coursehighlights}}
			{{> liveClassBanner}}
			{{> coursecontents}}


			<section>
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="mb16 text-center uppercase">Course Schedule</h3>
									<table class="table table-hover table-striped calendar">
										<thead>
											<tr>
												
											</tr>
										</thead>
										<tbody>
											<tr><td>Lecture 1<td><td>Introduction to Android Development, OOPS Revision, General Discussion & Installation</td></tr>
											<tr><td>Lecture 2<td><td>Introduction to Kotlin - variables,null safety,functions,extensions functions,loops,conditionals					</td></tr>
											<tr><td>Lecture 3<td><td>Kotlin 2- higher order functions,scope functions , classes , static members, companion object					</td></tr>
											<tr><td>Lecture 4<td><td>Making Simple Views - Linear Layout,Frame Layout,Relative Layout,Buttons(on click using xml),textview					</td></tr>
											<tr><td>Lecture 5<td><td>Getting started with Code - First app Calculator(Homework TicTacToe), Debugging					</td></tr>
											<tr><td>Lecture 6<td><td>Doubts Class with Mentor					</td></tr>
											<tr><td>Lecture 7<td><td>Some more view Toasts,Snackbars,Styling Using Material Library					</td></tr>
											<tr><td>Lecture 8<td><td>Working with intents - Whatsapp Opener as homework					</td></tr>
											<tr><td>Lecture 9<td><td>Understanding shared prefs,Dialogs - Integrating Intent,shared prefs and dialog to tictactoe					</td></tr>
											<tr><td>Lecture 10<td><td>Working with list of items					</td></tr>
											<tr><td>Lecture 11<td><td>RecyclerView and handling on click					</td></tr>
											<tr><td>Lecture 12<td><td>Working with Async Programming - Coroutines					</td></tr>
											<tr><td>Lecture 13<td><td>Jetpack Components 101 - Room and LiveData for offline apps - TodoApp					</td></tr>
											<tr><td>Lecture 14<td><td>Notification, AlarmManager and Broadcast Reciever					</td></tr>
											<tr><td>Lecture 15<td><td>Doubts Class with Mentor					</td></tr>
											<tr><td>Lecture 16<td><td>Changing Toolbar, Collapsing Toolbar and Coordinator Layout,Navigation Drawer					</td></tr>
											<tr><td>Lecture 17<td><td>Starting with networking 					</td></tr>
											<tr><td>Lecture 18<td><td>Using 3rd Party Libraries - Retrofit,Picasso,Gson,Okhttp					</td></tr>
											<tr><td>Lecture 19<td><td>Fragments, ViewPager and PageTransformer					</td></tr>
											<tr><td>Lecture 20<td><td>Files, Runtime Permission, Making simple video player					</td></tr>
											<tr><td>Lecture 21<td><td>Google maps, Location and Hardware Sensors					</td></tr>
											<tr><td>Lecture 22<td><td>Doubts Class with Mentor					</td></tr>
											<tr><td>Lecture 23<td><td>Firebase - What is firebase,Using Firebase Auth					</td></tr>
											<tr><td>Lecture 24<td><td>FirebaseDatabase - Saving Information to Firebase With Auth					</td></tr>
											<tr><td>Lecture 25<td><td>Firebase -  ChatApp					</td></tr>
											<tr><td>Lecture 26<td><td>Understading Architecture Patterns - MVVM (Jetpack Components)					</td></tr>
											<tr><td>Lecture 27<td><td>Working in Background - Services, Work Manager (Jetpack Components)					</td></tr>
											<tr><td>Lecture 28<td><td>Misc - Unit testing, Dependancy Injection , Android Associate Developer Process etc					</td></tr>
										</tbody>
									</table>
							</div>
						</div>
					</div>
			</section>


			<a id="register-advance" class="in-page-link"></a>

			<section style="">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-4 col-sm-6">
							<div class="pricing-table pt-1 text-center emphasis">
								<h5 class="uppercase">
									Regular Batch
								</h5>
								<div><span class="price">₹15,000</span></div>

								<p class="lead">(28 lectures)</p>
								<a class="btn btn-white btn-lg" href="https://dukaan.codingblocks.com/buy?productId=1513">Enroll Now</a>
								<p>
									<a href="/contactus">Contact Us</a>
									<br>Call(Toll-free): 1800-2744-504
								</p>
							</div>
						</div>
					</div>

				</div>
			</section>
			<section>
			</section>
			{{> team team=mentors}}
			{{> coursefaq}}
			{{> review-course-section}}
			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
	</body>
</html>
