<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> overview}}
    {{> coursesample}}
    {{> coursehighlights}}
	{{> liveClassBanner}}

	<a id="contents" class="in-page-link"></a>
	<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="uppercase mb64 text-center color-primary">Course Contents</h2>
                    <div class="course-tabs">
                        <div class="tab-content">
							<div role="tabpanel" class="tab-pane  active" id="crux-bundle">
								<div class="course-card-container">
									<div class="content-row">
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Problem Solving and Programming Fundamentals</h3>
											<hr>
											<ul class="points-list">
												<li>Flowcharts, pseudo-code and brain teasers</li>
												<li>IDE installation and familiarization</li>
												<li>Debugging</li>
												<li>Input-Output</li>
												<li>Data Types and Variables</li>
												<li>Typecasting</li>
												<li>Loops and Decision constructs</li>
												<li>Functions and operators</li>
												<li>Arrays, multi-dimensional arrays and dynamic arrays</li>
												<li>String and String Buffer</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Recursion</h3>
											<hr>
											<ul class="points-list">
												<li>Introduction to Recursion</li>
												<li>Classical Recursion Problems</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Basics of Data Structures</h3>
											<hr>
											<ul class="points-list">
												<li>Time and Space Complexity</li>
												<li>Stacks and OOPs (Classes and Objects, Exceptions and Data member
													modifiers)
												</li>
												<li>Queues and OOPs (Encapsulation, Inheritance and Polymorphism)
												</li>
												<li>Linked List and OOPs (Abstract classes, Interfaces and
													Packages)
												</li>
											</ul>
										</div>
									</div>
									<div class="content-row">
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Recursion and Optimization</h3>
											<hr>
											<ul class="points-list">
												<li>Recursion</li>
												<li>Backtracking</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Data Structures and Algorithms</h3>
											<hr>
											<ul class="points-list">
												<li>Stacks and Queues – Adva Questions</li>
												<li>Linked Lists – Advanced Questions</li>
												<li>Generic Trees</li>
												<li>Binary Trees</li>
												<li>Binary Search Trees</li>
											</ul>
										</div>
										<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<h3 class="topic">Non Linear Data Structures</h3>
											<hr>
											<ul class="points-list">
												<li>Heaps</li>
												<li>Hash Tables</li>
												<li>Generics</li>
												<li>Graphs – Traversals, Minimum Spanning trees, Shortest path
													algorithms
												</li>
												<li>Text Processing – Text Matching, Compression</li>
												<li>Dynamic Programming</li>
											</ul>
										</div>
									</div>
								</div>
								<a id="advance-enroll" class="in-page-link"></a>
								<section class="tabbed-enroll-section">
									<div class="container">
										<div class="row v-align-children">
											<div class="col-md-4 col-sm-6">
												<div class="pricing-table pt-1 text-center emphasis">
													<h5 class="uppercase">
													</h5>
													<span class="price">₹11,000</span><br />
													<p class="lead">(32 lectures)</p>
													<a class="btn btn-white btn-lg" href="https://dukaan.codingblocks.com/buy?productId=1511">Enroll Now</a>
													<p>
														<a href="/contactus">Contact Us</a>
														<br>Call(Toll-free): 1800-2744-504
													</p>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section>
									<div class="container">
										<div class="row">
											<div class="col-sm-12">
												<h3 class="mb16 text-center uppercase">Course Schedule</h3>
													<table class="table table-hover table-striped calendar">
														<thead>
															<tr>
																
															</tr>
														</thead>
														<tbody>
															<tr><td>Lecture 1 </td><td>   Programming Fundamentals 1 </td></tr>
															<tr><td>Lecture 2 </td><td>   Programming Fundamentals 2 </td></tr>
															<tr><td>Lecture 3 </td><td>   Programming Fundamentals 3 </td></tr>
															<tr><td>Lecture 4 </td><td>   Arrays 1 </td></tr>
															<tr><td>Lecture 5 </td><td>   Arrays 2 </td></tr>
															<tr><td>Lecture 6 </td><td>   Strings </td></tr>
															<tr><td>Lecture 7 </td><td>   Bitmasking/Sliding Window </td></tr>
															<tr><td>Lecture 8 </td><td>   Space Time Complexity </td></tr>
															<tr><td>Lecture 9 </td><td>   Recursion 1 </td></tr>
															<tr><td>Lecture 10</td><td>   Recursion 2 </td></tr>
															<tr><td>Lecture 11</td><td>   Recursion 3 </td></tr>
															<tr><td>Lecture 12</td><td>   Backtracking </td></tr>
															<tr><td>Lecture 13</td><td>   Divide and Conquer 1 </td></tr>
															<tr><td>Lecture 14</td><td>   Divide and Conquer 2 </td></tr>
															<tr><td>Lecture 15</td><td>   OOPS </td></tr>
															<tr><td>Lecture 16</td><td>   Stacks/Queues </td></tr>
															<tr><td>Lecture 17</td><td>   Stacks/Queue </td></tr>
															<tr><td>Lecture 18</td><td>   Linked List 1 </td></tr>
															<tr><td>Lecture 19</td><td>   Linked List 2 </td></tr>
															<tr><td>Lecture 20</td><td>   Binary Tree 1 </td></tr>
															<tr><td>Lecture 21</td><td>   Binary Tree 2 </td></tr>
															<tr><td>Lecture 22</td><td>   Binary Search Tree 1 </td></tr>
															<tr><td>Lecture 23</td><td>   Binary Search Tree 2 </td></tr>
															<tr><td>Lecture 24</td><td>   HashMap </td></tr>
															<tr><td>Lecture 25</td><td>   HashMap/Heaps </td></tr>
															<tr><td>Lecture 26</td><td>   Heaps </td></tr>
															<tr><td>Lecture 27</td><td>   DP 1 </td></tr>
															<tr><td>Lecture 28</td><td>   DP 2 </td></tr>
															<tr><td>Lecture 29</td><td>   DP 3 </td></tr>
															<tr><td>Lecture 30</td><td>   Trie </td></tr>
															<tr><td>Lecture 31</td><td>   Graph 1 </td></tr>
															<tr><td>Lecture 32</td><td>   Graph 2 </td></tr>
														</tbody>
													</table>
											</div>
										</div>
									</div>
								</section>

				              
				              <a id="advance-register" class="in-page-link"></a>
							</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> team team=mentors}}
    {{> coursefaq}}
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
<script>
    $(document).ready(function () {
        var hash = window.location.hash;
        if (hash === '#crux-bundle' || hash === '#crux-bundle-content') {
            $('#tab-basic').toggleClass('active');
            $('#tab-advance').toggleClass('active');
            $('#content-basic').toggleClass('active');
            $('#crux-bundle').toggleClass('active');
        }

		$('#tab-advance-toggle').click (function (e) {
            $('#tab-basic').toggleClass('active');
            $('#tab-advance').toggleClass('active');
            $('#content-basic').toggleClass('active');
            $('#crux-bundle').toggleClass('active');
		})
    })
</script>
</body>
</html>
