<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist">
		{{> navbar}}
		<div class="main-container">
			{{> header}}
			{{> overview}}
			{{> coursesample}}
			{{> coursehighlights}}
			{{> freeAccessBanner}}

			<a id="contents" class="in-page-link"></a>
			<section>
				<div class="container" id="contents">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="uppercase mb64 text-center color-primary">Course Contents</h2>
							<div class="course-tabs">
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="launchpad-bundle">
										<div class="course-card-container">
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Getting Started</h3>
													<hr>
													<ul class="points-list">
														<li>Pseudo code</li>
														<li>Getting started with C++, IDE Installation</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Getting a Hold of C++</h3>
													<hr>
													<ul class="points-list">
														<li>Variables,Loops, Conditional Statements</li>
														<li>Functions, Reference Variables</li>
														<li>Arrays and Pointers</li>
														<li>Strings and 2-D Arrays</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Introduction to Advanced Topics</h3>
													<hr>
													<ul class="points-list">
														<li>Recursion-I</li>
														<li>Space Time Complexity Basics</li>
														<li>Stacks and Queue Basics</li>
														<li>Problem Solving</li>
													</ul>
												</div>
											</div>
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Recursion &amp; Backtracking</h3>
													<hr />
													<ul class="points-list">
														<li>Recursion</li>
														<li>Back-Tracking</li>
														<li>Space Time Complexity Analysis</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Foundational DS</h3>
													<hr />
													<ul class="points-list">
														<li>Arrays &amp; Bitmasking Vectors</li>
														<li>Stacks Queues Problems</li>
														<li>Linked Lists</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Sorting Searching And Hashing</h3>
													<hr />
													<ul class="points-list">
														<li>Divide &amp; Conquer</li>
														<li>Sorting Algorithms</li>
														<li>Binary Search Variants</li>
														<li>Bitmasking and Hashing</li>
													</ul>
												</div>
											</div>
											<div class="content-row">
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">Advanced Data Structures</h3>
													<hr />
													<ul class="points-list">
														<li>Stacks Queues Linked Lists</li>
														<li>trees &amp; Tries</li>
														<li>Graphs</li>
														<li>Heaps and Priority Queues</li>
														<li>Binary Search Trees</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">DP vs Greedy Techniques</h3>
													<hr />
													<ul class="points-list">
														<li>Greedy Techniques</li>
														<li>Dynamic Programming</li>
													</ul>
												</div>
												<div class="course-card col-xs-12 col-sm-6 col-md-4 col-lg-4">
													<h3 class="topic">STL | Interview Problems</h3>
													<hr />
													<ul class="points-list">
														<li>Complete C++ STL</li>
														<li>Interview problems</li>
													</ul>
												</div>
											</div>
										</div>
										<a id="advance-enroll" class="in-page-link"></a>


									<section>
										<div class="container">
											<div class="row">
												<div class="col-sm-12">
													<h3 class="mb16 text-center uppercase">Course Schedule</h3>
													<table class="table table-hover table-striped calendar">
														<thead>
															<tr>
																<th class="col-md-6">Sr.no</th>
																<th class="col-md-6">Name</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Lecture 1</td>
																<td>Programming Fundamentals 1 </td>
															</tr>
															<tr>
																<td>Lecture 2</td>
																<td>Programming Fundamentals 2 </td>
															</tr>
															<tr>
																<td>Lecture 3</td>
																<td>Programming Fundamentals 3/Pointer </td>
															</tr>
															<tr>
																<td>Lecture 4</td>
																<td>Arrays 1 </td>
															</tr>
															<tr>																
																<td>Lecture 5</td>
																<td>Arrays 2 </td>
															</tr>
															<tr>																
																<td>Lecture 6</td>
																<td>Bitmasking/Sliding Window/Strings </td>
															</tr>
															<tr>
																<td>Lecture 7</td>
																<td>STL and 2D arrays/Strings </td>
															</tr>
															<tr>																
																<td>Lecture 8</td>
																<td>Space Time Complexity </td>
															</tr>
															<tr>
																<td>Lecture 9</td>
																<td>Recursion 1 </td>
															</tr>
															<tr>
																<td>Lecture 10</td>
																<td>Recursion 2 </td>
															<tr>


															<tr><td>Lecture 11</td><td>Recursion 3 </td></tr>

															<tr><td>Lecture 12</td><td>Backtracking </td></tr>


															<tr><td>Lecture 13</td><td>Divide and Conquer 1 </td></tr>

															<tr><td>Lecture 14</td><td>Divide and Conquer 2 </td></tr>


															<tr><td>Lecture 15</td><td>OOP </td></tr>

															<tr><td>Lecture 16</td><td>Stack </td></tr>

															<tr><td>Lecture 17</td><td>Queue </td></tr>

															<tr><td>Lecture 18</td><td>Linked List 1 </td></tr>

															<tr><td>Lecture 19</td><td>Linked List 2 </td></tr>

															<tr><td>Lecture 20</td><td>Binary Tree 1 </td></tr>

															<tr><td>Lecture 21</td><td>Binary Tree 2 </td></tr>

															<tr><td>Lecture 22</td><td>Binary Search Tree 1 </td></tr>

															<tr><td>Lecture 23</td><td>Binary Search Tree 2 </td></tr>


															<tr><td>Lecture 24</td><td>HashMap </td></tr>

															<tr><td>Lecture 25</td><td>DP 1 </td></tr>

															<tr><td>Lecture 26</td><td>DP 2 </td></tr>

															<tr><td>Lecture 27</td><td>DP 3 </td></tr>

															<tr><td>Lecture 28</td><td>Heap 1 </td></tr>

															<tr><td>Lecture 29</td><td>Heap 2 </td></tr>

															<tr><td>Lecture 30</td><td>Trie </td></tr>

															<tr><td>Lecture 31</td><td>Graph 1 </td></tr>

															<tr><td>Lecture 32</td><td>Graph 2 </td></tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</section>

										<section class="tabbed-enroll-section">
											<div class="container">
												<div class="row v-align-children">
													<div class="col-md-4 col-sm-6">
														<div class="pricing-table pt-1 text-center emphasis">
															<h5 class="uppercase">regular batch</h5>
															<span class="price">₹11,000</span><br />
															<p class="lead">(32 lectures)</p>
															<a class="btn btn-white btn-lg" href="https://dukaan.codingblocks.com/buy?productId=1506">Enroll Now</a>
			   												<p><a href="/contactus">Contact Us</a><br>Call(Toll-free):1800-2744-504</p>
			   											</div>
													</div>
												</div>
											</div>
										</section>
										
										<a id="register-advance" class="in-page-link"></a>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>

			{{> team team=mentors}}
			{{> coursefaq}}
			{{> review-course-section}}
			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
		<script>
			$(document).ready(function () {
				var hash = window.location.hash;
				if (hash === '#launchpad-bundle-content' || hash === '#advance') {
					$('#tab-basic').toggleClass('active');
					$('#tab-advance').toggleClass('active');
					$('#content-basic').toggleClass('active');
					$('#launchpad-bundle').toggleClass('active');
				}

				$('#tab-advance-toggle').click (function (e) {
					$('#tab-basic').toggleClass('active');
					$('#tab-advance').toggleClass('active');
					$('#content-basic').toggleClass('active');
					$('#launchpad-bundle').toggleClass('active');
				})
			})
		</script>

		<script>
		</script>
	</body>
</html>
