<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist">
		{{> navbar}}
		<div class="main-container">
			{{> header}}
			{{> overview}}					
			{{> coursesample}}
			{{> coursehighlights}}
			{{> liveClassBanner}}
			{{> coursecontents}}

			<section class="tabbed-enroll-section">
									<div class="container">
										<div class="row v-align-children">
											<div class="col-md-4 col-sm-6">
												<div class="pricing-table pt-1 text-center emphasis">
													<h5 class="uppercase">
													</h5>
													<span class="price">₹8,000</span><br />
													<p class="lead">(30 lectures)</p>
													<a class="btn btn-white btn-lg" href="https://dukaan.codingblocks.com/buy?productId=1518">Enroll Now</a>
													<p>
														<a href="/contactus">Contact Us</a>
														<br>Call(Toll-free): 1800-2744-504
													</p>
												</div>
											</div>
										</div>
									</div>
			<a id="register-advance" class="in-page-link"></a>
			<section>
									<div class="container">
										<div class="row">
											<div class="col-sm-12">
												<h3 class="mb16 text-center uppercase">Course Schedule</h3>
													<table class="table table-hover table-striped calendar">
														<thead>
															<tr>
																
															</tr>
														</thead>
														<tbody>
															<tr><td>Lecture 1 </td><td>Data Science Quickstart Mode </td></tr>
															<tr><td>Lecture 2 </td><td>Introduction to Python </td></tr>
															<tr><td>Lecture 3 </td><td>Conditions, Loops and functions </td></tr>
															<tr><td>Lecture 4 </td><td>String and other inbuilt data structures </td></tr>
															<tr><td>Lecture 5 </td><td>Files Handling </td></tr>
															<tr><td>Lecture 6 </td><td>Numpy </td></tr>
															<tr><td>Lecture 7 </td><td>Exploratory data analysis with Pandas </td></tr>
															<tr><td>Lecture 8 </td><td>Data visualization using Matplotlib </td></tr>
															<tr><td>Lecture 9 </td><td>Linear Regression </td></tr>
															<tr><td>Lecture 10</td><td> Logistic Regression </td></tr>
															<tr><td>Lecture 11</td><td> KNN and related Classification </td></tr>
															<tr><td>Lecture 12</td><td> Face Recognition with KNN </td></tr>
															<tr><td>Lecture 13</td><td> K-Means and related clustering </td></tr>
															<tr><td>Lecture 14</td><td> Principle component Analysis (PCA)  </td></tr>
															<tr><td>Lecture 15</td><td> Decision tree, Random Forest </td></tr>
															<tr><td>Lecture 16</td><td> Manual Ensembling Vs.Automated Ensembling </td></tr>
															<tr><td>Lecture 17</td><td> Support Vector Machines </td></tr>
															<tr><td>Lecture 18</td><td> Markov Chain </td></tr>
															<tr><td>Lecture 19</td><td> NLTK and Naïve Bayes </td></tr>
															<tr><td>Lecture 20</td><td> Web Scraping and web api (Flask) </td></tr>
															<tr><td>Lecture 21</td><td> Intro to Neural Net and TensorFlow </td></tr>
															<tr><td>Lecture 22</td><td> First DNN with Keras </td></tr>
															<tr><td>Lecture 23</td><td> Functional Models </td></tr>
															<tr><td>Lecture 24</td><td> CNN Intro </td></tr>
															<tr><td>Lecture 25</td><td> Transfer Learning </td></tr>
															<tr><td>Lecture 26</td><td> Auto Encoders </td></tr>
															<tr><td>Lecture 27</td><td> Recurrent and Combined Architectures </td></tr>
															<tr><td>Lecture 28</td><td> Time Series - Averages, Smoothening, AR Models </td></tr>
															<tr><td>Lecture 29</td><td> Generative adversarial networks9</td></tr>
															<tr><td>Lecture 30</td><td> Reinforcement learning and Gene10ic algorith30</td></tr>
														</tbody>
													</table>
											</div>
										</div>
									</div>
								</section>
			{{> coursefaq}}
			{{> review-course-section}}
			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
	</body>
</html>
