<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
</head>
<body>
{{> navbar}}
<br>
<br>	
<br>
<br>
<div class="px-md-5 px-4 live-courses mb-5">
  {{> courseMeta}}
  <div class="row">
    <div class="col-lg-8 mb-lg-0 mb-5">
      <div class="border-card p-md-5 p-4 mb-5">
        <div class="font-md">
          <strong>Summary</strong>
          <br /><br />
          First of its kind, our Python online for Developers is a uniquely designed online course in Python to aid your journey right from the beginning to the very end in becoming the most skilled software engineers across the globe. Our online course in Python is not only in absolute coherence with our most sought after classroom program, but also provides you the comfort of learning at your home. With over 50 video lectures, all our doubt classes will also be held live on our own online platform so as to provide the students with the most effective doubt solving, in a one-to-one conversational format. This online training in Python includes basic programming fundamentals, object oriented programming (OOPs) and in-depth coverage of data structures in Python. Through these online classes, the students will not only become more efficient with their solutions by optimizing space and time but this course will also provide them a firm base to excel in all their programming interviews. The core focus of these Python classes for beginners is to maintain an equilibrium between theory and practical, thus providing the programmers with an ample amount of practice of questions based on different programming techniques. Not just programming exercises, this course gives you kickstart in Python Development by introducing python for web - working with web API's, building chatbots, creating apps using flask and Django and Python for Data Science. In the end of the course we also cover automation using selenium which you can use automate boring tasks in Python.
          <br /><br />
          <strong>Highlights</strong>
          <br /><br />
          <ul class="list-style-gradient-bullet my-0">
            <li>Extensive Data Structures & Algorithmic Coverage</li>
            <li>Comfort of Home</li>
            <li>Guidance by Industry-expert Mentors</li>
            <li>Two-way Interactive Sessions</li>
            <li>Recorded Videos after Live Lectures</li>
            <li>Handwritten Mentor Notes</li>
            <li>Immediate Doubt Resolution during Lectures</li>
          </ul>
          <br />
          <strong>Pre-requisites</strong>
          <br /><br />
          There are no pre-requisites to join this course.
          </pre>
        </div>
      </div>
    	{{>liveCourseSchedule}}
      {{>aboutMentor}}
    </div>
    <div class="col-lg-4 mb-lg-0 mb-5">
            {{>testTimelines}}
    </div>
    {{> studentsSay}}
    {{> floatingFooter}}
  </div>
</div>
{{> scripts}}
</body>
</html>
