<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  <style>
    body {
      padding: 0
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: "Gilroy","Nunito Sans",sans-serif;
      font-color: #ffffff;
    }
    justify-content{
      space-between !important
    }
  </style>
</head>
<body>
{{> navbar}}
<br>
<br>	
<br>
<br>
<div class="live-courses">
  {{> courseMeta}}
  <div class="width-limiter">
    <div class="row px-md-5 px-4">
      <div class="col-lg-8 mb-lg-0 mb-5">
        <div class="a-cbm">
          <div class="card mb-30" style="border: solid 1px #f26a3e;">
            <div class="heading-3 bold text-gradient-orange mb-30">
              Why choose CB Accelerate?
            </div>
            <div class="pb-15 mb-15 border-bottom font-5 bold">
              50+ Lectures at Coding Blocks foundation courses
            </div>
            <div class="pb-15 mb-15 border-bottom font-5 bold">
              Weekly Doubt Sessions
            </div>
            <div class="pb-15 mb-15 border-bottom font-5 bold">
              Dedicated classes for question discussion
            </div>
            <div class="pb-15 mb-15 border-bottom font-5 bold">
              Interactive Live Sessions
            </div>
            <div class="pb-15 mb-15 border-bottom font-5 bold">
              8 Projects during sessions
            </div>
          </div>
        </div>
        <div class="border-card p-md-5 p-4 mb-5">
          <div class="font-md">
            <strong>Summary</strong>
            <br /><br />
            First of its kind, our C++ Live course for beginners is a uniquely designed course in Data Structures and
            Algorithms to aid your journey right from the beginning to the very end in becoming the most skilled software
            engineers across the globe.Through these Live classes, the students will not only become more efficient with
            their solutions by optimizing space and time but will also provide them a firm base to excel in all their
            programming interviews. The core focus of these C++ classes is to maintain an equilibrium between theory and
            practical, thus providing the programmers with an ample amount of practice of questions based on Sorting,
            Searching, Greedy Algorithms, Divide and Conquer Algorithms and more.
            <br /><br />
            <strong>Highlights</strong>
            <br /><br />
            <ul class="list-style-gradient-bullet my-0">
              <li>Extensive Data Structures & Algorithmic Coverage</li>
              <li>500+ Video Lectures and Code Challenges</li>
              <li>Hint Videos for Complex Problems</li>
              <li>Lifetime Assignment Access</li>
              <li>Basics & Advanced Coding Topics for Interviews</li>
              <li>Expert Doubt Support</li>
            </ul>
            <br />
            <strong>Pre-requisites</strong>
            <br /><br />
            There are no pre-requisites to join this course.
            </pre>
          </div>
        </div>
        {{>aboutMentor}}
      </div>
      <div class="col-lg-4 mb-lg-0 mb-5">
        {{>projectsLive}}
        {{>liveCourseSchedule}}
        {{>testTimelines}}
      </div>
    </div>
  </div>
  {{> studentsSay}}
  <div class="a-cbm">
    <div class="width-limiter">
      <div class="py-50 px-md-5 px-4">
        <div class="t-align-c mb-30">
          <div class="heading-5 bold mb-30">Where our Alumni Work</div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/alumni-companies.png">
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
</body>
</html>