<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
</head>
<body>
{{> navbar}}
<br>
<br>  
<br>
<br>
<div class="px-md-5 px-4 live-courses mb-5">
  {{> courseMeta}}
  <div class="row">
    <div class="col-lg-8 mb-lg-0 mb-5">
      <div class="border-card p-md-5 p-4 mb-5">
        <div class="font-md">
          <strong>Summary</strong>
          <br /><br />
          This uniquely designed Live course covering advanced topics of Data Structures & Algorithms by Coding Blocks is a complete package for all the budding programmers who aspire to gain expertise in Data Structures and Algorithms or are appearing for their internship/placement interviews. The course is designed to provide ample amount of practice questions based on Sorting, Searching, Greedy Algorithms, Divide and Conquer Algorithms etc. The course provides a firm base for students to excel in all their programming interviews by building an efficient approach to finding optimized solutions.
          <br /><br />
          <strong>Highlights</strong>
          <br /><br />
          <ul class="list-style-gradient-bullet my-0">
            <li>Extensive Data Structure & Algorithmic Coverage</li>
            <li>Comfort of Home</li>
            <li>Guidance by Industry-expert Mentors</li>
            <li>Two-way Interactive Sessions</li>
            <li>Recorded Videos after Live Lectures</li>
            <li>Handwritten Mentor Notes</li>
            <li>Immediate Doubt Resolution during Lectures</li>
          </ul>
          <br />
          <strong>Pre-requisites</strong>
          <br /><br />
            Anyone and everyone with prior experience in C++ is all set!
          </pre>
        </div>
      </div>
      {{>liveCourseSchedule}}
      {{>aboutMentor}}
    </div>
    <div class="col-lg-4 mb-lg-0 mb-5">
      {{>testTimelines}}
    </div>
    {{> studentsSay}}
    {{> floatingFooter}}
  </div>
</div>
{{> scripts}}
</body>
</html>
