<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
</head>
<body>
{{> navbar}}
<br>
<br>  
<br>
<br>
<div class="live-courses">
  {{> courseMeta}}
  <div class="width-limiter">
    <div class="row px-md-5 px-4">
      <div class="col-lg-8 mb-lg-0 mb-5">
        <div class="a-cbm">
          <div class="border-card p-0 mb-30">
              <div class="px-md-30 px-20 py-4 bg-grey-light-3 mb-20">
                <div class="bold heading-3 text-gradient-orange p-10">
                  Why choose System Design at CB?
                </div>
              </div>
              <div style="padding-left: 40px;">
                <div class="pb-15 mb-15 border-bottom font-5 bold">
                  25+ Live lectures
                </div>
                <div class="pb-15 mb-15 border-bottom font-5 bold">
                  Taught by Industry Expert
                </div>
                <div class="pb-15 mb-15 border-bottom font-5 bold">
                  Structured Content coverage and Interview questions
                </div>
                <div class="pb-15 mb-15 border-bottom font-5 bold">
                  Interactive Online Learning
                </div>
                <div class="pb-15 mb-15 border-bottom font-5 bold">
                  Certificate of Excellence/Completion
                </div>
                <div class="pb-15 mb-15 border-bottom font-5 bold">
                  Job Assistance with 150+ Hiring partners
                </div>
              </div>
          </div>
        </div>
        <div class="border-card p-md-5 p-4 mb-5">
          <div class="font-md">
            <h3><strong>Top Case Studies: </strong></h3><br>
            <img src="https://images.codingblocks.com/img/SystemDesign-CaseStudies.png">
            <br /><br />
            <strong>Highlights</strong>
            <br /><br />
            <img src="https://images.codingblocks.com/img/SD-Highlights.png">
            <br /><br/>
            <strong>Pre-requisites</strong>
            <br /><br />
              Knowledge of any object oriented programming language in Java and C++ etc.
            </pre>
          </div>
        </div>
        {{#if demo}}
          {{>demoForm}}
        {{/if}}
        
        {{>aboutMentor}}
      </div>
      <div class="col-lg-4 mb-lg-0 mb-5">
        {{#if demo}}
          {{>takeDemo}}
        {{/if}}
        <div class="h4">Companies that hire:</div>
        <img src="https://images.codingblocks.com/img/DevOps-4.png">
        {{!-- {{>projectsLive}} --}}
        {{>liveCourseSchedule}}
        {{>testTimelines}}
      </div>
    </div>
  </div>
  {{> studentsSay}}
  <div class="a-cbm">
    <div class="width-limiter">
      <div class="py-50 px-md-5 px-4">
        <div class="t-align-c mb-30">
          <div class="heading-5 bold mb-30">Where our Alumni Work</div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/alumni-companies.png">
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
{{> scripts}}
</body>
</html>
