<div class="p-md-5 p-4 bg-gradient-purple">
				    <div class="row align-items-center no-gutters">
				      <div class="col-12 col-md-4 t-align-c t-align-md-l white">
				        <h2 class="bold" style="color: #ffffff">Land your dream job</h2>
				        <div class="font-sm mt-2">Our alumni work at</div>
				      </div>
				      <div class="col-12 col-md-8 mt-md-0 mt-3">
				        <div>
				          <img src="https://online.codingblocks.com/_nuxt/img/c1b47b5.svg" alt loading="lazy" />
				        </div>
				      </div>
				    </div>
				</div>