<!--bootcamps-->
<a id="bootcamps" class="in-page-link"></a>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {{#if bootcampsSection}}
                    {{#with bootcampsSection}}
                        {{#if heading}}<h3 class="uppercase mb16">{{{heading}}}</h3>{{/if}}
                        {{# if content}}<p class="lead mb64">{{{content}}}</p>{{/if}}
                    {{/with}}
                {{else}}
                    <h3 class="uppercase mb16">bootcamps</h3>
                    <p class="lead mb64">Fast paced bootcamps for Beginners and Advanced Programmers</p>
                {{/if}}
            </div>
        </div>

        <div class="row">
            {{#each bootcampsList}}
                {{> course}}
            {{/each}}
        </div>
    </div>
</section>
<!--endbootcamps-->
