{{#with buyDemoSyllabus}}
<div class="col-lg-4 mb-lg-0 mb-5">
      
      <div class="border-card p-lg-5 p-4 bg-gradient-orange mb-5 white">
        <div class="row no-gutters align-items-center justify-content-between pb-3 border-bottom">
          <div class="font-md bold">Selection Test</div>
          <div>
            <div class="bold" style="font-size: 2rem;">01</div>
            <div class="font-sm bold">
              AUG
            </div>
          </div>
        </div>
        <div class="py-4 border-bottom">
          <div class="card-md">
            This amount will be reduced from the total course price upon your successful enrollment.
          </div>
          <div class="card-md mt-3">
            All the non selected students will get a refund of Rs 1000
          </div>
        </div>
        <div class="mt-4">
          <div class="row no-gutters justify-content-between align-items-center">
            <div class="font-mds bold">1000</div>
            <div class="button-solid button-white orange">Pre Book Now</div>
          </div>
        </div>
      </div>

      <div class="border-card p-lg-5 p-4 b-orange mb-5">
        <div class="font-mds bold">
          Timeline
        </div>
        <div class="border-left mt-5" style="padding-left: 1.5rem;">
          <div class="position-relative mb-4">
            <div class="card-md">
              Pre Booking Starts on
              <br />
              <strong>25th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative mb-4">
            <div class="card-md">
              Pre Booking Starts on
              <br />
              <strong>25th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative mb-4">
            <div class="card-md">
              Pre Booking Starts on
              <br />
              <strong>25th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative">
            <div class="card-md">
              Pre Booking Starts on
              <br />
              <strong>25th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
        </div>
      </div>

     
      <div class="border-card p-md-5 p-4 mb-5">
      {{#each highlights}}
        <div class="row no-gutters align-items-center justify-content-between">
          <h5 class="bold flex-1">{{head}}</h5>
          <img src="{{icon}}">
        </div>
        <div class="mt-2 mb-4 card-md">
         {{description}}
        </div>
      {{/each}}
      </div>
      <div class="border-card bg-gradient-purple white p-md-5 p-4">
        <h2 class="bold" style="color: #ffffff">Land your dream job</h2>
        <div class="mb-4 font-sm">Making you ready for grade A companies</div>
                  <img src="https://online.codingblocks.com/_nuxt/img/c1b47b5.svg" alt loading="lazy" />
      </div>
    </div>
{{/with}}