<div class="container corouselonline">
    <div class="col-sm-12 text-center">
        <h1 class="uppercase mb16">Special Discounts</h1>
        <p class="lead">
            Get free trials of our online courses now !</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide multi-item-carousel" id="theCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-xs-4"><a href="online-courses/android-app-development.html"><img src="../assets/images/cbonline/android.jpg" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="online-courses/competitive-online.html"><img src="../assets/images/cbonline/cp.jpg" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="online-courses/c-plus-plus.html"><img src="../assets/images/cbonline/masterc++.jpg" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="online-courses/coding-interview-preparation-online.html"><img src="../assets/images/cbonline/ip.jpg" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="online-courses/java.html"><img src="../assets/images/cbonline/masterjava.jpg" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="online-courses/machine-learning.html"><img src="../assets/images/cbonline/online-ml.jpg" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="online-courses/c-plus-plus.html"><img src="../assets/images/cbonline/online-c++.jpg" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-xs-4"><a href="online-courses/web-development-nodejs.html"><img src="../assets/images/cbonline/webdev.jpg" class="img-responsive"></a></div>
                    </div>
                </div>
                <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left arrow-color"></i></a>
                <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right arrow-color"></i></a>
            </div>
        </div>
    </div>
</div>