<!--courses-->
<a id="courses" class="in-page-link"></a>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {{#if coursesSection}}
                    {{#with coursesSection}}
                        {{#if heading}}<h3 class="uppercase mb16">{{{heading}}}</h3>{{/if}}
                        {{# if content}}<p class="lead mb64">{{{content}}}</p>{{/if}}
                    {{/with}}
                {{else}}
                    <h3 class="uppercase mb16">courses</h3>
                    <p class="lead mb64">Courses for all stages, with equal focus on theory and implementation</p>
                {{/if}}
            </div>
        </div>

        <div class="row">
            {{#each coursesList}}
                {{> course}}
            {{/each}}
        </div>
    </div>
</section>
<!--endcourses-->
