{{#with package}}
    <section>
        <div class="container">
            {{#each @root.packageList}}
                {{#ifEquals this.id ../this}}
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="text-uppercase">{{name}}</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-center">
                            {{#each @root.coursesList}}
                                {{#ifEquals this.id ../this.courses.[0]}}
                                    {{> course first = true odd= false}}
                                {{/ifEquals}}
                            {{/each}}
                            {{#each @root.bootcampsList}}
                                {{#ifEquals this.id ../this.courses.[0]}}
                                    {{> course first = true odd= false}}
                                {{/ifEquals}}
                            {{/each}}
                            {{#each @root.coursesList}}
                                {{#ifEquals this.id ../this.courses.[1]}}
                                    {{> course second = true odd= true}}
                                {{/ifEquals}}
                            {{/each}}
                            {{#each @root.bootcampsList}}
                                {{#ifEquals this.id ../this.courses.[1]}}
                                    {{> course second = true odd= true}}
                                {{/ifEquals}}
                            {{/each}}
                            {{> course simple = true}}

                        </div>
                    </div>
                {{/ifEquals}}
            {{/each}}
        </div>
    </section>
{{/with}}