<!--courseenroll-->
{{#with courseEnroll}}
    <a id="enroll" class="in-page-link"></a>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-4 col-sm-6">
                    {{> pricing-table}}
                </div>
            </div>

        </div>

    </section>
{{/with}}
<!--endcourseenroll-->
