<div class="row courses-row">
    {{#each courses}}
        {{#each @root.coursesList}}
            {{#ifEquals this.id ../this.id}}
                {{> course options=../this}}
            {{/ifEquals}}
        {{/each}}
        {{#each @root.bootcampsList}}
            {{#ifEquals this.id ../this.id}}
                {{> course options=../this}}
            {{/ifEquals}}
        {{/each}}
    {{/each}}
</div>