<section class='bg-dark'>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb80 text-center">Sample Class</h2>
                <iframe width="720" height="405" src="{{sample.url}}" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>