<div class="t-align-c mb-5">
        <h2>Demo Class Recordings</h2>
    </div>
{{#each demoClass}}
<div class="col-md-4">
												 <div class="panel panel-default hover-card"> <div class="panel-body"> <h3 class="panel-title pull-left"> </h3> 
												 </div>
												 <iframe width="100%" height="300px" src="https://www.youtube.com/embed/{{youtubeID}}" frameborder="0" allowfullscreen=""></iframe>
												 <div class="panel-body"> <b>{{order}} </b> 
												 </div> 
												</div>
											</div>
{{/each}}											