<div class="container mt-5">
  <h3>Workshops and Contests</h3>
  <div>Get all the updates from right here!</div>

  <section class="events-listing">
    <div class="upcoming-events">
      <div class="d-flex align-items-center pb-4">
        <h3 class="gradient-orange" style="white-space: nowrap;">Upcoming Events</h3>
        <div class="divider-h ml-3"></div>
      </div>

      <p class="no-events display-none">No Upcoming Events</p>

      <div class="events-list">
        <div class="row">

        </div>
      </div>
    </div>

    <div class="past-events mt-5">
      <div class="d-flex align-items-center pb-4">
        <h3 class="gradient-orange" style="white-space: nowrap;">Past Events</h3>
        <div class="divider-h ml-3"></div>
      </div>

      <p class="no-events display-none">No Past Events</p>

      <div class="events-list">
        <div class="row">

        </div>
      </div>
    </div>
  </section>
</div>
