<div class="border-top p-4 position-sticky bl w-100 bg-white d-md-none d-block">
        <div class="d-flex justify-content-center">
          <a class="button-orange button-solid mr-5" href="#register-advance">Register Now</a>
          <a class="button-dashed button-orange" href="tel:9999579111">Call Now</a>
        </div>
</div>