<!--footer-->
<a id="footer" class="in-page-link"></a>
<div class="footer">
    <footer class="footer-1 bg-dark">
        <div class="container">
            <div class="row">
                {{#with footer}}
                    <div class="vnu col-md-3"><img alt="Logo" class="logo"
                                                   src={{logoSrc}}>
                    </div>
                    <div class="footer-description col-md-9">
                        <p>Coding Blocks was founded in 2014 with a mission to create skilled Software Engineers for
                            our country and the world. We are here to bridge the gap between the quality of skills
                            demanded by industry and the quality of skills imparted by conventional institutes. At
                            Coding Blocks, we strive to increase student interest by providing hands on practical
                            training on every concept taught in the classroom.</p>
                    </div>
                {{/with}}
            </div>
            <div class="row">
                <div class="widget col-md-4">
                    <h6 itemprop="name" class="title"><a itemprop="url"
                                                         href=
                                                                 "/about.html">About
                        Us</a></h6>
                    <hr>
                    <ul class="footer-links">
                        <li itemprop="name">
                            <a itemprop="url" href="/why-coding-blocks.html">Why Coding Blocks</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/reviews/">Reviews</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/team.html">Our Team</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/brochure.html">Download Brochure</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/signup/workshop.html">Request a Workshop</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/success-stories/">Wall of Fame</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/newsletter/">Newsletters</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/events/">Events</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="https://hackerblocks.com">Hacker Blocks</a>
                        </li>
                    </ul>
                </div>
                <div class="widget col-md-4">
                    <h6 itemprop="name" class="title"><a itemprop="url"
                                                         href=
                                                                 "/courses/">
                        Courses</a>
                    </h6>
                    <hr>
                    <ul class="footer-links">
                        <li class="vpf" itemprop="name">
                            <a itemprop="url" href= "/classroom-courses/c-plus-plus-for-beginners.html"> C++ For Beginners</a>
                        </li>
                        <li class="vpf" itemprop="name">
                            <a itemprop="url" href= "/classroom-courses/java-for-beginners.html">Java For Beginners</a>
                        </li>
                        <li class="vpf" itemprop="name">
                            <a itemprop="url" href= "/courses/classroom/advanced/algo-plus-plus.html">ALGO++</a>
                        </li>
                        <li class="vpf" itemprop="name">
                            <a itemprop="url" href="/courses/classroom/advanced/algo-java.html">Algo.Java</a>
                        </li>
                        <li class="vpf" itemprop="name">
                            <a itemprop="url" href="/classroom-courses/advanced-data-structures-and-algorithms-for-interviews.html">DS & Algo in C++ (Online)</a>
                        </li>
                        <li class="vpf" itemprop="name">
                            <a itemprop="url" href="/courses/online/java.html">DS & Algo in Java (Online)</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/courses/classroom/development/android-app-development.html">Android Development</a>
                        </li>
                        <li class="vpf" itemprop="name">
                            <a itemprop="url" href="/courses/classroom/web-development-nodejs.html">Web Development Using NodeJS</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/courses/online/android-app-development.html">Android Development (Online)</a>
                        </li>
                        <li class="vpf" itemprop="name">
                            <a itemprop="url" href="/courses/online/web-development-nodejs.html">Web Development (Online)</a>
                        </li>
                        <li itemprop="name">
                            <a itemprop="url" href="/courses/classroom/machine-learning.html">Machine Learning</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <h6 class="title">Twitter Feed<br></h6>
                        <hr>
                        <div class="twitter-feed">
                            <div class="tweets-feed" data-feed-name="codingblocksIN" id="tweets-0">
                                <ul class="slides">
                                    <li>
                                        <div class="user">
                                            <div data-scribe="component:author">
                                                <a data-scribe="element:user_link"
                                                   href="https://twitter.com/CodingBlocksIN"
                                                   aria-label="Coding Blocks (screen name: CodingBlocksIN)"
                                                   target="_blank">
                        <span>
		      <img data-scribe="element:avatar"
                   data-src-2x="https://pbs.twimg.com/profile_images/749503540184350720/WUQ7-NHv_bigger.jpg" alt=""
                   data-src-1x="https://pbs.twimg.com/profile_images/749503540184350720/WUQ7-NHv_normal.jpg"
                   src="https://pbs.twimg.com/profile_images/749503540184350720/WUQ7-NHv_bigger.jpg">
		    </span>
                                                    <span title="Coding Blocks"
                                                          data-scribe="element:name">Coding Blocks</span>

                                                    <span title="@CodingBlocksIN" data-scribe="element:screen_name">@CodingBlocksIN</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="tweet">When you try to learn a new programming language...
                                            <a href="https://twitter.com/hashtag/Programming?src=hash"
                                               data-scribe="element:hashtag"
                                               target="_blank"><span>#</span><span>Programming</span></a> <a
                                                    href="https://www.facebook.com/codingblocksindia/photos/a.1488636301354708.1073741827.1477893739095631/1819426584942343/?type=3"
                                                    data-expanded-url="https://www.facebook.com/codingblocksindia/photos/a.1488636301354708.1073741827.1477893739095631/1819426584942343/?type=3" target="_blank"
                                                    title="https://www.facebook.com/codingblocksindia/photos/a.1488636301354708.1073741827.1477893739095631/1819426584942343/?type=3"
                                                    data-scribe="element:url"><span>http://</span>bit.ly/2KJ1qdU<span>&nbsp;</span></a>
                                        </p>
                                        <p class="timePosted"><a
                                                href="https://twitter.com/CodingBlocksIN/status/804598738211733504">Posted
                                            4
                                            hours ago</a>
                                        </p>
                                        <p class="interact"><a
                                                href="https://twitter.com/intent/tweet?in_reply_to=804598738211733504"
                                                class="twitter_reply_icon" target="_blank">Reply</a>
                                            <a href="https://twitter.com/intent/retweet?tweet_id=804598738211733504"
                                               class="twitter_retweet_icon" target="_blank">Retweet</a><a
                                                    href="https://twitter.com/intent/favorite?tweet_id=804598738211733504"
                                                    class="twitter_fav_icon" target="_blank">Favorite</a>
                                        </p>
                                    </li>
                                    <li>
                                        <div class="user">
                                            <div data-scribe="component:author">
                                                <a data-scribe="element:user_link"
                                                   href="https://twitter.com/CodingBlocksIN"
                                                   aria-label="Coding Blocks (screen name: CodingBlocksIN)"
                                                   target="_blank">
                        <span>
		      <img data-scribe="element:avatar"
                   data-src-2x="https://pbs.twimg.com/profile_images/749503540184350720/WUQ7-NHv_bigger.jpg" alt=""
                   data-src-1x="https://pbs.twimg.com/profile_images/749503540184350720/WUQ7-NHv_normal.jpg"
                   src="https://pbs.twimg.com/profile_images/749503540184350720/WUQ7-NHv_bigger.jpg">
		    </span>
                                                    <span title="Coding Blocks"
                                                          data-scribe="element:name">Coding Blocks</span>

                                                    <span title="@CodingBlocksIN" data-scribe="element:screen_name">@CodingBlocksIN</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="tweet">Our in-house expert, Rishabh Khanna conducting the Socket.Io
                                            workshop with a classroom full of enthusiastic...
                                            <a
                                                    href="https://www.facebook.com/codingblocksindia/posts/1982921735259493"
                                                    data-expanded-url="https://www.facebook.com/codingblocksindia/posts/1982921735259493" target="_blank"
                                                    title="https://www.facebook.com/codingblocksindia/posts/1982921735259493"
                                                    data-scribe="element:url"><span>http://</span>bit.ly/2rZTYDG<span>&nbsp;</span></a>
                                        </p>
                                        <p class="timePosted"><a
                                                href="https://twitter.com/CodingBlocksIN/status/803906099900456961">Posted
                                            on 2 Dec</a>
                                        </p>
                                        <p class="interact"><a
                                                href="https://twitter.com/intent/tweet?in_reply_to=936851193233420289"
                                                class="twitter_reply_icon" target="_blank">Reply</a>
                                            <a href="https://twitter.com/intent/retweet?tweet_id=936851193233420289"
                                               class="twitter_retweet_icon" target="_blank">Retweet</a><a
                                                    href="https://twitter.com/intent/favorite?tweet_id=936851193233420289"
                                                    class="twitter_fav_icon" target="_blank">Favorite</a>
                                        </p>
                                    </li>
                                    <li>
                                        <div class="user">
                                            <div data-scribe="component:author">
                                                <a data-scribe="element:user_link"
                                                   href="https://twitter.com/CodingBlocksIN"
                                                   aria-label="Coding Blocks (screen name: CodingBlocksIN)"
                                                   target="_blank">
                        <span>
		      <img data-scribe="element:avatar"
                   data-src-2x="https://pbs.twimg.com/profile_images/749503540184350720/WUQ7-NHv_bigger.jpg" alt=""
                   data-src-1x="https://pbs.twimg.com/profile_images/749503540184350720/WUQ7-NHv_normal.jpg"
                   src="https://pbs.twimg.com/profile_images/749503540184350720/WUQ7-NHv_bigger.jpg">
		    </span>
                                                    <span title="Coding Blocks"
                                                          data-scribe="element:name">Coding Blocks</span>

                                                    <span title="@CodingBlocksIN" data-scribe="element:screen_name">@CodingBlocksIN</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="tweet">Our Android mentor Arnav Gupta participated in Digital Ocean
                                            Cloud
                                            Hack, with one of his students Rishabh Khanna...
                                            <a href="https://t.co/F5jJXJsW1M" data-expanded-url="http://fb.me/10BmrGLx7"
                                               target="_blank" title="http://fb.me/10BmrGLx7"
                                               data-scribe="element:url"><span>http://</span>bit.ly/2KJfKTY<span>&nbsp;</span>
                                            </a>
                                        </p>
                                        <p class="timePosted"><a
                                                href="https://twitter.com/CodingBlocksIN/status/803254038825488384">Posted
                                            on 28 Nov</a>
                                        </p>
                                        <p class="interact"><a
                                                href="https://twitter.com/intent/tweet?in_reply_to=803254038825488384"
                                                class="twitter_reply_icon" target="_blank">Reply</a>
                                            <a href="https://twitter.com/intent/retweet?tweet_id=803254038825488384"
                                               class="twitter_retweet_icon" target="_blank">Retweet</a><a
                                                    href="https://twitter.com/intent/favorite?tweet_id=803254038825488384"
                                                    class="twitter_fav_icon" target="_blank">Favorite</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-3">
                    <div>
                        <span class="sub">© Copyright 2019 - Coding Blocks Pvt. Ltd.</span>
                    </div>
                    <div>
                        <a href="/privacypolicy.html" target="_blank">Privacy Policy</a> ||
                        <a href="/tos.html" target="_blank">Terms of Service</a>
                    </div>
                </div>
                <div class="col-sm-push-6 col-sm-3">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="http://twitter.com/codingblocksIN" target="_blank">
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com/codingblocksindia" target="_blank">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/coding-blocks" target="_blank">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/codingblocksindia" target="_blank">
                                <i class="fa fa-youtube-play fa-2x"></i>
                            </a>
                        </li>
                        <li class="vpf">
                            <a href="http://github.com/coding-blocks" target="_blank">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/858471704/?guid=ON&amp;script=0"/>
        </div>
    </footer>
</div>
<!--endfooter-->
