<div class="bg-red row free-access-banner">
  <div class="col-xs-12 col-sm-1 text-align-center">
    <img class="image" src="/assets/images/icons/web.svg" alt="">
  </div>
  <div class="col-xs-12 col-sm-3 bold">
    GET FREE ACCESS TO ONLINE COURSE
  </div>
  <div class="col-xs-12 col-sm-8 text-align-justify">
    Our Online courses are an exact replica of our Classroom programs. Once a student completes their course, we provide them access to the Online course as well to make sure
    they can revise at their will. Each Online course comes with Mentor support Hands on coding assignments, exclusive access to our online IDE, Hackerblocks & Doubt resolution;
  </div>
</div>