<div class="border-card p-0 mb-5">
      {{#with schedule_days}}
        <div class="px-md-5 px-4 py-4 bg-grey">
          <div class="row no-gutters align-items-center justify-content-between">
            <h4 class="bold flex-1">Lecture Schedule</h4>
            <div class="t-align-r">
              <h5 class="bold">{{days}}</h5>
              <div class="bold gradient-text mt-1">{{timming}}</div>
            </div>
          </div>
        </div>
      {{/with}}
<div class="py-4 overflow-y-auto gradient-orange-scroll" style="max-height: 450px;">
{{#each schedule}}
	<div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
	            <div class="col-5">
	              <h5 class="bold">{{lecture}}</h5>
	            </div>
	            <h5 class="bold gradient-text-orange flex-1 pl-4">{{description}}</h5>
	          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
{{/each}}
</div>
</div>