<div class="row">
  {{#each liveCourseCards}}
    <div class="col-md-4 col-sm-6 mb-5 h-inherit">
    <a href="{{link}}" style="color:black">

            <div class="border-card p-0 h-100">
              <div class="bg-grey-light-3 flex-col justify-content-between p-lg-5 p-4" style="height: calc(100% - 25px);">
                <div class="w-100">
                  <img src="{{imgSrc}}"
                    class="s-70x70 mb-4">
                  <div class="heading-3 extra-bold">{{name}}</div>
                </div>
                <div class="mt-3 font-5 w-100">
                  Regular Classes three times a week
                </div>
              </div>
              <div style="height: 25px; background: linear-gradient(90deg, #19336E, #02ADC5);"></div>
            </div>
              </a>

    </div>
 {{/each}}
</div>