<div class="bg-red row free-access-banner">
  <div class="col-xs-12 col-sm-1 text-align-center">
    <img class="image" src="/assets/images/icons/web.svg" alt="">
  </div>
  <div class="col-xs-12 col-sm-3 bold">
    CLASSROOM IS LIVE RIGHT IN YOUR HOME
  </div>
  <div class="col-xs-12 col-sm-8 text-align-justify">
   Our Live Class program is an exact replica of our Classroom program and provides all the benefits like Live, two way interactive classes for Classroom feel, saving travel time, live Doubt resolution, economical and many more. Get started and skillify yourself this season.
  </div>
</div>