{{#each schedule}}
<div class="col-md-6 border-right">
      <div class="row align-items-center mb-2">
        <div class="col-4">
          <div class="font-mds gradient-text-orange text-ellipses">{{lecture}}</div>
        </div>
        <div class="col-8">
          <div class="font-mds bold text-ellipses">{{description}}</div>
        </div>
      </div>
</div>
{{/each}}