<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mb16 text-center uppercase">Course Schedule</h3>
				<table class="table table-hover table-striped calendar">
					<thead>
						<tr>
						</tr>
					</thead>
					<tbody>
						{{#each schedule}}
						<tr>
							<td>{{lecture}}</td>
							<td>{{description}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
