
<section class="image-square right">
    <div class="col-md-12 content">
        <form id="message-form" action="https://cbemail.herokuapp.com/contact" method="POST"
              data-success="Thanks for your submission, we will be in touch shortly."
              data-error="Please fill all fields correctly.">
            <h6 class="uppercase text-center">Send A Message</h6>
            <input class="validate-required" name="name" placeholder="Your Name" type="text">
            <input class="validate-required validate-email" name="email" placeholder="Email Address" type="text">
            <input class="validate-required" name="subject" placeholder="Subject" type="text">
            <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
            <div class="g-recaptcha" data-sitekey="6Ldha0sUAAAAADc7aZwm0lJRamTVadFKIpiy90Qi"></div>
            <button type="submit">Send Message</button>
        </form>
    </div>
</section>
