<a id="map" class="in-page-link"></a>
<section class="image-square right">
    <div class="map-container">
        <div class="col-md-6 p0 image">
            <div title="Double Click to Zoom" id="map-map" class="map-canvas" data-latlong=
                    "28.5864285,77.0478732;
                    28.6969421,77.1423825;
                    28.5852881,77.3127031;
                    30.3098438,78.0211684;"
                 data-marker-title="Coding Blocks"
                 data-map-zoom="8" data-maps-api-key="AIzaSyATAPjzmeAEkyedwIxYVsstR0IgKnAeV_w"
                 data-map-style="[{&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#dd0d0d&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;labels&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;lightness&quot;:100},{&quot;visibility&quot;:&quot;simplified&quot;}]}]"></div>
        </div>
    </div>
    <div class="col-md-6 content">
        <form id="message-form" action="https://cbemail.herokuapp.com/contact" method="POST"
              data-success="Thanks for your submission, we will be in touch shortly."
              data-error="Please fill all fields correctly.">
            <h6 class="uppercase text-center">Send A Message</h6>
            <label for="name">Your Name</label>
            <input class="validate-required" name="name" id="name" placeholder="Your Name" type="text">
            <label for="email">Email Address</label>
            <input class="validate-required validate-email" name="email" id="email" placeholder="Email Address" type="text">
            <label for="subject">Subject</label>
            <input class="validate-required" name="subject" id="subject" placeholder="Subject" type="text">
            <label for="message">Message</label>
            <textarea class="validate-required" name="message" id="message" rows="4" placeholder="Message"></textarea>
            <div class="g-recaptcha" data-sitekey="6Ldha0sUAAAAADc7aZwm0lJRamTVadFKIpiy90Qi"></div>
            <button type="submit">Send Message</button>
        </form>
    </div>
</section>
