<a id="map" class="in-page-link"></a>
<section class="image-square right">
    <div class="map-container">
        <div class="col-md-6 p0 image">
            <div title="Double Click to Zoom" id="map-map" class="map-canvas" data-address="
 					Laxmi Nagar, New Delhi[nomarker]; 
					3, Pocket 3, Sector 11, Dwarka;
					47, Nishant Kunj, New Delhi;
					A-73, A Block, Sector 2, Noida, Uttar Pradesh 201301;
					2nd Floor, Suvidha Supermarket, 220, 105, Saharanpur Rd, Patel Nagar, Dehradun, Uttarakhand 248001;"
                 data-marker-title="Coding Blocks"
                 data-map-zoom="8" data-maps-api-key="AIzaSyCtSz4b43fPFC1kT90-x52A3ECJfBnHvN8"
                 data-map-style="[{&quot;stylers&quot;:[{&quot;hue&quot;:&quot;#dd0d0d&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;labels&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;lightness&quot;:100},{&quot;visibility&quot;:&quot;simplified&quot;}]}]"></div>
        </div>
    </div>
    <div class="col-md-6 content">
        <form id="message-form" action="https://cbemail.herokuapp.com/contact" method="POST"
              data-success="Thanks for your submission, we will be in touch shortly."
              data-error="Please fill all fields correctly.">
            <h6 class="uppercase text-center">Send A Message</h6>
            <input class="validate-required" name="name" placeholder="Your Name" type="text">
            <input class="validate-required validate-email" name="email" placeholder="Email Address" type="text">
            <input class="validate-required" name="subject" placeholder="Subject" type="text">
            <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
            <div class="g-recaptcha" data-sitekey="6Ldha0sUAAAAADc7aZwm0lJRamTVadFKIpiy90Qi"></div>
            <button type="submit">Send Message</button>
        </form>
    </div>
</section>
