<!--navbar-->
<div class="nav-container">
    <nav>
        <div class="nav-bar">
            <div class="module left">
                <a href="{{#relativePath @file.path "/"}}{{/relativePath}}">
                    {{#with navBar}}
                        <img class="logo logo-light" alt="Foundry"
                             src="{{#relativePath @file.path logoLightSrc}}{{/relativePath}}">
                        <div class="vnu"><img class="logo logo-dark" alt="Foundry"
                                              src="{{#relativePath @file.path logoDarkSrc}}{{/relativePath}}">
                        </div>
                    {{/with}}
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>

            <div class="module-group right">
                <div class="module left">
                    <ul class="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                        <li class="has-dropdown">
                            <a href="#">About Us</a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path "/about.html"}}{{/relativePath}}"
                                               class="inner-link" target="_self">
                                                INTRODUCTION
                                            </a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path
                                                                     "/why-coding-blocks.html"}}{{/relativePath}}"
                                               class="inner-link"
                                               target="_self">
                                                WHY CODING BLOCKS
                                            </a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path "/team.html"}}{{/relativePath}}"
                                               class="inner-link" target="_self">OUR
                                                TEAM</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path "/brochure.html"}}{{/relativePath}}">BROCHURE </a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/reviews/"}}{{/relativePath}}">REVIEWS </a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path "/success-stories/"}}{{/relativePath}}">WALL
                                                OF FAME </a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/events/"}}{{/relativePath}}">EVENTS</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path "/newsletter/"}}{{/relativePath}}">NEWSLETTERS</a>
                                        </li>
                                        <li itemprop="name"><a itemprop="url" href="https://codingblocks.com/alumni.html">Alumni
                                            Portal</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="{{#relativePath @file.path "/courses/"}}{{/relativePath}}">COURSES</a>
                            <ul>
                                <li class="has-dropdown toggle-sub">
                                    <a class="title">JUNIOR</a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path
                                                                     "/courses/code4kids.html"}}{{/relativePath}}">
                                                CODE4KIDS
                                            </a>
                                        </li>
                                        <li itemprop="name" class="vpf">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path
                                                                     "/courses/mathsgeeks.html"}}{{/relativePath}}">
                                                MATHGEEKS
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">FOUNDATION</a>
                                    <ul>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/classroom/c++.html"}}{{/relativePath}}">
                                                C++ For Beginners</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/classroom/java.html"}}{{/relativePath}}">Java
                                                For Beginners</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/classroom/c++.html#advance"}}{{/relativePath}}">
                                                ALGO++</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/classroom/java.html#advance"}}{{/relativePath}}">DS & ALGO
                                                in Java</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">DEVELOPMENT</a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/classroom/android-app-development.html"}}{{/relativePath}}">ANDROID
                                                DEVEVELOPMENT</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/classroom/web-development-nodejs.html"}}{{/relativePath}}">
                                                WEB DEVELOPMENT USINg NODEJS</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/certified-python-developer.html"}}{{/relativePath}}">PYTHON
                                                DEVELOPMENT</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">ADVANCED</a>
                                    <ul>
                                        <li itemprop="name">

                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/perceptron.html"}}{{/relativePath}}">MACHINE
                                                LEARNING</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path
                                                                     "/courses/advancedjava.html"}}{{/relativePath}}">JAVA
                                                APPS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">ONLINE</a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/launchpad-online.html"}}{{/relativePath}}">DS
                                                & ALGO IN C++</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/coming-soon.html"}}{{/relativePath}}">DS
                                                & ALGO IN JAVA</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href="{{#relativePath @file.path
                                                                     "/courses/online/android-app-development.html"}}{{/relativePath}}">
                                                ANDROID DEVELOPMENT
                                            </a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/online/web-development-nodejs.html"}}{{/relativePath}}">WEB
                                                DEVELOPMENT USINg NODEJS</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/courses/competitive-online.html"}}{{/relativePath}}">Competitive
                                                Programming</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="">BOOTCAMPS</a>
                            <ul>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href="{{#relativePath @file.path
                                                             "/bootcamps/interviewprep.html"}}{{/relativePath}}">
                                        Interview
                                        Preparation</a>
                                </li>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href="{{#relativePath @file.path
                                                             "/bootcamps/blockchain"}}{{/relativePath}}">Blockchain</a>
                                </li>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href="{{#relativePath @file.path "/coming-soon.html"}}{{/relativePath}}">Machine
                                        Learning</a>
                                </li>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href="{{#relativePath @file.path
                                                             "/bootcamps/chatbots.html"}}{{/relativePath}}">
                                        Chatbots
                                    </a>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href="{{#relativePath @file.path "/coming-soon.html"}}{{/relativePath}}">ANGULARJS</a>
                                </li>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href="{{#relativePath @file.path "/coming-soon.html"}}{{/relativePath}}">GAME DEV
                                        UNITY</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">RESOURCES </a>
                            <ul>
                                <li itemprop="name"><a itemprop="url" href="{{#relativePath @file.path
                                                                                            "https://hack.codingblocks.com"}}{{/relativePath}}"
                                                       target="_blank">Hacker
                                    Blocks</a>
                                </li>
                                <li itemprop="name"><a itemprop="url" href="{{#relativePath @file.path
                                                                                            "https://codingblocks.com/resources"}}{{/relativePath}}">Tutorials
                                </a></li>
                                <li itemprop="name">
                                    <a itemprop="url" href="https://codingblocks.com/ide">Online IDE</a>
                                </li>
                                <li itemprop="name"><a itemprop="url" href="https://blog.codingblocks.com"
                                                       target="_blank">Blog</a>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">Apps </a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url" href="https://cb.lk/admin">Shortlr</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" target="_blank"
                                               href="https://play.google.com/store/apps/details?id=in.tosc.digitaloceanapp">Digital
                                                Ocean Dashboard</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="https://angrycoders.codingblocks.com"
                                               target="_blank">Angry
                                                Coders
                                                Game</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="https://coding-blocks.github.io/tic-tac-toe/">Tic Tac
                                                Toe</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" target="_blank"
                                               href="https://play.google.com/store/apps/details?id=com.developers.dictionary.flying">Flying
                                                Dictionary</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" target="_blank"
                                               href="https://play.google.com/store/apps/details?id=com.gamershq.FlyingModi">Fly
                                                High Modi</a>
                                        </li>
                                    </ul>
                                </li>
                                <li itemprop="name"><a itemprop="url" href="https://bytecast.codingblocks.com/"
                                                       target="_blank">Podcast</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown toggle-sub vpf">
                            <a class="title">Competitions </a>
                            <ul>
                                <li itemprop="name">
                                    <a itemprop="url" href="https://hack.codingblocks.com" target="_blank">
                                        <i class="fa fa-flag-checkered"></i> Hacker Blocks
                                    </a>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url" href="https://boss.codingblocks.com" target="_blank">
                                        <i class="fa fa-cubes"></i> BOSS
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown toggle-sub vpf contact-us-dropdown">
                            <a class="title" href="/centres/">Contact Us</a>
                            <ul>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a href="/centres/">Centres</a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/centres/pitampura.html"}}{{/relativePath}}">Pitampura</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/centres/dwarka.html"}}{{/relativePath}}">Dwarka</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/centres/greater-noida.html"}}{{/relativePath}}">Greater
                                                Noida</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="{{#relativePath @file.path
                                                                                    "/centres/gurugram.html"}}{{/relativePath}}">Gurugram</a>
                                        </li>
                                    </ul>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url" href="{{#relativePath @file.path "/signup"}}{{/relativePath}}">Sign
                                        Up</a>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url" href="{{#relativePath @file.path
                                                                            "/signup/job.html"}}{{/relativePath}}">Careers</a>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url"
                                       href="{{#relativePath @file.path "/signup/company.html"}}{{/relativePath}}">Hire
                                        Students</a>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url"
                                       href="{{#relativePath @file.path "/signup/workshop.html"}}{{/relativePath}}">Request
                                        A Workshop</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!--endnavbar-->
