<!--navbar-->
<div class="nav-container">
    <nav>
        <div class="nav-bar">
            <div class="module left">
                <a href="/">
                    {{#with navBar}}
                        <img class="logo logo-light" alt="Foundry"
                             src={{logoLightSrc}}>
                        <div class="vnu"><img class="logo logo-dark" alt="Foundry"
                                              src={{logoDarkSrc}}>
                        </div>
                    {{/with}}
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>

            <div class="module-group right">
                <div class="module left">
                    <ul class="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                        <li class="has-dropdown">
                            <a href="#">About Us</a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href="/about.html"
                                               class="inner-link" target="_self">
                                                INTRODUCTION
                                            </a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href=
                                                       "/why-coding-blocks.html"
                                               class="inner-link"
                                               target="_self">
                                                WHY CODING BLOCKS
                                            </a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url"
                                               href="/team.html"
                                               class="inner-link" target="_self">OUR
                                                TEAM</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url"
                                               href="/brochure.html">BROCHURE </a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href=
                                                    "/reviews/">REVIEWS </a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url"
                                               href="/success-stories/">WALL
                                                OF FAME </a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href=
                                                    "/events/">EVENTS</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url"
                                               href="/newsletter/">NEWSLETTERS</a>
                                        </li>
                                        <li itemprop="name"><a itemprop="url"
                                                               href="https://codingblocks.com/alumni.html">Alumni
                                            Portal</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/courses/">COURSES</a>
                            <ul>
                                <li class="has-dropdown toggle-sub">
                                    <a class="title">JUNIOR</a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href=
                                                       "/courses/code4kids.html">
                                                CODE4KIDS
                                            </a>
                                        </li>
                                        <li itemprop="name" class="vpf">
                                            <a itemprop="url"
                                               href=
                                                       "/courses/mathsgeeks.html">
                                                MATHGEEKS
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">FOUNDATION</a>
                                    <ul>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="/courses/classroom/c++.html">C++ For Beginners</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="/courses/classroom/c++.html#launchpad-bundle-content">Launchpad</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="/courses/classroom/java.html">Java For Beginners</a>
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href="/courses/classroom/java.html#crux-bundle-content">Crux</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">DEVELOPMENT</a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/courses/classroom/android-app-development.html">ANDROID
<<<<<<< 707cb483ac0a96738a6dc1e5c1f860ce436b34e3
                                                DEVEVELOPMENT</a>
=======
                                                DEVELOPMENT</a>
>>>>>>> navbar correction
                                        </li>
                                        <li class="vpf" itemprop="name">
                                            <a itemprop="url" href=
                                                    "/courses/classroom/web-development-nodejs.html">
                                                WEB DEVELOPMENT USINg NODEJS</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/courses/certified-python-developer.html">PYTHON
                                                DEVELOPMENT</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">ADVANCED</a>
                                    <ul>
										<li itemprop="name"> <a itemprop="url" href="/courses/classroom/algo++.html">ALGO++</a>
										</li>
										<li itemprop="name"> <a itemprop="url" href="/courses/classroom/algo-java.html">ALGO.JAVA</a>
										</li>
                                        <li itemprop="name">

                                            <a itemprop="url" href=
                                                    "/courses/perceptron.html">MACHINE
                                                LEARNING</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href=
                                                       "/courses/advancedjava.html">JAVA
                                                APPS</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">ONLINE</a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/courses/online/c++.html">DS
                                                & ALGO IN C++</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/courses/online/java.html">DS
                                                & ALGO IN JAVA</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url"
                                               href=
                                                       "/courses/online/android-app-development.html">
                                                ANDROID DEVELOPMENT
                                            </a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/courses/online/web-development-nodejs.html">WEB
                                                DEVELOPMENT USINg NODEJS</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/courses/competitive-online.html">Competitive
                                                Programming</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="">BOOTCAMPS</a>
                            <ul>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href=
                                               "/bootcamps/interviewprep.html">
                                        Interview
                                        Preparation</a>
                                </li>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href=
                                               "/bootcamps/blockchain.html">Blockchain</a>
                                </li>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href="/coming-soon.html">Machine
                                        Learning</a>
                                </li>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href=
                                               "/bootcamps/chatbots.html">
                                        Chatbots
                                    </a>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href="/coming-soon.html">ANGULARJS</a>
                                </li>
                                <li class="vpf" itemprop="name">
                                    <a itemprop="url"
                                       href="/coming-soon.html">GAME DEV
                                        UNITY</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">RESOURCES </a>
                            <ul>
                                <li itemprop="name"><a itemprop="url" href=
                                        "https://hack.codingblocks.com"
                                                       target="_blank">Hacker
                                    Blocks</a>
                                </li>
                                <li itemprop="name"><a itemprop="url" href=
                                        "https://codingblocks.com/resources">Tutorials
                                </a></li>
								<li itemprop="name">
									<a itemprop="url" href="/courses/competitive-online-study-material.html">
										Competitive Programming Study Material
									</a>
								</li>
                                <li itemprop="name">
                                    <a itemprop="url" href="https://codingblocks.com/ide">Online IDE</a>
                                </li>
                                <li itemprop="name"><a itemprop="url" href="https://blog.codingblocks.com"
                                                       target="_blank">Blog</a>
                                </li>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a class="title">Apps </a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url" href="https://cb.lk/admin">Shortlr</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" target="_blank"
                                               href="https://play.google.com/store/apps/details?id=in.tosc.digitaloceanapp">Digital
                                                Ocean Dashboard</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="https://angrycoders.codingblocks.com"
                                               target="_blank">Angry
                                                Coders
                                                Game</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href="https://coding-blocks.github.io/tic-tac-toe/">Tic
                                                Tac
                                                Toe</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" target="_blank"
                                               href="https://play.google.com/store/apps/details?id=com.developers.dictionary.flying">Flying
                                                Dictionary</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" target="_blank"
                                               href="https://play.google.com/store/apps/details?id=com.gamershq.FlyingModi">Fly
                                                High Modi</a>
                                        </li>
                                    </ul>
                                </li>
                                <li itemprop="name"><a itemprop="url" href="https://bytecast.codingblocks.com/"
                                                       target="_blank">Podcast</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown toggle-sub vpf">
                            <a class="title">Competitions </a>
                            <ul>
                                <li itemprop="name">
                                    <a itemprop="url" href="https://hack.codingblocks.com" target="_blank">
                                        <i class="fa fa-flag-checkered"></i> Hacker Blocks
                                    </a>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url" href="https://boss.codingblocks.com" target="_blank">
                                        <i class="fa fa-cubes"></i> BOSS
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown toggle-sub vpf contact-us-dropdown">
                            <a class="title" href="/centres/">Contact Us</a>
                            <ul>
                                <li class="has-dropdown toggle-sub vpf">
                                    <a href="/centres/">Centres</a>
                                    <ul>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/centres/pitampura.html">Pitampura</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/centres/dwarka.html">Dwarka</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/centres/greater-noida.html">Greater
                                                Noida</a>
                                        </li>
                                        <li itemprop="name">
                                            <a itemprop="url" href=
                                                    "/centres/gurugram.html">Gurugram</a>
                                        </li>
                                    </ul>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url" href="/signup">Sign
                                        Up</a>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url" href=
                                            "/signup/job.html">Careers</a>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url"
                                       href="/signup/company.html">Hire
                                        Students</a>
                                </li>
                                <li itemprop="name">
                                    <a itemprop="url"
                                       href="/signup/workshop.html">Request
                                        A Workshop</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!--endnavbar-->
