<div class="border-card p-0 mentor-card">
  <div class="bg-grey head overflow-hidden"><img src="{{#relativePath @file.path imgSrc}}{{/relativePath}}"
      alt="{{{imgAlt}}}"></div>
  <div class="p-4">
    <h4 class="bold gradient-text-orange">{{{name}}}</h4>
    <div class="normal mt-2">{{{role}}} </div>
  </div>
</div>