<!--numbers-->
<a id="numbers" class="in-page-link"></a>
<section class="bg-secondary">
    <div class="container numbers-container">
        <div class="row text-center">
            <a id="home_numbers" class="in-page-link"></a>
            <h2 class="uppercase">NUMBERS SPEAK LOUDER<br></h2>
        </div>
        <div class="row">
            <div class="col-sm-3 text-center numbers-box">
                <div class="feature bordered mb30">
                    <h5 class="uppercase bold">Students</h5>
                    <div class="numbers-value">10000</div>
                    <h5>Trained for software development</h5>
                </div>
            </div>
            <div class="col-sm-3 text-center numbers-box">
                <div class="feature bordered mb30">
                    <h5 class="uppercase bold">Years</h5>
                    <div class="numbers-value">60</div>
                    <h5>Collective Teaching Experience</h5>
                </div>
            </div>

            <div class="col-sm-3 text-center numbers-box">
                <div class="feature bordered mb30">
                    <h5 class="uppercase bold">Success Stories</h5>
                    <div class="numbers-value">2500</div>
                    <h5>Interns and Jobs at top global companies&nbsp;</h5>
                </div>
            </div>
            <div class="col-sm-3 text-center numbers-box">
                <div class="feature bordered mb30">
                    <h5 class="uppercase bold">Projects</h5>
                    <div class="numbers-value">60</div>
                    <h5>Live open projects built by us and our students</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--endnumbers-->
