<div class="a-cbm">
  <div class="card mb-30">
   <div class="px-md-30 px-20 py-2 bg-grey-light-3">
    <div class="font-5 bold mb-30">Projects</div>
   </div>
    {{#each projects}}
    <div class="font-4 bold pb-15 mb-15 border-bottom">{{project_name}}</div>
    {{/each}}
  </div>
</div>