<div class="container">
    <div class="row mb64 mb-xs-24">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
            <h5>Read more testimonials at <br></h5>

            <a href="http://cb.lk/fbr" target="_blank"><img alt="Facebook Reviews" width="50" height="50"
                                                            src="/assets/images/cb/facebook.png"></a>
            <a href="http://cb.lk/cbq" target="_blank"><img alt="Quora Reviews" width="50" height="50"
                                                            src="/assets/images/cb/quora.png"></a>
        </div>
    </div>
</div>
