<!--registration-->
<a id="register" class="in-page-link"></a>
<div class="container">
	<h3 class="alert alert-danger">
		Payments will be down on our website from 6:00 PM to 7:00 PM today
		(January 15, 2018). We apologize for the inconvenience caused.
	</h3>
</div>
{{#if registerLink}}
    {{#unless noHeading}}
        <section>
            <div class="text-center">
                <h3>REGISTER NOW</h3>
            </div>
            <div class="container">
                {{#if register-comingSoon}}
                    <div class="col-xs-12 text-center bg-secondary" style="height: 100%;">
                        <p class="uppercase" style="margin-top: 100px;margin-bottom: 100px;">Coming Soon</p>
                    </div>
                {{else}}
                {{/if}}
            </div>
        </section>
    {{else}}
        <div class="col-xs-12">
            {{#if register-comingSoon}}
                <div class="col-xs-12 text-center bg-secondary" style="height: 100%;">
                    <p class="uppercase" style="margin-top: 100px;margin-bottom: 100px;">Coming Soon</p>
                </div>
            {{else}}
            {{/if}}
        </div>
    {{/unless}}
{{/if}}
