<a href="https://api.whatsapp.com/send?phone=919811557517">
    <div class="caller">
        <img class="caller-img" src="{{#relativePath @file.path "/assets/images/icons/caller.png"}}{{/relativePath}}"/>
    </div>
</a>

<script src="{{#relativePath @file.path "/assets/scripts/jquery.min.js"}}{{/relativePath}}"></script>
<script src="{{#relativePath @file.path "/assets/scripts/jquery.flip.min.js"}}{{/relativePath}}"></script>
<script src="{{#relativePath @file.path "/assets/scripts/jquery.waypoints.min.js"}}{{/relativePath}}"></script>
<script src="{{#relativePath @file.path "/assets/scripts/bootstrap.min.js"}}{{/relativePath}}"></script>
<script src="{{#relativePath @file.path "/assets/scripts/flexslider.min.js"}}{{/relativePath}}"></script>
<script src="{{#relativePath @file.path "/assets/scripts/twitterfetcher.min.js"}}{{/relativePath}}"></script>
<script src="{{#relativePath @file.path "/assets/scripts/smooth-scroll.min.js"}}{{/relativePath}}"></script>
<script src="{{#relativePath @file.path "/assets/scripts/parallax.js"}}{{/relativePath}}"></script>
<script src="{{#relativePath @file.path "/assets/scripts/scripts.js"}}{{/relativePath}}"></script>
<script src="{{#relativePath @file.path "/assets/scripts/carousel.js"}}{{/relativePath}}"></script>
<script>
    $(function () {
        $('.flip-card').flip({
            axis: 'y',
            trigger: 'click'
        });
    })
</script>

{{#if schedule}}
    <script>
        var dates = $('.calendar .date-time');

        $.each(dates, function (index, date) {
            if (new Date(date.getAttribute('datetime')).getTime() < new Date().getTime()) {
                $(date).parents('tr').find('.fa').toggleClass('past');
            }
        })
    </script>
{{/if}}

<script>
    // Reloads payment widgets wrapped within bootstrap tabs.
    // Workaround for the payment widget becoming unusable in cases when its parent
    // is set to `display: none;` when the page is loaded.

    let tabs = $('.course-tabs a[data-toggle="tab"]')

    function renderPaymentWidget (containerElement) {
        let element = $(containerElement).find ('.widget-container')
        let widgetId = $(element).data ('widgetId')

        let widgetString = `<iframe class="payment-widget" frameborder="0" src="https://students.codingblocks.com/payment/iframe?item_id=${widgetId}"></iframe>`

        if (widgetId) {
            element.html (widgetString)
        }
    }

    $('.course-tabs .tab-pane.active').each (function (index, element) {
        renderPaymentWidget (element)
    })

    tabs.on('shown.bs.tab', function (e) {
        let activatedTab = $($(e.target).attr ('href')),
            previouslyActiveTab = $($(e.relatedTarget).attr ('href'))
        ;

        renderPaymentWidget (activatedTab)
    })
</script>
