<div class="border-card p-md-5 p-4 mb-5">
        <div class="font-md">
          <strong>Summary</strong>
          <br /><br />
          {{detail}}
          <br /><br />
          <strong>Highlights</strong>
          <br /><br />
          <ul class="list-style-gradient-bullet my-0">
            <li>Extensive Data Structures & Algorithmic Coverage</li>
            <li>500+ Video Lectures and Code Challenges</li>
            <li>Hint Videos for Complex Problems</li>
            <li>Lifetime Assignment Access</li>
            <li>Basics & Advanced Coding Topics for Interviews</li>
            <li>Expert Doubt Support</li>
          </ul>
          <br />
          <strong>Pre-requisites</strong>
          <br /><br />
          There are no pre-requisites to join this course.
          </pre>
        </div>
</div>