<!--team-->
{{#with team}}
    <a id="team" class="in-page-link"></a>
    {{#unless noHeading}}
        <section class="bg-secondary">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb16">{{{heading}}}</h2>
                    <p class="lead mb64">{{{content}}}</p>
                    <br><br>
                </div>
            </div>
    {{/unless}}
        <div class="container team-xs visible-xs">
        </div>
        <div class="container hidden-xs">
            <div class="team row text-center">
                {{#if showAll}}
                    {{#each @root.teamMembers}}
                        {{#ifNotIn this.name ../doNotShow}}
                            {{> teamMember flip = ../flip}}
                        {{/ifNotIn}}
                    {{/each}}
                {{else}}
                    {{#each teamMembers}}
                        {{#each @root.teamMembers}}
                            {{#ifEquals this.name ../this}}
                                {{> teamMember flip = ../../flip}}
                            {{/ifEquals}}
                        {{/each}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    {{#if meetTeam}}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center btn-banner">
                        <a class="btn btn-white btn-filled btn-lg"
                           href="{{#relativePath @file.path "/team.html"}}{{/relativePath}}">Meet The Team!</a>
                    </div>
                </div>
            </div>
    {{/if}}
    {{#if companies}}
            <div class="flex-container affiliated-company-container">
                <div class="flex-item"><img alt="Facebook" src="{{#relativePath @file.path
                                                                                "/assets/images/cb/logos/fb_icon.png" }}{{/relativePath}}">
                </div>
                <div class="flex-item"><img alt="Browserstack" src="{{#relativePath @file.path
                                                                                    "/assets/images/cb/logos/r_browserstack.jpg" }}{{/relativePath}}">
                </div>
                <div class="flex-item"><img alt="Cyanogen" src="{{#relativePath @file.path
                                                                                "/assets/images/cb/logos/r_cyanogen.png" }}{{/relativePath}}">
                </div>
                <div class="flex-item"><img alt="Micromax" src="{{#relativePath @file.path
                                                                                "/assets/images/cb/logos/r_micromax.png" }}{{/relativePath}}">
                </div>
                <div class="flex-item"><img alt="Nagarro" src="{{#relativePath @file.path
                                                                               "/assets/images/cb/logos/r_nagarro.png" }}{{/relativePath}}">
                </div>
                <div class="flex-item"><img alt="Sandisk" src="{{#relativePath @file.path
                                                                               "/assets/images/cb/logos/r_sandisk.png" }}{{/relativePath}}">
                </div>
                <div class="flex-item"><img alt="Sony" src="{{#relativePath @file.path
                                                                            "/assets/images/cb/logos/r_sony.png" }}{{/relativePath}}">
                </div>
            </div>
    {{/if}}
    {{#unless noHeading}}
        </section>
    {{/unless}}
{{/with}}
<!--endteam-->
