<div class="border-card p-lg-5 p-4 b-orange mb-5">
        <div class="font-mds bold">
          Timeline
        </div>
        <div class="border-left mt-5" style="padding-left: 1.5rem;">
          <div class="position-relative mb-4">
            <div class="card-md">
              Register for the Selection tests on
              <br />
              <strong>25th July or 31th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative mb-4">
            <div class="card-md">
              Selection Test on
              <br />
              <strong>25th July and 31th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative mb-4">
            <div class="card-md">
              Result Declaration on
              <br />
              <strong>5th August</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative">
            <div class="card-md">
              Commencement of Classes from
              <br />
              <strong>16th August</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
        </div>
</div>