
      {{#with testTimelines}}
      <div class="border-card p-lg-5 p-4 bg-gradient-orange white position-relative mb-5">
        <div class="font-md bold"></div>
        <div class="mt-1"></div>
        <div class="mt-5">
          
          <a href="{{test_link_second}}" target= "_blank" class="button-solid orange button-white ml-xl-3 ml-lg-2 ml-4">Buy Now</a>
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/victory.svg" class="victory-vector">
      </div>
      
      {{/with}}
      <div class="border-card p-md-5 p-4 mb-5">
        {{#each highlights}}
          <div class="row no-gutters align-items-center justify-content-between">
            <h5 class="bold flex-1">{{head}}</h5>
            <img src="{{icon}}">
          </div>
          <div class="mt-2 mb-4 " style="font-size: 16px">
           {{description}}
          </div>
        {{/each}}
      </div>
      <div class="border-card bg-gradient-purple white p-md-5 p-4">
        <h2 class="bold" style="color: #ffffff">Land your dream job</h2>
        <div class="mb-4 font-sm">Making you ready for grade A companies</div>
                  <img src="https://online.codingblocks.com/_nuxt/img/c1b47b5.svg" alt loading="lazy" />
      </div>