<!--whatstudentssay-->
<a id="whatstudentssay" class="in-page-link"></a>
<section>
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h3 style="text-align: center;">What our students say <br></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="user-story feature boxed cast-shadow-light">
                    <div class="img-container text-center">
                        <img alt="Piyush coding blocks review" class="image-small img-thumbnail inline-block mb24"
                             src="/assets/images/cb/student/piyush.jpg">
                    </div>
                    <h4>"Difficult Problems now a CakeWalk !"</h4>
                    <p> I had no background in coding. After the course, I feel
						more confident. Sir made
                        difficult algorithms look like a cakewalk.I also enrolled for Android Course, and its
                        amazing too. Coding Blocks defined my love for Coding.
                    </p>
                    <span>
							<strong>Piyush Ajmani</strong> - via Quora</span><br>Student DTU
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="user-story feature boxed cast-shadow-light">
                    <div class="img-container text-center">
                        <img alt="Manish codingblocks review" class="image-small img-thumbnail inline-block mb24"
                             src="/assets/images/cb/student/manish_m.jpg">
                    </div>
                    <h4>"Cracked Amazon the next day!"</h4>
                    <p>
                        I used to lag in C++ basics, but with Prateek Bhayia as my mentor I saw great improvement in
                        coding style and problem solving approach.Just after the day of my course completion, I got
                        internship offer from Amazon.
                    </p>
                    <span>
							<strong>Manish Mittal</strong> - via Facebook</span><br>Student NSIT<br> Internship
                    at Amazon
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="user-story feature boxed cast-shadow-light">
                    <div class="img-container text-center">
                        <img alt="Bhavyaa Coding Blocks review" class="image-small img-thumbnail inline-block mb24"
                             src="/assets/images/cb/student/bhavyaa.jpg">
                    </div>
                    <h4>"Really Good Experience"</h4>
                    <p>
                        I had a really good experience studying at Coding Blocks. Coding Blocks helped in a shaping
                        solution building approach. Classes are held regularly and we practiced a lot. My only
                        regret is not joining Coding Blocks earlier.
                    </p>
                    <span>
                        <strong>Bhavyaa Bansal</strong> - via Facebook<br>Student DTU, Placed at Amazon
                    </span>
                </div>
            </div>

        </div>

    </div>
</section>
<!--endwhatstudentssay-->
