<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
    <style>
        #page-header {
            background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.5)),
            url("../assets/images/cb/cover/algo_2.jpg") no-repeat 0 75% !important;
            background-size: cover !important;
        }
    </style>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> overview}}
    {{> coursehighlights}}
    {{> coursecontents}}
	<section>
		<div class="col-md-10 col-md-offset-1 complete-course-box bg-secondary">
			<h2 class="heading">Enroll in Complete Launchpad Course</h2>
			<p class="description">Embark upon this journey from being an amateur coder to a DS-Algo expert with our complete C++ course.</p>
			<a href="/courses/classroom/c++.html#advanced" class="btn btn-filled">Launchpad - Complete Bundle</a>
		</div>
	</section>
    {{> courseenroll}}
    {{> registration}}
    {{> team team=mentors}}
    {{> coursefaq}}
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
