<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    <section class="bg-secondary">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase">Founder's Message</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/images/cb/team/manmohan-gupta.jpg" alt="Manmohan Gupta, Chief Mentor" class="img-responsive"
                         style="padding: 1px; background-color: #898989">
                </div>
                <div class="col-sm-8 text-justify">
                    <p>Dear Students,</p>

                    <p>My name is Manmohan, a programmer, mathematician and above all a learner. I thought this would be
                        the perfect time to share with you my idea and the vision behind Coding Blocks. Coding is the
                        most in-demand skill of the twenty first century. People known to possess this skill command the
                        world and are often more successful than their peers. Many people think coding can be mastered
                        only by geniuses who have some supernatural intelligence levels but I must tell you, you don’t
                        need to be a genius to learn how to code; only determination is required.</p>

                    <p>We at Coding Blocks strongly believe that with the right guidance and perfect determination, any
                        student willing to learn programming can become a master of coding. All team members at Coding
                        Blocks are aces of their respective field and the share the highest level of commitment towards
                        quality teaching and student success and satisfaction. The present structure of computer
                        education in colleges and universities is not aligned to the needs of the IT Industry. Students
                        have no place to go and bridge this huge gap. It was this realization that prompted me to
                        address this very real need of the student community. Coding Blocks was started as a learning
                        centre where we teach fundamentals of programming to college students. The courses here are
                        designed to help students with their curriculum and give them a real feel of the IT industry. In
                        the last three years, we have helped more than 7200 students achieve their goal and made them
                        the darling of the industry. At Coding Blocks, all our instructors are themselves great coders
                        and highly employable in the Industry. They decided to join Coding Blocks instead of lucrative
                        jobs in the industry because they are passionate about teaching and strongly believe in the
                        company's vision.</p>

                    <p>Whether you are a student just out of school, a college/university student, a working
                        professional planning to switch domain to Software/IT, or just someone wanting to enhance your
                        coding skills, I welcome you to join Coding Blocks. Basis your knowledge and skill, we will
                        carve out a learning path for you and would guide you to become a great programmer. Wishing you
                        success and achievement in your career.</p>

                    <p>
                        <strong>Manmohan Gupta</strong>
                        <br>
                        Founder, Coding Blocks
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb16">Vision</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h4>Create More Employable Talent</h4>
                <p>Coding Blocks was founded in 2014 with a mission to create skilled Software Engineers for our country
                    and the world. We are here to bridge the gap between the quality of skills demanded by industry and
                    the quality of skills imparted by conventional institutes.</p>

                <h4>Make People Fall in Love with Coding</h4>
                <p>Programming is a lot of fun because, unlike other subjects, you get to instantly apply the concepts
                    you are learning. At Coding Blocks, we thrive to increase student interest by providing hands on
                    practical training on every concept taught in the classroom.</p>

                <h4>Unlock New Opportunities</h4>
                <p>We create confident developers who think beyond industrial jobs and march their ideas into
                    self-created entrepreneurship ventures. Skill and innovative thinking give developers the confidence
                    to transform their ideas into real life products and hopefully go on to build million dollar
                    companies.</p>

                <h4>Connect Talent with Employers</h4>
                <p>Along with training students with the latest technologies and programming languages, we also connect
                    them to software companies via our placement assistance program. This program includes practicing a
                    lot of interview problems and mock interviews conducted by company representatives.</p>
            </div>
        </div>
    </section>
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
