<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div>
    <div class="main-container" style="height: 100vh; overflow: hidden;">
        <iframe src="https://codingblocks.almaconnect.com/" frameborder="0" style="height: 100%; width: 100%"></iframe>
    </div>
</div>
{{> scripts}}
</body>
</html>
