<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        #competitiveheader {
            background-image: url("../assets/images/cb/cover/cover_admission.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .flex-container {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            -webkit-justify-content: center;

        }

        .flex-item {
            max-width: 600px;

        }
    </style>
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 858471704;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "QBMcCNHlqG8QmPqsmQM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/858471704/?label=QBMcCNHlqG8QmPqsmQM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    <script src="/js/fbpixel.js"></script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1669664786661021&ev=PageView&noscript=1"/>
    </noscript>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <a id="course-header" class="in-page-link"></a>

    <section class="page-title page-title-2 bg-secondary bg-dark" id="competitiveheader">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="uppercase mb8">APAT</h2>
                    <p class="lead mb0" style="font-size: 3rem; line-height: 4rem;">
						Advanced Program Admission (and Scholarship) Test
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2"></ol>
                </div>
            </div>

        </div>

    </section>
    <a id="course-overview" class="in-page-link"></a>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="uppercase color-primary mb40 mb-xs-24">Overview</h3>
					<p class="lead">Having seen some resounding response for CAST, our scholarship test for foundation batches, and at the back of a lot of requests, Coding Blocks is proud to introduce to you APAT, the <strong>Advanced Programs Admission (and Scholarship) Test</strong>. For the first time ever, we will be holding an admission cum scholarship test for our advanced batches - Web Development, Android Development, Machine Learning and Competitive Coding. Students will be tested on their coding and algorithmic skills and <strong>scholarships worth up to 75% will be on offer</strong>.</p>
					<p>
						Please note that appearing for the test is COMPLETELY FREE OF COST. 
					</p>
					<div class="condensed-paragraphs mb64">
						<p>
							<strong>When?</strong> Sunday, January 14 (03:00 PM to 04:00 PM)
						</p>
						<p>
							<strong>Where?</strong> <a href="https://hack.codingblocks.com">Hacker Blocks</a> (Online)
						</p>
						<p>
							<strong>Syllabus?</strong> Algorithms &amp; Basic Coding
						</p>
					</div>
					<div class="mt40">
						<a class="btn btn-lg btn-filled uppercase" href="#apat-registration-form">Register Now</a>
					</div>
                </div>
            </div>

        </div>


    </section>



    <!-- SECTION: Course FAQ -->
    <a id="course-faq" class="in-page-link" data-scroll-id="course-faq"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="mb16">FAQ</h4>
                    <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <ul class="accordion accordion-2 one-open">
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">What is the registration fees for APAT?</h4>
                            </div>
                            <div class="content">
                                <p>APAT is completely free of cost for everyone.</p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">What courses is the APAT scholarship applicable for?</h4>
                            </div>
                            <div class="content">
                                <p>It is applicable for our advanced batches - Web Development, Android Development, Machine Learning, Advanced Data Strictures using C++/Java and Competitive Coding.</p>
                            </div>
                        </li>
						<li>
							<div class="title">
								<h4 class="inline-block mb0">I have already enrolled for a January batch of one of the advanced courses. Will I still be eligible for the scholarship?</h4>
							</div>
							<div class="content">
								<p>Yes, you can still get the scholarship. We will evaluate your performance in APAT, and scholarship will be granted.</p>
							</div>
						</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <a id="apat-registration-form" class="in-page-link" data-scroll-id="apat-registration-form"></a>
	<section id="registration"> 
	 	<div class="row">
 		<div class="col&#45;sm&#45;12 text&#45;center"> 
 			<h4 class="mb16">Register Here</h4> 
 		</div> 
		</div>
		<div class="container">
			<div class="row" style="height: 3500px">
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSchJ0sznjrxg7VGumz1L21nqAXEYcB09FDBIPyKV2E7m-a65Q/viewform" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe> -->
			</div> 
		</div> 
 </section> 

    <a id="course-testimonials" class="in-page-link"></a>

    {{> whatstudentssay}}
    {{> readmoretestimonials}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
