<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    <section>
        <div class="row">
            <div class="container">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#android" aria-controls="android" role="tab" data-toggle="tab">Android Development</a>
                    </li>
                    <li role="presentation"><a href="#web" aria-controls="web" role="tab" data-toggle="tab">Web
                        Development</a></li>
                    <li role="presentation"><a href="#algo" aria-controls="algo" role="tab" data-toggle="tab">DS & Algo
                        in C++/Java</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="android">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>HackerBlocks ID</th>
                                <th>Oneauth ID</th>
                                <th>Scholarship</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Akanksha Sood</td>
                                <td> akank********s@gmail.com</td>
                                <td>8117</td>
                                <td>7850</td>
                                <td>75%</td>
                            </tr>
                            <tr>
                                <td>Pranav Sharma</td>
                                <td> ps*****hs@gmail.com</td>
                                <td>5144</td>
                                <td>3320</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Aastha Aneja</td>
                                <td> a****a*s**a@gmail.com</td>
                                <td>5061</td>
                                <td>3222</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td> Pravesh Gill</td>
                                <td> pg****.**n@gmail.com</td>
                                <td>7335</td>
                                <td>7752</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td> Abhishek Chhabra</td>
                                <td> abhishekchhabra.****@gmail.com</td>
                                <td>7793</td>
                                <td>7390</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td> Simarpreet Singh Sahani</td>
                                <td> l****ife***3@gmail.com</td>
                                <td>8057</td>
                                <td>7670</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td>Kushagra Arora</td>
                                <td> kushagra*****ora@gmail.com</td>
                                <td>5486</td>
                                <td>3858</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Pulkit Chhabra</td>
                                <td> pulk****hhabra@ymail.com</td>
                                <td>7500</td>
                                <td>7025</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Himanshu Dewan</td>
                                <td> himanshudew*****@gmail.com</td>
                                <td>6097</td>
                                <td>4708</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Dhruv Jain</td>
                                <td> rohi***in**@hotmail.com</td>
                                <td>4998</td>
                                <td>2945</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Chirag Gupta</td>
                                <td> ch**ag***@gmail.com</td>
                                <td>4644</td>
                                <td>2531</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Sarthak Koherwal</td>
                                <td> s**t***ko**r***@gmail.com</td>
                                <td>5731</td>
                                <td>4175</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Arunesh Gupta</td>
                                <td> ar***sh**pta**@gmail.com</td>
                                <td>4341</td>
                                <td>1879</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Sanchit Bathla</td>
                                <td> s***hitb**@gmail.com</td>
                                <td>6967</td>
                                <td>6379</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Pitransh Mathuria</td>
                                <td>pitran****athuria**@gmail.com</td>
                                <td>6859</td>
                                <td>6209</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Archit Aggarwal</td>
                                <td> m***archit****@gmail.com</td>
                                <td>5535</td>
                                <td>3939</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Shubham Shubham</td>
                                <td> p**n***h**ha*2***9@gmail.com</td>
                                <td>7425</td>
                                <td>6933</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Sanchit Gupta</td>
                                <td> san***1***@gmail.com</td>
                                <td>6945</td>
                                <td>6345</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Pratyush Pranjal</td>
                                <td> **p***jalprat***h@gmail.com</td>
                                <td>8136</td>
                                <td>7800</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Shishir Khandelwal</td>
                                <td> ***shir***and***al@rocketmail.com</td>
                                <td>6732</td>
                                <td>5925</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Dhananjay Dhananjay</td>
                                <td> ***ax****@gmail.com</td>
                                <td>8125</td>
                                <td>7823</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Chirag Bhardwaj</td>
                                <td> chir****ardwa****8@gmail.com</td>
                                <td>8071</td>
                                <td>7846</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Shifali Jain</td>
                                <td> sh****ija****@gmail.com</td>
                                <td>7792</td>
                                <td>7389</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Nishant Sharma</td>
                                <td> n***ant***rma****@gmail.com</td>
                                <td>5247</td>
                                <td>3494</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Ankush Raj</td>
                                <td> ankush****@gmail.com</td>
                                <td>8130</td>
                                <td>7716</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Gaurav Kumar</td>
                                <td> ku****aura****7@gmail.com</td>
                                <td>5835</td>
                                <td>4309</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Waseem Ahmad</td>
                                <td> w**eem****93@gmail.com</td>
                                <td>5040</td>
                                <td>3198</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Jatin Verma</td>
                                <td> jat****ve**a@gmail.com</td>
                                <td>3080</td>
                                <td>73</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Mohit Munjal</td>
                                <td> mo**tmunj****@gmail.com</td>
                                <td>8066</td>
                                <td>7786</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Ruchika Goel</td>
                                <td> ruch****ar@gmail.com</td>
                                <td>5213</td>
                                <td>3439</td>
                                <td>₹1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="web">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>HackerBlocks ID</th>
                                <th>Oneauth ID</th>
                                <th>Scholarship</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Rajat Singla</td>
                                <td> ra****ingla**@gmail.com</td>
                                <td>4663</td>
                                <td>2582</td>
                                <td>75%</td>
                            </tr>
                            <tr>
                                <td>Nishant Sharma</td>
                                <td> nisha****arma****@gmail.com</td>
                                <td>5247</td>
                                <td>3494</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Shubham Rajput</td>
                                <td> shub****ajput****@gmail.com</td>
                                <td>5518</td>
                                <td>3916</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td>Sarthak Goel</td>
                                <td> sarth***oel***00@gmail.com</td>
                                <td>8149</td>
                                <td>7629</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td>Vikram Bedi</td>
                                <td> vi**am.*****@gmail.com</td>
                                <td>6485</td>
                                <td>4887</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td>Aman Garg</td>
                                <td>amangarg*****@gmail.com</td>
                                <td>6983</td>
                                <td>6398</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td> Ishani Aggarwal</td>
                                <td> ish****ggarwal***@gmail.com</td>
                                <td>8102</td>
                                <td>7763</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td> Ayush Arya</td>
                                <td> a******ush*@gmail.com</td>
                                <td>7924</td>
                                <td>7562</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td> Gaurav Nerwal</td>
                                <td> gnerwal**@gmail.com</td>
                                <td>7110</td>
                                <td>5985</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td> Mohit Munjal</td>
                                <td> mohitmunjal**@gmail.com</td>
                                <td>8066</td>
                                <td>7786</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td> Shivang Garg</td>
                                <td> shivanggarg****@gmail.com</td>
                                <td>4902</td>
                                <td>2980</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Pranav Malik</td>
                                <td> rockstarpranav**@gmail.com</td>
                                <td>5312</td>
                                <td>3609</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Raj Yadhuvanshi</td>
                                <td> shailendra85*****048@gmail.com</td>
                                <td>8144</td>
                                <td>7772</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Chirag Bhardwaj</td>
                                <td> chiragbhardwaj****@gmail.com</td>
                                <td>8071</td>
                                <td>7846</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Sahil Aggarwal</td>
                                <td> a****r****ahi****@gmail.com</td>
                                <td>8049</td>
                                <td>7615</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Jatin Verma</td>
                                <td> jat****verma@gmail.com</td>
                                <td>3080</td>
                                <td>73</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Aakash Dabas</td>
                                <td> aakash****dab****@gmail.com</td>
                                <td>7026</td>
                                <td>6469</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Ayush Deep</td>
                                <td> ayushdeep****@yahoo.com</td>
                                <td>3898</td>
                                <td>1186</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Sarthak Koherwal</td>
                                <td> sarth****herwal@gmail.com</td>
                                <td>5731</td>
                                <td>4175</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Pulkit Chhabra</td>
                                <td> pulk****hhabra@ymail.com</td>
                                <td>7500</td>
                                <td>7025</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Anirudh Gupta</td>
                                <td> anirudhgupta******@gmail.com</td>
                                <td>3880</td>
                                <td>1164</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Darsh Pratap</td>
                                <td> dar***ratap**@gmail.com</td>
                                <td>6629</td>
                                <td>5695</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Kartik Wadehra</td>
                                <td> ****eh**@gmail.com</td>
                                <td>6520</td>
                                <td>5525</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Saksham Sachdeva</td>
                                <td> saksh*****chdeva@gmail.com</td>
                                <td>4997</td>
                                <td>3122</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Abhishek Saxena</td>
                                <td> abhig*****@gmail.com</td>
                                <td>5833</td>
                                <td>4307</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Himanshu Singhal</td>
                                <td> himanshu.singhal***@gmail.com</td>
                                <td>7559</td>
                                <td>7098</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Himanshu Dewan</td>
                                <td> himans***ewan***@gmail.com</td>
                                <td>6097</td>
                                <td>4708</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Arunesh Gupta</td>
                                <td> arune***upt***@gmail.com</td>
                                <td>4341</td>
                                <td>1879</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Sanchit Bathla</td>
                                <td> sanchit***@gmail.com</td>
                                <td>6967</td>
                                <td>6379</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Sonali Singh</td>
                                <td> sing***o*****8@gmail.com</td>
                                <td>3655</td>
                                <td>835</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Rishabh Aggarwal</td>
                                <td> ri***haggarwal***1@gmail.com</td>
                                <td>8114</td>
                                <td>7733</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Tejaswi Kapoor</td>
                                <td> te****apoor**@gmail.com</td>
                                <td>4439</td>
                                <td>2096</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Subramaniam K</td>
                                <td> sub******7@gmail.com</td>
                                <td>8113</td>
                                <td>7721</td>
                                <td>₹1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="algo">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>HackerBlocks ID</th>
                                <th>Oneauth ID</th>
                                <th>Scholarship</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> Ishank Jain</td>
                                <td> ishan***ain**@gmail.com</td>
                                <td>8132</td>
                                <td>7753</td>
                                <td>75%</td>
                            </tr>
                            <tr>
                                <td> Archit Aggarwal</td>
                                <td> m***archit****@gmail.com</td>
                                <td>5535</td>
                                <td>3939</td>
                                <td>75%</td>
                            </tr>
                            <tr>
                                <td> Roshan Mishra</td>
                                <td> roshanmishr******@gmail.com</td>
                                <td>6686</td>
                                <td>5792</td>
                                <td>50%</td>
                            </tr>
                            <tr>
                                <td> Ali Hasan</td>
                                <td> aliha*****2*@gmail.com</td>
                                <td>8158</td>
                                <td>7741</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td> Shubham Kaushik</td>
                                <td> *****026@gmail.com</td>
                                <td>6788</td>
                                <td>6086</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td> Krishankant Ray</td>
                                <td> k***hanka******@rediffmail.com</td>
                                <td>7957</td>
                                <td>7607</td>
                                <td>30%</td>
                            </tr>
                            <tr>
                                <td> Manthan Chauhan</td>
                                <td>mant****hauhan***@gmail.com</td>
                                <td>7206</td>
                                <td>6631</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td> Utkarsh Kansal</td>
                                <td> u****sal@yahoo.com</td>
                                <td>3998</td>
                                <td>1348</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td> Naman Banati</td>
                                <td> nam******ati@gmail.com</td>
                                <td>7615</td>
                                <td>7175</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td> Bhavya Bansal</td>
                                <td> bh**ya**@gmail.com</td>
                                <td>6908</td>
                                <td>6290</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td> Madhav Madhav</td>
                                <td> madhav****@gmail.com</td>
                                <td>8059</td>
                                <td>7807</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Sam</td>
                                <td> sam****1**1@gmail.com</td>
                                <td>8146</td>
                                <td>7643</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td> Sameer Gangar</td>
                                <td> sameer*******@gmail.com</td>
                                <td>5492</td>
                                <td>3866</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Naman Goyal</td>
                                <td> naman****@gmail.com</td>
                                <td>5234</td>
                                <td>3477</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Saurabh Kumar</td>
                                <td> mikal*****@gmail.com</td>
                                <td>8050</td>
                                <td>7785</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Sohang Lal</td>
                                <td> s**a******@gmail.com</td>
                                <td>7539</td>
                                <td>7066</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Ayush Aran</td>
                                <td> ayush******@gmail.com</td>
                                <td>7481</td>
                                <td>6963</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Bharat Aggarwal</td>
                                <td> bharat*****@gmail.com</td>
                                <td>8058</td>
                                <td>7805</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Rajat Singh</td>
                                <td> rajatsingh*****@gmail.com</td>
                                <td>8135</td>
                                <td>7842</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td> Harshita Agarwal</td>
                                <td> hars******arwal**@yahoo.com</td>
                                <td>7964</td>
                                <td>7619</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Ankush Mahindru</td>
                                <td> mahin******kush**@gmail.com</td>
                                <td>5002</td>
                                <td>3128</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Sameer Choubey</td>
                                <td> sa*******oubey**@gmail.com</td>
                                <td>8111</td>
                                <td>7730</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Rishabh Aggarwal</td>
                                <td> ri***bh******al***1@gmail.com</td>
                                <td>8114</td>
                                <td>7733</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Ravi Ranjan</td>
                                <td> r***a****njan****0@gmail.com</td>
                                <td>8086</td>
                                <td>7845</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Raghav Govil</td>
                                <td> rag***gov****@gmail.com</td>
                                <td>8032</td>
                                <td>7739</td>
                                <td>₹1000</td>
                            </tr>
                            <tr>
                                <td> Vishnu P</td>
                                <td> v****40@gmail.com</td>
                                <td>8129</td>
                                <td>7839</td>
                                <td>₹1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
