<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        #competitiveheader {
            background-image: url("../assets/images/cb/cover/cover_admission.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .flex-container {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            -webkit-justify-content: center;

        }

        .flex-item {
            max-width: 600px;

        }
    </style>
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 858471704;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "QBMcCNHlqG8QmPqsmQM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/858471704/?label=QBMcCNHlqG8QmPqsmQM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    <script src="/js/fbpixel.js"></script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1669664786661021&ev=PageView&noscript=1"/>
    </noscript>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <a id="course-header" class="in-page-link"></a>

    <section class="page-title page-title-2 bg-secondary bg-dark" id="competitiveheader">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="uppercase mb8">APAT</h2>
                    <p class="lead mb0" style="font-size: 3rem; line-height: 4rem;">
						Advanced Program Admission (and Scholarship) Test
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2"></ol>
                </div>
            </div>

        </div>

    </section>
    <a id="course-overview" class="in-page-link"></a>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="uppercase color-primary mb40 mb-xs-24">Registrations</h3>
					<p class="lead">
						Coding Blocks is proud to introduce to you APAT, the Advanced Programs Admission (and Scholarship) Test for our advanced and development courses, starting this December. The test will be conducted on our own judge portal, Hacker Blocks. Students will be tested on their coding and algorithmic skills and scholarships worth up to 75% will be on offer. This test is and scholarships therefrom are applicable on the development and advanced courses: Web Development, Android Development, Algo++, Algo.Java, Machine Learning and Competitive Programming (Online &amp; Classroom).
					</p>
					<p>
						Please note that appearing for the test is COMPLETELY FREE OF COST. 
					</p>
					<div class="condensed-paragraphs mb64">
						<p>
							<strong>When?</strong> Sunday, October 21 (11:00 AM to 06:30 PM), Registrations close at 1:00 PM on October 20.
						</p>
						<p>
							<strong>Where?</strong> <a href="https://hack.codingblocks.com">Hacker Blocks</a> (Online)
						</p>
						<p>
							<strong>Syllabus?</strong> Algorithms &amp; Basic Coding
						</p>
					</div>
					<div class="mt40">
						<a class="btn btn-lg btn-filled uppercase" target="_blank" href="https://app.codingblocks.com/apat_registrations/new">Register Now</a>
					</div>
                </div>
            </div>
        </div>
    </section>

	<section>
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Batch</th>
						<th>Timings</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Competitive Programming</td>
						<td>(11:00 AM - 12:00 PM)</td>
					</tr>
					<tr>
						<td>Algo++/Algo.Java</td>
						<td>(12:30 PM - 01:30 PM)</td>
					</tr>
					<tr>
						<td>Web Development</td>
						<td>(02:30 PM - 03:30 PM)</td>
					</tr>
					<tr>
						<td>Android</td>
						<td>(04:00 PM - 05:00 PM)</td>
					</tr>
					<tr>
						<td>Machine Learning</td>
						<td>(05:30 PM - 06:30 PM)</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

    <!-- SECTION: Course FAQ -->
    <a id="course-faq" class="in-page-link" data-scroll-id="course-faq"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="mb16">FAQ</h4>
                    <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <ul class="accordion accordion-2 one-open">
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">What is the registration fees for APAT?</h4>
                            </div>
                            <div class="content">
                                <p>APAT is completely free of cost for everyone.</p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">What courses is the APAT scholarship applicable for?</h4>
                            </div>
                            <div class="content">
                                <p>It is applicable for our advanced batches - Web Development, Android Development, Machine Learning, Advanced Data Strictures using C++/Java and Competitive Coding.</p>
                            </div>
                        </li>
						<li>
							<div class="title">
								<h4 class="inline-block mb0">I have already enrolled for a January batch of one of the advanced courses. Will I still be eligible for the scholarship?</h4>
							</div>
							<div class="content">
								<p>Yes, you can still get the scholarship. We will evaluate your performance in APAT, and scholarship will be granted.</p>
							</div>
						</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <a id="course-testimonials" class="in-page-link"></a>
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
