<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    <section>
        <div class="row">
            <div class="container">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#algoplusplus" aria-controls="algoplusplus" role="tab" data-toggle="tab">Algo++</a>
                    </li>
					<li role="presentation">
						<a href="#algojava" aria-controls="algojava" role="tab" data-toggle="tab">Algo.Java</a>
					</li>
                    <li role="presentation">
                        <a href="#machine-learning" aria-controls="machine-learning" role="tab" data-toggle="tab">Machine Learning</a>
                    </li>
                    <li role="presentation">
                        <a href="#web-dev" aria-controls="web-dev" role="tab" data-toggle="tab">Web Development</a>
                    </li>
                    <li role="presentation">
                        <a href="#android-dev" aria-controls="android-dev" role="tab" data-toggle="tab">Android Development</a>
                    </li>
                    <li role="presentation">
                        <a href="#competitive-programming" aria-controls="competitive-programming" role="tab" data-toggle="tab">Competitive Programming</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="algoplusplus">
						{{> contestresults results=algoresults}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="algojava">
						{{> contestresults results=algojavaresults}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="machine-learning">
						{{> contestresults results=mlresults}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="web-dev">
						{{> contestresults results=webdevresults}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="android-dev">
						{{> contestresults results=androidresults}}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="competitive-programming">
						{{> contestresults results=competitiveresults}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
