<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    <section>
        <div class="row">
			<div class="container">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#nov-11" aria-controls="nov-11" role="tab" data-toggle="tab">Nov 11</a></li>
					<li role="presentation"><a href="#nov-19" aria-controls="nov-19" role="tab" data-toggle="tab">Nov 19</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="nov-11">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Email</th>
									<th>HackerBlocks ID</th>
									<th>Oneauth ID</th>
									<th>Scholarship</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Ankit Verma</td>       	 
									<td>an******de***@gmail.com</td>	
									<td>7176</td>	
									<td>6610</td>	
									<td>75%</td>
								</tr>
								<tr>
									<td>Harshal Kumar</td>   	 
									<td>har*******ma***@gmail.com</td>	
									<td>6757</td>	
									<td>5998</td>	
									<td>75%</td>
								</tr>
								<tr>
									<td>Karan Goyal</td>         	 
									<td>goyal.******aran.kar***@gmail.com</td>	
									<td>7146</td>	
									<td>5460</td>	
									<td>75%</td>
								</tr>
								<tr>
									<td>Shivang Chopra</td>    	 
									<td>shiv******pr***@gmail.com</td>	
									<td>4647</td>	
									<td>2561</td>	
									<td>75%</td>
								</tr>
								<tr>
									<td>Shreyansh Parakh</td>    	 
									<td>shre******ara**@hotmail.com</td>	
									<td>7092</td>	
									<td>5896</td>	
									<td>75%</td>
								</tr>
								<tr>
									<td>Anant Chaturvedi</td>  	 
									<td>cha******i.anan***@gmail.com</td>	
									<td>3225</td>	
									<td>313</td>	
									<td>50%</td>
								</tr>
								<tr>
									<td>Anurag Singh</td>        	 
									<td>anu******gh***@gmail.com</td>	
									<td>3824</td>	
									<td>1080</td>	
									<td>50%</td>
								</tr>
								<tr>
									<td>Arunava Chakraborty</td> 	 
									<td>learn******idarun***@gmail.com</td>	
									<td>5317</td>	
									<td>3617</td>	
									<td>50%</td>
								</tr>
								<tr>
									<td>Chirag</td>        	 
									<td>chi******rag@outlook.com</td>	
									<td>6996</td>	
									<td>6087</td>	
									<td>50%</td>
								</tr>
								<tr>
									<td>Divyansh Singh</td>  	 
									<td>div******gh***@gmail.com</td>	
									<td>5120</td>	
									<td>3290</td>	
									<td>50%</td>
								</tr>
								<tr>
									<td>Aneesh Kundu</td>    	 
									<td>ane****kund***@gmail.com</td>	
									<td>5016</td>	
									<td>3143</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Anurag Pandey</td>   	 
									<td>-</td> 
									<td>7045</td>	
									<td>6495</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Bramhdeep Singh</td> 	 
									<td>bra******p.jak***@gmail.com</td>	
									<td>7162</td>	
									<td>6601</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Jatin Gupta</td>         	 
									<td>jat******97@gmail.com</td>	
									<td>5275</td>	
									<td>3531</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Raghav Kapoor</td>       	 
									<td>rag******oor**@hotmail.com</td>	
									<td>6936</td>	
									<td>6329</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Shivam Garg</td>       	 
									<td>shi******g6***@gmail.com</td>	
									<td>3680</td>	
									<td>869</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Vaibhav Kumar</td>     	 
									<td>va******r***@gmail.com</td>	
									<td>6879</td>	
									<td>6241</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Harsh Kajla</td>     	 
									<td>ha*****s@gmail.com</td>	
									<td>3327</td>	
									<td>404</td>	
									<td>15%</td>
								</tr>
								<tr>
									<td>Vrishank Gupta</td>    	 
									<td>v****an***@gmail.com</td>	
									<td>4642</td>	
									<td>2525</td>	
									<td>15%</td>
								</tr>
								<tr>
									<td>Mridul Chaba</td>    	 
									<td>mr******haba@gmail.com</td>	
									<td>6231</td>	
									<td>5018</td>	
									<td>10%</td>
								</tr>
								<tr>
									<td>Vaibhav Goyal</td>     	 
									<td>vai******@gmail.com</td>	
									<td>7021</td>	
									<td>6464</td>	
									<td>10%</td>
								</tr>
								<tr>
									<td>Yash Aggarwal</td>       	 
									<td>yg.3****@gmail.com</td>	
									<td>3570</td>	
									<td>732</td>	
									<td>10%</td>
								</tr>
								<tr>
									<td>Anshul Kumar</td>    	 
									<td>an*****8ks***@gmail.com</td>	
									<td>2333</td>	
									<td>150</td>	
									<td>₹1000</td>
								</tr>
								<tr>
									<td>Mohit Bansal</td>      	 
									<td>ba******hi***@gmail.com</td>	
									<td>6627</td>	
									<td>5693</td>	
									<td>₹1000</td>
								</tr>
								<tr>
									<td>Mohit Kataria</td>   	 
									<td>mo******aria9***@gmail.com</td>	
									<td>5200</td>	
									<td>3416</td>	
									<td>₹1000</td>
								</tr>
								<tr>
									<td>Saumya Gupta</td>        	 
									<td>sa******gupta@gmail.com</td>	
									<td>5042</td>	
									<td>3200</td>	
									<td>₹1000</td>
								</tr>
								<tr>
									<td>Shivam Gupta</td>      	 
									<td>sm******ivamgu***@yahoo.com</td>
									<td>6888</td>	
									<td>6255</td>	
									<td>₹1000</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="nov-19">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Email</th>
									<th>HackerBlocks ID</th>
									<th>Oneauth ID</th>
									<th>Scholarship</th>
								</tr>
							</thead>
							<tbody> 
								<tr>
									<td>Kapil Lamba</td>       	 
									<td>ka******ba*@yandex.com</td>	
									<td>6522</td>	
									<td>5528</td>	
									<td>75%</td>
								</tr>
								<tr>
									<td>Shivam Garg</td>        	 
									<td>shi******g6***@gmail.com</td>	
									<td>3680</td>	
									<td>869</td>	
									<td>75%</td>
								</tr>
								<tr>
									<td>Ankit Verma</td>       	 
									<td>an******mam**@gmail.com</td>	
									<td>3743</td>	
									<td>975</td>	
									<td>50%</td>
								</tr>
								<tr>
									<td>Ashish Lakhani</td>    	 
									<td>de******kha**@gmail.com</td>	
									<td>3319</td>	
									<td>396</td>	
									<td>50%</td>
								</tr>
								<tr>
									<td>Uday Vig</td>           	 
									<td>ud*****g@gmail.com</td>	
									<td>6597</td>	
									<td>5640</td>	
									<td>50%</td>
								</tr>
								<tr>
									<td>Utkarsh Chawala</td>    	 
									<td>pa******awla1***@gmail.com</td>	
									<td>3612</td>	
									<td>781</td>	
									<td>50%</td>
								</tr>
								<tr>
									<td>Ankit Verma</td>        	 
									<td>an******ma***@gmail.com</td>	
									<td>3743</td>	
									<td>975</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Mahima Sachan</td>      	 
									<td>mah******ha*@gmail.com</td>	
									<td>6882</td>	
									<td>6246</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Pravesh Gill</td>      	 
									<td>pg******jn@gmail.com</td>	
									<td>7335</td>	
									<td>6652</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Raghav Tayal</td>       	 
									<td>ra******ya**@gmail.com</td>	
									<td>6720</td>	
									<td>5884</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Raman Kataria</td>     	 
									<td>ra******taria***@gmail.com</td>	
									<td>7074</td>	
									<td>6308</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Shubham Saini</td>     	 
									<td>shu******inin**@gmail.com</td>	
									<td>5361</td>	
									<td>3695</td>	
									<td>25%</td>
								</tr>
								<tr>
									<td>Khyati Grover</td>     	 
									<td>khy******over@yahoo.com</td>	
									<td>3234</td>	
									<td>323</td>	
									<td>15%</td>
								</tr>
								<tr>
									<td>Manas Batra</td>       	 
									<td>ma*****7@yahoo.com</td>	
									<td>6834</td>	
									<td>6172</td>	
									<td>15%</td>
								</tr>
								<tr>
									<td>Om Raj</td>            	 
									<td>om******mvd@gmail.com</td>	
									<td>7226</td>	
									<td>6653</td>	
									<td>15%</td>
								</tr>
								<tr>
									<td>Prakhar Gupta</td>      	 
									<td>pr******0@gmail.com</td>	
									<td>6796</td>	
									<td>6111</td>	
									<td>15%</td>
								</tr>
								<tr>
									<td>Pulkit Jain</td>        	 
									<td>pu******in6**@gmail.com</td>	
									<td>6511</td>	
									<td>681</td>	
									<td>15%</td>
								</tr>
								<tr>
									<td>Shubham Guglani</td>    	 
									<td>gug******ubham**@gmail.com</td>	
									<td>6799</td>	
									<td>6118</td>	
									<td>15%</td>
								</tr>
								<tr>
									<td>Abhishek Trigunait</td> 	 
									<td>abh******trigunai***@gmail.com</td>	
									<td>5977</td>	
									<td>4529</td>	
									<td>10%</td>
								</tr>
								<tr>
									<td>Anshul Chauhan</td>     	 
									<td>an******auhan0**@gmail.com</td>	
									<td>382</td>	
									<td>362</td>	
									<td>10%</td>
								</tr>
								<tr>
									<td>Rajat Saini</td>        	
									<td>-</td>	
									<td>6896</td>	
									<td>6267</td>	
									<td>10%</td>
								</tr>
								<tr>
									<td>Sarvjit Yadav</td>     	 
									<td>sar******dav19**@gmail.com</td>	
									<td>6413</td>	
									<td>5350</td>	
									<td>10%</td>
								</tr>
								<tr>
									<td>Shubham Kaushik</td>   	 
									<td>sk******@gmail.com</td>	
									<td>6788</td>	
									<td>6086</td>	
									<td>10%</td>
								</tr>
								<tr>
									<td>Bineet Singh</td>       	 
									<td>bin******gh3**@gmail.com</td>	
									<td>6697</td>	
									<td>5235</td>	
									<td>₹1000</td>
								</tr>
								<tr>
									<td>Ishwaridutt Singh</td> 	 
									<td>is******ut**@gmail.com</td>	
									<td>5001</td>	
									<td>3127</td>	
									<td>₹1000</td>
								</tr>
								<tr>
									<td>Prerna Jain</td>       	 
									<td>prer*****n2***@gmail.com</td>	
									<td>6844</td>	
									<td>6188</td>	
									<td>₹1000</td>
								</tr>
								<tr>
									<td>Priya Mittal</td>       	 
									<td>pri*****ttal**@gmail.com</td>	
									<td>7000</td>	
									<td>6425</td>	
									<td>₹1000</td>
								</tr>
								<tr>
									<td>Tanisi Chugh</td>      	 
									<td>ta******1@gmail.com</td>	
									<td>6869</td>	
									<td>6223</td>	
									<td>₹1000</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
        </div>
    </section>

    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
