<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <object data="{{#relativePath @file.path "/brochure.pdf"}}{{/relativePath}}" type="application/pdf" class="brochure-box">
        <iframe src="{{#relativePath @file.path "/brochure.pdf"}}{{/relativePath}}" class="brochure-box"
                style="border: none;">
            This browser does not support PDFs. Please download the PDF to view it: <a
                href="{{#relativePath @file.path "/brochure.pdf"}}{{/relativePath}}">Download
            PDF</a>
        </iframe>
    </object>
</div>
{{> scripts}}
</body>
</html>

