<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
	<style>
		.bg-dark form label {
			color: #fefefe;
		}
	</style>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
	  {{> overview}}
	<section class="bg-dark">
		<div class="container">
			<h2 class="uppercase mb16 text-center color-primary">How To Start</h2>
			<img src="/assets/images/campus-infographic.png" alt="Campus Ambassador Program Infographic">
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<h2 class="uppercase mb20 text-center color-primary">The Program</h2>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1 campus-card">
					<h3 class="uppercase mb16 text-center color-primary">Rewards</h3>
					<img src="/assets/images/campus-whatyouget.jpg" alt="" />
					<ul>
						<li><strong>HUGE CASH INCENTIVES!</strong></li>
						<li>Exclusive merchandise</li>
						<li>Attractive discounts coupons</li>
						<li>Free early access passes for all events</li>
						<li>Special interaction sessions</li>
						<li>Referral rewards</li>
						<li>Internship (work experience) certificate</li>
						<li>And a lot more!</li>
					</ul>
				</div>
				<div class="col-md-5 col-md-offset-1 campus-card">
					<h3 class="uppercase mb16 text-center color-primary">Responsibilites</h3>
					<img src="/assets/images/campus-whatyoudo.jpg" alt="" />
					<ul>
						<li>Promote CB courses and online platforms</li>
						<li>Clear doubts regarding CB</li>
						<li>Help CB with on-ground and social branding</li>
						<li>Maintain relevant databases for leads</li>
						<li>Conduct workshops, meet-ups, and events</li>
						<li>Connect CB with the college placement cell</li>
						<li>Connect CB with teams of various college fests</li>
						<li><strong>Innovative ideas welcome!</strong></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-dark">
		<div class="container">
			<div class="row">
				<h2 id="register" class="uppercase mb20 text-center color-primary">Register</h2>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<form action="https://cbemail.herokuapp.com/campus" method="POST" data-success="Thank you for signing up. We will get in touch with you shortly." data-error="Please fill all fields correctly.">
						<input type="text" required name="name" placeholder="Name (Required)" />
						<input type="text" required name="phone" placeholder="Phone Number (Exactly 10 Digits) (Required)" />
						<input type="text" required name="email" placeholder="Email (Required)" />
						<input type="text" required name="college" placeholder="College (Required)" />
						<input type="text" required name="state" placeholder="State (Required)" />
						<input type="text" required name="branch" placeholder="Branch (Required)" />
						<input type="text" required name="year" placeholder="Year of Graduation (Required)" />

						<div class="form-group">
							<div class="row">
								<div class="col-md-1">
									<input type="checkbox" value="true" id="vmc_checkbox" name="ex_vmc">
								</div>
								<div class="col-md-6">
									<label for="vmc_checkbox">Are you an ex-VMC student? (Required)</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-1">
									<input type="checkbox" value="true" id="cb_checkbox" name="ex_cb">
								</div>
								<div class="col-md-6">
									<label for="cb_checkbox">Are you an ex-Coding Blocks student? (Required)</label>
								</div>
							</div>
						</div>

						<input type="text" required name="facebook_url" placeholder="Link to your Facebook profile (Required)" />
						<textarea required name="other_profiles" placeholder="Any other profiles? (Github/LinkedIn/Twitter)" rows="5"></textarea>

						<textarea required name="better_fit" placeholder="Why do you think you will be a better fit for this opportunity, as compared to your college mates?" rows="5"></textarea>
						<textarea required name="marketing_idea" placeholder="Suggest one unique idea to spread the presence of Coding Blocks in your college, apart from the ones mentioned above." rows="5"></textarea>
						<textarea name="additional_info" placeholder="Any additional information about yourself you want to provide us?" rows="5"></textarea>

					  <div class="g-recaptcha" data-sitekey="6Ldha0sUAAAAADc7aZwm0lJRamTVadFKIpiy90Qi"></div>
					  <button type="submit">Sign Up</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	{{> map}}
	{{> footer}}
</div>
{{> scripts}}
</body>
</html>
