<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    {{> courseSchema}}
	<script src="/assets/scripts/slider.js"></script>
<style>
	.bg-dark form label {
		color: #fefefe;
	}
	
	.outer-section{
		padding: 3rem 4rem;
		background-color: #15161e;
	}
	.title-heading{
		font-size: 2.8rem; 
		color:white;
		font-weight:800
	}

	.generic-para{
		font-size: 1.3rem;
		font-weight:800
	}

	.orange-circle{
		font-size:2em;
		color:orange
	}

	.texts-container {
		padding: 15px 15px 10px;
		margin-right: 2px;
		display: flex;
		align-content: flex-start;
		cursor: pointer;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.title-resp {
		color: white;
		margin-left: 1.1rem;
		font-size: 1.3rem;
		font-weight: 700;
	}
	.title-reward{
		color: white;
		margin-left: 0.5rem;
		font-size: 1.3rem;
		font-weight: 700;

	}
	.card-outer{
		background-color: #1f212c;
		margin-right: 1rem;
		margin-top: 1rem;
	}
	.selection-title {
		font-weight: 700;
		font-size: 2rem;
		color: #ff7800;
		margin-left: 1.5rem;
	}
	.selection-card-content {
		font-weight: 300;
		font-size: 1em;
		color: white;
		
	}

	.rewards-sub {
		display: flex;
		flex-direction: column;
		padding: 0 6rem;
		position: relative;
		color: white;
	}
	.rewards-sub-header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding-right: 2rem;
		margin-bottom: 4rem;
	}
    .underline-img {
          position: absolute;
          left: 0;
          bottom: -1.8rem;
          width: 100%;
    }
	.reward-cards-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
		row-gap: 2rem;
		grid-auto-rows: 1fr;
		margin-bottom: 5rem;
	}
	.reward-card {
		flex: 1;
		align-items: center;
		display: flex;
		background-color: #15161e;
		border-radius: 0.6rem;
		padding: 2.5rem 2.5rem;
		color: white;
	}

	.speaker {
		display: flex;
		align-items: center;
		text-align: left;
	}
 	.avatar {
		margin-left: 0.6rem;
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
	}
	.superheros-name{
		color: white;
		margin-left:2em;
		font-size:1.3em;
		font-weight:700
	}
	.month-cards-grid {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 6rem;
	}
	.month-info {
        margin-left: 6rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
	 }
	.journey {
		background: linear-gradient(180deg, #ff5c15 0%, #ff7134 100%);
		color: white;
		border-radius: 1em;
	}
	 .left-journey {
		display: flex;
		align-items: center;
		font-size: 1.25rem;
	}
	.apply-btn{
		background: white;
        color: #373737;
        font-weight: 700;
        font-size: 1.25rem;
        border-radius: 0.2rem;
        padding: 1rem 2.5rem;
        cursor: pointer;
        transition: 0.2s;
	}
	.apply-btn .hover{
		opacity: 1;
	} 

	.social-media-img{
		height: 5rem;
		margin-top: 1rem;
		margin-left:1rem
	}

</style>
</head>
<body class="scroll-assist" style="margin-top: -70px;">
{{> navbar}}
<div class="main-container">
	<section class="outer-section" style="background-color:#191b23;">
		<div style="padding: 10px 0;">
			<div class="row" style="padding-top: 4rem;">
				<div class="col-md-5 ">
					<h1 class="title-heading" style="letter-spacing: 3px;font-size: 4.5rem;">Are you ready to be a
						Superhero?</h1>
					<p style="letter-spacing: 1px;color:white;font-size: 1.3rem;font-weight:300">
						The Campus SuperHero Program at Coding Blocks is aimed to identify energetic, passionate,
						brilliant, college students &amp; turn them into leaders of tomorrow!
					</p>
					<a target="_blank" href="https://codingblocksin.typeform.com/application">
						<button class="apply-btn"
							style="background:linear-gradient(102.3deg, #ff9637 3.65%, #ff4e02 125.28%)">Apply
							Now</button> </a><a href="/campus-ambassador-program.html#objective-card">
						<button class="apply-btn" style="background: rgba(255, 255, 255, 0.04);color:white">Learn
							More</button>
					</a>
				</div>
				<div class="col-md-5 col-md-offset-2">
					<img src="./assets/images/campus/map.png" />
				</div>
			</div>
		</div>
	</section>
	<div id="objective-card">
		<section class="outer-section">
			<div style="padding: 10px 0;">
				<div class="row" style="padding-top: 4rem;">
					<div class="col-md-5 ">
						<img style="height: 8rem;margin-left: 2rem;margin-bottom: 6rem;"
							src="./assets/images/campus/faces.png" />
						<div class="texts-container">
							<i class="fa fa-check-circle orange-circle"></i>
							<h4 class="title-resp">Be the face of coding blocks on your campus</h4>
						</div>
						<hr />
						<div class="texts-container">
							<i class="fa fa-check-circle orange-circle"></i>
							<h4 class="title-resp">Conduct workshops, webinars and hackathons</h4>
						</div>
						<hr />
						<div class="texts-container">
							<i class="fa fa-check-circle orange-circle"></i>
							<h4 class="title-resp">Conduct online coding contests using hackerblocks</h4>
						</div>
						<hr />
						<div class="texts-container">
							<i class="fa fa-check-circle orange-circle"></i>
							<h4 class="title-resp">Create an active community</h4>
						</div>
						<hr />
						<div class="texts-container">
							<i class="fa fa-check-circle orange-circle"></i>
							<h4 class="title-resp">Promote our platform and courses</h4>
						</div>
						<hr />
					</div>
					<div class="col-md-5 col-md-offset-1">
						<h1 class="title-heading">Objective of this program</h1>
						<p class="text-muted generic-para">
							Campus Superheros are the face of Coding Blocks at their college
							campuses who help their peers get access to the best tech
							education. Our Superheros community helps students learn lifelong
							transferable skills, develop as future leaders, and help their
							peers in college gain high-quality technical skills.
						</p>
						<img style="margin-left: 5rem;margin-top: 3rem;width: 96%;"
							src="./assets/images/campus/objective.png" />
					</div>
				</div>
			</div>
		</section>
	</div>
	<section class="outer-section">
		<h1 class="title-heading">Selection Process</h1>
		<p class="text-muted generic-para ">
			The Campus Ambassador program at Coding Blocks is aimed at identifying
			energetic,<br />
			passionate, brilliant, like minded College Superheroes
		</p>
		<div class="row " style="padding-top: 4rem;">
			<div class="col-md-2-1  campus-card card-outer">
				<h4 class="selection-title">Application</h4>
				<span class="selection-card-content">Detailed application, will take 5-10 minutes.</span>
			</div>
			<div class="col-md-2-1  campus-card card-outer">
				<h4 class="selection-title">Interview</h4>
				<span class="selection-card-content">Interview with our community team.</span>
			</div>
			<div class="col-md-2-1 campus-card card-outer">
				<h4 class="selection-title">Onboarding</h4>
				<span class="selection-card-content">Selected on quarterly basis.</span>
			</div>
			<div class="col-md-2-1  campus-card card-outer">
				<h4 class="selection-title">Meetups</h4>
				<span class="selection-card-content">The Campus Ambassador program.</span>
			</div>
		</div>
	</section>
	<section class="outer-section">
		<div style="padding: 10px 0;">
			<div style="color: white;">
				<h1 class="title-heading">Roles &amp; Responsibilities</h1>
				<p class="text-muted generic-para">
					The Campus Ambassador program at Coding Blocks is aimed at
					identifying <br class="hide-small" />energetic, passionate,
					brilliant, like minded College Superheroes ( Need )
				</p>
			</div>
			<div class="row" style="padding-top: 4rem;">
				<div class="col-md-5  campus-card">
					<div class="texts-container">
						<i class="fa fa-check-circle orange-circle"></i>
						<h4 class="title-resp">Be the face of coding blocks on your campus</h4>
					</div>
					<hr />
					<div class="texts-container">
						<i class="fa fa-check-circle orange-circle"></i>
						<h4 class="title-resp">Conduct workshops, webinars and hackathons</h4>
					</div>
					<hr />
					<div class="texts-container">
						<i class="fa fa-check-circle orange-circle"></i>
						<h4 class="title-resp">Conduct online coding contests using hackerblocks</h4>
					</div>
					<hr />
					<div class="texts-container">
						<i class="fa fa-check-circle orange-circle"></i>
						<h4 class="title-resp">Create an active community</h4>
					</div>
					<hr />
				</div>
				<div class="col-md-5 col-md-offset-1 campus-card">
					<div class="texts-container">
						<i class="fa fa-check-circle orange-circle"></i>
						<h4 class="title-resp">Promote our platform and courses</h4>
					</div>
					<hr />
					<div class="texts-container">
						<i class="fa fa-check-circle orange-circle"></i>
						<h4 class="title-resp">Organise Coding Blocks Workshops on campus</h4>
					</div>
					<hr />
					<div class="texts-container">
						<i class="fa fa-check-circle orange-circle"></i>
						<h4 class="title-resp">Conduct Technical Webinars &amp; Hackathons</h4>
					</div>
					<hr />
					<div class="texts-container">
						<i class="fa fa-check-circle orange-circle"></i>
						<h4 class="title-resp">Learn &amp; grow with Coding Blocks</h4>
					</div>
					<hr />
				</div>
			</div>
		</div>
	</section>
	<section class="outer-section" style="background-color:#1f212c;">
		<div style="padding: 5px 0;">
			<div class="row" style="padding-top: 4rem;">
				<div class="col-md-5">
					<h1 class="title-heading">
						<span style="position: relative;font-weight:800">Superhero <img class="underline-img"
								src="./assets/images/campus/underline.png" /></span>Benefits
					</h1>
					<br>
					<p class="text-muted generic-para">
						The Campus Ambassador program at Coding Blocks is aimed at
						identifying <br />energetic, passionate, brilliant, like minded
						College Superheroes ( Need )
					</p>
				</div>
				<div class="col-md-5 col-md-offset-2">
					<img style="margin-left:1rem;max-height: 12rem;" src="./assets/images/campus/gift.png" />
				</div>
			</div>
			<div class="col-md-12" style="padding-top: 4rem;">
				<div class="reward-cards-grid">
					<div class="reward-card">
						<img style="max-height: 2em;" class="img-responsive" src="./assets/images/campus/generic.jpg" />
						<h4 class="title-reward">Earn Goodies &amp; Cash Rewards (Performance based)</h4>
					</div>
					<div class="reward-card">
						<img style="max-height: 2em;" class="img-responsive" src="./assets/images/campus/generic.jpg" />
						<h4 class="title-reward">Access to exclusive mentorship sessions</h4>
					</div>
					<div class="reward-card">
						<img style="max-height: 2em;" class="img-responsive" src="./assets/images/campus/generic.jpg" />
						<h4 class="title-reward">Opportunity to participate in our placement drive</h4>
					</div>
					<div class="reward-card">
						<img style="max-height: 2em;" class="img-responsive" src="./assets/images/campus/generic.jpg" />
						<h4 class="title-reward">Opportunity to be a part of the Coding Blocks Team</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="outer-section">
		<div style="padding: 10px 0;">
			<h1 class="title-heading" style="text-align:center">What our Superheroes say</h1>

			<div class="row" style="padding-top: 4rem;">
				<div class="col-md-5 campus-card card-outer" style="background-color:#1f212c;">
					<div class="speaker">
						<img src="./assets/images/campus/akshay.png" class="avatar" />
						<span class="superheros-name">Akshay Kumar
							Singh</span>
					</div>
					<div class="texts-container">
						<h4 class="selection-card-content">The work is diverse which keeps it interesting and fun, from
							spreading awareness to conducting events. It helped me develop a great skill set and grow a
							good network of like-minded individuals. The work is easily manageable and one can make use
							of the free time in college to earn some extra cash! For me, working as a Campus Superhero
							was all about spreading awareness about good opportunities. I would encourage anyone who
							likes meeting new people to apply for this role.</h4>
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1 campus-card card-outer " style="background-color:#1f212c;">
					<div class="speaker">
						<img src="./assets/images/campus/sharannyo.png" class="avatar" />
						<span class="superheros-name">Sharannyo Basu</span>

					</div>
					<div class="texts-container">
						<h4 class="selection-card-content">The Coding Blocks SuperHero program has paved the way for me
							to explore newer things in the community space. It was a wholesome collaborative learning
							experience and I have nothing but a handful of fond memories to look back at.<br />My
							mentor, Sohail Pathan had been very supportive from the word go and backed me to think and
							implement out of the box ideas</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section style="background-color:#1f212c;">
		<div class="rewards-sub">
			<div class="rewards-sub-header">
				<div>
					<h1 class="title-heading">
						<span style="position: relative;font-weight:800">Superhero <img class="underline-img"
								src="./assets/images/campus/underline.png" /></span>of the Month
					</h1>
					<br>
				</div>
				<img style="max-height: 10rem;" src="./assets/images/campus/superman.png" />
			</div>
			<div class="row" style="padding-top: 4rem;">
				<div class="col-md-5">
					<img style="max-height: 28rem;" src="./assets/images/campus/month.png" />
				</div>
				<div class="col-md-5">
					<h1 class="title-heading">Saksham Jain</h1>
					<p class="text-muted " style="margin-top:-1.8rem;font-size: 1.3rem;font-weight:400">Delhi
						Technological University, Delhi</p>
					<p style="font-size: 1.4rem;">
						I started working as a Campus Superhero in my 2nd year &amp; the experience was nothing less
						than incredible for me. As I was a student of Coding Blocks myself, it was easier for me to make
						others aware of the initiative and share my true experience. As a Campus SuperHero, we got to
						meet many new people and got the opportunity to learn from their experiences. The role gave us
						the opportunity to organize workshops, conduct events, and develop leadership skills. The role
						is not burdensome and can be easily handled with college. As Campus Superheroes, we also get
						swags and many more benefits from CB. If you want to grow and develop skills, CB Campus
						SuperHero is the best place for it.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="outer-section" style="background-color: #15161e;">
		<div style="padding: 10px 0;">
			<h1 class="title-heading" style="text-align:center;">Blog from Superheroes</h1>
			<div class="row" style="padding-top: 3rem;margin:0rem 5rem">
				{{> slider}}
			</div>
		</div>
	</section>
	<section class="outer-section" style="background-color: #15161e;">
		<div style="padding: 10px 0;">
			<div class="row journey">
				<div class="col-md-5 ">
					<div class="left-journey">
						<img style=" max-height: 12rem;margin-left:1em" src="./assets/images/campus/journey.png" />
						<h1 style="margin-left: 1rem; font-weight: 800; line-height: 2.75rem;font-size: 1.5rem;">
							Start Your Journey as a Campus
							Super Hero Now!
						</h1>
					</div>
				</div>
				<div class="col-md-5-1 col-md-offset-2 ">
					<a target="_blank" href="https://codingblocksin.typeform.com/application">
						<button style="margin-top: 1em; margin-left:10em" class="apply-btn">Apply Now</button>
					</a>
					<p style="margin-left:10em">*Only for college students</p>
				</div>
			</div>
		</div>
	</section>
	<section style="background-color: #15161e ;">
		<div class="rewards-sub">
			<div class="rewards-sub-header">
				<div class="row" style="padding-top: 4rem;">
					<div class="col-md-5">
						<h1 class="title-heading">
							Join our Community
						</h1>
						<br>
						<p class="text-muted" style="font-size: 1.3rem;font-weight:500">
							The Campus Ambassador program at Coding Blocks is aimed at
							identifying energetic, passionate, brilliant, like minded College
							SuperheroesThe Campus Ambassador program at Coding Blocks is aimed
							at identifying energetic.
						</p>
						<p class="text-muted" style="font-size: 1.3rem;font-weight:500">Join us on Telegram and Discord
						</p>
						<a href="http://cb.lk/discord" target="_blank" rel="noopener noreferrer"><img
								class="social-media-img" src="./assets/images/campus/discord.png" /></a>
						<a href="http://cb.lk/telegram" target="_blank" rel="noopener noreferrer">
							<img class="social-media-img" src="./assets/images/campus/telegram.png" /></a>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<img style="max-height: 25rem;;4rem" src="./assets/images/campus/community.png" />
					</div>
				</div>

			</div>
		</div>
	</section>
	{{> footer}}
</div>
{{> scripts}}
</body>
</html>
