<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        #competitiveheader {
            background-image: url("../assets/images/cb/cover/cover_admission.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .flex-container {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            -webkit-justify-content: center;

        }

        .flex-item {
            max-width: 600px;

        }
    </style>
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 858471704;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "QBMcCNHlqG8QmPqsmQM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/858471704/?label=QBMcCNHlqG8QmPqsmQM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    <script src="/js/fbpixel.js"></script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1669664786661021&ev=PageView&noscript=1"/>
    </noscript>
</head>
<body class="scroll-assist" style="margin-top: -70px;">
{{> navbar}}
<div class="main-container">
    <a id="course-header" class="in-page-link"></a>

    <section class="page-title page-title-2 bg-secondary bg-dark" id="competitiveheader">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="uppercase mb8">CAST</h2>
                    <p class="lead mb0" style="font-size: 3rem; line-height: 4rem;">
                        Coding Blocks' Aptitude &amp; Scholarship Test
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <!--
                    <li>
                        <a href="#course-highlights" class="inner-link" target="_self">Highlights</a>
                    </li><li>
                        <a href="#course-contents" class="inner-link" target="_self">Contents</a>
                    </li><li>
                        <a href="#course-faq" class="inner-link" target="_self">FAQ</a>
                    </li>-->

                    </ol>
                </div>
            </div>

        </div>

    </section>
    <a id="course-overview" class="in-page-link"></a>

    
    <section>
        <div class="container">
            <div class="border-card mb-5">
                Coding Blocks is pleased to announce the date for Coding Blocks' Aptitude & Scholarship Test (CAST) for our foundation courses. Students appearing for CAST can win scholarships of up to a whopping 100% off the entire course fees.
                CAST will be held on 19th March 2022 on <a href="https://hack.codingblocks.com/app/contests/admission">Hacker Blocks</a>.
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="border-card">
                        <h3>CAST (Beginner)</h3>
                        <div class="mb-4">
                            <strong>Courses Eligible for Scholarship are as follows: </strong>  
                            <br>
                            <ul>
                                <span class="pill m-1">C++ Launchpad</span>
                                <span class="pill m-1">Java Crux</span>
                                <span class="pill m-1">Python-DSA</span>
                            </ul>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <span class="bold mr-2">₹49</span><strike class="grey mr-2">₹200</strike>
                            {{!-- <button class="button-solid button-orange m-0" disabled>Registrations Closed</button> --}}                            
                            <a href="https://dukaan.codingblocks.com/buy?productId=7890" target="_blank">
                                <button class="button-solid button-orange m-0" >Register Now</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="border-card">
                        <h3>CAST (Advanced)</h3>
                        <div class="mb-4">
                            <strong>Courses Eligible for Scholarship are as follows: </strong>  
                            <br>
                            
                                <span class="pill m-1">Algo++</span>
                                <span class="pill m-1">Algo.Java</span>
                                <span class="pill m-1">Machine Learning</span>
                                <span class="pill m-1">Data Science</span>
                                <span class="pill m-1">Web Development</span>
                                <span class="pill m-1">Android Development</span>
                                <span class="pill m-1">Python Django</span>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <span class="bold mr-2">₹49</span><strike class="grey mr-2">₹200</strike>
                            {{!-- <button class="button-solid button-orange m-0" disabled>Registrations Closed</button> --}}
                            <a href="https://dukaan.codingblocks.com/buy?productId=7889" target="_blank">
                                <button class="button-solid button-orange m-0" >Register Now</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION: Course FAQ -->
    <a id="course-faq" class="in-page-link" data-scroll-id="course-faq"></a>
    <a id="course-testimonials" class="in-page-link"></a>
    <section>
    {{> review-course-section}}
    </section>
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
