<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
    <style>
        #competitiveheader {
            background-image: url("../assets/images/cb/cover/cover_admission.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .flex-container {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: center;
            -webkit-justify-content: center;

        }

        .flex-item {
            max-width: 600px;

        }
    </style>
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 858471704;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "QBMcCNHlqG8QmPqsmQM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//www.googleadservices.com/pagead/conversion/858471704/?label=QBMcCNHlqG8QmPqsmQM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    <script src="/js/fbpixel.js"></script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1669664786661021&ev=PageView&noscript=1"/>
    </noscript>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <a id="course-header" class="in-page-link"></a>

    <section class="page-title page-title-2 bg-secondary bg-dark" id="competitiveheader">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="uppercase mb8">CAST</h2>
                    <p class="lead mb0" style="font-size: 3rem; line-height: 4rem;">
                        Coders Admission &amp; Scholarship Test
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <!--
                    <li>
                        <a href="#course-highlights" class="inner-link" target="_self">Highlights</a>
                    </li><li>
                        <a href="#course-contents" class="inner-link" target="_self">Contents</a>
                    </li><li>
                        <a href="#course-faq" class="inner-link" target="_self">FAQ</a>
                    </li>-->

                    </ol>
                </div>
            </div>

        </div>

    </section>
    <a id="course-overview" class="in-page-link"></a>

    <section>
        <div class="container">
            <div class="row">
				<div class="col-sm-10 col-sm-offset-1 text-center">
					<p class="lead">
						Coding Blocks is proud to introduce to you the Coders' Admission &amp; Scholarship Test (CAST) for our beginners'courses, starting this December. Students appearing for CAST can win scholarships of up to a whopping 95% off the entire course fees of our foundation courses in basic <strong>C++</strong>, <strong>Java</strong>, and <strong>Python</strong> (Online & Classroom courses).
					</p>
					<div class="condensed&#45;paragraphs mb64">
						<p>
							<strong>When?</strong> Sunday, December 02 (5:00 PM to 6:00 PM), Registrations close at 1:00 PM on December 01.
						</p>
						<p>
							<strong>Syllabus?</strong> Aptitude &amp; Logical Reasoning
						</p>
						<p>
							<strong>Where?</strong> <a href="https://hack.codingblocks.com" target="_blank">Hacker Blocks</a>
						</p>
						<p>
							<strong>Note:</strong> This test is only for our foundation courses. For advance courses please register for
							<a href="/apat.html" target="_blank"> APAT</a>.
						</p>
					</div>
                    <div class="mt40">
                        <a class="btn btn-lg btn-filled uppercase" href="https://app.codingblocks.com/cast_registrations/new" target="_blank">Register Now</a>
                    </div>
				</div>
            </div>

        </div>


    </section>


    <!-- SECTION: Course FAQ -->
    <a id="course-faq" class="in-page-link" data-scroll-id="course-faq"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="mb16">FAQ</h4>
                    <p class="lead mb64">(Drop a line at admissions@codingblocks.com if you have further queries)</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <ul class="accordion accordion-2 one-open">

                        <li>
                            <div class="title">
                                <h4 class="inline-block mb0">Is it applicable only for foundation courses?</h4>
                            </div>
                            <div class="content">
                                <p> Yes, Scholarship test is only for Foundation Courses in C++ and Java at
                                    Pitampura, Dwarka, and Greater Noida centers.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="title">
								<h4 class="inline-block mb0">
									I have already enrolled for a Summer course, can I still get the scholarship ?
								</h4>
                            </div>
                            <div class="content">
                                <p>
                                    Yes, you can still get the scholarship. We will evaluate your performance, and
                                    scholarship will be granted.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <a id="course-testimonials" class="in-page-link"></a>
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
