<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex,nofollow">
    <title>{{title}}</title>
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> slider}}
    {{> courses}}
    {{> bootcamps}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
