<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="/manifest.json" />
    <!-- DO NOT MODIFY -->
    <!-- Quora Pixel Code (JS Helper) -->
    <script>
    !function(q,e,v,n,t,s){if(q.qp) return; n=q.qp=function(){n.qp?n.qp.apply(n,arguments):n.queue.push(arguments);}; n.queue=[];t=document.createElement(e);t.async=!0;t.src=v; s=document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s);}(window, 'script', 'https://a.quora.com/qevents.js');
    qp('init', '0e6543f4ed0047658c67c5d04a8ace8d');
    qp('track', 'ViewContent');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://q.quora.com/_/ad/0e6543f4ed0047658c67c5d04a8ace8d/pixel?tag=ViewContent&noscript=1"/></noscript>
    <!-- End of Quora Pixel Code -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PL5L3FC');</script>
    <!-- End Google Tag Manager -->
    <!-- Begin Inspectlet Asynchronous Code -->
    <script type="text/javascript">
    (function() {
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1725807676]);
    var ldinsp = function(){
    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1725807676&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 0);
    })();
    </script>
    <!-- End Inspectlet Asynchronous Code -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "bdcf9cde-838b-4254-8d98-eb50b73c7a16",
        });
      });
    </script>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
     <meta name="p:domain_verify" content="a5c7b03763ef4e1edc5763434ebd9e33"/>
     <meta name="B-verify" content="20e6f5e136a370d1852170f4312ba928947cc540" /> 
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> slider}}
        <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="uppercase mb16">Classroom Courses</h1>
                    <p class="lead mb64">
                        Classroom courses for all stages, with equal focus on theory and implementation</p>
                </div>
            </div>
            {{> coursesRow courses=coursesRow1}}
            {{> coursesRow courses=coursesRow2}}
            {{> coursesRow courses=coursesRow3}}
            {{> coursesRow courses=coursesRow4}}
			{{> coursesRow courses=interviewPrepRow}}
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="uppercase mb16">Online Courses</h1>
                    <p class="lead mb64">
                        The interactive learning for aspiring and experienced developers</p>
                </div>
            </div>
            {{> coursesRow courses=onlineCoursesRow1}}
            {{> coursesRow courses=onlineCoursesRow2}}
            {{> coursesRow courses=onlineCoursesRow3}}
            {{!-- {{> coursesRow courses=onlineCoursesRow4}} --}}
        </div>
    </section>
    {{> numbers}}
    <div class="hidden-xs">
        {{> team}}
    </div>
    <div class="visible-xs">
        <section>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div style="padding: 10px">
                        <h1 class="uppercase mb16">Our Team</h1>
                        <p class="lead mb64"> The backbone of Coding Blocks is the team of enthusiastic and talented
                            mentors. Our best-in-class team comprises of mentors with vast industrial experience, people
                            who have published papers in international journals, and developers associated with GSoC and
                            Google Code-in.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}

{{> eventsScript}}
<script>
  !function(t,o){function a(t){return function(){return sendgrid.push({m:t,args:Array.prototype.slice.call(arguments)}),sendgrid}}var sendgrid=t.sendgrid=t.sendgrid||[];if(!sendgrid.initialize){if(sendgrid.invoked)return void(t.console&&console.error&&console.error("sendgrid snippet included twice."));sendgrid.invoked=!0;for(var c=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"],i=0;i<c.length;i++){var p=c[i];sendgrid[p]=a(p)}sendgrid.load=function(id){var t=o.createElement("script"),a="https:"===o.location.protocol?"https://":"http://";t.type="text/javascript",t.async=!0,t.src=a+"js.labs.sendgrid.com/analytics/"+id+"/sendgrid.min.js";var c=o.getElementsByTagName("script")[0];c.parentNode.insertBefore(t,c)},sendgrid.SNIPPET_VERSION="1.0.0",
  sendgrid.load("e2880aff-3f35-494f-b331-d4f322e6f8e5"),
  sendgrid.page()
  }}(window,document);
</script>
</body>
</html>
