<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> slider}}
    {{> events}}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb16">courses</h2>
                    <p class="lead mb64">
                        Courses for all stages, with equal focus on theory and implementation</p>
                </div>
            </div>
            {{> coursesRow courses=coursesRow1}}
            {{> coursesRow courses=coursesRow2}}
            {{> coursesRow courses=coursesRow3}}
            {{> coursesRow courses=coursesRow4}}
        </div>
    </section>
    {{> numbers}}
    <div class="hidden-xs">
        {{> team}}
    </div>
    <div class="visible-xs">
        <section>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="pad-"
                    <h2 class="uppercase mb16">Our Time</h2>
                    <p class="lead mb64">The backbone of any training institute is the team of talented and enthusiastic
                        mentors, and the story is no different for Coding Blocks. We take pride in the fact that we have
                        the most talented team of mentors, who have experienced the education and corporate industries
                        with equal measures. All our mentors have been well performing students at the best of colleges,
                        have worked at industry giants such as Sony, Cyanogen, SanDisk, Facebook, Barclays, Practo,
                        Harman, DRDO, Cadence, American Express, Nagarro and many more. We also have GSoCers, GSoC
                        Mentors and Google Code-in mentors in our team, in addition to people who've been published in
                        international journals. With great reviews encouraging us, and the not so great ones making us
                        push our limits, our team certainly has the right blend of people for every technology and
                        language.</p>
                </div>
            </div>
        </section>
    </div>
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}

{{> eventsScript}}
</body>
</html>
