<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> slider}}
    {{> events}}
    {{> courses}}
    {{> bootcamps}}
    {{> numbers}}
    {{> team}}
    {{> review-course-section}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}

{{> eventsScript}}
</body>
</html>
