<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  <style>
    body {
      padding: 0
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: "Gilroy","Nunito Sans",sans-serif;
    }
  </style>
</head>

<body class="scroll-assist">
  {{> navbar}}
  <div class="a-cbm">
  <div class="events-page-landing">
    <div class="events-page-landing__section">
      <div class="row no-gutters justify-content-between align-items-center">
        <div class="col-xl-5 col-lg-4 mb-lg-0 mb-5 t-align-lg-l t-align-c">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cb-accelerate.svg">
          <div class="heading-2 bold my-5">
            Accelerate towards your Dream!
          </div>
          <button class="button-primary">
            Get Started
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-blue.svg" class="ml-2">
          </button>
          <div class="font-4 bold mt-4">Limited seats per Batch</div>
        </div>
        <div class="col-xl-7 col-lg-8 d-flex justify-content-lg-end justify-content-center">
          <div>
            <div class="row no-gutters mb-4 justify-content-center" style="border-bottom: solid 1px #DFDFDF;">
              <div class="round border b-white border-2 s-70x70 mr-4 mb-4">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
              </div>
              <div class="round border b-white border-2 s-70x70 mr-4 mb-4">
                <img src="https://minio.codingblocks.com/amoeba/c794f2a2-6198-4078-979a-e10ad8ca8bfb.svg">
              </div>
              <div class="round border b-white border-2 s-70x70 mr-4 mb-4">
                <img src="https://minio.codingblocks.com/amoeba/ec081d05-c8a2-4095-8ba6-3ffa5a02ddf5.svg">
              </div>
              <div class="round border b-white border-2 s-70x70 mr-4 mb-4">
                <img src="https://minio.codingblocks.com/amoeba/e2c13faa-f538-48d4-8ca1-88728a07c51a.svg">
              </div>
              <div class="round border b-white border-2 s-70x70 mr-4 mb-4">
                <img src="https://minio.codingblocks.com/amoeba/587ae53b-6f4e-4afb-a2c5-b328a4dfbdf1.svg">
              </div>
              <div class="round border b-white border-2 s-70x70">
                <img src="https://minio.codingblocks.com/amoeba/829a1a87-eafe-48ba-8d7f-4756a5edd19d.svg">
              </div>
            </div>
            <div class="font-5 extra-bold t-align-lg-r t-align-c">Accelerated Growth</div>
          </div>
        </div>
      </div>
    </div>
    <div class="events-page-landing__section">
      <div class="heading-3 extra-bold">Features</div>
      <div class="heading-5 bold mt-1">Kickstart your career the right way!</div>
      <div class="row my-5 pt-4 justify-content-center">
        <div class="col-md-4 col-sm-6 mb-md-0 mb-5 h-inherit">
          <div class="border-card p-lg-5 p-4 bg-grey-light-3 h-100">
            <div class="flex-col justify-content-between h-100">
              <div class="w-100">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/live-classes.svg">
                <div class="my-4 heading-3 extra-bold">
                  Interactive Live Classes
                </div>
              </div>
              <div class="font-5 w-100">
                Regular Classes three times a week
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-md-0 mb-5 h-inherit">
          <div class="border-card p-lg-5 p-4 bg-grey-light-3 h-100">
            <div class="flex-col justify-content-between h-100">
              <div class="w-100">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/doubt-support.svg">
                <div class="my-4 heading-3 extra-bold">
                  24 x 7 Doubt Support
                </div>
              </div>
              <div class="font-5 w-100">
                Only 50 students per batch for individual attention
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 h-inherit">
          <div class="border-card p-lg-5 p-4 bg-grey-light-3 h-100">
            <div class="flex-col justify-content-between h-100">
              <div class="w-100">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/placement-ready.svg">
                <div class="my-4 heading-3 extra-bold">
                  Placement Ready
                </div>
              </div>
              <div class="font-5 w-100">
                Resume building and review mock interviews
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="br-10 position-relative px-lg-5 px-4 py-5 bg-grey-light-3">
        <div class="row no-gutters justify-content-between align-items-center">
          <div class="flex-1">
            <div class="heading-3 extra-bold">FAANG Master Course</div>
            <div class="heading-5 mt-1">Getting you ready for Big Product Companies!</div>
          </div>
          <div class="round bg-gradient-green-dark all-center s-100x100">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/master-tropgy.svg" style="height: 50px;">
          </div>
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/free-orange.svg"
          style="position: absolute; top: -9px; left: 5%;">
      </div>
    </div>
    <div class="events-page-landing__section">
      <div class="row">
        <div class="col-lg-5 col-md-4 mb-md-0 mb-5">
          <div class="heading-3 extra-bold mb-5">
            Register for the Selection Test
          </div>
          <div class="heading-5 bold mb-2">
            Course Selection
          </div>
          <div class="heading-5 mb-4">
            Select the Course you want to enroll in.
          </div>
          <div class="heading-5 bold mb-2">
            Select Date
          </div>
          <div class="heading-5 mb-5">
            Choose the date that suits you best !
          </div>
          <button class="button-primary">
            Get Started
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-blue.svg" class="ml-2">
          </button>
          <div class="font-4 bold mt-4">Limited seats per Batch</div>
        </div>
        <div class="col-lg-7 col-md-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="bg-white br-10" style="padding: 30px; height: 285px;">
                <div class="all-center position-relative h-100">
                  <div>
                    <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png"
                      class="s-120x120">
                    <div class="mt-5">
                      <div class="font-4 bold t-align-c">Master Algo++</div>
                    </div>
                  </div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/tick-solid-blue.svg"
                    class="position-absolute tr">
                </div>
              </div>
            </div>
            <div class="col-sm-6 pt-5">
              <div class="bg-white br-10" style="padding: 30px; height: 285px;">
                <div class="all-center position-relative h-100">
                  <div class="t-align-c">
                    <div class="heading-1 extra-bold">25</div>
                    <div class="heading-3">JULY</div>
                  </div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/tick-solid-blue.svg"
                    class="position-absolute tr">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="events-page-landing__section">
      <div class="heading-3 extra-bold mb-5">Courses</div>
      <div class="row pt-4">
        <div class="col-md-4 col-sm-6 mb-5 h-inherit">
          <div class="border-card p-0 h-100">
            <div class="bg-grey-light-3 flex-col justify-content-between p-lg-5 p-4" style="height: calc(100% - 25px);">
              <div class="w-100">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png"
                  class="s-70x70 mb-4">
                <div class="heading-3 extra-bold">Master C++</div>
              </div>
              <div class="mt-3 font-5 w-100">
                Regular Classes three times a week
              </div>
            </div>
            <div style="height: 25px; background: linear-gradient(90deg, #19336E, #02ADC5);"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-5 h-inherit">
          <div class="border-card p-0 h-100">
            <div class="bg-grey-light-3 flex-col justify-content-between p-lg-5 p-4" style="height: calc(100% - 25px);">
              <div class="w-100">
                <img src="https://minio.codingblocks.com/amoeba/c794f2a2-6198-4078-979a-e10ad8ca8bfb.svg"
                  class="s-70x70 mb-4">
                <div class="heading-3 extra-bold">Master Algo.Java</div>
                <div class="mt-3 font-5 w-100">
                  Regular Classes three times a week
                </div>
              </div>
            </div>
            <div style="height: 25px; background: linear-gradient(90deg, #0465F4, #080EAE);"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-5 h-inherit">
          <div class="border-card p-0 h-100">
            <div class="bg-grey-light-3 flex-col justify-content-between p-lg-5 p-4" style="height: calc(100% - 25px);">
              <div class="w-100">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png"
                  class="s-70x70 mb-4">
                <div class="heading-3 extra-bold">Master C++</div>
              </div>
              <div class="mt-3 font-5 w-100">
                Regular Classes three times a week
              </div>
            </div>
            <div style="height: 25px; background: linear-gradient(90deg, #19336E, #02ADC5);"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-5 h-inherit">
          <div class="border-card p-0 h-100">
            <div class="bg-grey-light-3 flex-col justify-content-between p-lg-5 p-4" style="height: calc(100% - 25px);">
              <div class="w-100">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png"
                  class="s-70x70 mb-4">
                <div class="heading-3 extra-bold">Master C++</div>
              </div>
              <div class="mt-3 font-5 w-100">
                Regular Classes three times a week
              </div>
            </div>
            <div style="height: 25px; background: linear-gradient(90deg, #19336E, #02ADC5);"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-5 h-inherit">
          <div class="border-card p-0 h-100">
            <div class="bg-grey-light-3 flex-col justify-content-between p-lg-5 p-4" style="height: calc(100% - 25px);">
              <div class="w-100">
                <img src="https://minio.codingblocks.com/amoeba/c794f2a2-6198-4078-979a-e10ad8ca8bfb.svg"
                  class="s-70x70 mb-4">
                <div class="heading-3 extra-bold">Master Algo.Java</div>
                <div class="mt-3 font-5 w-100">
                  Regular Classes three times a week
                </div>
              </div>
            </div>
            <div style="height: 25px; background: linear-gradient(90deg, #0465F4, #080EAE);"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-5 h-inherit">
          <div class="border-card p-0 h-100">
            <div class="bg-grey-light-3 flex-col justify-content-between p-lg-5 p-4" style="height: calc(100% - 25px);">
              <div class="w-100">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png"
                  class="s-70x70 mb-4">
                <div class="heading-3 extra-bold">Master C++</div>
              </div>
              <div class="mt-3 font-5 w-100">
                Regular Classes three times a week
              </div>
            </div>
            <div style="height: 25px; background: linear-gradient(90deg, #19336E, #02ADC5);"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="events-page-landing__section">
      <div class="heading-3 extra-bold mb-5">Success Stories</div>
      <div class="row no-gutters pt-4 justify-content-center">
        <div class="col-md-4 col-sm-6 mb-md-0 mb-5" style="padding-right: 50px;">
          <div class="br-10 bg-white flex-col justify-content-between">
            <div class="position-relative w-100">
              <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg"
                style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
              <div class="s-80x80 bg-white round all-center position-absolute" style="right: -40px; bottom: 5%;">
                <div>
                  <div class="heading-4 extra-bold">44</div>
                  <div class="font-2 extra-bold">LPA</div>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 w-100" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <div class="row no-gutters justify-content-between align-items-center">
                <div class="flex-1">
                  <div class="heading-6 bold">Something</div>
                  <div class="font-2">Some Academy</div>
                </div>
                {{!-- Logo goes here --}}
                {{!-- <img src="" alt=""> --}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-md-0 mb-5" style="padding-right: 50px;">
          <div class="br-10 bg-white flex-col justify-content-between">
            <div class="position-relative w-100">
              <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg"
                style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
              <div class="s-80x80 bg-white round all-center position-absolute" style="right: -40px; bottom: 5%;">
                <div>
                  <div class="heading-4 extra-bold">44</div>
                  <div class="font-2 extra-bold">LPA</div>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 w-100" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <div class="row no-gutters justify-content-between align-items-center">
                <div class="flex-1">
                  <div class="heading-6 bold">Something</div>
                  <div class="font-2">Some Academy</div>
                </div>
                {{!-- Logo goes here --}}
                {{!-- <img src="" alt=""> --}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-md-0 mb-5" style="padding-right: 50px;">
          <div class="br-10 bg-white flex-col justify-content-between">
            <div class="position-relative w-100">
              <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg"
                style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
              <div class="s-80x80 bg-white round all-center position-absolute" style="right: -40px; bottom: 5%;">
                <div>
                  <div class="heading-4 extra-bold">44</div>
                  <div class="font-2 extra-bold">LPA</div>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 w-100" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <div class="row no-gutters justify-content-between align-items-center">
                <div class="flex-1">
                  <div class="heading-6 bold">Something</div>
                  <div class="font-2">Some Academy</div>
                </div>
                {{!-- Logo goes here --}}
                {{!-- <img src="" alt=""> --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="events-page-landing__section">
      <div class="heading-3 extra-bold mb-5">
        Let’s get you the success you deserve
      </div>
      <div>
        <button class="button-primary mr-4">
          Get Started
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-blue.svg" class="ml-2">
        </button>
        <span class="font-4 bold d-sm-inline-block d-none">Limited seats per Batch</span>
        <div class="font-4 bold mt-2 d-sm-none d-block">Limited seats per Batch</div>
      </div>
    </div>
    <div class="events-page-landing__section">
      <div class="heading-3 extra-bold mb-5">
        Frequently Asked Questions
      </div>
      <div class="bg-white br-10 pointer p-4 mb-4">
        <div class="row align-items-center no-gutters justify-content-between">
          <div class="heading-5 bold flex-1">FAQ 1</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/plus-square.svg">
        </div>
      </div>
      <div class="bg-white br-10 pointer p-4">
        <div class="row align-items-center no-gutters justify-content-between">
          <div class="heading-5 bold flex-1">FAQ 1</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/plus-square.svg">
        </div>
      </div>
    </div>
  </div>
</div>
{{> scripts}}
</body>

</html>