<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  <style>
    body {
      padding: 0
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: "Gilroy","Nunito Sans",sans-serif;
    }
  </style>
</head>

<body class="scroll-assist">
  {{> navbar}}
  <div class="a-cbm">
  <div class="events-page-landing">
    <div class="events-page-landing__section position-relative">
      <div class="all-center">
        <div class="t-align-c">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cb-accelerate.svg">
          <div class="t-align-c heading-5 mt-25">
            Live Interactive Classes to help you accelerate towards your Dream Job!
          </div>
          <div class="bg-grey-light-3 br-5 mt-50 p-md-40 p-20 mx-auto" style="width: fit-content;">
            <div class="row no-gutters align-items-center justify-content-center">
              <div class="flex-1 d-sm-block d-none">
                <div class="row no-gutters align-items-center">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/trophy.svg">
                  <div class="flex-1 pl-30 t-align-l">
                    <div class="font-4">Get upto 95% OFF</div>
                    <div class="heading-4 bold">Scholarship Test</div>
                  </div>
                </div>
              </div>
              <div class="col-12 d-sm-none d-block">
                <div class="row no-gutters align-items-center">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/trophy.svg">
                  <div class="flex-1 pl-30 t-align-l">
                    <div class="font-4">Get upto 95% OFF</div>
                    <div class="heading-4 bold">Scholarship Test</div>
                  </div>
                </div>
              </div>
                <a class="button-primary ml-md-50 ml-sm-25 mt-sm-none mt-25" href="#register-advance">
                Apply
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-blue.svg" class="ml-2">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="course-icons">
        <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
        <img src="https://minio.codingblocks.com/amoeba/e2c13faa-f538-48d4-8ca1-88728a07c51a.svg">
        <img src="https://minio.codingblocks.com/amoeba/ec081d05-c8a2-4095-8ba6-3ffa5a02ddf5.svg">
        <img src="https://minio.codingblocks.com/amoeba/829a1a87-eafe-48ba-8d7f-4756a5edd19d.svg">
        <img src="https://minio.codingblocks.com/amoeba/c794f2a2-6198-4078-979a-e10ad8ca8bfb.svg">
      </div>
    </div>  
    <div class="events-page-landing__section">
      <div class="heading-3 extra-bold">Features</div>
      <div class="heading-5 bold mt-1">Kickstart your career the right way!</div>
      <div class="row my-5 pt-4 justify-content-center">
        <div class="col-md-4 col-sm-6 mb-md-0 mb-5 h-inherit">
          <div class="border-card p-lg-5 p-4 bg-grey-light-3 h-100">
            <div class="flex-col justify-content-between h-100">
              <div class="w-100">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/live-classes.svg">
                <div class="my-4 heading-3 extra-bold">
                  Interactive Live Classes
                </div>
              </div>
              <div class="font-5 w-100">
                Regular Classes three times a week
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-md-0 mb-5 h-inherit">
          <div class="border-card p-lg-5 p-4 bg-grey-light-3 h-100">
            <div class="flex-col justify-content-between h-100">
              <div class="w-100">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/doubt-support.svg">
                <div class="my-4 heading-3 extra-bold">
                  24 x 7 Doubt Support
                </div>
              </div>
              <div class="font-5 w-100">
                Only 50 students per batch for individual attention
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 h-inherit">
          <div class="border-card p-lg-5 p-4 bg-grey-light-3 h-100">
            <div class="flex-col justify-content-between h-100">
              <div class="w-100">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/placement-ready.svg">
                <div class="my-4 heading-3 extra-bold">
                  Placement Ready
                </div>
              </div>
              <div class="font-5 w-100">
                Resume building and review mock interviews
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="br-10 position-relative px-lg-5 px-4 py-5 bg-grey-light-3">
        <div class="row no-gutters justify-content-between align-items-center">
          <div class="flex-1">
            <div class="heading-3 extra-bold">FAANG Master Course</div>
            <div class="heading-5 mt-1">Getting you ready for Big Product Companies!</div>
          </div>
          <div class="round bg-gradient-green-dark all-center s-100x100">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/master-tropgy.svg" style="height: 50px;">
          </div>
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/free-orange.svg"
          style="position: absolute; top: -9px; left: 5%;">
      </div>
    </div>
    <div class="events-page-landing__section">
      <div class="row">
        <div class="col-lg-6 h-inherit">
          <div class="heading-3 bold">Register for the</div>
          <div class="bold mt-10" style="font-size: 60px;">Scholarship Test</div>
          <div class="mt-30">
            <div class="heading-5 bold">Date</div>
            <div class="mt-5 heading-4">18th Oct 2020</div>
          </div>
          <div class="mt-25">
            <div class="heading-5 bold">Duration</div>
            <div class="mt-5 heading-4">One Hour</div>
          </div>
          <div class="mt-25">
            <div class="heading-5 bold">Type</div>
            <div class="mt-5 heading-4">
              Foundation or Advance
            </div>
          </div>
          <div class="mt-50">
            <a class="button-primary ml-md-50 ml-sm-25 mt-sm-none mt-25" href="#register-advance">
                Apply
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-blue.svg" class="ml-2">
            </a>
          </div>
        </div>
        <div class="col-lg-6 h-inherit mt-lg-none mt-40">
          <div class="row no-gutters align-items-center h-100">
            <div class="yellow-card t-align-c p-30 col-sm-6">
              <div class="heading-5 bold">Advance Courses</div>
              <div class="mt-50 bold">
                <div class="heading-6">Ago ++ </div>
                <div class="heading-6 mt-30">Algo.Java</div>
                <div class="heading-6 mt-30">Data Science</div>
                <div class="heading-6 mt-30">Machine Learning</div>
              </div>
            </div>
            <div class="yellow-card t-align-c p-30 col-sm-6">
              <div class="heading-5 bold">Foundation Courses</div>
              <div class="mt-50 bold">
                <div class="heading-6">C++ Master</div>
                <div class="heading-6 mt-30">Java Master</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a id="register-advance" class="in-page-link"></a>
    <div class="events-page-landing__section">
      <div class="heading-3 extra-bold mb-5">Courses</div>
              {{> liveCourseCards}}
      </div>
      
    <div class="events-page-landing__section">
      <div class="heading-3 extra-bold mb-5">
        Let’s get you the success you deserve
      </div>
      <div>
        <a class="button-primary mr-4" href="#register-advance">
          Get Started
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-blue.svg" class="ml-2">
        </a>
        <span class="font-4 bold d-sm-inline-block d-none">Limited seats per Batch</span>
        <div class="font-4 bold mt-2 d-sm-none d-block">Limited seats per Batch</div>
      </div>
    </div>
    <div class="events-page-landing__section">
              {{> coursefaq}}
              {{> floatingFooter}}
    </div>
  </div>
</div>
{{> scripts}}
</body>

</html>