<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  <style>
    body {
      padding: 0
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: "Gilroy","Nunito Sans",sans-serif;
    }
  </style>
</head>

<body class="scroll-assist">
  {{> navbar}}
  <div class="live-courses mt-5 pt-5">
    <div class="p-md-5 p-4 mb-5">
      <div class="border-card p-md-5 p-4 position-relative overflow-visible">
        <div class="row">
          <div class="col-lg-6">
            <span class="br-50 bg-gradient-orange card-md white p-2 bold">
              Newly Launched
            </span>
            <h1 class="mt-3">LIVE CLASSES</h1>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/Vector+Smart+Object-2.png"
              class="my-5 d-lg-none d-block">
            <div class="my-5 font-sm t-align-j d-lg-block d-none">
              COVID-19 has hit the entire world pretty badly and has disrupted almost all realms of life, including
              education. With all educational institutions being shut for a fairly long time, students are losing
              precious
              time which was meant for education.
              <br />
              <br />
              So what if students cannot come to the classrooms, Coding blocks will take the classrooms to the home of
              students. Presenting Live classes by Coding Blocks, a whole new way to learn from your home by your
              favorite
              teachers. Live class programs are just Classroom courses, just that you can attend the classes without
              having to travel to the center. Weekly schedule, timing, Mentor, Course schedule, everything is the same
              as
              Classroom program. The Mentor takes live classes at the scheduled date and time, students attend the
              sessions, skillify themselves, ask their doubts and get prepped up. Since the classes are two way
              interactive, you can see the teacher and can ask your doubts anytime you need during the session. What’s
              more, each class is recorded and given to you for later reference.
            </div>
            <div class="mb-5 d-lg-none d-block">
              <h2 class="mb-4">Perfect Alternative to Classroom!</h2>
              <div class="font-sm t-align-j">
                Live classes are a version of your classroom program with added benefits like saving the travel time
                each
                day,
                access to recorded video of each class, live doubt resolution when you study and many many more.
                <br />
                Live classes for all programs at Coding Blocks will start on 1st June 2020. These
                live
                classes
                are specially being introduced to ensure students do not lose on their education and skillify themselves
                well in
                time.
              </div>
            </div>
            <div class="mb-md-0 mb-4">
              <a class="button-orange button-solid mr-4" href="#register-advance">Register Now</a>
              <a href="https://codingblocks.com/take-demo.html" class="button-orange button-dashed">Take Demo</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="all-center h-100 d-lg-flex d-none">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/Vector+Smart+Object-2.png">
            </div>
          </div>
        </div>
        <div class="contact-us px-2">
          <h6 class="bold d-inline-block mr-2">Call Us!</h6>
          <span class="br-50 bg-gradient-orange white p-2 bold">
            <i class="fas fa-phone-alt fa-lg"></i>
            9999579111/222
          </span>
        </div>
      </div>
    </div>

    <div class="px-md-5 px-4">
      <div class="mb-5 d-lg-block d-none">
        <h2 class="mb-4">Perfect Alternative to Classroom!</h2>
        <div class="font-sm t-align-j">
          Live classes are a version of your classroom program with added benefits like saving the travel time each day,
          access to recorded video of each class, live doubt resolution when you study and many many more.
          <br />
          The upcoming batches of Live classes for all programs at Coding Blocks will start on 1st June 2020. These live
          classes
          are specially being introduced to ensure students do not lose on their education and skillify themselves well
          in
          time.
        </div>
      </div>
      <div class="row mx-0 c-card-carousel-lg">
        <div class="col-lg-2 col-md-3 col-sm-5 col-7">
          <div class="border-card t-align-c p-4 bg-none h-100">
            <div class="flex-col h-100 justify-content-between">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/graduated-2.png">
              <div class="bold mt-4 font-sm">Interactive Classes</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 col-7">
          <div class="border-card t-align-c p-4 bg-none h-100">
            <div class="flex-col h-100 justify-content-between">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/graduated-2.png">
              <div class="bold mt-4 font-sm">Progress Tracking</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 col-7">
          <div class="border-card t-align-c p-4 bg-none h-100">
            <div class="flex-col h-100 justify-content-between">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/010-qa-2.png">
              <div class="bold mt-4 font-sm">Real - Time Doubt Resolution</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 col-7">
          <div class="border-card t-align-c p-4 bg-none h-100">
            <div class="flex-col h-100 justify-content-between">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/005-social-care-2.png">
              <div class="bold mt-4 font-sm">Dedicated Mentor Support</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 col-7">
          <div class="border-card t-align-c p-4 bg-none h-100">
            <div class="flex-col h-100 justify-content-between">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/003-book-2.png">
              <div class="bold mt-4 font-sm">Online Repository Access</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-5 col-7">
          <div class="border-card t-align-c p-4 bg-none h-100">
            <div class="flex-col h-100 justify-content-between">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/graduated-2.png">
              <div class="bold mt-4 font-sm">Live Doubt Sessions</div>
            </div>
          </div>
        </div>
        <div class="mt-5 border-card bg-black p-5">
          <div class="row no-gutters align-items-center mx-auto" style="width: fit-content;">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/graduated-2.png">
            <div class="flex-1 pl-5 white">
              <div class="font-lg">Get 6 month <span class="extra-bold">FREE</span> access to the Online Course</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-md-5 p-4">
      <div class="row mb-5 align-items-center">
        <div class="col-md-5 col-4">
          <div class="all-center d-sm-flex d-none">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/Vector+Smart+Object.png">
          </div>
        </div>
        <div class="col-md-7 col-sm-8">
          <table class="w-100">
            <thead>
              <tr>
                <td class="extra-bold font-lg">Comparison</td>
                <td class="bold font-mds">Classroom Course</td>
                <td class="bold font-mds">Live Course</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bold">
                  Closed progress monitoring and tracking
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="bold">
                  Certified Course
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="bold">
                  Instructors deliver the content live to the Students
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="bold">
                  Proper Scheduling (Time Table)
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="bold">
                  Students can ask doubts from the instructors while session in progress
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="bold">
                  Hand - on Coding Questions in Class
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="bold">
                  Students can clarify the doubts even after the class is over
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="bold">
                  Travelling time saved
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-grey white all-center d-inline-flex">
                    <i class="fas fa-times fa-lg"></i>
                  </div>
                </td>
                <td>
                  <div class="s-30x30 br-50 bg-gradient-orange white all-center d-inline-flex">
                    <i class="fas fa-check fa-lg"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="t-align-c mb-5">
        <h2>Numbers Speak Louder</h2>
      </div>

      <div class="row mb-5">
        <div class="col-md-6 col-lg-3 mb-lg-0 mb-5">
          <div class="border-card p-0">
            <div class="row no-gutters">
              <div class="p-4 col-md-12 col-4 d-flex justify-content-center ">
                <img style="height: 50px;" src="https://minio.codingblocks.com/landing-pages/portfolio.svg" />
              </div>
              <div class="p-4 bg-grey col-md-12 col-8 d-flex align-items-center justify-content-center t-align-c">
                <div>
                  <div class="extra-bold gradient-text-hi-orange" style="font-size: 2rem;">5000+</div>
                  <div class="normal font-mds mt-1">Students Placed</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-lg-0 mb-5">
          <div class="border-card p-0">
            <div class="row no-gutters">
              <div class="p-4 col-md-12 col-4 d-flex justify-content-center ">
                <img style="height: 50px;" src="https://minio.codingblocks.com/landing-pages/college-graduation.svg" />
              </div>
              <div class="p-4 bg-grey col-md-12 col-8 d-flex align-items-center justify-content-center t-align-c">
                <div>
                  <div class="extra-bold gradient-text-hi-pink" style="font-size: 2rem;">12000+</div>
                  <div class="normal font-mds mt-1">Students Taught</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-lg-0 mb-5">
          <div class="border-card p-0">
            <div class="row no-gutters">
              <div class="p-4 col-md-12 col-4 d-flex justify-content-center ">
                <img style="height: 50px;"
                  src="https://minio.codingblocks.com/landing-pages/books-stack-of-three.svg" />
              </div>
              <div class="p-4 bg-grey col-md-12 col-8 d-flex align-items-center justify-content-center t-align-c">
                <div>
                  <div class="extra-bold gradient-text-hi-blue" style="font-size: 2rem;">18000+</div>
                  <div class="normal font-mds mt-1">Hours of Study</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-lg-0">
          <div class="border-card p-0">
            <div class="row no-gutters">
              <div class="p-4 col-md-12 col-4 d-flex justify-content-center ">
                <img style="height: 50px;" src="https://online.codingblocks.com/_nuxt/img/2c259c8.svg" />
              </div>
              <div class="p-4 bg-grey col-md-12 col-8 d-flex align-items-center justify-content-center t-align-c">
                <div>
                  <div class="extra-bold gradient-text-hi-purple" style="font-size: 2rem;">1000+</div>
                  <div class="normal font-mds mt-1">Projects Built</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a id="register-advance" class="in-page-link"></a>

      <div class="t-align-c mb-5">
        <h2>Live Courses</h2>
      </div>
      {{> liveCourseCards}}
      <div class="p-md-5 p-4 bg-gradient-purple">
        <div class="row align-items-center no-gutters">
          <div class="col-12 col-md-4 t-align-c t-align-md-l white">
            <h2 class="bold">Land your dream job</h2>
            <div class="font-sm mt-2">Our alumni work at</div>
          </div>
          <div class="col-12 col-md-8 mt-md-0 mt-3">
            <div>
              <img src="https://online.codingblocks.com/_nuxt/img/c1b47b5.svg" alt loading="lazy" />
            </div>
          </div>
        </div>
      </div>

      <div class="p-md-5 p-4 mb-5">
        <h2 class="mb-5">What the students have to say?</h2>
        <div class="all-center bg-gradient-orange mb-5" style="height: 450px;">
          <iframe data-v-43339ea6="" src="https://www.youtube.com/embed/1TytVIYYFVw" frameborder="0" loading="lazy"
            data-v-03fd9cc6="" class="w-100" style="height: 450px;"></iframe>
        </div>
        {{> studentsSay}}
      </div>

      <div class="border-top p-4 position-sticky bl w-100 bg-white d-md-none d-block">
        <div class="d-flex justify-content-center">
          <a class="button-orange button-solid mr-5" href="#register-advance">Register Now</a>
          <a class="button-dashed button-orange" href="tel:9999579111">Call Now</a>
        </div>
      </div>
    </div>
{{> scripts}}
</body>

</html>