<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  <style>
    body {
      padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Gilroy", "Nunito Sans", sans-serif;
    }

    .cyan-underline {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 0;
        left: 0;
        background: #47d7ac;
        border-radius: 25px;
      }
    }
  </style>

  <script>
    window.smoothScroll = function (target) {
      var scrollContainer = target;
      do { //find scroll container
        scrollContainer = scrollContainer.parentNode;
        if (!scrollContainer) return;
        scrollContainer.scrollTop += 1;
      } while (scrollContainer.scrollTop == 0);

      var targetY = 0;
      do {
        // Find the top of target relatively to the container
        if (target == scrollContainer) break;
        targetY += target.offsetTop;
      } while (target = target.offsetParent);

      scroll = function (c, a, b, i) {
        i++; if (i > 30) return;
        c.scrollTop = a + (b - a) / 30 * i;
        setTimeout(function () { scroll(c, a, b, i); }, 20);
      }
      // Scroll to target
      scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
    }
  </script>
</head>

<body class="scroll-assist" style="line-height: unset;">
  {{> navbar}}
  </br>
  </br>
  </br>
  </br>
  <div class="a-cbm">
    <div class="nagarro-landing">
      <div class="p-lg-100 p-md-75 p-sm-40 p-20 position-relative overflow-hidden">
        <div class="row no-gutters">
          <div class="col-lg-5 col-sm-8 z-pos">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cblogo-black.png" style="height: 51px;"
              class="mb-80">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.svg" class="d-block mb-20">
            <div class="bold" style="font-size: 48px;">
              is looking for
              <span class="cyan-underline d-inline-block">Developers</span>
            </div>
            <div class="heading-4 bold mt-20">
              Garuntee your seat with Coding Blocks
            </div>
            <div class="font-5 my-30">
              <span class="cyan">Nagarro</span> in association with <span class="cyan">Coding Blocks</span> is
              conducting
              a special batch of Advanced Training to recruit the Finest developers for their company!
            </div>
            <div class="row no-gutters align-items-center">
              <div class="round round-button-grey all-center d-lg-none d-flex mr-25">
                <div class="font-5 bold white">Enroll Now</div>
              </div>
              <div>
                <div class="d-sm-none d-block">
                  <a class="button-primary button-cyan mb-15 d-inline-block" href="https://codingblocks.com/centres/"
                    target="_blank">
                    Contact Us
                  </a>
                </div>
                <a href="#" class="cyan font-5 bold">Learn How</a>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute tr cyan-backdrop d-md-block d-none">
          <button class="round round-button-grey all-center d-lg-flex d-none" type="button"
            onclick="smoothScroll(document.getElementById('explore'))">
            <div class="font-5 bold white">Enroll Now</div>
          </button>
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hero-1.svg" class="position-absolute h-90 hero-1">
        <a class="round round-button-cyan all-center d-sm-flex d-none" href="https://codingblocks.com/centres/"
          target="_blank">
          <div class="font-5 bold white">Contact Us</div>
        </a>
      </div>
      <div class="container mt-60">
        <div class="mb-60">
          <div class="t-align-c">
            <div class="heading-2 bold v-align-ma">
              Simple step to get you job ready at
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.svg" style="height: 36px;"
                class="ml-10">
            </div>
          </div>
          <div class="row mt-40 justify-content-center position-relative">
            <div class="col-sm-4 col-10 h-inherit mb-50">
              <div class="card bg-cyan position-relative t-align-c h-100 pb-50">
                <div class="heading-6 mb-35 bold">Enroll in the Bootcamp</div>
                <div class="font-4">
                  The bootcamp comprises of 4 months of Live Classes on the most widely used programming language i.e
                  C++ and Java. Students will be taught by the finest teachers, the course is filled with exlusive
                  resources on your chosen subject
                </div>
                <button class="button-primary button-grey position-absolute"
                  style="bottom: -45px; left: calc(50% - 67px);" type="button"
                  onclick="smoothScroll(document.getElementById('explore'))">
                  Enroll Now
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-10">
                </button>
              </div>
            </div>
            <div class="col-sm-4 col-10 h-inherit mb-50">
              <div class="card bg-cyan position-relative t-align-c h-100">
                <div class="heading-6 mb-35 bold">Get trained by us</div>
                <div class="font-4">
                  This program equips students with necessary skills in Coding, Data structures, Algorithms and the
                  like,
                  simultaneously preparing them for the Final placement rounds of Nagarro.
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-10 h-inherit mb-50">
              <div class="card bg-cyan position-relative t-align-c h-100">
                <div class="heading-6 mb-35 bold">Get Placed at Nagarro</div>
                <div class="font-4">
                  Voila! One done with the course, you will be among the finest candidates to appear for the Placement.
                  With
                  a special lookout for CB trained candidates you get the highest chance of getting recruited!
                </div>
              </div>
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bubbles-1.svg"
              class="position-absolute d-sm-block d-none" style="top: 50px; left: 25px;">
          </div>
          <div class="row no-gutters t-align-c justify-content-center mt-40">
            <div class="col-xl-4 col-lg-6 col-md-10">
              <div class="heading-5 bold">What's More</div>
              <div class="heading-4 cyan bold mt-10 mb-30">
                The Entire Program is Sponsered by Nagarro and Coding Blocks
              </div>
              <div class="font-4">
                We believe that money should never be a barrier when it comes to finding the right talent so, candidates
                enrolling for the bootcamp will get a scholarship of 5,000/- from Nagarro and 5,000/- from Coding
                Blocks.
                Making it a total of 10,000/-
              </div>
            </div>
          </div>
        </div>
        <div class="mb-80 position-relative overflow-hidden">
          <div class="row no-gutters position-relative">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bubbles-2.svg"
              class="position-absolute tl d-md-block d-none">
            <div class="col-xl-7 col-lg-10 col-md-8 pl-md-40">
              <div class="heading-2 bold">
                With the effective fees reduced by 10,000, it makes it a
                <span
                  class="cyan-underline d-sm-inline-block d-none">once&nbsp;in&nbsp;a&nbsp;life&nbsp;time&nbsp;opportunity!</span>
                <span class="d-sm-none d-inline-block">once in a life time opportunity!</span>
              </div>
              <div class="row no-gutters align-items-center my-50">
                <div class="col-lg-7">
                  <div class="card bg-cyan all-center">
                    <div class="t-align-c">
                      <div class="heading-6 bold mb-10">Also,</div>
                      <div class="font-4">
                        Upon the successful joining of a candidate like you, Nagarro will even return the minimal fees
                        invested by you!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-1 pl-lg-20 mt-lg-none mt-25 heading-2 bold">
                  ZERO EFFECTIVE FEES
                </div>
              </div>
              <div class="font-1 cyan mb-10">General Question</div>
              <div class="font-4 mb-25">Why take fees if you’ll return all of it!</div>
              <div class="font-2 text-grey-light-1">
                We have tried to educate students from resources that are mainly free, but from our experience, we have
                found that people don't respect things that are free. So, we have kept very small fees (INR 5000+taxes)
                for
                this program which would be refunded once you join Nagarro.
              </div>
              <button class="button-grey button-primary mt-50" type="button"
                onclick="smoothScroll(document.getElementById('explore'))">
                Enroll Now
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-10">
              </button>
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hero-2.svg"
            class="position-absolute d-md-block d-none hero-2">
        </div>
        <div class="mb-xl-100 mb-80 position-relative" id="explore">
          <div class="row no-gutters position-relative justify-content-end">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hero-3.svg"
              class="position-absolute hero-3 d-sm-block d-none">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bubbles-3.svg"
              class="position-absolute tl d-md-block d-none">
            <div class="col-xl-8 col-md-7 col-sm-8" style="z-index: 10;">
              <div class="row">
                <div class="col-lg-6 h-inherit mb-lg-none mb-25">
                  <div class="card bg-grey-light-3 h-100">
                    <div class="flex-col justify-content-between h-100 w-100 t-align-c">
                      <div class="mb-75">
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cpp-cyan.svg" class="mb-25">
                        <div class="heading-5 bold mb-50">C++</div>
                        <div class="font-4">
                          We believe that money should never be a barrier when it comes to finding the right talent so,
                        </div>
                      </div>
                      <div>
                        <div class="font-4 cyan mb-40">View Syllabus</div>
                        <a class="button-primary button-grey"
                          href="https://online.codingblocks.com/courses/nagarro-bootcamp" target="_blank">
                          Enroll in C++
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-10">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 h-inherit">
                  <div class="card bg-grey-light-3 h-100">
                    <div class="flex-col justify-content-between h-100 w-100 t-align-c">
                      <div class="mb-75">
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/java-cyan.svg" class="mb-25">
                        <div class="heading-5 bold mb-50">C++</div>
                        <div class="font-4">
                          We believe that money should never be a barrier when it comes to finding the right talent so,
                        </div>
                      </div>
                      <div>
                        <div class="font-4 cyan mb-40">View Syllabus</div>
                        <a class="button-primary button-grey"
                          href="https://online.codingblocks.com/courses/nagarro-bootcamp-java" target="_blank">
                          Enroll in Java
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-10">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-80">
          <div class="t-align-c heading-5 bold mb-50">
            Frequently Asked Questions
          </div>
          <div class="faq-section mb-20">
            <div class="card faq-card bg-grey-light-3">
              <div class="row no-gutters align-items-center">
                <div class="flex-1 pr-15">
                  <div class="font-4">
                    If you are refunding fees after joining Nagarro, why don't you make this course free?
                  </div>
                </div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
              </div>
            </div>
            <div class="answer-section answer-section font-4">
              We have tried to educate students from resources that are mainly free, but from our experience we have
              found that people don't respect things that are free. So, we have kept very small fees (INR 5000+taxes)
              for this program which would be refunded once you join Nagarro.
            </div>
          </div>
          <div class="faq-section mb-20">
            <div class="card faq-card bg-grey-light-3">
              <div class="row no-gutters align-items-center">
                <div class="flex-1 pr-15">
                  <div class="font-4">
                    Is there a Bond?
                  </div>
                </div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
              </div>
            </div>
            <div class="answer-section font-4">
              No, in case you don't join Nagarro, the fees won't be refunded. There won't be any bond upon joining this
              Bootcamp.
            </div>
          </div>
          <div class="faq-section mb-20">
            <div class="card faq-card bg-grey-light-3">
              <div class="row no-gutters align-items-center">
                <div class="flex-1 pr-15">
                  <div class="font-4">
                    Why there's a selection test after we have taken the course, won't we should be directly get placed
                    at Nagarro?
                  </div>
                </div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
              </div>
            </div>
            <div class="answer-section font-4">
              For any company skills are necessary, an employee with no skill wouldn't add value to any company. While
              we have a very qualified mentor team and pedagogy to get students placed, we would also need support from
              students (hard work). It's a two-way process- with us, you also need to do the hard work and that is the
              reason we have kept a test to ensure students can get full value out of this program.
            </div>
          </div>
          <div class="faq-section mb-20">
            <div class="card faq-card bg-grey-light-3">
              <div class="row no-gutters align-items-center">
                <div class="flex-1 pr-15">
                  <div class="font-4">
                    Who are eligible for this Bootcamp?
                  </div>
                </div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
              </div>
            </div>
            <div class="answer-section font-4">
              Engineering students from any branch who are currently in their 3rd and 4th year or MCA students in 2nd
              year. Working professionals/students who have passed out can also join this Bootcamp.
            </div>
          </div>
          <div class="faq-section mb-20">
            <div class="card faq-card bg-grey-light-3">
              <div class="row no-gutters align-items-center">
                <div class="flex-1 pr-15">
                  <div class="font-4">
                    When is the Bootcamp starting and what if I miss any class?
                  </div>
                </div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
              </div>
            </div>
            <div class="answer-section font-4">
              Bootcamp is starting from 27th of Jan 2021(4 months program) and you will get access to all the lecture
              recordings.
            </div>
          </div>
          <div class="faq-section mb-20">
            <div class="card faq-card bg-grey-light-3">
              <div class="row no-gutters align-items-center">
                <div class="flex-1 pr-15">
                  <div class="font-4">
                    What would be the average package?
                  </div>
                </div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
              </div>
            </div>
            <div class="answer-section font-4">
              The package ranges from 4.5 LPA to 10 LPA and will further depend on your performance in the test.
            </div>
          </div>
          <div class="faq-section mb-20">
            <div class="card faq-card bg-grey-light-3">
              <div class="row no-gutters align-items-center">
                <div class="flex-1 pr-15">
                  <div class="font-4">
                    What would be the stack?
                  </div>
                </div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
              </div>
            </div>
            <div class="answer-section font-4">
              You can choose either JAVA or C++ for the Bootcamp.
            </div>
          </div>

        </div>
      </div>
      <div class="mb-80 position-relative">
        <div class="bg-white container t-align-c z-pos p-30">
          <div class="heading-5 bold mb-25">About</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.svg" class="mb-25 d-block mx-auto"
            style="width: fit-content;">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.png" class="mb-40">
          <div class="font-4 mb-40">
            In a quickly changing and evolving world, the challenges you face are ever more unique and complex. To find
            solutions, you need forward-thinking, agile, caring partners that can help you transform, adapt, and build.
            At
            Nagarro, we excel at digital product engineering and deliver on our promise of thinking breakthroughs.
          </div>
          <a class="button-primary button-cyan" href="https://www.nagarro.com/en" target="_blank">
            Check our Website
          </a>
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/flow-vector.svg"
          class="position-absolute z-neg w-100 tl">
      </div>
    </div>
  </div>
</body>

</html>