<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  <style>
    body {
      padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Gilroy", "Nunito Sans", sans-serif;
    }

    .cyan-underline {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 0;
        left: 0;
        background-color: #47D7AC;
        border-radius: 25px;
      }
    }

    .cyan-scroll::-webkit-scrollbar-thumb:hover {
      background: #58D3AF;
    }
  </style>

  <script>
    window.scrollNow = function (target) {
      var scrollContainer = target;
      do { //find scroll container
        scrollContainer = scrollContainer.parentNode;
        if (!scrollContainer) return;
        scrollContainer.scrollTop += 1;
      } while (scrollContainer.scrollTop == 0);

      var targetY = 0;
      do {
        // Find the top of target relatively to the container
        if (target == scrollContainer) break;
        targetY += target.offsetTop;
      } while (target = target.offsetParent);

      scroll = function (c, a, b, i) {
        i++; if (i > 30) return;
        c.scrollTop = a + (b - a) / 30 * i;
        setTimeout(function () { scroll(c, a, b, i); }, 20);
      }
      // Scroll to target
      scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
    }
  </script>
</head>

<body class="scroll-assist" style="line-height: unset;">
  {{> navbar}}
  </br>
  </br>
  </br>
  </br>
  <div class="a-cbm">
    <div class="nagarro-landing">
      <div class="p-lg-100 p-md-75 p-sm-40 p-20 position-relative overflow-hidden">
        <div class="row no-gutters">
          <div class="col-lg-5 col-sm-8 z-pos">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cblogo-black.png" style="height: 51px;"
              class="mb-80">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.svg" class="d-block mb-20">
            <div class="bold" style="font-size: 48px;">
              is looking for
              <span class="cyan-underline d-inline-block">Developers</span>
            </div>
            <div class="heading-4 bold mt-20">
              Guarantee your seat with Coding Blocks
            </div>
            <div class="font-5 my-30">
              <span class="cyan">Nagarro</span> in association with <span class="cyan">Coding Blocks</span> is
              conducting
              a special batch of Advanced Training to recruit the Finest developers for their company!
            </div>
            <div class="row no-gutters align-items-center">
              <div class="round round-button-grey all-center d-lg-none d-flex mr-25" type="button"
                onclick="scrollNow(document.getElementById('explore'))">
                <div class="font-5 bold white">Enroll Now</div>
              </div>
              <div>
                <div class="d-sm-none d-block">
                  <a class="button-primary button-cyan mb-15 d-inline-block" href="https://cb.lk/gform" target="_blank">
                    Contact Us
                  </a>
                </div>
                <a href="#" class="cyan font-5 bold" onclick="scrollNow(document.getElementById('steps'))">Learn How</a>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute tr cyan-backdrop d-md-block d-none">
          <button class="round round-button-grey all-center d-lg-flex d-none" type="button"
            onclick="scrollNow(document.getElementById('explore'))">
            <div class="font-5 bold white">Enroll Now</div>
          </button>
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hero-1.svg" class="position-absolute h-90 hero-1">
        <a class="round round-button-cyan all-center d-sm-flex d-none" href="https://cb.lk/gform" target="_blank">
          <div class="font-5 bold white">Contact Us</div>
        </a>
      </div>
      <div class="container mt-60" id="steps">
        <div class="mb-60">
          <div class="t-align-c">
            <div class="heading-2 bold v-align-ma">
              3 simple steps to get you job ready at
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.svg" style="height: 36px;"
                class="ml-10">
            </div>
          </div>
          <div class="row mt-40 justify-content-center position-relative">
            <div class="col-sm-4 col-10 h-inherit mb-50">
              <div class="card bg-cyan position-relative t-align-c h-100 pb-50">
                <div class="heading-6 mb-35 bold">Enroll in the Bootcamp</div>
                <div class="font-4">
                  The bootcamp comprises of 4 months of Live Classes on the topic - <strong>Java</strong>.
                  Students will be taught by the finest teachers, filled with exlusive resources on your chosen subject.
                </div>
                <button class="button-primary button-grey position-absolute"
                  style="bottom: -45px; left: calc(50% - 67px);" type="button"
                  onclick="scrollNow(document.getElementById('explore'))">
                  Enroll Now
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-10">
                </button>
              </div>
            </div>
            <div class="col-sm-4 col-10 h-inherit mb-50">
              <div class="card bg-cyan position-relative t-align-c h-100">
                <div class="heading-6 mb-35 bold">Get trained by us</div>
                <div class="font-4">
                  This program equips students with necessary skills in Java. Get hands on coding experience which would help you to prepare for Job at Nagarro.                </div>
              </div>
            </div>
            <div class="col-sm-4 col-10 h-inherit mb-50">
              <div class="card bg-cyan position-relative t-align-c h-100">
                <div class="heading-6 mb-35 bold">Get Placed at Nagarro</div>
                <div class="font-4">
                  Voila! One done with the course, you will be among the finest candidates to appear for the Placement.
                  With a special lookout for Coding Blocks trained candidates you get the highest chance of getting recruited!
                </div>
              </div>
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bubbles-1.svg"
              class="position-absolute d-sm-block d-none" style="top: 50px; left: 25px;">
          </div>
          <div class="row no-gutters t-align-c justify-content-center mt-40">
            <div class="col-xl-4 col-lg-6 col-md-10">
              <div class="heading-5 bold">What's More</div>
              <div class="heading-4 cyan bold mt-10 mb-30">
                The Entire Program is Sponsored by Nagarro and Coding Blocks
              </div>
              <div class="font-4">
                We believe that money should never be a barrier when it comes to finding the right talent so, candidates
                enrolling for the bootcamp will get a scholarship of 5,000/- from Nagarro and 5,000/- from Coding
                Blocks.
                Making it a total of 10,000/-
              </div>
            </div>
          </div>
        </div>
        <div class="position-relative overflow-hidden">
          <div class="row no-gutters position-relative">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bubbles-2.svg"
              class="position-absolute tl d-md-block d-none">
            <div class="col-xl-7 col-lg-10 col-md-8 pl-md-40">
              <div class="heading-2 bold">
                With the effective fees reduced by 10,000, it makes it a
                <span
                  class="cyan-underline d-sm-inline-block d-none">once&nbsp;in&nbsp;a&nbsp;life&nbsp;time&nbsp;opportunity!</span>
                <span class="d-sm-none d-inline-block">once in a life time opportunity!</span>
              </div>
              <div class="row no-gutters align-items-center my-50">
                <div class="col-lg-7">
                  <div class="card bg-cyan all-center">
                    <div class="t-align-c">
                      <div class="heading-6 bold mb-10">Also,</div>
                      <div class="font-4">
                        Upon the successful joining of a candidate like you, Nagarro will even return the minimal fees
                        invested by you!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-1 pl-lg-20 mt-lg-none mt-25 heading-2 bold">
                  ZERO EFFECTIVE FEES
                </div>
              </div>
              <div class="font-1 cyan mb-10">General Question</div>
              <div class="font-4 mb-25">Why take fees if you’ll return all of it!</div>
              <div class="font-2 text-grey-light-1">
                We have tried to educate students from resources that are mainly free, but from our experience, we have
                found that people don't respect things that are free. So, we have kept very small fees (INR 5000+taxes)
                for
                this program which would be refunded once you join Nagarro.
              </div>
              <button class="button-grey button-primary mt-50" type="button"
                onclick="scrollNow(document.getElementById('explore'))">
                Enroll Now
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-10">
              </button>
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hero-2.svg"
            class="position-absolute d-md-block d-none hero-2">
        </div>
        <div class="mb-xl-100 mb-80 pt-80 position-relative" id="explore">
          <div class="row no-gutters position-relative justify-content-end">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hero-3.svg"
              class="position-absolute hero-3 d-sm-block d-none">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bubbles-3.svg"
              class="position-absolute tl d-md-block d-none">
            <div class="col-xl-8 col-md-7 col-sm-8" style="z-index: 10;">
              <div class="row">
                {{!-- <div class="col-lg-6 h-inherit mb-lg-none mb-25">
                  <div class="card bg-grey-light-3 h-100">
                    <div class="flex-col justify-content-between h-100 w-100 t-align-c">
                      <div class="mb-75">
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/js-cyan.svg" class="mb-25">
                        <div class="heading-5 bold mb-50">Java</div>
                        <div class="row no-gutters align-items-center justify-content-center">
                          <div class="heading-5 bold cyan">₹&nbsp;5000&nbsp;</div>
                          <strike class="font-5 text-grey">₹&nbsp;15000</strike>
                        </div>
                        <div class="font-3 bold mt-10">
                          LIMITED SEATS AVAILABLE!
                        </div>
                      </div>
                      <div>
                        <div class="font-4 text-grey bold bg-cyan py-15" style="margin: 0 -25px 10px -25px;">
                          JQuery &#8226; Live Projects
                        </div>
                        <div class="font-4 cyan mb-40">
                          <a class="cyan font-4" href="/nagarro-syllabus.html" target="_blank">
                            View Syllabus
                          </a>
                        </div>
                        <a class="button-primary button-grey"
                          href="https://dukaan.codingblocks.com/buy?productId=5948&null" target="_blank">
                          Enroll Now
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-10">
                        </a>
                        <center class="font-2 text-grey mt-10">Batches starting from 20th Feb.</center>
                      </div>
                    </div>
                  </div>
                </div> --}}
                <div class="col-lg-6 h-inherit">
                  <div class="card bg-grey-light-3 h-100">
                    <div class="flex-col justify-content-between h-100 w-100 t-align-c">
                      <div class="mb-75">
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/java-cyan.svg" class="mb-25">
                        <div class="heading-5 bold mb-50">Java</div>
                        <div class="row no-gutters align-items-center justify-content-center">
                          <center class="heading-5 bold cyan">
                            ₹5000&nbsp;
                          </center>
                          <strike class="font-5 text-grey">₹15000</strike>
                        </div>
                        <div class="font-3 bold mt-10 t-align-c">
                          Monday-Wednesday-Friday Batch 
                        </div>
                      </div>
                      <div>
                        <div class="font-4 cyan mb-40">
                          <a class="cyan font-4"
                            href="http://bootcamp.codingblocks.com/assets/pdf/nagarro-bootcamp-brochure.pdf"
                            target="_blank">
                            View Syllabus
                          </a>
                        </div>
                        <a class="button-primary button-grey"
                          href="https://dukaan.codingblocks.com/buy?productId=5948" target="_blank">
                          Enroll in Java
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-10">
                        </a>
                        <center class="font-2 mt-10 text-grey">Starting from 5th July 2021.</center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-80">
          <div class="heading-5 bold mb-40 t-align-c">Success Stories</div>
          <div class="row c-card-carousel cyan-scroll">
            <div class="col-sm-10 col-11">
              <div class="card bg-grey-light-3 overflow-hidden pb-none px-none">
                <div class="row no-gutters align-items-center mb-30 px-30">
                  <div class="col-md-4 pr-md-25 mb-md-none mb-25">
                    <div class="position-relative tint-green">
                      <img src="https://images.codingblocks.com/img/Arpana%20Gupta.jpeg" class="w-100"
                        style="height: 230px;">
                    </div>
                  </div>
                  <div class="col-md-8 pl-md-25">
                    <div class="font-4">
                      Liked the Bootcamp too much The course curriculum was very well structured and the way Kartik
                      Bhaiya explained everything was superb. The slack support adds and the Bootcamp finally helped me
                      land a job at Nagarro
                    </div>
                    <div class="heading-6 bold mt-25">Arpana Gupta (Lovely Professional University) </div>
                  </div>
                </div>
                <div style="height: 8px; background: #58D3AF;"></div>
              </div>
            </div>
            <div class="col-sm-10 col-11">
              <div class="card bg-grey-light-3 overflow-hidden pb-none px-none">
                <div class="row no-gutters align-items-center mb-30 px-30">
                  <div class="col-md-4 pr-md-25 mb-md-none mb-25">
                    <div class="position-relative tint-green">
                      <img src="https://images.codingblocks.com/img/Abhishek%20Kumar.jpeg" class="w-100"
                        style="height: 230px;">
                    </div>
                  </div>
                  <div class="col-md-8 pl-md-25">
                    <div class="font-4">
                      I had great learning experience. The way Risabh bhaiya taught us data structures and Algorithms,
                      helped me a lot in building a perfect foundation for problem-solving.
                    </div>
                    <div class="heading-6 bold mt-25">Abhishek Kumar (Galgotias College Of Engineering And Technology)
                    </div>
                  </div>
                </div>
                <div style="height: 8px; background: #58D3AF;"></div>
              </div>
            </div>
            <div class="col-sm-10 col-11">
              <div class="card bg-grey-light-3 overflow-hidden pb-none px-none">
                <div class="row no-gutters align-items-center mb-30 px-30">
                  <div class="col-md-4 pr-md-25 mb-md-none mb-25">
                    <div class="position-relative tint-green">
                      <img src="https://images.codingblocks.com/img/Madhav%20Nagpal.jpeg" class="w-100"
                        style="height: 230px;">
                    </div>
                  </div>
                  <div class="col-md-8 pl-md-25">
                    <div class="font-4">
                      I am Madhav. I enrolled in Nagarro Bootcamp on Data structures and algorithms in C++, Kartik
                      bhaiya helped me making my foundation very strong and made data structures and algorithms very
                      easy by implementing them in simple and precise way.
                    </div>
                    <div class="heading-6 bold mt-25">Madhav Nagpal (UIET MDU Rohtak)</div>
                  </div>
                </div>
                <div style="height: 8px; background: #58D3AF;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-80">
          <div class="t-align-c heading-5 bold mb-50">
            Frequently Asked Questions
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check8">
            <label class="faq-card bold font-5" for="check8">
              Who is eligible for this Bootcamp?
            </label>
            <div class="answer-section font-4">
              Engineering students from any branch who are currently in their 3rd and 4th year or MCA/BCA/Bsc students.
              Working professionals/students who have passed out can also join this Bootcamp. Basically anyone who has
              basic programming knowledge is eligible.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check9">
            <label class="faq-card bold font-5" for="check9">
              Is there any percentage criteria?
            </label>
            <div class="answer-section font-4">
              There aren't any percentage criteria for this Bootcamp, but you need to be good at programming skills.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check10">
            <label class="faq-card bold font-5" for="check10">
              When is the last day to enroll in the Bootcamp?
            </label>
            <div class="answer-section font-4">
              We have very limited seats available for this Bootcamp and admission is going on a first come first serve
              basis so if you are planning to join we recommend reserving your spot as soon as possible. If you have any
              questions please fill this form and we will reach out to you <a
                href="https://cb.lk/gform">https://cb.lk/gform</a> .
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check11">
            <label class="faq-card bold font-5" for="check11">
              I am a 2018 pass out from electronics and instrumentation(non-cs branch), can I join this course and will
              I get the placement opportunity?
            </label>
            <div class="answer-section font-4">
              yes.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check12">
            <label class="faq-card bold font-5" for="check12">
              I have semester exam classing with Bootcamp, how can I cope up?
            </label>
            <div class="answer-section font-4">
              We would be providing recordings of Bootcamp in case you miss any class, also the schedule is in the
              evening so it won't affect your day.
              If you still have doubts you can reach out to your buddy assigned to get that cleared.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check13">
            <label class="faq-card bold font-5" for="check13">
              I am a working professional do I need to resign to join this Bootcamp?
            </label>
            <div class="answer-section font-4">
              No, the schedule of the classes is in the evening so it won't affect your day and you will also get the
              recordings.
              If you still have doubts you can reach out to your buddy assigned to get that cleared.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check1">
            <label class="faq-card bold font-5" for="check1">
              If you are refunding fees after joining Nagarro, why don't you make this course free?
            </label>
            <div class="answer-section font-4">
              We have tried to educate students from resources that are mainly free, but from our experience we have
              found that people don't respect things that are free. So, we have kept very small fees (INR 5000+taxes)
              for this program which would be refunded once you join Nagarro.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check2">
            <label class="faq-card bold font-5" for="check2">
              Is there a Bond?
            </label>
            <div class="answer-section font-4">
              No, in case you don't join Nagarro, the fees won't be refunded. There won't be any bond upon joining this
              Bootcamp.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check3">
            <label class="faq-card bold font-5" for="check3">
              Why there's a selection test after we have taken the course, won't we should be directly get placed at
              Nagarro?
            </label>
            <div class="answer-section font-4">
              For any company skills are necessary, an employee with no skill wouldn't add value to any company. While
              we have a very qualified mentor team and pedagogy to get students placed, we would also need support from
              students (hard work). It's a two-way process- with us, you also need to do the hard work and that is the
              reason we have kept a test to ensure students can get full value out of this program.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check5">
            <label class="faq-card bold font-5" for="check5">
              What would be the average package?
            </label>
            <div class="answer-section font-4">
              The package ranges from 4.5 LPA to 10 LPA and will further depend on your performance in the test.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check6">
            <label class="faq-card bold font-5" for="check6">
              When is the Bootcamp starting and what if I miss any class?
            </label>
            <div class="answer-section font-4">
              Bootcamp is starting from 5th July 2021 (4 Months Program) and you will get access to all the lecture
              recordings.
            </div>
          </div>
          <div class="faq-section mb-20">
            <input type="checkbox" id="check7">
            <label class="faq-card bold font-5" for="check7">
              What would be the stack?
            </label>
            <div class="answer-section font-4">
              The curriculum would majorly revolve around HTML, CSS and JS.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-80 position-relative">
        <div class="bg-white container t-align-c z-pos p-30">
          <div class="heading-5 bold mb-25">About</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.svg" class="mb-25 d-block mx-auto"
            style="width: fit-content;">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.png" class="mb-40">
          <div class="font-4 mb-40">
            In a quickly changing and evolving world, the challenges you face are ever more unique and complex. To find
            solutions, you need forward-thinking, agile, caring partners that can help you transform, adapt, and build.
            At
            Nagarro, we excel at digital product engineering and deliver on our promise of thinking breakthroughs.
          </div>
          <a class="button-primary button-cyan" href="https://www.nagarro.com/en" target="_blank">
            Check our Website
          </a>
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/flow-vector.svg"
          class="position-absolute z-neg w-100 tl">
      </div>
    </div>
  </div>
  {{> footer}}
  {{> scripts}}

</body>

</html>
