<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex,nofollow">
    <title>{{title}}</title>
    {{> head}}
</head>
<body class="scroll-assist" style="margin-top: -70px;">
{{> navbar}}
<div class="main-container">
    {{> slider}}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="uppercase color-primary mb40 mb-xs-24">Overview</h3>
                    <p class="lead">
                        <ul class = "text-center" style="list-style-type:disc; list-style:inside;">
                            <li>Basics of Python (1 hour)</li>
                            <li>Working with REST APIs</li>
                            <li>Google APIs,  PasteBin API</li>
                            <li>Downloading Large Files from Web</li>
                            <li>Web Scraping</li>
                            <li>Web Automation using Selenium</li>
                            <li>Automating Submissions on CodeChef</li>
                        </ul>
                    </p>
                    <p class="lead" id="register"><strong>
                        Date: 11th Aug<br>
                        Timing : 11am - 4pm<br>
                        Venue : CB Pitampura<br>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="course-tabs">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="delhi">
                        <div class="widget-container" {{#if frame-id-pitampura}}data-widget-id="{{frame-id-pitampura}}"{{/if}}>
                                <iframe class="payment-widget" {{#if frame-id-pitampura}}id="{{frame-id-pitampura}}"{{/if}} frameborder="0" src="{{{registerLinkPitampura}}}"></iframe>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
