<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>
	{{> meta}}
	{{> head}}
	<style>
		.flex-container {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			justify-content: center;
			-webkit-justify-content: center;

		}

		.flex-item {
			max-width: 600px;

		}

		.info-container h2>small {
			display: block;
			font-size: 1.7rem;
			margin-top: 1.2rem;
		}

		.semi-bold {
			font-weight: 600;
		}

		.text-red {
			color: #fc4f4f;
		}

		.thin-border-left {
			border-left: 1px solid #e3e3e3;
		}


		@media (max-width: 900px) {
			.thin-border-left {
				border-left: none;
			}
		}

		@media (min-width: 900px) {
			.info-container {
				margin-left: 3.5rem;
				padding-left: 2.5rem;
			}

			.register-button-container {
				text-align: center;
			}

		}
	</style>
	<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 858471704;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "QBMcCNHlqG8QmPqsmQM";
		var google_remarketing_only = false;
			/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
		<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt=""
				src="//www.googleadservices.com/pagead/conversion/858471704/?label=QBMcCNHlqG8QmPqsmQM&amp;guid=ON&amp;script=0" />
		</div>
	</noscript>
	<script src="/js/fbpixel.js"></script>
	<noscript>
		<img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=1669664786661021&ev=PageView&noscript=1" />
	</noscript>
</head>

<body class="scroll-assist" style="margin-top: -70px;">
	{{> navbar}}
	<div class="main-container">
		<a id="course-header" class="in-page-link"></a>
			<div class="row">
				<picture>
					<source media="(max-width: 1000px)" srcset="https://images.codingblocks.com/img/Banner/ca-1-BANNER-WEB%20link.jpg">
					<img src="https://images.codingblocks.com/img/Banner/ca-1-BANNER-WEB%20link.jpg" alt="Scholarship tests" style="width:100%;">
				</picture>
				<div class="col-md-6 text-center">
				</div>
				<div class="col-md-6 text-right">
				</div>
			</div>
		    {{>apatcastForm}}
		  {{> studentsSay}}
		    <div class="a-cbm">
			    <div class="width-limiter">
			      <div class="py-50 px-md-5 px-4">
			        <div class="t-align-c mb-30">
			          <div class="heading-5 bold mb-30">Where our Alumni Work</div>
			        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/alumni-companies.png">
			        </div>
			      </div>
			    </div>
		  	</div>
		  	{{> coursefaq}}
		{{> footer}}
	</div>
	{{> scripts}}
</body>
