<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		<style>

		.flex-container {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			justify-content: center;
			-webkit-justify-content: center;

		}

		.flex-item {
			max-width: 600px;

		}
		.info-container h2 > small {
			display: block;
			font-size: 1.7rem;
			margin-top: 1.2rem;
		}

		.semi-bold {
			font-weight: 600;
		}

		.text-red {
			color: #fc4f4f;
		}

		.thin-border-left {
			border-left: 1px solid #e3e3e3;
		}


		@media (max-width: 900px) {
			.thin-border-left {
				border-left: none;
			}
		}

		@media (min-width: 900px) {
			.info-container {
				margin-left: 3.5rem;
				padding-left: 2.5rem;
			}

			.register-button-container {
				text-align: center;
			}

		}
		</style>
		<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 858471704;
			var google_conversion_language = "en";
			var google_conversion_format = "3";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "QBMcCNHlqG8QmPqsmQM";
			var google_remarketing_only = false;
			/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
			<div style="display:inline;">
				<img height="1" width="1" style="border-style:none;" alt=""
														 src="//www.googleadservices.com/pagead/conversion/858471704/?label=QBMcCNHlqG8QmPqsmQM&amp;guid=ON&amp;script=0"/>
			</div>
		</noscript>
		<script src="/js/fbpixel.js"></script>
		<noscript>
			<img height="1" width="1" style="display:none"
							 src="https://www.facebook.com/tr?id=1669664786661021&ev=PageView&noscript=1"/>
		</noscript>
	</head>
	<body class="scroll-assist">
		{{> navbar}}
		<div class="main-container">
			<a id="course-header" class="in-page-link"></a>

			<section class="page-title page-title-2 bg-secondary bg-dark">
					<div class="row">
						<picture>
							<source media="(max-width: 1000px)" srcset="../assets/images/cb/cover/cast-small.jpg">
							<img src="../assets/images/cb/cover/cast-banner.jpg" alt="Scholarship tests" style="width:100%;">
						</picture>
						<div class="col-md-6 text-center">
						</div>
						<div class="col-md-6 text-right">
						</div>
					</div>
			</section>

			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-5 thin-border-right info-container">
							<div class="row">
								<div class="col-md-8 cast-header">
									<h2>
										CAST
										<small>Coders Admission &amp; Scholarship Test</small>
									</h2>
								</div>
								<div class="col-md-4">
									<a class="btn btn-filled disabled" href="https://app.codingblocks.com/cast_registrations/new" >Register Now</a>
								</div>
							</div>

							<div class="row">
								{{!-- <div class="alert alert-info">
									<h4>Results for CAST (held on May 11 2019) have been declared!</h4>
									<p>Please check your registered email for your result letter or go to <a href="https://app.codingblocks.com" target="blank">Registration Portal</a>.</p>
								</div> --}}
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>Coding Blocks is pleased to announce the date for Coders' Admission &amp; Scholarship Test (CAST) for our foundation courses, starting this Summer. Students appearing for CAST can win scholarships of up to a whopping 95% off the entire course fees of our foundation courses in basic <strong>Python App Dev</strong>, <strong>Crux (Java)</strong>, and <strong>Launchpad (C++)</strong> (Online & Classroom courses) at all centers.</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>When:</strong>
										<span class="text-red semi-bold">
											Saturday, July 27 2019
										</span>
										<span class="text-muted">
											<!-- Registrations close at 01:00 PM on April 06, 2019. -->
										</span>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Where:</strong>
										<a href="https://hack.codingblocks.com">Hacker Blocks</a>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Syllabus:</strong> <span class="text-red semi-bold">Aptitude &amp; Logical Reasoning</span>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Fee:</strong>
										<span class="text-red semi-bold">None</span>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Applicable Courses:</strong>
										<span class="text-red semi-bold">Python App Dev, Crux (Java), Launchpad (C++)</span>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Course Type:</strong>
										<span class="text-red semi-bold">Online/Classroom</span>
									</p>
								</div>
							</div>

							<table class="table table-striped">
								<thead>
									<tr>
										<th>Batch</th>
										<th>Timings</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<!-- <td>Slot 1</td> -->
										<!-- <td>4:30 PM - 5:30 PM</td> -->
									</tr>
									<tr>
										<td>Python App Development</td>
										<td>07:00 PM - 08:00 PM</td>
									</tr>
									<tr>
										<td>Launchpad (C++)</td>
										<td>07:00 PM - 08:00 PM</td>
									</tr>
									<tr>
										<td>Crux (Java)</td>
										<td>07:00 PM - 08:00 PM</td>
									</tr>
								</tbody>
							</table>
							<div class="row">
								<div class="col-md-12 register-button-container">
									<a class="btn btn-filled disabled" href="https://app.codingblocks.com/cast_registrations/new" >Register Now</a>
								</div>
							</div>
						</div>

						<div class="col-md-5 col-md-offset-1 info-container thin-border-left">
							<div class="row">
								<div class="col-md-8 cast-header">
									<h2>
										APAT
										<small>Advanced Programs Admission (and Scholarship) Test</small>
									</h2>
								</div>
								<div class="col-md-4">
									<a class="btn btn-filled" href="https://app.codingblocks.com/apat_registrations/new" >Register Now</a>
								</div>
							</div>

							<div class="row">
								{{!-- <div class="alert alert-info">
									<h4>Results for APAT (held on May 11 2019) have been declared!</h4>
									<p>Please check your registered email for your result letter.</p>
								</div> --}}
							</div>
							{{!-- <div class="row">
								<div class="alert alert-info">
									<h4>Results for APAT (held on May 11 2019) are yet to be declared.</h4>
									<p>Stay tuned.</p>
								</div>
							</div> --}}

							<div class="row">
								<div class="col-md-12">
									<p>Coding Blocks is pleased to announce the date for Advanced Programs Admission (and Scholarship) Test (APAT) for our advanced batches starting this June. The admission cum scholarship test will be for all our development and advanced courses namely <strong>Web Development</strong>, <strong>Android Development</strong>, <strong>Algo++</strong>, <strong>Algo.Java</strong>, <strong>Competitive Programming</strong>, <strong>Interview Preparation Courses in C++/Java</strong> and <strong>Machine Learning</strong>. Students will be tested on their coding and algorithmic skills. The timed test would be conducted on our portal - HackerBlocks and scholarships of up to 95% will be on offer.</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>When:</strong>
										<span class="text-red semi-bold">
											Saturday, July 27 2019
										</span>
										<span class="text-muted">
										</span>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Where:</strong>
										<a href="https://hack.codingblocks.com">Hacker Blocks</a>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Syllabus:</strong> <span class="text-red semi-bold">Algorithms &amp; Basic Coding</span>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Fee:</strong>
										<span class="text-red semi-bold">None</span>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Applicable Courses:</strong>
										<span class="text&#45;red semi&#45;bold">Web Development, Android Development, Machine Learning, Competitive Coding, Algo++, Algo.Java</span>
										<!-- <span class="text-red semi-bold">Web Development, Android App Development</span> -->
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>
										<strong>Course Type:</strong>
										<span class="text-red semi-bold">Online/Classroom</span>
									</p>
								</div>
							</div>

							<table class="table table-striped">
								<thead>
									<tr>
										<th>Batch</th>
										<th>Timings</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr> -->
									<!-- 	<td>Competitive Programming</td> -->
									<!-- 	<td>(&#45;)</td> -->
									<!-- </tr> -->
									<!-- <tr> -->
									<!-- 	<td>Algo++/Algo.Java</td> -->
									<!-- 	<td>(-)</td> -->
									<!-- </tr> -->
									<tr>
										<td>Algo++/Algo.Java</td>
										<td>08:30 PM - 09:30 PM</td>
									</tr>
									<tr>
									<tr>
										<td>Web Development/ Android Development</td>
										<td>08:30 PM - 09:30 PM</td>
									</tr>
									<tr>
										<td>Competitive Programming</td>
										<td>10:00 PM - 11:00 PM</td>
									</tr>
									<tr>
										<td>Machine Learning</td>
										<td>10:00 PM - 11:00 PM</td>
									</tr>
								</tbody>
							</table>

							<div class="row">
								<div class="col-md-12 register-button-container">
									<a class="btn btn-filled" href="https://app.codingblocks.com/apat_registrations/new" >Register Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
	</body>

