<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		<style>

		.flex-container {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			justify-content: center;
			-webkit-justify-content: center;

		}

		.flex-item {
			max-width: 600px;

		}
		.info-container h2 > small {
			display: block;
			font-size: 1.7rem;
			margin-top: 1.2rem;
		}

		.semi-bold {
			font-weight: 600;
		}

		.text-red {
			color: #fc4f4f;
		}

		.thin-border-left {
			border-left: 1px solid #e3e3e3;
		}


		@media (max-width: 900px) {
			.thin-border-left {
				border-left: none;
			}
		}

		@media (min-width: 900px) {
			.info-container {
				margin-left: 3.5rem;
				padding-left: 2.5rem;
			}

			.register-button-container {
				text-align: center;
			}

		}
		</style>
		<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 858471704;
			var google_conversion_language = "en";
			var google_conversion_format = "3";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "QBMcCNHlqG8QmPqsmQM";
			var google_remarketing_only = false;
			/* ]]> */
		</script>
		<noscript>
			<div style="display:inline;">
			</div>
		</noscript>
		<noscript>
		</noscript>
	</head>
	<body class="scroll-assist">
		{{> navbar}}
		<div class="main-container">
			<a id="course-header" class="in-page-link"></a>

			<section>
					<div class="container">
						<picture>
							<source media="(max-width: 1000px)" srcset="../assets/images/cb/cover/6_month_training.jpg">
							<img src="../assets/images/cb/cover/6_month_training.jpg" alt="Scholarship tests" style="width:100%;">
						</picture>
						<div class="col-md-6 text-center">
						</div>
						<div class="col-md-6 text-right">
						</div>
					</div>
			</section>

			<section>
				<div class="container">
					<div class= "col-md-12">
						Coding Blocks is pleased to announce the date for Scholarship test for our 6 Months Industrial Training Tracks, starting 13th January 2020. Students appearing for the Test can win scholarships up to a whopping 75% off the entire course fees of all the tracks of Industrial training, The Scholarship test Applicable for the following Career track:
					</div>
											<div class="text-center">C++ & Web Development Track</div>

											<div class="text-center">Java & Web Development Track</div>

											<div class="text-center">Python & Data Science Track</div>
											<br>
										<div class="text-center">All 3 career tracks Include Interview Preparation that covers topics like Operating System, DBMS etc</div>
										<br>

										<div class="text-center"><b>Get Placed in Big wings like Google, Microsoft, Zomato, Practo, CueMath and the like</b>

										<b>This is a once in a lifetime opportunity which we think you wouldn't want to miss. So, go ahead and register below for an exciting educational journey through the world of technology. All the best!</b></div>
										<br>
							<div class="row">
								<div class="col-md-3">
									<p>
										<strong>When:</strong>
			     						<span class="text-red semi-bold">Sunday, Dec 29th 2019</span>
									</p>
								</div>
								<div class="col-md-3">
									<p>
									    <strong>Where:</strong>
										<a href="https://hack.codingblocks.com">Hacker Blocks</a>
									</p>
								</div>

								<div class="col-md-3">
									<p>
										<strong>Syllabus:</strong>
										<span class="text-red semi-bold">Aptitude & Logical Reasoning</span>
									</p>
								</div>

								<div class="col-md-3">
									<p>
										<strong>Fee:</strong>
										<span class="text-red semi-bold">None</span>
										<strong>Course Type:</strong>
										<span class="text-red semi-bold">Classroom</span>
									</p>
								</div>
							</div>

				</div>

			</section>


			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-8 cast-header">
									<h2>
										C++ with Web Development
									</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 register-button-container">
									<a class="btn btn-filled" href="https://hack.codingblocks.com/app/contests/1176" disabled>Register Now</a>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="row">
								<div class="col-md-8 cast-header">
									<h2>
										Java with Web Development
									</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 register-button-container">
									<a class="btn btn-filled" href="https://hack.codingblocks.com/app/contests/1176" disabled>Register Now</a>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="row">
								<div class="col-md-8 cast-header">
									<h2>
										Python with Data Sciences
									</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 register-button-container">
									<a class="btn btn-filled" href="https://hack.codingblocks.com/app/contests/1176" disabled>Register Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			{{> map}}
			{{> footer}}
		</div>
		{{> scripts}}
	</body>

