<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  <style>
    body {
      padding: 0
    }
  </style>
</head>
<body class="scroll-assist">
  {{> navbar}}
  <div class="main-container">
    <div class="bg-gradient-dark-purple p-md-5">
      <div class="container">
        <div class="row justify-content-between ">
          <div class="col-md-6 order-2 order-md-1 col-12 white">
            <h2 class="white">Welcome to Live Classes Program by Coding Blocks</h2>
            <div class="font-md">Bringing the same classroom experience now at your home!</div>

            <div class="divider-h bg-grey my-5"></div>

            <h5 class="yellow mb-5 pt-4">We are proud of these numbers</h5>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="br-10 px-4 py-3 mb-4 br-white white">
                  <div class="img-desc">
                    <img class="pr-4" src="/assets/images/icons/briefcase.svg" alt="">
                    <div class="description">
                      <h4 class="white">5000+</h6>
                      <div class="font-sm">Student Placed</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="br-10 px-4 py-3 mb-4 br-white white">
                  <div class="img-desc">
                    <img class="pr-4" src="/assets/images/icons/convocation-hat.svg" alt="">
                    <div class="description">
                      <h4 class="white">25000+</h6>
                      <div class="font-sm">Student Taught</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="br-10 px-4 py-3 mb-4 br-white white">
                  <div class="img-desc">
                    <img class="pr-4" src="/assets/images/icons/kitabe.svg" alt="">
                    <div class="description">
                      <h4 class="white">18000+</h6>
                      <div class="font-sm">Hours of Study</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="br-10 px-4 py-3 mb-4 br-white white">
                  <div class="img-desc">
                    <img class="pr-4" src="/assets/images/icons/antariksh-yaan.svg" alt="">
                    <div class="description">
                      <h4 class="white">5000+</h6>
                      <div class="font-sm">Projects Build</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 order-1 order-md-2 col-12 mt-md-0 mt-5">
            <div class="border-card p-5 bg-white p-5 t-align-l all-center h-100">
              <div id="lead-form">
                <h6>Take FREE Demo Class Now!</h6>
                <div class="font-sm mb-4">Register for Free Demo session by our mentors!</div>

                <form id="student-lead-form" action="http://localhost:3000/student_leads" method="POST">
                  <input class="underline-input" type="text" name="firstname" class="underline-input font-sm w-100 pb-2 mb-5" placeholder="First Name *" required>

                  <input class="underline-input" type="text" name="lastname" class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Last Name *" required>
                  
                  <input class="underline-input" type="email" name="email" class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Your Email *" required>
                  
                  <select class="mb-4" name="preferredCourse" id="" required>
                    <option value="" selected>Select Course</option>
                    {{#each liveCourses}}
                      {{#each @root.coursesList}}
                        {{#ifEquals this.id ../this.id}}
                          <option value="{{this.name}}">{{this.name}}</option>
                        {{/ifEquals}}
                      {{/each}}
                    {{/each}}
                  </select>

                  <div class="row align-items-center">
                    <div class="col-8">
                      <input class="underline-input m-0" id="phoneNumber" type="text" name="phoneNumber" class="underline-input font-sm w-100 pb-2 mb-5" pattern="[0-9]{10}" placeholder="Contact Number *" required>
                      <div id="otp-error" class="card-md red display-none">Error occured while sending OTP. Please try again.</div>
                      <div id="invalid-mobile-error" class="card-md red display-none">This Mobile number is already registered</div>
                      <div id="invalid-phone-number-error" class="card-md red display-none">Mobile number must be 10 digit number</div>
                    </div>  
                    <div class="col-4">
                      <button id="otp-btn" class="button-solid" type="button" onclick="requestOtp()" disabled>Request OTP</button>
                    </div>
                  </div>

                  <div id="otp-and-submit" class="display-none mt-3">
                    
                    <input class="underline-input m-0" type="text" id="otp" name="otp" placeholder="Enter OTP" required />
                    <div id="invalid-otp-error" class="card-md red display-none">Invalid Otp</div>
                  
                    <input id="otpId" type="hidden" name="otpId" value="">
                  
                    <div class="t-align-c mt-4">
                      <button class="button-solid button-orange mx-auto">Send Details</button>
                    </div>
                  </div>
                </form>

              </div>
              <div id="student-lead-form-success" class="t-align-c display-none">
                <div class="green mx-auto s-80x80 all-center br-50" style="border: solid 1px #8dbf75; font-size:35px">
                  &#10004;
                </div>
                <br>
                <h4>Your Details have been saved successfully.</h4>
                <div>Our team will get in touch with you shortly.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="" style="background: #F9F9F9;">
      <div class="container">
        <div class="row p-5">
          <div class="col-12 col-md-4">
            <img src="/assets/images/icons/munnabhayia.png" alt="">
          </div>
          <div class="col-12 col-md-8">
            <h4 class="mb-5">About Live Classes</h4>
            <p>
              Coding Blocks has always been on the fore front when it comes to innovation. With Physical classrooms being restricted,
              the two way, interactive live classes by Coding Blocks offer a perfect replacement to the Classroom program with
              additional benefits.
            </p>
            <p>
              It even allows students in the remotest areas of our country to gain access to teaching by the highly experienced
              mentors of Coding Blocks.
            </p>
            <img src="/assets/images/icons/munnabhayia-signature.svg" alt="">

            <div class="bold font-mds mt-4">Manmohan Gupta</div>
            <div class="font-mds">(Founder, Coding Blocks)</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <section>
        <div class="t-align-c">
          <h5 class="mb-2">Benefits of Live Classes</h5>
          <div class="font-sm mb-5">How our platform stands out from all other platforms</div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="border-card mb-4">
              <div class="img-desc">
                <img class="pr-4 pr-md-5" src="/assets/images/icons/imac-kitab.svg" alt="">
                <div class="description">
                  <div class="font-mds bold mb-3">Hands-on Coding Experience</div>
                  <div>Questions or problems are given in the class for hands-on for coding</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="border-card mb-4">
              <div class="img-desc">
                <img class="pr-4 pr-md-5" src="/assets/images/icons/support.svg" alt="">
                <div class="description">
                  <div class="font-mds bold mb-3">Clear Doubts Live</div>
                  <div>Students can ask doubts from the instructor while session is in progress.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="border-card mb-4">
              <div class="img-desc">
                <img class="pr-4 pr-md-5" src="/assets/images/icons/post-class-support.svg" alt="">
                <div class="description">
                  <div class="font-mds bold mb-3">Post Class Doubt Support</div>
                  <div>Students can clarify their doubts even after the class is over. Isnt it great?  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="border-card mb-4">
              <div class="img-desc">
                <img class="pr-4 pr-md-5" src="/assets/images/icons/play-screen.svg" alt="">
                <div class="description">
                  <div class="font-mds bold mb-3">Missed the Class?</div>
                  <div>The entire class is recorded and is available for students to watch again anytime.  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="border-card mb-4">
              <div class="img-desc">
                <img class="pr-4 pr-md-5" src="/assets/images/icons/certification.svg" alt="">
                <div class="description">
                  <div class="font-mds bold mb-3">Evaluation And Certification</div>
                  <div>You will be provided with a certificate after your successful completion.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="border-card mb-4">
              <div class="img-desc">
                <img class="pr-4 pr-md-5" src="/assets/images/icons/bullseye.svg" alt="">
                <div class="description">
                  <div class="font-mds bold mb-3">Stay home, stay safe!</div>
                  <div>Live classes are just classrooms at home! Learn at home and stay safe.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <section class="bg-gradient-dark-purple p-4">
      <div class="container">
        <div class="d-flex justify-content-between white">
          <div>
            <h4 class="white">Land your dream job</h4>
            <div class="font-mds">Our alumini work at</div>
          </div>

          <img src="/assets/images/icons/companies-logo-stream.svg" alt="">
        </div>
      </div>
    </section>

    <div class="container my-5">
      <section>
        <div class="t-align-c">
          <h5 class="mb-2">50+ Combined Teaching Experience</h5>
          <div class="font-sm mb-5">World Class mentors from IIT, IIIT and NSUT</div>
        </div>

        {{> newTeam teamMembers=mentors}}
        
      </section>  
    </div>

    <div class="pt-5" style="background: #F9F9F9;">
      <div class="container pt-5">
        <div class="t-align-c">
          <h5 class="mb-2">Courses Offered</h5>
          <div class="font-sm mb-5">We have variety of courses to be offered!!</div>
        </div>

        {{> newCoursesRow courses=liveCourses}}
      </div>
    </div>
  </div>

{{> scripts}}
<script src="/assets/scripts/student-leads.js"></script>
</body>
</html>