<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		{{> meta}}
		{{> head}}
		{{> courseSchema}}
	</head>
	<body class="scroll-assist">
		{{> navbar}}
		<div class="main-container">
			{{> header}}		
				<section>
					<iframe class="payment-widget" src="https://d9bcdaa0.sibforms.com/serve/MUIEAJoWFbaPZBuYGwHa8TpBrf1NdnP5Io5wUcoxZsuPEZA_wt-tWVnLvl4MLh3nRNz4WNqMTCI2XLcyn4yVpY3kheDThJh7t8JGpu6ic_r65eeL4vmh8UqmThP1XhEISBeAShim8LcmxzGwGrZz7TOvL08aq5rW7uONszWQ-YRu4UnvuCaarACCH0exirebieVj0YTENlnolNqN" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe> 
				</section>
			{{> review-course-section}}
			{{> footer}}
		</div>
		{{> scripts}}
		<script>
			$(document).ready(function () {
				var hash = window.location.hash;
				if (hash === '#launchpad-bundle-content' || hash === '#advance') {
					$('#tab-basic').toggleClass('active');
					$('#tab-advance').toggleClass('active');
					$('#content-basic').toggleClass('active');
					$('#launchpad-bundle').toggleClass('active');
				}

				$('#tab-advance-toggle').click (function (e) {
					$('#tab-basic').toggleClass('active');
					$('#tab-advance').toggleClass('active');
					$('#content-basic').toggleClass('active');
					$('#launchpad-bundle').toggleClass('active');
				})
			})
		</script>

		<script>
		</script>
	</body>
</html>
