<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {{> meta}}
  {{> head}}
  {{> courseSchema}}
</head>
<body class="scroll-assist" style="margin-top: -70px;">
{{> navbar}}
<div class="main-container">
  {{!-- {{> header}}  --}}
  <section>
    <iframe class="demo-widget"
            src="https://docs.google.com/forms/d/e/1FAIpQLSd7ZUwGJP3kTQXnlV-KovZFJZAZITkdBGDwyg_rjIWSmmRoyg/viewform"
            frameborder="0" allowfullscreen
            style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
  </section>
  {{> review-course-section}}
  {{> footer}}
</div>
{{> scripts}}

<script>
</script>
</body>
</html>
