<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    {{> header}}
    {{> team}}
    {{> team team =staff}}
    {{> team team =interns}}
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
