<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <!-- SECTION: Why Coding Blocks -->
    <a id="why_cb" class="in-page-link"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                    <h2 class="uppercase mb32">Why Coding Blocks?&nbsp;</h2>
                    <p class="mb64"> Coding Blocks was founded in 2014 with a mission to create skilled software
                        engineers for our country and the world. We aim to bridge the gap between the quality of skills
                        demanded by industry and the quality of skills imparted by conventional institutes.</p></div>
            </div>
            <div class="row">
                <br>
                <div class="col-sm-4 col-xs-12 text-center">
                    <i class="icon ti ti-light-bulb" style="font-size: 7em;margin-top: 30%;color:#fc4f4f"></i>
                </div>
                <div class="col-sm-8 col-xs-12 text-center bg-secondary">
                    <br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Logic Building</h3>
                    <p class="lead mb64">
                        Coding in its most essential form is nothing but problem solving. It deals with
                        figuring out logical solutions and implementing them optimally. The process of
                        learning to code, transforms a person into an analytical thinker with strong
                        mathematical and logical skills.
                    </p>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-sm-4 pull-right col-xs-12 text-center">
                    <i class="icon ti ti-stats-up" style="font-size: 7em;margin-top: 30%;color:#fc4f4f"></i>
                </div>
                <div class="col-sm-8 text-center col-xs-12 bg-secondary">
                    <br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Career Transformation</h3>
                    <p class="lead mb64">
                        Having been a standalone field for a long time, the software industry has now
                        come neck to neck with most of the other industries by close coordination and
                        easy integration. From the smallest light bulb to the most massive aircrafts,
                        every industry now implements the use of computer programming for the
                        convenience of the end user. A good command over coding can thus open a wide
                        variety of employment opportunities, and can expand any aspiring coder's horizons. </p>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-sm-4 col-xs-12 text-center">
                    <i class="icon ti ti-world" style="font-size: 7em;margin-top: 30%; color:#fc4f4f"></i>
                </div>
                <div class="col-sm-8 col-xs-12 text-center bg-secondary">
                    <br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Global Impact</h3>
                    <p class="lead mb64">
                        Computer programming these days is also being used to address some of the
                        biggest issues that humankind is facing, such as climate change, healthcare,
                        education and many more. More than being a developer or a designer, knowledge of
                        coding can also help you become the harbinger of the change that you want to
                        see.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container text-center">
            <h2 class="uppercase">How Coding Blocks Will Help?</h2>
        </div>
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col-sm-4 pull-right col-xs-12 img-sm">
                    <img src="assets/images/whycb/pic2.png" alt="Code 4 Kids" class="img-responsive">
                </div>
                <div class="col-sm-8 text-center col-xs-12 bg-secondary">
                    <br><br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Courses &amp; Bootcamps</h3>
                    <p class="lead mb64">
                        In total, we provide over <a href="https://codingblocks.com/classroom-courses/">20 different courses</a> across categories and methodologies to
                        students. These courses comprise the most relevant subjects and technologies that are being used
                        in the industry these days. We boast of having the most comprehensive topic coverage, and of
                        constantly updating with the rapidly changing times. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col-sm-4 col-xs-12 img-sm">
                    <img src="assets/images/whycb/pic3.png" alt="Online Courses" class="img-responsive">
                </div>
                <div class="col-sm-8 col-xs-12 text-center bg-secondary">
                    <br><br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Hands-on Learning</h3>
                    <p class="lead mb64">
                        In addition to theoretical teaching, we also offer hands-on experience to all our students.
                        Every course has hackathons included in the course structure itself, so the student can
                        develop from himself, and do while he learns.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col-sm-4 pull-right col-xs-12 img-sm">
                    <img src="assets/images/whycb/pic1.png" alt="Code 4 Kids" class="img-responsive">
                </div>
                <div class="col-sm-8 text-center col-xs-12 bg-secondary">
                    <br><br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Age No Bar</h3>
                    <p class="lead mb64">
                        All our courses are designed only on the basis of interest and proficiency. There is no age
                        barrier for any course. We have had school students enrol for our advanced courses as well
                        as senior industry professionals enrol for our foundation courses.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col-sm-4 col-xs-12 img-sm">
                    <img src="assets/images/whycb/pic4.png" alt="Online Courses" class="img-responsive">
                </div>
                <div class="col-sm-8 col-xs-12 text-center bg-secondary">
                    <br><br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Location No Bar</h3>
                    <p class="lead mb64">
                        We have a total of four centres for classroom teaching that cover the length and breadth of
                        Delhi-NCR and two more centres which help us conduct courses in Punjab. We also conduct
                        regular online bootcamps and webinars and to make learning convenient. As of summer of 2017,
                        we have also launched our <a href="https://online.codingblocks.com/app/courses">online courses.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col-sm-4 pull-right col-xs-12 img-sm">
                    <img src="assets/images/whycb/pic6.png" alt="Code 4 Kids" class="img-responsive">
                </div>
                <div class="col-sm-8 text-center col-xs-12 bg-secondary">
                    <br><br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Competent Team</h3>
                    <p class="lead mb64">
                        Our team of teachers, administrators and developers has a combined experience that cannot be
                        paralleled by any competitor. Our founder Mr. Manmohan Gupta has already succeeded with
                        ventures of global repute such as Vidya Mandir Classes and Nagarro. We have team members who
                        have worked at global giants like Facebook, Sony, Cyanogen, Directi, American Express,
                        Barclays and many more. With such a large amount of national and international experience,
                        we promise only the best for our students, and nothing else.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col-sm-4 col-xs-12 img-sm">
                    <img src="assets/images/whycb/pic5.png" alt="Online Courses" class="img-responsive">
                </div>
                <div class="col-sm-8 col-xs-12 text-center bg-secondary">
                    <br><br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Numbers</h3>
                    <p class="lead mb64">
                        With over 6500+ students already trained, 55 years of collective experience in teaching, over
                        1000 success stories of internships and placements at top companies and over 30 projects,
                        our numbers talk for themselves.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <br><br>
                <div class="col-sm-4 pull-right col-xs-12 img-sm">
                    <img src="assets/images/whycb/pic7.png" alt="Code 4 Kids" class="img-responsive">
                </div>
                <div class="col-sm-8 text-center col-xs-12 bg-secondary">
                    <br><br><br>
                    <p><!-- To give line break in mobile view--></p>
                    <h3 class="uppercase mb16">Testimonials</h3>
                    <p class="lead mb64">
                        Students who have learnt from Coding Blocks swear by the quality of teaching and course
                        material, and give us the motivation to keep going. You can read the testimonials <a
                            href="/reviews">here</a>.</p>
                </div>
            </div>
        </div>
    </section>
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
</body>
</html>
