.multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}
.multi-item-carousel .carousel-inner .next {
    left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
    }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}

.carousel-control.left {
    background: none;
    margin-left: -7%;
}
.carousel-control.right {
    background: none;
    margin-right: -7%;
}

.arrow-color {
    color: #0d47a1;
}

div.carouselonline {
    height: 70%;
    width: 70%;
    padding-top: 40px;
}

@media screen and (max-width: 992px) {
    .multi-item-carousel .carousel-inner .active.left {
        left: -100%;
    }
    .multi-item-carousel .carousel-inner .active.right {
        left: 100%;
    }
    .multi-item-carousel .carousel-inner .next {
        left: 100%;
    }
    .multi-item-carousel .carousel-inner .prev {
        left: -100%;
    }

    div.carouselonline {
        height: 100%;
        width: 100%;
        padding-top: 40px;
    }
}