/****** PLACE YOUR CUSTOM STYLES HERE ******/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i|Nunito:400,400i,500,700,700i|Raleway:400,400i,500,700,700i');

/* UTIL [[ */
.all-caps {
    text-transform: uppercase;
}

.v-align-children {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

/* ]] */

body {
    font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

p.lead {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.button-tabs .tab-title span {
    font-size: 14px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.5ch;
}

.button-tabs.vertical > .content {
    width: 70%;
}

.leaf {
    display: none !important;
}

.location-cards {
    font-size-adjust: 0.625;
}

/* Prices */
.old-price {
    font-size: 2rem;
    text-decoration-line: line-through;
    text-decoration-style: double;
}

/* MAP [[ */
.contact-map {
    height: 250px;
    overflow: hidden;
    padding: 0;
}

.map-box {
    height: 250px;
}

/* ]] MAP */

/* MENU [[ */
.menu > li > ul {
    margin-top: 4px;
    padding-top: 15px;
}

.menu > li ul li ul {
    margin-top: -8px;
}

/* ]] */

.numbers-value {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.payment-widget {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 720px;
}

.payment-widget.compact {
    min-height: 1100px;
}

@media (max-width: 768px) {
    .payment-widget {
        min-height: 1100px;
    }
}

/* [[Index Pricing Table]] */
.pricing-card {
}

.pricing-card-inverse {
    background-color: rgb(248, 248, 248);
}

.pricing-table .course.logo {
    height: 148px;
    margin-bottom: 1rem;
}

/* ]] */

/* [[Team Section]] */
.team {
    margin-top: 0;
    margin-bottom: 0;
}

.team .img-holder {
    background: transparent;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.team .img-holder img {
    width: 80%;
    opacity: 1;
    filter: none !important;
}

.flip-card {
    text-align: justify;
    padding: 1rem;
    height: 35rem;
    box-shadow: 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flip-card .front {
    text-align: center;
}

.flip-card .back .img-holder {
    float: right;
    clear: right;
    height: 50px;
    width: 50px;
    margin-top: 0;
    padding-top: 5px;
}

.team-xs {
    background: no-repeat center/100% url('/assets/images/cb/team/team-banner.jpg');
    min-height: 250px;
}

@media (max-width: 800px) {
    .flip-card {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .flip-card .back {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}

/* ]] */

.user-story {
    min-height: 50rem;
}

/* [[Nav Bar]] */
.nav-bar .menu > .has-dropdown > ul > li:first-child {
    margin-top: -7px;
}

.nav-bar {
    padding-right: 1rem;
}

.new-content-badge {
    border-radius: 3px;
    border: 1px solid red;
    padding: 0.2rem;
    font-size: 1rem;
    background: red;
    color: white;
    font-weight: bold;
    margin-left: 0.5rem;
    font-size: 8px;
    position: relative;
    top: -10px;
    left: -7px;
}

.menu > li {
    margin-right: 18px;
}

.nav-bar .module.left {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 990px) {
    .nav-bar .module.left {
        padding-right: 0;
    }
}

.contact-us-dropdown a[target="_self"] .fa {
    width: 3rem;
}

/* ]] */

/* [[Contact Us]] */
.feature {
    text-align: left;
}

.feature h3 {
    padding-left: 0;
}

.location-address {
    margin-bottom: 1.5rem;
}

.location-contact h4 {
    margin-bottom: 1rem;
}

.location-phone {
    margin: 0;
}

.main-contact-block h4 {
    margin: 0;
    padding: 0;
}

/* ]] */

/* [[Footer]] */
.footer .footer-1 {
    padding-top: 5rem;
}

footer .container .row > * {
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .footer .footer-1 {
        padding-top: 1rem;
    }

    .footer img.logo {
        max-height: 6rem;
        text-align: center;
    }
}

/* ]] */

/* [[User Story]] */
.phone-button {
    background-color: transparent;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    right: 1.2rem;
    bottom: 8rem;
    z-index: 999;
    display: none;
}

.phone-button i {
    border-radius: 50%;
    padding: 1.1rem 1.5rem;
    background-color: #fc4f4f;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.2);
    color: #454C53;
}

@media (max-width: 768px) {
    .phone-button {
        display: block;
    }
}

/* ]] */

/* [[Scroll To Top]] */
.scroll-to-top {
    background-color: transparent;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 999;
    display: none;
}

/* ]] */

/* [[Number Speak Louder]] */
.numbers-box .feature {
    text-align: center;
}

.numbers-box h5 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.numbers-box .numbers-value {
    padding-bottom: 2rem;
}

/* ]] */

.btn-banner {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ol.syllabus {
    margin-left: 1.9rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pricing-card {
    height: 800px;
}

@media (min-width: 250px) and (max-width: 349px) {
    .pricing-card {
        height: 700px;
    }
}

@media (min-width: 350px) and (max-width: 557px) {
    .pricing-card {
        height: 680px;
    }
}

@media (min-width: 519px) and (max-width: 613px) {
    .pricing-card {
        height: 747px;
    }
}

@media (min-width: 614px) and (max-width: 741px) {
    .pricing-card {
        height: 780px;
    }
}

@media (min-width: 742px) and (max-width: 845px) {
    .pricing-card {
        height: 823px;
    }
}

@media (min-width: 768px) {
    .pricing-card {
        height: 693px;
    }

    .wide-tab > a {
        padding: 2rem 10rem !important;
        font-size: 2rem !important;
    }

    table.calendar .fa {
        color: #fc4f4f;
    }

    table.calendar tbody tr:nth-of-type(-n+0) .fa {
        color: gray;

    }
}

/*Layout Change Effects*/
.sad {
    font-size: 0.7em;
    line-height: inherit !important;
}

.button-tabs .tab-title {
    padding: 7px !important;
}

/* Accordion FAQs [[ */
.accordion .title::before {
    float: left;
    clear: none;
    margin-left: -4rem;
    margin-top: 1.5rem;
}

/* ]] */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-justify-content: center;
    clear: both;
}

.flex-item {
    max-width: 100%;
    max-height: 100%;
}

h1 .sub-heading {
    letter-spacing: 4px;
    color: #fff;
}

/*.parallax .slides li>.background-image-holder, .parallax>.background-image-holder {
    filter: blur(5px) !important;
}*/
.overlay:before {
    opacity: .5 !important;
    background: rgb(0, 0, 0) !important;
}

.tabbed-content .tabs > li {
    height: 65px;
    overflow: hidden;
}

.tabbed-content .tabs > li h3 {
    line-height: 20px;
}

.event-card {
    text-align: left;
    overflow: hidden;
    padding: 0;
}

.event-card .shadow {
    height: 500px;
    box-shadow: 5px 5px 7px 0 rgba(46, 61, 73, .15);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    transition: .5s ease;
}

.event-card .shadow-small {
    height: 300px;
}

.event-card .shadow:hover {
    box-shadow: 12px 12px 10px 0 rgba(46, 61, 73, .15);
    transition: .5s ease;
}

.event-card .img-box {
    background: #fff;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.event-card .img-box .shadow-inset {
    position: absolute;
    display: inline;
    margin-left: 15px;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: 200px;
    box-shadow: inset 0px -40px 60px -14px rgba(0, 0, 0, 0.48);
}

.event-card .img-box-old {
    filter: grayscale(100%);
}

.event-card .info-box {
    height: 300px;
    background: #fff;
    padding: 5% 7%;
    color: #292929;
}

.event-card .info-box-small {
    height: 100px;
    margin: 0;
    padding: 2% 3%;
    display: flex;
}

.info-box-small .date-box {
    background-color: #fc4f4f;
    padding: 2px;
    color: white;
    text-align: center;
    height: 65px;
}

.date-box .event-day {
    margin-top: 5px;
    font-size: 26px;
    font-weight: 600;
}

.date-box p {
    margin-bottom: 5px;
}

.event-card .info-box-old {
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.event-card .info-box h3 {
    height: 70px;
    overflow-y: hidden;
    font-size: 24px;
    line-height: 34px;
}

.event-card .info-box .desc {
    height: 50px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.event-card .info-box .location {
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pad-b15 {
    padding-bottom: 15px;
}

.pad-t15 {
    padding-top: 15px;
}

.newsletter-row {
    margin: 40px 10% 0 10%;
}

.newsletter-card {
    cursor: pointer;
    justify-content: center;
    text-align: center;
    height: 200px;
    padding: 10px;
    margin-bottom: 40px;
}

.newsletter-card .content:hover {
    box-shadow: 12px 12px 10px 0 rgba(46, 61, 73, .15);
    transition: .5s ease;
}

.newsletter-card .content {
    background: white;
    box-shadow: 5px 5px 7px 0 rgba(46, 61, 73, .15);
    transition: .5s ease;
    height: 200px;
    padding: 7px !important;
}

.content .border-box {
    border: 2px solid #fc4f4f;
    height: 186px;
}

.newsletter-card h3 {
    padding: 75px 0 !important;
}

.nav-bar .title {
    margin-top: 0;
}

.brochure-box {
    width: 100vw;
    height: calc(100vh - 64px);
}


/*Review Box*/
.review-span {
    font-weight: 600;
}

.review-card-body {
    max-height: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.review-card-body:after {
    content: "..."
}

.review-card-name {
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-flip-card {
    margin-left: 2%;
    margin-right: 2%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    padding: 5px 5px !important;
    height: 100%;
    display: none;
}

@media (min-width: 768px) {
    .review-flip-card {
        width: 45%;
    }

    .review-highimg {
        display: block !important;
    }

}

.review-highimg {
    display: none;
}

.review-front {
    border: none !important;
    padding-right: 10px !important;
    background: #fff !important;
}
