/****** PLACE YOUR CUSTOM STYLES HERE ******/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i|Nunito:400,400i,500,700,700i|Raleway:400,400i,500,700,700i');

/* UTIL [[ */
.all-caps {
    text-transform: uppercase;
}

.v-align-children {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

/* ]] */

body {
    font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

p.lead {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.condensed-paragraphs p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.button-tabs .tab-title span {
    font-size: 14px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.5ch;
}

.button-tabs.vertical > .content {
    width: 70%;
}

.leaf {
    display: none !important;
}

.location-cards {
    font-size-adjust: 0.625;
}

/* Prices */
.old-price {
    font-size: 2rem;
    text-decoration-line: line-through;
    text-decoration-style: double;
}

.course-list {
    list-style: circle;
}

/* MAP [[ */
.contact-map {
    height: 250px;
    overflow: hidden;
    padding: 0;
}

.map-box {
    height: 250px;
}

/* ]] MAP */

/* MENU [[ */
.menu > li > ul {
    margin-top: 4px;
    padding-top: 15px;
}

.menu > li ul li ul {
    margin-top: -8px;
}

/* ]] */

.numbers-value {
    font-size: 72px;
    line-height: 80px;
    font-weight: 100;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.payment-widget {
    margin-top: 8px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 720px;
}

.payment-widget.compact {
    min-height: 1100px;
}

@media (max-width: 768px) {
    .payment-widget {
        min-height: 1100px;
    }
}

/* [[Index Pricing Table]] */
.pricing-card {
}

.pricing-card-inverse {
    background-color: rgb(248, 248, 248);
}

.pricing-table .course.logo {
    height: 148px;
    width: 148px;
    margin-bottom: 1rem;
}

/* ]] */

/* [[Team Section]] */
.team {
    margin-top: 0;
    margin-bottom: 0;
}

.team .img-holder {
    background: transparent;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.team .img-holder img {
    width: 80%;
    opacity: 1;
    filter: none !important;
}

.flip-card {
    text-align: justify;
    height: 35rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flip-card .front {
    text-align: center;
}

.flip-card .back .img-holder {
    float: right;
    clear: right;
    height: 50px;
    width: 50px;
    margin-top: 0;
    padding-top: 5px;
}

.team-xs {
    background: no-repeat center/100% url('/assets/images/cb/team/team-banner.jpg');
    min-height: 250px;
}

@media (max-width: 800px) {
    .flip-card {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .flip-card .back {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}

/* ]] */

.user-story {
    min-height: 50rem;
}

/* [[Nav Bar]] */
.nav-bar .menu > .has-dropdown > ul > li:first-child {
    margin-top: -7px;
}

.nav-bar {
    padding-right: 1rem;
}

.new-content-badge {
    border-radius: 3px;
    border: 1px solid red;
    padding: 0.2rem;
    font-size: 1rem;
    background: red;
    color: white;
    font-weight: bold;
    margin-left: 0.5rem;
    font-size: 8px;
    position: relative;
    top: -10px;
    left: -7px;
}

.menu > li {
    margin-right: 18px;
}

.nav-bar .module.left {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 990px) {
    .nav-bar .module.left {
        padding-right: 0;
    }
}

.contact-us-dropdown a[target="_self"] .fa {
    width: 3rem;
}

/* ]] */

/* [[Contact Us]] */
.feature h3 {
    padding-left: 0;
}

.feature h4 {
    margin-top: 1rem;
}

.location-address {
    margin-bottom: 1.5rem;
}

.location-contact h4 {
    margin-bottom: 1rem;
}

.location-phone {
    margin: 0;
}

.main-contact-block h4 {
    margin: 0;
    padding: 0;
}

/* ]] */

/* [[Footer]] */
.footer .footer-1 {
    padding-top: 5rem;
}

footer .container .row > * {
    margin-bottom: 3rem;
}

a .footerlink-info {
    font-size: smaller;
}

@media (max-width: 768px) {
    .footer .footer-1 {
        padding-top: 1rem;
    }

    .footer img.logo {
        max-height: 6rem;
        text-align: center;
    }
}

/* ]] */

/* [[User Story]] */
.phone-button {
    background-color: transparent;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    right: 1.2rem;
    bottom: 8rem;
    z-index: 999;
    display: none;
}

.phone-button i {
    border-radius: 50%;
    padding: 1.1rem 1.5rem;
    background-color: #fc4f4f;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.2);
    color: #454C53;
}

@media (max-width: 768px) {
    .phone-button {
        display: block;
    }
}

/* ]] */

/* [[Scroll To Top]] */
.scroll-to-top {
    background-color: transparent;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    z-index: 999;
    display: none;
}

/* ]] */

/* [[Number Speak Louder]] */
.numbers-box .feature {
    text-align: center;
}

.numbers-box h5 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.numbers-box .numbers-value {
    padding-bottom: 2rem;
}

/* ]] */

.btn-banner {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ol.syllabus {
    margin-left: 1.9rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pricing-card {
    height: 800px;
}

@media (min-width: 250px) and (max-width: 349px) {
    .pricing-card {
        height: 700px;
    }
}

@media (min-width: 350px) and (max-width: 557px) {
    .pricing-card {
        height: 680px;
    }
}

@media (min-width: 519px) and (max-width: 613px) {
    .pricing-card {
        height: 747px;
    }
}

@media (min-width: 614px) and (max-width: 741px) {
    .pricing-card {
        height: 780px;
    }
}

@media (min-width: 742px) and (max-width: 845px) {
    .pricing-card {
        height: 823px;
    }
}

@media (min-width: 768px) {
    .pricing-card {
        height: 693px;
    }

    .wide-tab > a {
        padding: 2rem 4rem !important;
        font-size: 2rem !important;
    }

    table.calendar .past {
        color: #fc4f4f;
    }

    table.calendar tbody tr:nth-of-type(-n+0) .fa {
        color: gray;

    }
}

/*Layout Change Effects*/
.sad {
    font-size: 0.7em;
    line-height: inherit !important;
}

.button-tabs .tab-title {
    padding: 7px !important;
}

/* Accordion FAQs [[ */
.accordion .title::before {
    float: left;
    clear: none;
    margin-left: -4rem;
    margin-top: 1.5rem;
}

/* ]] */
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-justify-content: center;
    clear: both;
}

.flex-item {
    max-width: 100%;
    max-height: 100%;
}

h1 .sub-heading {
    letter-spacing: 4px;
    color: #fff;
}

/*.parallax .slides li>.background-image-holder, .parallax>.background-image-holder {
    filter: blur(5px) !important;
}*/
.overlay:before {
    opacity: .5 !important;
    background: rgb(0, 0, 0) !important;
}

.tabbed-content .tabs > li {
    height: 65px;
    overflow: hidden;
}

.tabbed-content .tabs > li h3 {
    line-height: 20px;
}

.event-card {
    text-align: left;
    overflow: hidden;
    padding: 0;
}

.event-card .shadow {
    height: 500px;
    box-shadow: 5px 5px 7px 0 rgba(46, 61, 73, .15);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    transition: .5s ease;
}

.event-card .shadow-small {
    height: 300px;
}

.event-card .shadow:hover {
    box-shadow: 12px 12px 10px 0 rgba(46, 61, 73, .15);
    transition: .5s ease;
}

.event-card .img-box {
    background: #fff;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.event-card .img-box .shadow-inset {
    position: absolute;
    display: inline;
    margin-left: 15px;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: 200px;
    box-shadow: inset 0px -40px 60px -14px rgba(0, 0, 0, 0.48);
}

.event-card .img-box-old {
    filter: grayscale(100%);
}

.event-card .info-box {
    height: 300px;
    background: #fff;
    padding: 5% 7%;
    color: #292929;
}

.event-card .info-box-small {
    height: 100px;
    margin: 0;
    padding: 2% 3%;
    display: flex;
}

.info-box-small .date-box {
    background-color: #fc4f4f;
    padding: 2px;
    color: white;
    text-align: center;
    height: 65px;
}

.date-box .event-day {
    margin-top: 5px;
    font-size: 26px;
    font-weight: 600;
}

.date-box p {
    margin-bottom: 5px;
}

.event-card .info-box-old {
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.event-card .info-box h3 {
    height: 70px;
    overflow-y: hidden;
    font-size: 24px;
    line-height: 34px;
}

.event-card .info-box .desc {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-card .info-box .location {
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pad-b15 {
    padding-bottom: 15px;
}

.pad-t15 {
    padding-top: 15px;
}

.newsletter-row {
    margin: 40px 10% 0 10%;
}

.newsletter-card {
    cursor: pointer;
    justify-content: center;
    text-align: center;
    height: 200px;
    padding: 10px;
    margin-bottom: 40px;
}

.newsletter-card .content:hover {
    box-shadow: 12px 12px 10px 0 rgba(46, 61, 73, .15);
    transition: .5s ease;
}

.newsletter-card .content {
    background: white;
    box-shadow: 5px 5px 7px 0 rgba(46, 61, 73, .15);
    transition: .5s ease;
    height: 200px;
    padding: 7px !important;
}

.content .border-box {
    border: 2px solid #fc4f4f;
    height: 186px;
}

.newsletter-card h4 {
    padding: 75px 0 !important;
}

.nav-bar .title {
    margin-top: 0;
}

.brochure-box {
    width: 100vw;
    height: calc(100vh - 64px);
}

/*Review Box*/
.reviewBox {
    display: inline-block;
    width: 70%;
    margin-left: 2%;
    position: relative;
    text-align: left;
    float: right;
}

.review-span {
    font-weight: 600;
}

.review-card-body {
    max-height: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.review-card-body:after {
    content: "..."
}

.review-card-name {
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
}

.review-flip-card {
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px 5px !important;
    height: 100%;
}

@media (min-width: 768px) {
    .review-flip-card {
        width: 45%;
    }

    .review-highimg {
        display: block !important;
    }

}

.review-highimg img {
    opacity: 1;
    filter: none !important;
}

.review-front {
    border: none !important;
    padding-right: 10px !important;
    background: #fff !important;
}

.Review-star {
    color: #B6C2CC;
    font-size: 18px;
    margin-bottom: 5px;
}

.Review-star--active {
    color: #fc4f4f;
    font-size: 18px;
}

.hover-light {
    box-shadow: 5px 5px 7px 0 rgba(46, 61, 73, .15);
    transition: all 300ms linear
}

.hover-light:hover {
    box-shadow: 12px 12px 10px 0 rgba(46, 61, 73, .15)
}

.mt40 {
    margin-top: 40px;
}

.mt64 {
    margin-top: 64px;
}

.mb64 {
    margin-bottom: 64px;
}

.mb120 {
    margin-bottom: 120px;
}

.pricing-card h4 {
    height: 56px;
    overflow: hidden;
}

.slashed-price {
    font-size: 30px;
    text-decoration: line-through;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.content-center {
    justify-content: center;
}

/*Course Content Cards*/

.course-card-container {
    padding: 20px 0;
    margin-top: 50px;
    overflow: hidden;
}

.course-card-container .content-row {
    height: 100%;
    overflow: hidden;
}

.course-card {
    padding: 20px;
    font-size: 16px;
    height: 100%;
    margin-bottom: -100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.course-card-container .content-row:nth-of-type(2n - 1) .course-card:nth-of-type(2n - 1) {
    background: #f5f5f5;
}

.course-card-container .content-row:nth-of-type(2n - 1) .course-card:nth-of-type(2n) {
    background: #fff;
}

.course-card-container .content-row:nth-of-type(2n) .course-card:nth-of-type(2n - 1) {
    background: #fff;
}

.course-card-container .content-row:nth-of-type(2n) .course-card:nth-of-type(2n) {
    background: #f5f5f5;
}

.course-card .topic {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    height: 80px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.course-card .lectures {
    margin-top: -15px;
}

.courses-card .price {
    min-height: 40px;
}

.courses-card .lead {
    min-height: 28px;
}

.course-card hr {
    margin-bottom: 15px;
}

.course-card .description {
    margin-bottom: 10px;
}

.course-card .points-list {
    list-style: inherit;
    margin-left: 15px;
}

.points-list li {
    font-weight: bold;
    font-size: 15px;
}

footer, section {
    padding: 40px 0;
}

.pricing-card.courses-card, .pricing-table.courses-card {
    height: 500px;
}

.pricing-table {
    padding: 15px;
}

.pricing-table .name {
    margin-bottom: 10px;
}

.pricing-table .description {
    margin-bottom: 5px;
    min-height: 20px;
    max-height: 20px;
    overflow: hidden;
}

.pricing-table .course-badge {
    position: absolute;
    left: 5px;
    top: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 0 10px 10px 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fc4f4f;
    color: #fefefe;
    font-weight: bold;
    border-left: 5px solid;
    border-color: #333;
}

.pricing-table .course-badge-inverse {
    background-color: #fefefe;
    color: black;
}

.courses-row {
    margin-bottom: 40px;
}

.pricing-card.combo, .pricing-table.combo {
    background: #FC4F4F;
    color: white !important;
    overflow: hidden;
}

.combo .name, .combo .price {
    color: white !important;
}

.combo .combo-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 45px;
}

.combo .name {
    font-size: 36px;
}

.combo .combo-offer {
    position: absolute;
    top: 35px;
    right: -43px;
    transform: rotate(45deg);
    color: white;
    background: #282828;
    padding: 2px 50px;
    font-size: 18px;
    font-weight: bold;
}

.team-card {
    margin-bottom: 60px;
    cursor: pointer;
}

.numbers-box .feature {
    background: white;
}

.review-slides .flex-control-nav {
    margin-bottom: -60px;
}

.review-slides .flex-control-nav li a {
    width: 15px;
    height: 15px;
}

.review-slides .flex-direction-nav .flex-next:before, .review-slides .flex-direction-nav .flex-prev:before {
    font-size: 40px;
    font-weight: 300;
    color: #444;
}

.review-slides .flex-direction-nav .flex-next {
    width: fit-content;
    height: 100%;
    margin: -10px -80px 0 0;
}

.review-slides .flex-direction-nav .flex-prev {
    width: fit-content;
    height: 100%;
    margin: -10px 0 0 -80px;
}

.tabbed-enroll-section {
    margin-top: 40px;
}

.nav-bar {
    text-transform: uppercase !important;
}

.widget .vpf a {
    text-transform: capitalize !important;
}

.caller {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 65px;
    height: 65px;
    background: #64d648;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 19px 38px 0 rgba(34, 36, 43, .3);
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.caller-img {
    filter: invert(100%);
}

@media (max-width: 767px) {
    .caller {
        display: block;
    }
}

.complete-course-box {
    display: block;
    height: 100%;
    text-align: center;
    border: 3px solid #FC4F4F;
    padding: 10px 50px;
    margin-top: 30px;
}

.complete-course-box .heading {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.complete-course-box .description {
    width: 80%;
    margin: 0 auto 10px auto;
    font-size: 18px;
}

.complete-course-box .btn {
    margin-bottom: 0;
}

.banner .p32{
    padding: 32px;
}

.banner .container-fluid {
    background-color : #f8f8f8; 
}

.banner .visit-link {
    margin-top: 18px;
    text-align: right;
}

@media (max-width: 767px) {
    h1 {
        letter-spacing: 10px !important;
        font-size: 2.4rem !important;
    }
    h3 {
        letter-spacing: 0px !important;
        font-size: 2.4rem !important;
    }
    .banner,.banner .visit-link {
        text-align: center !important;
    }
    .pricing-table.courses-card br {
        display: block;
    }

    .complete-course-box {
        padding: 10px;
        margin-top: 10px;
    }

    .complete-course-box .description {
        width: 100%;
    }
    h1 .sub-heading {
        display: block;
    }
}

.highlight-container {
    margin: 70px auto;
}

.sub-highlight-img {
    padding: 0;
}

.sub-highlight-img img {
    width: 80%;
    height: 80%;
}

.sub-highlight-img.pull-right img {
    margin-left: 10%;
}

.highlight-container.dark-bg .row {
    background: #f8f8f8;
}

@media (max-width: 767px) {
    .nav-container {
        position: relative !important;
    }

    .main-container {
        padding-top: 0;
    }

    nav.fixed {
        position: relative !important;
    }

    nav.navfx {
        position: fixed !important;
        width: 100%;
    }
    @media (max-width: 990px){
        .nav-bar .module-group.right .module.left {
            overflow: auto;
            height: 70vh;
        }
    }
}

.g-recaptcha {
    width: 304px;
    margin: 10px auto;
}

.campus-card {
	box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.2);
	padding: 1rem;
}

.campus-card h3 {
	margin-top: 1rem;
}

.campus-card ul {
	margin-top: 1rem;
	font-size: 1.5rem;
}

.campus-card ul li {
	padding: 1rem;
}

.campus-card li:nth-child(2n) {
	background: #e3e3e3;
}

.display-none {
    display: none;
}

.multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}
.multi-item-carousel .carousel-inner .next {
    left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
    }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}

.carousel-control.left {
    background: none;
    margin-left: -7%;
}
.carousel-control.right {
    background: none;
    margin-right: -7%;
}

.arrow-color {
    color: #0d47a1;
}

div.carouselonline {
    height: 70%;
    width: 70%;
    padding-top: 40px;
}

@media screen and (max-width: 992px) {
    .multi-item-carousel .carousel-inner .active.left {
        left: -100%;
    }
    .multi-item-carousel .carousel-inner .active.right {
        left: 100%;
    }
    .multi-item-carousel .carousel-inner .next {
        left: 100%;
    }
    .multi-item-carousel .carousel-inner .prev {
        left: -100%;
    }

    div.carouselonline {
        height: 100%;
        width: 100%;
        padding-top: 40px;
    }
}

/* --- [Forms] -- */
input[type="email"], input[type="number"], input[type="url"] {
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}
/* --- /Forms] -- */

.bg-red{
    background-color: #ff6666;
}

.free-access-banner{
    color: white;
    padding: 30px 7%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 575px){
    .free-access-banner{
        display: block;
    }
}

.free-access-banner .bold{
    font-weight: 600;
    font-size: 28px;
    line-height: 1.1;
}

.free-access-banner > div{
    padding-bottom: 10px;
    padding-top: 10px;
}

.free-access-banner .image{
    height: 80px;
}

.text-align-justify{
    text-align: justify !important;
}

.text-align-right{
    text-align: right !important;
}

.text-align-center{
    text-align: center !important;
}