<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {{> meta}}
    {{> head}}
      <style>

        h4 {
            margin: 0;
        }   

        .flippy{
            max-width: 360px;
        }

        .front{
            width: calc(100% - 30px) !important;
        }

        .ssCard {
            background: white;
            border-radius: 20px;
            padding-top: 85px;
            padding-bottom: 20px;
            margin-bottom: 40px;
            margin-left: 10px;
            margin-right: 10px;
            height: 300px;
            width: 95%;
        }

        .ssImage {
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 100;
        }

        .ssContainer {
            position: relative;
            padding-top: 75px;
        }

        .ssLogo {
            text-align: center;
        }

        .ssData {
            text-align: center;
            padding-top: 20px;
            cursor: pointer;
        }

        .ssStory {
            height: 100px;
            white-space: wrap;
            overflow: auto;
            text-overflow: ellipsis;
        }

        .ellipsis {
            height: 100px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        

        .round-img {
            border-radius: 50%;
            border: 5px solid white;
            width: 150px;
            height: 150px;
            {{!-- margin-left: -30px; --}}
        }

        .highlight {
            background: url("../assets/images/success-stories/bg.jpg") no-repeat 0 0 fixed;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }

        .highlightOverlay {
            background-color: #230c28;
            opacity: 1;
        }

        .highlight h2 {
            color: #fff;
            margin-top: 40px;
            font-size: 52px;
            font-weight: 500;
            text-shadow: 0px 0px 13px rgba(256, 256, 256, 0.7);
            transition: all 300ms linear;
        }

        .highlight h2:hover {
            text-shadow: 0px 0px 20px rgba(256, 256, 256, 0.9);
            transition: all 300ms linear
        }

        .title {
            margin-top: 10px;
        }


    </style>
</head>
<body class="scroll-assist">
{{> navbar}}
<div class="main-container">
    <!-- SECTION: Home hero slider-->
    <a id="home_hero_header" class="in-page-link"></a>
    <!--STORIES-->
    <!-- id should be passed through function call in button-->
    <!--STORIES END-->
    <section style="margin-bottom: 0px;">
        <div class="image-bg" style="margin-bottom: 0px;">
            <div class="background-image-holder" style="margin-bottom: 0px; height: 115%">
                <img alt="Bountiful Open Source Summer" class="background-image"
                     src="../assets/images/success-stories/wall.jpg">
            </div>
            <div class="container" style="margin-bottom: 0px;">
                <div class="row">
                    <div class="col-sm-6 text-center"
                         style="padding-left: 50px;vertical-align: middle;margin-top: 3%;margin-bottom: 3%;">
                        <h2 class="uppercase mb16" style="font-size: 50px;font-weight: 600;">Success Stories</h2>
                        <!--
                        <p class="lead mb64" style="font-weight: 500;font-size: 24px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION: Numbers-->
    {{> numbers}}
    <section style="background: #f8f8f8;">
        {{!-- <div class="row text-center" style="margin-bottom: 40px;">
            <h3 class="uppercase text-center">Success Stories</h3>
        </div> --}}
        <div class="highlight highlightOverlay" style="margin-bottom: 0px;">
            <div class="container">
                <div class="row text-center" style="margin-bottom: 40px;">
                    <h2 class="uppercase text-center">Success Stories</h2>
                </div>
                <div class="team row text-center">
                </div>
            </div>
        </div>
    </section>
    {{> map}}
    {{> footer}}
</div>
{{> scripts}}
<script>
    $('.storyButton').click(function () {
        let parent = '#' + $(this).closest("div").prop("id");
        console.log(parent);
        $(parent + ' .modal').modal("toggle");
    });

    $.ajax ({
        url: "http://localhost:3000/public_stories",
        type: "GET",
        success: function (stories) {
            console.log (stories)
            var container = $('.team')
            for (i in stories) {

                let internship = stories[i].internships
                let placement = stories[i].placements
                let company = null

                if (placement[0]) {
                    company = placement[0].company.logoUrl
                    if (!company) {
                        company = 'http://logo.clearbit.com/' + placement[0].company.companyUrl
                    }
                } else {
                    company = internship[0].company.logoUrl
                    if (!company) {
                        company = 'http://logo.clearbit.com/' + internship[0].company.companyUrl
                    }
                }


              container.append(
                `

                <div class="flippy col-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="front">    
                        <div class="ssContainer">    
                            <div class="ssImage">
                                <img class="round-img" src="${stories[i].photo}" >
                            </div>
                            <div id="story${stories[i].id}" class="ssCard">
                                <div class="title mb0 text-center">
                                    <h4 class="uppercase mb0 bold">${stories[i].user.firstName} ${stories[i].user.lastName}</h4>
                                    <h5>${stories[i].coursesAttended}<br></h5>
                                </div>
                                <div class="ssLogo">
                                    <img width="64px" src="${company}" >
                                </div>
                                <div class="bold ssData">View Testimonial > </div>
                            </div>
                        </div>
                    </div>

                    <div class="back">    
                        <div class="ssContainer">
                            <div class="ssImage">
                                <img class="round-img" src="${stories[i].photo}" >
                            </div>
                            <div id="story${stories[i].id}" class="ssCard">
                                <div class="title mb0 text-center">
                                    <h4 class="uppercase mb0 bold">${stories[i].user.firstName} ${stories[i].user.lastName}</h4>
                                    <h5>${stories[i].coursesAttended}<br></h5>
                                    <div class="ellipsis">${stories[i].stories}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                
                `
              )
            }
            $('.flippy').flip({
                axis: 'y',
                trigger: 'click'
            })
        }
    })
</script>
</body>
</html>
